<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Leaders>
		<Row LeaderType="LEADER_ASHOKA_ALT" LeaderName="LOC_LEADER_ASHOKA_ALT_NAME" LeaderDescription="LOC_LEADER_ASHOKA_ALT_DESCRIPTION" LeaderIcon="LEADER_ASHOKA_ALT"/>
		<Row LeaderType="LEADER_HIMIKO_ALT" LeaderName="LOC_LEADER_HIMIKO_ALT_NAME" LeaderDescription="LOC_LEADER_HIMIKO_ALT_DESCRIPTION" LeaderIcon="LEADER_HIMIKO_ALT"/>
	</Leaders>
	<LeaderItems>
		<Row LeaderType="LEADER_ASHOKA_ALT" Type="TRAIT_LEADER_ASHOKA_ALT_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_LEADER_ASHOKA_ALT_ABILITY_NAME" Description="LOC_TRAIT_LEADER_ASHOKA_ALT_ABILITY_DESCRIPTION"/>
		<Row LeaderType="LEADER_HIMIKO_ALT" Type="TRAIT_LEADER_HIMIKO_ALT_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_LEADER_HIMIKO_ALT_ABILITY_NAME" Description="LOC_TRAIT_LEADER_HIMIKO_ALT_ABILITY_DESCRIPTION"/>
	</LeaderItems>
	<LeaderTags>
		<Row LeaderType="LEADER_ASHOKA_ALT" TagType="TAG_TRAIT_POLITICAL"/>
		<Row LeaderType="LEADER_ASHOKA_ALT" TagType="TAG_TRAIT_MILITARISTIC"/>
		<Row LeaderType="LEADER_ASHOKA_ALT" TagType="TAG_GENDER_MALE"/>
		<Row LeaderType="LEADER_HIMIKO_ALT" TagType="TAG_TRAIT_CULTURAL"/>
		<Row LeaderType="LEADER_HIMIKO_ALT" TagType="TAG_TRAIT_POLITICAL"/>
		<Row LeaderType="LEADER_HIMIKO_ALT" TagType="TAG_GENDER_FEMALE"/>
	</LeaderTags>
	<LeaderQuotes>
		<Row LeaderType="LEADER_ASHOKA_ALT" Quote="LOC_MAIN_CHAR_SELECT_LEADER_ASHOKA_ALT_ANY"/>
		<Row LeaderType="LEADER_HIMIKO_ALT" Quote="LOC_MAIN_CHAR_SELECT_LEADER_HIMIKO_ALT_ANY"/>
	</LeaderQuotes>
	<LeaderCivilizationBias>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_KHMER" LeaderDomain="StandardLeaders" LeaderType="LEADER_ASHOKA_ALT" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_ASHOKA_KHMER_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_KHMER" LeaderDomain="StandardLeaders" LeaderType="LEADER_HIMIKO_ALT" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_HIMIKO_KHMER_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAURYA" LeaderDomain="StandardLeaders" LeaderType="LEADER_ASHOKA_ALT" Bias="4" ReasonType="LOC_UNLOCK_PLAY_AS_ASHOKA_MAURYA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MISSISSIPPIAN" LeaderDomain="StandardLeaders" LeaderType="LEADER_HIMIKO_ALT" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_HIMIKO_MISSISSIPPIAN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_CHOLA" LeaderDomain="StandardLeaders" LeaderType="LEADER_ASHOKA_ALT" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_ASHOKA_CHOLA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_HAWAII" LeaderDomain="StandardLeaders" LeaderType="LEADER_ASHOKA_ALT" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_ASHOKA_HAWAII_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_HAWAII" LeaderDomain="StandardLeaders" LeaderType="LEADER_HIMIKO_ALT" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_HIMIKO_HAWAII_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MAJAPAHIT" LeaderDomain="StandardLeaders" LeaderType="LEADER_HIMIKO_ALT" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_HIMIKO_MAJAPAHIT_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEIJI" LeaderDomain="StandardLeaders" LeaderType="LEADER_HIMIKO_ALT" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_HIMIKO_MEIJI_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MUGHAL" LeaderDomain="StandardLeaders" LeaderType="LEADER_ASHOKA_ALT" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_ASHOKA_MUGHAL_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_SIAM" LeaderDomain="StandardLeaders" LeaderType="LEADER_ASHOKA_ALT" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_ASHOKA_SIAM_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_SIAM" LeaderDomain="StandardLeaders" LeaderType="LEADER_HIMIKO_ALT" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_HIMIKO_SIAM_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
	</LeaderCivilizationBias>
	<LeaderUnlocks>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_ASHOKA_ALT" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_CHOLA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_CHOLA_NAME" Description="LOC_CIVILIZATION_CHOLA_DESCRIPTION" Icon="CIVILIZATION_CHOLA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_ASHOKA_ALT" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_HAWAII" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_HAWAII_NAME" Description="LOC_CIVILIZATION_HAWAII_DESCRIPTION" Icon="CIVILIZATION_HAWAII"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_ASHOKA_ALT" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MUGHAL" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MUGHAL_NAME" Description="LOC_CIVILIZATION_MUGHAL_DESCRIPTION" Icon="CIVILIZATION_MUGHAL"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_ASHOKA_ALT" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_SIAM" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SIAM_NAME" Description="LOC_CIVILIZATION_SIAM_DESCRIPTION" Icon="CIVILIZATION_SIAM"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_HIMIKO_ALT" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_HAWAII" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_HAWAII_NAME" Description="LOC_CIVILIZATION_HAWAII_DESCRIPTION" Icon="CIVILIZATION_HAWAII"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_HIMIKO_ALT" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_MAJAPAHIT" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MAJAPAHIT_NAME" Description="LOC_CIVILIZATION_MAJAPAHIT_DESCRIPTION" Icon="CIVILIZATION_MAJAPAHIT"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_HIMIKO_ALT" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MEIJI" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MEIJI_NAME" Description="LOC_CIVILIZATION_MEIJI_DESCRIPTION" Icon="CIVILIZATION_MEIJI"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_HIMIKO_ALT" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_SIAM" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SIAM_NAME" Description="LOC_CIVILIZATION_SIAM_DESCRIPTION" Icon="CIVILIZATION_SIAM"/>
	</LeaderUnlocks>
	<OwnershipConditions>
		<Row ItemType="LEADER_ASHOKA_ALT" Action="LOC_LOCKED_INCLUDED_WITH_CONTENT" />
		<Row ItemType="LEADER_HIMIKO_ALT" Action="LOC_LOCKED_INCLUDED_WITH_CONTENT" />
	</OwnershipConditions>
	<!-- Mementos Data -->
	<DomainValues>
		<Row Domain="StandardMementos" Value="NONE" Name="LOC_MEMENTO_NONE_NAME" Description="LOC_MEMENTO_NONE_DESCRIPTION" SortIndex="-1000" />
	</DomainValues>
	<Mementos>
		<Row Type="MEMENTO_ASHOKA_CONQUEROR_CHANDA_MAHASENA" Name="LOC_MEMENTO_ASHOKA_CONQUEROR_CHANDA_MAHASENA_NAME" Description="LOC_MEMENTO_ASHOKA_CONQUEROR_CHANDA_MAHASENA_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_ASHOKA_CONQUEROR_CHANDA_MAHASENA_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_ASHOKA_CONQUEROR_CHANDA_MAHASENA_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
		<Row Type="MEMENTO_ASHOKA_CONQUEROR_SILK_UTTARIYA" Name="LOC_MEMENTO_ASHOKA_CONQUEROR_SILK_UTTARIYA_NAME" Description="LOC_MEMENTO_ASHOKA_CONQUEROR_SILK_UTTARIYA_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_ASHOKA_CONQUEROR_SILK_UTTARIYA_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_ASHOKA_CONQUEROR_SILK_UTTARIYA_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
		<Row Type="MEMENTO_ASHOKA_CONQUEROR_LION_CAPITAL" Name="LOC_MEMENTO_ASHOKA_CONQUEROR_LION_CAPITAL_NAME" Description="LOC_MEMENTO_ASHOKA_CONQUEROR_LION_CAPITAL_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_ASHOKA_CONQUEROR_LION_CAPITAL_FUNCTIONAL_DESCRIPTION" LeaderSpecific="LEGEND_PATH_ASHOKA" UnlockTitle="LOC_MEMENTO_ASHOKA_CONQUEROR_LION_CAPITAL_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
		<Row Type="MEMENTO_HIMIKO_SHAMAN_SAKAKI_BRANCH" Name="LOC_MEMENTO_HIMIKO_SHAMAN_SAKAKI_BRANCH_NAME" Description="LOC_MEMENTO_HIMIKO_SHAMAN_SAKAKI_BRANCH_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_HIMIKO_SHAMAN_SAKAKI_BRANCH_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_HIMIKO_SHAMAN_SAKAKI_BRANCH_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
		<Row Type="MEMENTO_HIMIKO_SHAMAN_YATA_NO_KAGAMI" Name="LOC_MEMENTO_HIMIKO_SHAMAN_YATA_NO_KAGAMI_NAME" Description="LOC_MEMENTO_HIMIKO_SHAMAN_YATA_NO_KAGAMI_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_HIMIKO_SHAMAN_YATA_NO_KAGAMI_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_HIMIKO_SHAMAN_YATA_NO_KAGAMI_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
		<Row Type="MEMENTO_HIMIKO_SHAMAN_KUSANAGI_NO_TSURUGI" Name="LOC_MEMENTO_HIMIKO_SHAMAN_KUSANAGI_NO_TSURUGI_NAME" Description="LOC_MEMENTO_HIMIKO_SHAMAN_KUSANAGI_NO_TSURUGI_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_HIMIKO_SHAMAN_KUSANAGI_NO_TSURUGI_FUNCTIONAL_DESCRIPTION" LeaderSpecific="LEGEND_PATH_HIMIKO_ALT" UnlockTitle="LOC_MEMENTO_HIMIKO_SHAMAN_KUSANAGI_NO_TSURUGI_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
	</Mementos>
</Database>