.trade-route-banner-inner {
  background: linear-gradient(180deg, #333640 0%, rgba(35, 37, 43, 0.95) 100%);
  transform: translate(-50%, -100%);
}

.trade-route-banner-city {
  transform: translate(-50%, -150%);
}