.trade-route-chooser {
  position: absolute;
  top: 8.4444444444rem;
  left: 1.3333333333rem;
  bottom: 1.3333333333rem;
  width: 25.5555555556rem;
  pointer-events: auto;
}
@media (experience: mobile) {
  .trade-route-chooser {
    bottom: 0;
    top: 3.0555555556rem;
    left: -0.8888888889rem;
    min-width: 35.4444444444rem;
  }
}

.trade-route-chooser-leader-bg {
  background-image: url("fs://game/core/chal_port_bk");
  background-size: cover;
}

.trade-route-chooser-leader-color {
  background-image: url("fs://game/core/lp_circ_color_256");
  background-size: cover;
}

.trade-route-chooser-item:focus .trade-route-chooser-item-highlight, .trade-route-chooser-item:hover .trade-route-chooser-item-highlight, .trade-route-chooser-item.pressed .trade-route-chooser-item-highlight {
  background: linear-gradient(90deg, #595243 0%, rgba(41, 43, 51, 0.5) 100%);
}

.trade-route-chooser-item-disabled {
  opacity: 0.3;
}