.unit-promotion-panel {
  min-width: 49.7777777778rem;
  max-width: 53.3333333333rem;
  min-height: 44rem;
}
.unit-promotion-panel .img-frame-f2 {
  border-image-outset: 0.6666666667rem 1.3333333333rem 1.3333333333rem 1.3333333333rem;
}

.promotion-header__lines {
  background-image: url("blp:cPromo_header");
}

.promotion-header__icon {
  background-image: url("blp:cPromo_header_icon");
}

.experience-ring {
  background-image: url("blp:cPromo_level_circle");
  background-size: cover;
}
.experience-ring .experience-level {
  color: #c2c4cc;
}
.experience-ring .fxs-ring-meter__ring-left,
.experience-ring .fxs-ring-meter__ring-right {
  background-image: url("blp:cPromo_level_circle_rad");
}
.experience-ring .fxs-ring-meter__ring-left {
  background-size: cover;
  background-position: left;
}
.experience-ring .fxs-ring-meter__ring-right {
  background-size: cover;
  background-position: right;
}

.promotion-progress__commendations,
.promotion-progress__points {
  border: 0.0777777778rem solid #8d97a6;
  border-radius: 50%;
}
.promotion-progress__commendations.active-num,
.promotion-progress__points.active-num {
  border: 0.0777777778rem solid #e5d2ac;
}

.lines-container {
  background-color: rgba(51, 54, 64, 0.1);
}
.lines-container .center-split,
.lines-container .bottom-split,
.lines-container .top-split {
  transform: rotateZ(0deg);
  transform-origin: top left;
  position: absolute;
  width: inherit;
}
.lines-container .center-split {
  transform: rotateZ(90deg);
}
.lines-container .card-line {
  background-color: #e5d2ac;
}
.lines-container .card-line .center-split,
.lines-container .card-line .bottom-split,
.lines-container .card-line .top-split {
  background-color: #e5d2ac;
}
.lines-container .card-line.locked .center-split,
.lines-container .card-line.locked .bottom-split,
.lines-container .card-line.locked .top-split {
  background-color: #4c5366;
}

.promotion-element .promotion-element__selected,
.promotion-element .promotion-element__outline,
.promotion-element .promotion-element__icon,
.promotion-element .promotion-element__locked,
.promotion-element .promotion-element__hover {
  position: absolute;
  background-repeat: no-repeat;
  pointer-events: none;
  background-size: contain;
}
.promotion-element .promotion-element__selected {
  background-image: url("blp:cPromo_promo_selected");
  background-position: 51% 45%;
  opacity: 0;
}
.promotion-element .promotion-element__outline {
  width: 80%;
  height: 80%;
  background-image: url("blp:cPromo_promo_available");
  background-position: 51% 45%;
  opacity: 0;
}
.promotion-element .promotion-element__icon {
  width: 75%;
  height: 75%;
  filter: grayscale(1) brightness(0.4);
}
.promotion-element .promotion-element__locked {
  width: 40%;
  background-image: url("blp:icon_locked");
  background-size: 100%;
  opacity: 1;
  filter: fxs-color-mask(#333640);
}
.promotion-element .promotion-element__hover {
  background-image: url("blp:cPromo_hover_state");
  opacity: 0;
}
.promotion-element.promotion-bastion .promotion-element__icon {
  background-image: url("blp:cPromo_bastion");
}
.promotion-element.promotion-bastion.earned .promotion-element__icon, .promotion-element.promotion-bastion.selected .promotion-element__icon {
  background-image: url("blp:cPromo_bastion_done");
}
.promotion-element.promotion-assault .promotion-element__icon {
  background-image: url("blp:cPromo_assault");
}
.promotion-element.promotion-assault.earned .promotion-element__icon, .promotion-element.promotion-assault.selected .promotion-element__icon {
  background-image: url("blp:cPromo_assault_done");
}
.promotion-element.promotion-logistics .promotion-element__icon {
  background-image: url("blp:cPromo_logistics");
}
.promotion-element.promotion-logistics.earned .promotion-element__icon, .promotion-element.promotion-logistics.selected .promotion-element__icon {
  background-image: url("blp:cPromo_logistics_done");
}
.promotion-element.promotion-maneuver .promotion-element__icon {
  background-image: url("blp:cPromo_manuver");
}
.promotion-element.promotion-maneuver.earned .promotion-element__icon, .promotion-element.promotion-maneuver.selected .promotion-element__icon {
  background-image: url("blp:cPromo_manuver_done");
}
.promotion-element.promotion-leadership .promotion-element__icon {
  background-image: url("blp:cPromo_leadership");
}
.promotion-element.promotion-leadership.earned .promotion-element__icon, .promotion-element.promotion-leadership.selected .promotion-element__icon {
  background-image: url("blp:cPromo_leadership_done");
}
.promotion-element.promotion-bombardment .promotion-element__icon {
  background-image: url("blp:cPromo_bombardment");
}
.promotion-element.promotion-bombardment.earned .promotion-element__icon, .promotion-element.promotion-bombardment.selected .promotion-element__icon {
  background-image: url("blp:cPromo_bombardment_done");
}
.promotion-element.promotion-engagement .promotion-element__icon {
  background-image: url("blp:cPromo_engagement");
}
.promotion-element.promotion-engagement.earned .promotion-element__icon, .promotion-element.promotion-engagement.selected .promotion-element__icon {
  background-image: url("blp:cPromo_engagement_done");
}
.promotion-element.promotion-dogfighting .promotion-element__icon {
  background-image: url("blp:cPromo_dogfighting");
}
.promotion-element.promotion-dogfighting.earned .promotion-element__icon, .promotion-element.promotion-dogfighting.selected .promotion-element__icon {
  background-image: url("blp:cPromo_dogfighting_done");
}
.promotion-element.promotion-raids .promotion-element__icon {
  background-image: url("blp:cPromo_raids");
}
.promotion-element.promotion-raids.earned .promotion-element__icon, .promotion-element.promotion-raids.selected .promotion-element__icon {
  background-image: url("blp:cPromo_raids_done");
}
.promotion-element.promotion-airlift-operations .promotion-element__icon {
  background-image: url("blp:cPromo_airflift_operations");
}
.promotion-element.promotion-airlift-operations.earned .promotion-element__icon, .promotion-element.promotion-airlift-operations.selected .promotion-element__icon {
  background-image: url("blp:cPromo_airflift_operations_done");
}
.promotion-element.promotion-carrier-operations .promotion-element__icon {
  background-image: url("blp:cPromo_carrier_operations");
}
.promotion-element.promotion-carrier-operations.earned .promotion-element__icon, .promotion-element.promotion-carrier-operations.selected .promotion-element__icon {
  background-image: url("blp:cPromo_carrier_operations_done");
}
.promotion-element.promotion-trung-nhi .promotion-element__icon {
  background-image: url("blp:cPromo_trung_nhi");
}
.promotion-element.promotion-trung-nhi.earned .promotion-element__icon, .promotion-element.promotion-trung-nhi.selected .promotion-element__icon {
  background-image: url("blp:cPromo_trung_nhi_done");
}
.promotion-element:hover .promotion-element__hover, .promotion-element:focus .promotion-element__hover, .promotion-element.pressed .promotion-element__hover {
  opacity: 1;
}
.promotion-element.available .promotion-element__icon {
  filter: grayscale(0) brightness(0.4);
}
.promotion-element.available .promotion-element__outline {
  opacity: 1;
}
.promotion-element.available .promotion-element__locked {
  opacity: 0;
}
.promotion-element.selected .promotion-element__icon {
  filter: grayscale(0) brightness(1);
}
.promotion-element.selected .promotion-element__selected {
  opacity: 1;
}
.promotion-element.selected .promotion-element__outline {
  opacity: 0;
}
.promotion-element.earned .promotion-element__icon {
  filter: grayscale(0) brightness(1);
}
.promotion-element.earned .promotion-element__locked {
  opacity: 0;
}

.commendation-element .commendation-element__icon,
.commendation-element .commendation-element__outline,
.commendation-element .commendation-element__glow {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 120% 120%;
  background-position-x: 50%;
  background-position-y: 50%;
  pointer-events: none;
}
.commendation-element .commendation-element__icon {
  background-image: url("blp:cPromo_commendation");
  filter: grayscale(1);
  opacity: 0.4;
}
.commendation-element .commendation-element__outline {
  height: 95%;
  background-image: url("blp:cPromo_commendation_available");
  opacity: 0;
}
.commendation-element .commendation-element__glow {
  width: 150%;
  height: 200%;
  background-image: url("blp:cPromo_commendation_selected");
  opacity: 0;
}
.commendation-element:hover, .commendation-element:focus, .commendation-element.pressed {
  transform: scale(1.05);
}
.commendation-element.available .commendation-element__outline {
  opacity: 1;
}
.commendation-element.selected .commendation-element__icon {
  filter: grayscale(0);
  opacity: 1;
}
.commendation-element.selected .commendation-element__glow {
  opacity: 1;
}
.commendation-element.earned .commendation-element__icon {
  filter: grayscale(0);
  opacity: 1;
}
.commendation-element.earned .commendation-element__outline {
  opacity: 1;
}

@media (max-width: 75.8888888889rem) {
  .unit-promotion-panel {
    min-height: 29.4444444444rem;
    max-width: 44.4444444444rem;
    min-width: inherit;
  }
  .unit-promotion-panel .promotion-header__icon {
    width: 5.3333333333rem;
    height: 5.3333333333rem;
    bottom: 0rem;
  }
  .unit-promotion-panel .header-container {
    position: relative;
    left: 0rem;
    top: 0rem;
    transform: none;
  }
  .unit-promotion-panel fxs-scrollable {
    max-height: 25.5555555556rem;
  }
}
@media (experience: mobile) {
  .unit-promotion-panel {
    flex: 1 1 auto;
    min-height: auto;
    margin-top: 8.8888888889rem;
    margin-bottom: 5.5555555556rem;
    margin-left: 0.8888888889rem;
  }
}
@media (experience: mobile) and (max-height: 55.5555555556rem) {
  .unit-promotion-panel {
    margin-top: 5.5555555556rem;
    margin-left: 0.5555555556rem;
    margin-bottom: 0;
  }
}