.screen-extras {
  position: absolute;
  pointer-events: auto;
}
.screen-extras .extras-menu-item {
  pointer-events: auto;
}
.screen-extras .extras-menu-item:hover, .screen-extras .extras-menu-item:focus, .screen-extras .extras-menu-item.pressed {
  border-bottom-style: solid;
  border-bottom-width: 0.0555555556rem;
  border-bottom-color: #e5e5e5;
  color: #e5e5e5;
}
.screen-extras .mod-hover-overlay {
  border-image-source: url("fs://game/hud_list-focus_frame");
  border-image-slice: 20 32 20 32;
  border-image-width: 1.1111111111rem;
  border-image-outset: 0.2777777778rem;
  background-image: linear-gradient(90deg, #12151f 0%, rgba(18, 21, 31, 0.5) 100%);
}