.ps-btn {
  cursor: pointer;
  pointer-events: auto;
  width: 2rem;
  height: 2rem;
  position: absolute;
}
.ps-btn.disabled {
  pointer-events: none;
}
.ps-btn div {
  pointer-events: none;
}
.ps-btn.hud-select-potential:focus {
  background-color: rgb(255, 228, 184);
}
.ps-btn.hud-select-potential:focus.ps-bar-multiplayer-code {
  background-color: transparent;
}

.ps-btn-icon {
  position: absolute;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: coh-color-matrix(1, 0, 0, 0, 0, 0, 0.8941176471, 0, 0, 0, 0, 0, 0.7215686275, 0, 0, 0, 0, 0, 1, 0);
  top: 0.4444444444rem;
  bottom: 0.4444444444rem;
  left: 0.4444444444rem;
  right: 0.4444444444rem;
}