<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Leaders>
		<Row LeaderType="LEADER_TECUMSEH" LeaderName="LOC_LEADER_TECUMSEH_NAME" LeaderDescription="LOC_LEADER_TECUMSEH_DESCRIPTION" LeaderIcon="LEADER_TECUMSEH"/>
	</Leaders>
	<LeaderItems>
		<Row LeaderType="LEADER_TECUMSEH" Type="TRAIT_LEADER_TECUMSEH_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_LEADER_TECUMSEH_ABILITY_NAME" Description="LOC_TRAIT_LEADER_TECUMSEH_ABILITY_DESCRIPTION"/>
	</LeaderItems>
	<LeaderTags>
		<Row LeaderType="LEADER_TECUMSEH" TagType="TAG_TRAIT_MILITARISTIC"/>
		<Row LeaderType="LEADER_TECUMSEH" TagType="TAG_TRAIT_POLITICAL"/>
		<Row LeaderType="LEADER_TECUMSEH" TagType="TAG_GENDER_MALE"/>
		<Row LeaderType="LEADER_TECUMSEH" TagType="TAG_ORIGIN_AMERICA_NORTH"/>
	</LeaderTags>
	<LeaderQuotes>
		<Row LeaderType="LEADER_TECUMSEH" Quote="LOC_MAIN_CHAR_SELECT_LEADER_TECUMSEH_ANY"/>
	</LeaderQuotes>
	<LeaderCivilizationBias>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MISSISSIPPIAN" LeaderDomain="StandardLeaders" LeaderType="LEADER_TECUMSEH" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_TECUMSEH_MISSISSIPPIAN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SHAWNEE" LeaderDomain="StandardLeaders" LeaderType="LEADER_TECUMSEH" Bias="4" ReasonType="LOC_UNLOCK_PLAY_AS_TECUMSEH_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_HAWAII" LeaderDomain="StandardLeaders" LeaderType="LEADER_TECUMSEH" Bias="4" ReasonType="LOC_UNLOCK_PLAY_AS_TECUMSEH_HAWAII_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_AMERICA" LeaderDomain="StandardLeaders" LeaderType="LEADER_TECUMSEH" Bias="4" ReasonType="LOC_UNLOCK_PLAY_AS_TECUMSEH_AMERICA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEXICO" LeaderDomain="StandardLeaders" LeaderType="LEADER_TECUMSEH" Bias="4" ReasonType="LOC_UNLOCK_PLAY_AS_TECUMSEH_MEXICO_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
	</LeaderCivilizationBias>
	<Civilizations>
		<Row Domain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SHAWNEE" CivilizationName="LOC_CIVILIZATION_SHAWNEE_NAME" CivilizationFullName="LOC_CIVILIZATION_SHAWNEE_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_SHAWNEE_DESCRIPTION" CivilizationIcon="civ_sym_shawnee.png"/>
	</Civilizations>
	<CivilizationItems>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SHAWNEE" Type="TRAIT_SHAWNEE_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_SHAWNEE_ABILITY_NAME" Description="LOC_TRAIT_SHAWNEE_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SHAWNEE" Type="UNIT_KISPOKO_NENA_TO" Kind="KIND_UNIT" Name="LOC_UNIT_KISPOKO_NENA_TO_NAME" Description="LOC_UNIT_KISPOKO_NENA_TO_BASE_DESCRIPTION" Icon="unitflag_leiomano.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SHAWNEE" Type="UNIT_HOCEEPKILENI" Kind="KIND_UNIT" Name="LOC_UNIT_HOCEEPKILENI_NAME" Description="LOC_UNIT_HOCEEPKILENI_DESCRIPTION" Icon="unitflag_HOCEEPKILENI.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SHAWNEE" Type="IMPROVEMENT_MAWASKAWE_SKOTE" Kind="KIND_IMPROVEMENT" Name="LOC_IMPROVEMENT_MAWASKAWE_SKOTE_NAME" Description="LOC_IMPROVEMENT_MAWASKAWE_SKOTE_DESCRIPTION" Icon="impicon_loikalo.png"/>
	</CivilizationItems>
	<CivilizationTags>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SHAWNEE" TagType="TAG_TRAIT_POLITICAL"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SHAWNEE" TagType="TAG_TRAIT_ECONOMIC"/>
	</CivilizationTags>
	<CivilizationUnlocks>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MISSISSIPPIAN" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SHAWNEE" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SHAWNEE_NAME" Description="LOC_CIVILIZATION_SHAWNEE_DESCRIPTION" Icon="CIVILIZATION_SHAWNEE"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SHAWNEE" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_AMERICA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_AMERICA_NAME" Description="LOC_CIVILIZATION_AMERICA_DESCRIPTION" Icon="CIVILIZATION_AMERICA"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SHAWNEE" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MEXICO" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MEXICO_NAME" Description="LOC_CIVILIZATION_MEXICO_DESCRIPTION" Icon="CIVILIZATION_MEXICO"/>
	</CivilizationUnlocks>
	<LeaderUnlocks>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_TECUMSEH" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SHAWNEE" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SHAWNEE_NAME" Description="LOC_CIVILIZATION_SHAWNEE_DESCRIPTION" Icon="CIVILIZATION_SHAWNEE"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_TECUMSEH" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_HAWAII" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_HAWAII_NAME" Description="LOC_CIVILIZATION_HAWAII_DESCRIPTION" Icon="CIVILIZATION_HAWAII"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_TECUMSEH" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_AMERICA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_AMERICA_NAME" Description="LOC_CIVILIZATION_AMERICA_DESCRIPTION" Icon="CIVILIZATION_AMERICA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_TECUMSEH" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MEXICO" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MEXICO_NAME" Description="LOC_CIVILIZATION_MEXICO_DESCRIPTION" Icon="CIVILIZATION_MEXICO"/>
	</LeaderUnlocks>
	<OwnershipConditions>
		<Row ItemType="LEADER_TECUMSEH" Action="LOC_LOCKED_INCLUDED_WITH_CONTENT" />
		<Row ItemType="CIVILIZATION_SHAWNEE" Action="LOC_LOCKED_INCLUDED_WITH_CONTENT" />
	</OwnershipConditions>
	<Mementos>
		<Row Type="MEMENTO_TECUMSEH_POTESKWATE" Name="LOC_MEMENTO_TECUMSEH_POTESKWATE_NAME" Description="LOC_MEMENTO_TECUMSEH_POTESKWATE_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_TECUMSEH_POTESKWATE_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_TECUMSEH_POTESKWATE_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
		<Row Type="MEMENTO_TECUMSEH_WARCLUB" Name="LOC_MEMENTO_TECUMSEH_WARCLUB_NAME" Description="LOC_MEMENTO_TECUMSEH_WARCLUB_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_TECUMSEH_WARCLUB_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_TECUMSEH_WARCLUB_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
		<Row Type="MEMENTO_TECUMSEH_WAMPUM_BELT" Name="LOC_MEMENTO_TECUMSEH_WAMPUM_BELT_NAME" Description="LOC_MEMENTO_TECUMSEH_WAMPUM_BELT_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_TECUMSEH_WAMPUM_BELT_FUNCTIONAL_DESCRIPTION" LeaderSpecific="LEGEND_PATH_TECUMSEH" UnlockTitle="LOC_MEMENTO_TECUMSEH_WAMPUM_BELT_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
	</Mementos>
</Database>