<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Ages>
		<Row AgeType="AGE_EXPLORATION" Name="LOC_AGE_EXPLORATION_NAME" Description="LOC_AGE_EXPLORATION_DESCRIPTION" PlayerCivilizationDomain="ExplorationAgeCivilizations" DefeatDomain="ExplorationDefeats" VictoryDomain="ExplorationVictories" MapSizeDomain="DistantLandsMapSizes" Banner="age-sel_exploration_full" SortIndex="20"/>
	</Ages>
	<Civilizations>
		<Row Domain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_ABBASID" CivilizationName="LOC_CIVILIZATION_ABBASID_NAME" CivilizationFullName="LOC_CIVILIZATION_ABBASID_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_ABBASID_DESCRIPTION" CivilizationIcon="civ_sym_abbasid.png"/>
		<Row Domain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_CHOLA" CivilizationName="LOC_CIVILIZATION_CHOLA_NAME" CivilizationFullName="LOC_CIVILIZATION_CHOLA_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_CHOLA_DESCRIPTION" CivilizationIcon="civ_sym_chola.png"/>
		<Row Domain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_HAWAII" CivilizationName="LOC_CIVILIZATION_HAWAII_NAME" CivilizationFullName="LOC_CIVILIZATION_HAWAII_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_HAWAII_DESCRIPTION" CivilizationIcon="civ_sym_hawaii.png"/>
		<Row Domain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_INCA" CivilizationName="LOC_CIVILIZATION_INCA_NAME" CivilizationFullName="LOC_CIVILIZATION_INCA_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_INCA_DESCRIPTION" CivilizationIcon="civ_sym_inca.png"/>
		<Row Domain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MAJAPAHIT" CivilizationName="LOC_CIVILIZATION_MAJAPAHIT_NAME" CivilizationFullName="LOC_CIVILIZATION_MAJAPAHIT_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_MAJAPAHIT_DESCRIPTION" CivilizationIcon="civ_sym_majapahit.png"/>
		<Row Domain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MING" CivilizationName="LOC_CIVILIZATION_MING_NAME" CivilizationFullName="LOC_CIVILIZATION_MING_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_MING_DESCRIPTION" CivilizationIcon="civ_sym_ming.png"/>
		<Row Domain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MONGOLIA" CivilizationName="LOC_CIVILIZATION_MONGOLIA_NAME" CivilizationFullName="LOC_CIVILIZATION_MONGOLIA_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_MONGOLIA_DESCRIPTION" CivilizationIcon="civ_sym_mongolia.png"/>
		<Row Domain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_NORMAN" CivilizationName="LOC_CIVILIZATION_NORMAN_NAME" CivilizationFullName="LOC_CIVILIZATION_NORMAN_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_NORMAN_DESCRIPTION" CivilizationIcon="civ_sym_norman.png"/>
		<Row Domain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SONGHAI" CivilizationName="LOC_CIVILIZATION_SONGHAI_NAME" CivilizationFullName="LOC_CIVILIZATION_SONGHAI_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_SONGHAI_DESCRIPTION" CivilizationIcon="civ_sym_songhai.png"/>
		<Row Domain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SPAIN" CivilizationName="LOC_CIVILIZATION_SPAIN_NAME" CivilizationFullName="LOC_CIVILIZATION_SPAIN_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_SPAIN_DESCRIPTION" CivilizationIcon="civ_sym_spain.png"/>
	</Civilizations>
	<CivilizationItems>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_ABBASID" Type="TRAIT_ABBASID_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_ABBASID_ABILITY_NAME" Description="LOC_TRAIT_ABBASID_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_ABBASID" Type="UNIT_MAMLUK" Kind="KIND_UNIT" Name="LOC_UNIT_MAMLUK_NAME" Description="LOC_UNIT_MAMLUK_BASE_DESCRIPTION" Icon="unitflag_mamluk.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_ABBASID" Type="UNIT_ALIM" Kind="KIND_UNIT" Name="LOC_UNIT_ALIM_NAME" Description="LOC_UNIT_ALIM_DESCRIPTION" Icon="unitflag_alim.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_ABBASID" Type="QUARTER_ULEMA" Kind="KIND_QUARTER" Name="LOC_QUARTER_ULEMA_NAME" Description="LOC_QUARTER_ULEMA_DESCRIPTION" Icon="city_uniquequarter"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_ABBASID" Type="BUILDING_MADRASA" Kind="KIND_BUILDING" Name="LOC_BUILDING_MADRASA_NAME" Description="LOC_BUILDING_MADRASA_DESCRIPTION" Icon="buildicon_madrasa.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_ABBASID" Type="BUILDING_MOSQUE" Kind="KIND_BUILDING" Name="LOC_BUILDING_MOSQUE_NAME" Description="LOC_BUILDING_MOSQUE_DESCRIPTION" Icon="buildicon_mosque.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_CHOLA" Type="TRAIT_CHOLA_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_CHOLA_ABILITY_NAME" Description="LOC_TRAIT_CHOLA_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_CHOLA" Type="UNIT_KALAM" Kind="KIND_UNIT" Name="LOC_UNIT_KALAM_NAME" Description="LOC_UNIT_KALAM_BASE_DESCRIPTION" Icon="unitflag_thirisadai.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_CHOLA" Type="UNIT_OTTRU" Kind="KIND_UNIT" Name="LOC_UNIT_OTTRU_NAME" Description="LOC_UNIT_OTTRU_DESCRIPTION" Icon="unitflag_ottru.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_CHOLA" Type="QUARTER_FIVE_HUNDRED_LORDS" Kind="KIND_QUARTER" Name="LOC_QUARTER_FIVE_HUNDRED_LORDS_NAME" Description="LOC_QUARTER_FIVE_HUNDRED_LORDS_DESCRIPTION" Icon="city_uniquequarter"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_CHOLA" Type="BUILDING_MANIGRAMAM" Kind="KIND_BUILDING" Name="LOC_BUILDING_MANIGRAMAM_NAME" Description="LOC_BUILDING_MANIGRAMAM_DESCRIPTION" Icon="buildicon_manigramam.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_CHOLA" Type="BUILDING_ANJUVANNAM" Kind="KIND_BUILDING" Name="LOC_BUILDING_ANJUVANNAM_NAME" Description="LOC_BUILDING_ANJUVANNAM_DESCRIPTION" Icon="buildicon_anjuvannam.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_HAWAII" Type="TRAIT_HAWAII_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_HAWAII_ABILITY_NAME" Description="LOC_TRAIT_HAWAII_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_HAWAII" Type="UNIT_LEIOMANO" Kind="KIND_UNIT" Name="LOC_UNIT_LEIOMANO_NAME" Description="LOC_UNIT_LEIOMANO_BASE_DESCRIPTION" Icon="unitflag_leiomano.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_HAWAII" Type="UNIT_KAHUNA" Kind="KIND_UNIT" Name="LOC_UNIT_KAHUNA_NAME" Description="LOC_UNIT_KAHUNA_DESCRIPTION" Icon="unitflag_kahuna.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_HAWAII" Type="IMPROVEMENT_LO_I_KALO" Kind="KIND_IMPROVEMENT" Name="LOC_IMPROVEMENT_LO_I_KALO_NAME" Description="LOC_IMPROVEMENT_LO_I_KALO_DESCRIPTION" Icon="impicon_loikalo.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_INCA" Type="TRAIT_INCA_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_INCA_ABILITY_NAME" Description="LOC_TRAIT_INCA_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_INCA" Type="UNIT_WARAKAQ" Kind="KIND_UNIT" Name="LOC_UNIT_WARAKAQ_NAME" Description="LOC_UNIT_WARAKAQ_BASE_DESCRIPTION" Icon="unitflag_warakaq.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_INCA" Type="UNIT_CHASQUI" Kind="KIND_UNIT" Name="LOC_UNIT_CHASQUI_NAME" Description="LOC_UNIT_CHASQUI_DESCRIPTION" Icon="unitflag_chasqui.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_INCA" Type="IMPROVEMENT_TERRACE_FARM" Kind="KIND_IMPROVEMENT" Name="LOC_IMPROVEMENT_TERRACE_FARM_NAME" Description="LOC_IMPROVEMENT_TERRACE_FARM_DESCRIPTION" Icon="impicon_terracefarm.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MAJAPAHIT" Type="TRAIT_MAJAPAHIT_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_MAJAPAHIT_ABILITY_NAME" Description="LOC_TRAIT_MAJAPAHIT_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MAJAPAHIT" Type="UNIT_CETBANG" Kind="KIND_UNIT" Name="LOC_UNIT_CETBANG_NAME" Description="LOC_UNIT_CETBANG_BASE_DESCRIPTION" Icon="unitflag_cetbang.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MAJAPAHIT" Type="UNIT_PEDANDA" Kind="KIND_UNIT" Name="LOC_UNIT_PEDANDA_NAME" Description="LOC_UNIT_PEDANDA_DESCRIPTION" Icon="unitflag_pedanda.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MAJAPAHIT" Type="QUARTER_PURA" Kind="KIND_QUARTER" Name="LOC_QUARTER_PURA_NAME" Description="LOC_QUARTER_PURA_DESCRIPTION" Icon="city_uniquequarter"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MAJAPAHIT" Type="BUILDING_MERU" Kind="KIND_BUILDING" Name="LOC_BUILDING_MERU_NAME" Description="LOC_BUILDING_MERU_DESCRIPTION" Icon="buildicon_meru.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MAJAPAHIT" Type="BUILDING_CANDI_BENTAR" Kind="KIND_BUILDING" Name="LOC_BUILDING_CANDI_BENTAR_NAME" Description="LOC_BUILDING_CANDI_BENTAR_DESCRIPTION" Icon="buildicon_candi.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MING" Type="TRAIT_MING_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_MING_ABILITY_NAME" Description="LOC_TRAIT_MING_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MING" Type="UNIT_XUNLEICHONG" Kind="KIND_UNIT" Name="LOC_UNIT_XUNLEICHONG_NAME" Description="LOC_UNIT_XUNLEICHONG_BASE_DESCRIPTION" Icon="unitflag_xunleichong.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MING" Type="UNIT_MANDARIN" Kind="KIND_UNIT" Name="LOC_UNIT_MANDARIN_NAME" Description="LOC_UNIT_MANDARIN_DESCRIPTION" Icon="unitflag_mandarin.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MING" Type="IMPROVEMENT_MING_GREAT_WALL" Kind="KIND_IMPROVEMENT" Name="LOC_IMPROVEMENT_MING_GREAT_WALL_NAME" Description="LOC_IMPROVEMENT_MING_GREAT_WALL_DESCRIPTION" Icon="impicon_minggreatwall.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MONGOLIA" Type="TRAIT_MONGOLIA_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_MONGOLIA_ABILITY_NAME" Description="LOC_TRAIT_MONGOLIA_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MONGOLIA" Type="UNIT_KESHIG" Kind="KIND_UNIT" Name="LOC_UNIT_KESHIG_NAME" Description="LOC_UNIT_KESHIG_BASE_DESCRIPTION" Icon="unitflag_keshig.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MONGOLIA" Type="UNIT_NOYAN" Kind="KIND_UNIT" Name="LOC_UNIT_NOYAN_NAME" Description="LOC_UNIT_NOYAN_DESCRIPTION" Icon="unitflag_noyan.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MONGOLIA" Type="IMPROVEMENT_ORTOO" Kind="KIND_IMPROVEMENT" Name="LOC_IMPROVEMENT_ORTOO_NAME" Description="LOC_IMPROVEMENT_ORTOO_DESCRIPTION" Icon="impicon_ortoo.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_NORMAN" Type="TRAIT_NORMAN_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_NORMAN_ABILITY_NAME" Description="LOC_TRAIT_NORMAN_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_NORMAN" Type="UNIT_CHEVALER" Kind="KIND_UNIT" Name="LOC_UNIT_CHEVALER_NAME" Description="LOC_UNIT_CHEVALER_BASE_DESCRIPTION" Icon="unitflag_chevaler.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_NORMAN" Type="UNIT_SOKEMAN" Kind="KIND_UNIT" Name="LOC_UNIT_SOKEMAN_NAME" Description="LOC_UNIT_SOKEMAN_DESCRIPTION" Icon="unitflag_sokeman.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_NORMAN" Type="QUARTER_DONJON" Kind="KIND_QUARTER" Name="LOC_QUARTER_DONJON_NAME" Description="LOC_QUARTER_DONJON_DESCRIPTION" Icon="city_uniquequarter"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_NORMAN" Type="BUILDING_BAILEY" Kind="KIND_BUILDING" Name="LOC_BUILDING_BAILEY_NAME" Description="LOC_BUILDING_BAILEY_DESCRIPTION" Icon="buildicon_bailey.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_NORMAN" Type="BUILDING_MOTTE" Kind="KIND_BUILDING" Name="LOC_BUILDING_MOTTE_NAME" Description="LOC_BUILDING_MOTTE_DESCRIPTION" Icon="buildicon_motte.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SONGHAI" Type="TRAIT_SONGHAI_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_SONGHAI_ABILITY_NAME" Description="LOC_TRAIT_SONGHAI_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SONGHAI" Type="UNIT_GOLD_BANGLES" Kind="KIND_UNIT" Name="LOC_UNIT_GOLD_BANGLES_NAME" Description="LOC_UNIT_GOLD_BANGLES_BASE_DESCRIPTION" Icon="unitflag_goldbangles.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SONGHAI" Type="UNIT_TAJIRO" Kind="KIND_UNIT" Name="LOC_UNIT_TAJIRO_NAME" Description="LOC_UNIT_TAJIRO_DESCRIPTION" Icon="unitflag_tajiro.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SONGHAI" Type="IMPROVEMENT_CARAVANSERAI" Kind="KIND_IMPROVEMENT" Name="LOC_IMPROVEMENT_CARAVANSERAI_NAME" Description="LOC_IMPROVEMENT_CARAVANSERAI_DESCRIPTION" Icon="impicon_caravanserai.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SPAIN" Type="TRAIT_SPAIN_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_SPAIN_ABILITY_NAME" Description="LOC_TRAIT_SPAIN_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SPAIN" Type="UNIT_TERCIO" Kind="KIND_UNIT" Name="LOC_UNIT_TERCIO_NAME" Description="LOC_UNIT_TERCIO_BASE_DESCRIPTION" Icon="unitflag_tercio.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SPAIN" Type="UNIT_CONQUISTADOR" Kind="KIND_UNIT" Name="LOC_UNIT_CONQUISTADOR_NAME" Description="LOC_UNIT_CONQUISTADOR_DESCRIPTION" Icon="unitflag_conquistador.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SPAIN" Type="QUARTER_PLAZA" Kind="KIND_QUARTER" Name="LOC_QUARTER_PLAZA_NAME" Description="LOC_QUARTER_PLAZA_DESCRIPTION" Icon="city_uniquequarter"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SPAIN" Type="BUILDING_CASA_CONSISTORIAL" Kind="KIND_BUILDING" Name="LOC_BUILDING_CASA_CONSISTORIAL_NAME" Description="LOC_BUILDING_CASA_CONSISTORIAL_DESCRIPTION" Icon="buildicon_casaconsistorial.png"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SPAIN" Type="BUILDING_CASA_DE_CONTRATACION" Kind="KIND_BUILDING" Name="LOC_BUILDING_CASA_DE_CONTRATACION_NAME" Description="LOC_BUILDING_CASA_DE_CONTRATACION_DESCRIPTION" Icon="buildicon_casadecontratacion.png"/>
	</CivilizationItems>
	<CivilizationTags>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_ABBASID" TagType="TAG_TRAIT_CULTURAL"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_ABBASID" TagType="TAG_TRAIT_SCIENTIFIC"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_CHOLA" TagType="TAG_TRAIT_POLITICAL"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_CHOLA" TagType="TAG_TRAIT_ECONOMIC"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_HAWAII" TagType="TAG_TRAIT_CULTURAL"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_HAWAII" TagType="TAG_TRAIT_EXPANSIONIST"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_INCA" TagType="TAG_TRAIT_ECONOMIC"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_INCA" TagType="TAG_TRAIT_EXPANSIONIST"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MAJAPAHIT" TagType="TAG_TRAIT_CULTURAL"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MAJAPAHIT" TagType="TAG_TRAIT_ECONOMIC"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MING" TagType="TAG_TRAIT_ECONOMIC"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MING" TagType="TAG_TRAIT_SCIENTIFIC"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MONGOLIA" TagType="TAG_TRAIT_EXPANSIONIST"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MONGOLIA" TagType="TAG_TRAIT_MILITARISTIC"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_NORMAN" TagType="TAG_TRAIT_POLITICAL"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_NORMAN" TagType="TAG_TRAIT_MILITARISTIC"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SONGHAI" TagType="TAG_TRAIT_ECONOMIC"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SONGHAI" TagType="TAG_TRAIT_MILITARISTIC"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SPAIN" TagType="TAG_TRAIT_ECONOMIC"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SPAIN" TagType="TAG_TRAIT_MILITARISTIC"/>
	</CivilizationTags>
	<CivilizationUnlocks>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_EGYPT" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_ABBASID" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_ABBASID_NAME" Description="LOC_CIVILIZATION_ABBASID_DESCRIPTION" Icon="CIVILIZATION_ABBASID"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_PERSIA" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_ABBASID" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_ABBASID_NAME" Description="LOC_CIVILIZATION_ABBASID_DESCRIPTION" Icon="CIVILIZATION_ABBASID"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_KHMER" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_CHOLA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_CHOLA_NAME" Description="LOC_CIVILIZATION_CHOLA__DESCRIPTION" Icon="CIVILIZATION_CHOLA_"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAURYA" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_CHOLA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_CHOLA_NAME" Description="LOC_CIVILIZATION_CHOLA__DESCRIPTION" Icon="CIVILIZATION_CHOLA_"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MISSISSIPPIAN" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_HAWAII" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_HAWAII_NAME" Description="LOC_CIVILIZATION_HAWAII_DESCRIPTION" Icon="CIVILIZATION_HAWAII"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAYA" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_HAWAII" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_HAWAII_NAME" Description="LOC_CIVILIZATION_HAWAII_DESCRIPTION" Icon="CIVILIZATION_HAWAII"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MISSISSIPPIAN" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_INCA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_INCA_NAME" Description="LOC_CIVILIZATION_INCA_DESCRIPTION" Icon="CIVILIZATION_INCA"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAYA" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_INCA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_INCA_NAME" Description="LOC_CIVILIZATION_INCA_DESCRIPTION" Icon="CIVILIZATION_INCA"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_KHMER" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_MAJAPAHIT" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MAJAPAHIT_NAME" Description="LOC_CIVILIZATION_MAJAPAHIT_DESCRIPTION" Icon="CIVILIZATION_MAJAPAHIT"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAURYA" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_MAJAPAHIT" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MAJAPAHIT_NAME" Description="LOC_CIVILIZATION_MAJAPAHIT_DESCRIPTION" Icon="CIVILIZATION_MAJAPAHIT"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HAN" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_MING" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MING_NAME" Description="LOC_CIVILIZATION_MING_DESCRIPTION" Icon="CIVILIZATION_MING"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HAN" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_MONGOLIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MONGOLIA_NAME" Description="LOC_CIVILIZATION_MONGOLIA_DESCRIPTION" Icon="CIVILIZATION_MONGOLIA"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_PERSIA" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_MONGOLIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MONGOLIA_NAME" Description="LOC_CIVILIZATION_MONGOLIA_DESCRIPTION" Icon="CIVILIZATION_MONGOLIA"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_GREECE" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_NORMAN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_NORMAN_NAME" Description="LOC_CIVILIZATION_NORMAN_DESCRIPTION" Icon="CIVILIZATION_NORMAN"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_NORMAN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_NORMAN_NAME" Description="LOC_CIVILIZATION_NORMAN_DESCRIPTION" Icon="CIVILIZATION_NORMAN"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_AKSUM" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SONGHAI" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SONGHAI_NAME" Description="LOC_CIVILIZATION_SONGHAI_DESCRIPTION" Icon="CIVILIZATION_SONGHAI"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_EGYPT" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SONGHAI" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SONGHAI_NAME" Description="LOC_CIVILIZATION_SONGHAI_DESCRIPTION" Icon="CIVILIZATION_SONGHAI"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SPAIN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SPAIN_NAME" Description="LOC_CIVILIZATION_SPAIN_DESCRIPTION" Icon="CIVILIZATION_SPAIN"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_GREECE" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SPAIN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SPAIN_NAME" Description="LOC_CIVILIZATION_SPAIN_DESCRIPTION" Icon="CIVILIZATION_SPAIN"/>
	</CivilizationUnlocks>
	<LeaderUnlocks>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_AMINA" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SONGHAI" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SONGHAI_NAME" Description="LOC_CIVILIZATION_SONGHAI_DESCRIPTION" Icon="CIVILIZATION_SONGHAI"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_AMINA" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_ABBASID" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_ABBASID_NAME" Description="LOC_CIVILIZATION_ABBASID_DESCRIPTION" Icon="CIVILIZATION_ABBASID"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_ASHOKA" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_CHOLA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_CHOLA_NAME" Description="LOC_CIVILIZATION_CHOLA_DESCRIPTION" Icon="CIVILIZATION_CHOLA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_ASHOKA" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_HAWAII" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_HAWAII_NAME" Description="LOC_CIVILIZATION_HAWAII_DESCRIPTION" Icon="CIVILIZATION_HAWAII"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_AUGUSTUS" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_ABBASID" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_ABBASID_NAME" Description="LOC_CIVILIZATION_ABBASID_DESCRIPTION" Icon="CIVILIZATION_ABBASID"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_AUGUSTUS" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SPAIN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SPAIN_NAME" Description="LOC_CIVILIZATION_SPAIN_DESCRIPTION" Icon="CIVILIZATION_SPAIN"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_BENJAMIN_FRANKLIN" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_NORMAN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_NORMAN_NAME" Description="LOC_CIVILIZATION_NORMAN_DESCRIPTION" Icon="CIVILIZATION_NORMAN"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_BENJAMIN_FRANKLIN" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SPAIN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SPAIN_NAME" Description="LOC_CIVILIZATION_SPAIN_DESCRIPTION" Icon="CIVILIZATION_SPAIN"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_CATHERINE" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_MONGOLIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MONGOLIA_NAME" Description="LOC_CIVILIZATION_MONGOLIA_DESCRIPTION" Icon="CIVILIZATION_MONGOLIA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_CATHERINE" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_NORMAN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_NORMAN_NAME" Description="LOC_CIVILIZATION_NORMAN_DESCRIPTION" Icon="CIVILIZATION_NORMAN"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_CHARLEMAGNE" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_NORMAN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_NORMAN_NAME" Description="LOC_CIVILIZATION_NORMAN_DESCRIPTION" Icon="CIVILIZATION_NORMAN"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_CHARLEMAGNE" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SPAIN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SPAIN_NAME" Description="LOC_CIVILIZATION_SPAIN_DESCRIPTION" Icon="CIVILIZATION_SPAIN"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_CONFUCIUS" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_MING" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MING_NAME" Description="LOC_CIVILIZATION_MING_DESCRIPTION" Icon="CIVILIZATION_MING"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_CONFUCIUS" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_MONGOLIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MONGOLIA_NAME" Description="LOC_CIVILIZATION_MONGOLIA_DESCRIPTION" Icon="CIVILIZATION_MONGOLIA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_FRIEDRICH" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_NORMAN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_NORMAN_NAME" Description="LOC_CIVILIZATION_NORMAN_DESCRIPTION" Icon="CIVILIZATION_NORMAN"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_FRIEDRICH" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SPAIN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SPAIN_NAME" Description="LOC_CIVILIZATION_SPAIN_DESCRIPTION" Icon="CIVILIZATION_SPAIN"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_JOSE_RIZAL" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_HAWAII" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_HAWAII_NAME" Description="LOC_CIVILIZATION_HAWAII_DESCRIPTION" Icon="CIVILIZATION_HAWAII"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_JOSE_RIZAL" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_MAJAPAHIT" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MAJAPAHIT_NAME" Description="LOC_CIVILIZATION_MAJAPAHIT_DESCRIPTION" Icon="CIVILIZATION_MAJAPAHIT"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_HARRIET_TUBMAN" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_INCA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_INCA_NAME" Description="LOC_CIVILIZATION_INCA_DESCRIPTION" Icon="CIVILIZATION_INCA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_HARRIET_TUBMAN" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SONGHAI" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SONGHAI_NAME" Description="LOC_CIVILIZATION_SONGHAI_DESCRIPTION" Icon="CIVILIZATION_SONGHAI"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_HATSHEPSUT" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SONGHAI" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SONGHAI_NAME" Description="LOC_CIVILIZATION_SONGHAI_DESCRIPTION" Icon="CIVILIZATION_SONGHAI"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_HATSHEPSUT" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_ABBASID" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_ABBASID_NAME" Description="LOC_CIVILIZATION_ABBASID_DESCRIPTION" Icon="CIVILIZATION_ABBASID"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_HIMIKO" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_HAWAII" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_HAWAII_NAME" Description="LOC_CIVILIZATION_HAWAII_DESCRIPTION" Icon="CIVILIZATION_HAWAII"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_HIMIKO" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_MAJAPAHIT" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MAJAPAHIT_NAME" Description="LOC_CIVILIZATION_MAJAPAHIT_DESCRIPTION" Icon="CIVILIZATION_MAJAPAHIT"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_IBN_BATTUTA" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_ABBASID" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_ABBASID_NAME" Description="LOC_CIVILIZATION_ABBASID_DESCRIPTION" Icon="CIVILIZATION_ABBASID"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_IBN_BATTUTA" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SONGHAI" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SONGHAI_NAME" Description="LOC_CIVILIZATION_SONGHAI_DESCRIPTION" Icon="CIVILIZATION_SONGHAI"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_ISABELLA" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_ABBASID" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_ABBASID_NAME" Description="LOC_CIVILIZATION_ABBASID_DESCRIPTION" Icon="CIVILIZATION_ABBASID"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_ISABELLA" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SPAIN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SPAIN_NAME" Description="LOC_CIVILIZATION_SPAIN_DESCRIPTION" Icon="CIVILIZATION_SPAIN"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_LAFAYETTE" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_NORMAN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_NORMAN_NAME" Description="LOC_CIVILIZATION_NORMAN_DESCRIPTION" Icon="CIVILIZATION_NORMAN"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_LAFAYETTE" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SPAIN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SPAIN_NAME" Description="LOC_CIVILIZATION_SPAIN_DESCRIPTION" Icon="CIVILIZATION_SPAIN"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_MACHIAVELLI" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_NORMAN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_NORMAN_NAME" Description="LOC_CIVILIZATION_NORMAN_DESCRIPTION" Icon="CIVILIZATION_NORMAN"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_MACHIAVELLI" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SPAIN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SPAIN_NAME" Description="LOC_CIVILIZATION_SPAIN_DESCRIPTION" Icon="CIVILIZATION_SPAIN"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_PACHACUTI" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_HAWAII" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_HAWAII_NAME" Description="LOC_CIVILIZATION_HAWAII_DESCRIPTION" Icon="CIVILIZATION_HAWAII"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_PACHACUTI" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_INCA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_INCA_NAME" Description="LOC_CIVILIZATION_INCA_DESCRIPTION" Icon="CIVILIZATION_INCA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_TRUNG_TRAC" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_CHOLA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_CHOLA_NAME" Description="LOC_CIVILIZATION_CHOLA_DESCRIPTION" Icon="CIVILIZATION_CHOLA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_TRUNG_TRAC" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_MAJAPAHIT" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MAJAPAHIT_NAME" Description="LOC_CIVILIZATION_MAJAPAHIT_DESCRIPTION" Icon="CIVILIZATION_MAJAPAHIT"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_XERXES" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_ABBASID" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_ABBASID_NAME" Description="LOC_CIVILIZATION_ABBASID_DESCRIPTION" Icon="CIVILIZATION_ABBASID"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_XERXES" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_MONGOLIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MONGOLIA_NAME" Description="LOC_CIVILIZATION_MONGOLIA_DESCRIPTION" Icon="CIVILIZATION_MONGOLIA"/>
	</LeaderUnlocks>
	<LeaderCivilizationBias>
		<!--This is the table used for UI, the AI uses LeaderCivPriorities in civilizations.xml-->
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_ABBASID" LeaderDomain="StandardLeaders" LeaderType="LEADER_AMINA" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_AMINA_ABBASIDS_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_ABBASID" LeaderDomain="StandardLeaders" LeaderType="LEADER_AUGUSTUS" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_AUGUSTUS_ABBASID_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_ABBASID" LeaderDomain="StandardLeaders" LeaderType="LEADER_HATSHEPSUT" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_HATSHEPSUT_ABBASID_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_ABBASID" LeaderDomain="StandardLeaders" LeaderType="LEADER_IBN_BATTUTA" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_IBN_BATTUTA_ABBASIDS_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_ABBASID" LeaderDomain="StandardLeaders" LeaderType="LEADER_ISABELLA" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_ISABELLA_ABBASID_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_ABBASID" LeaderDomain="StandardLeaders" LeaderType="LEADER_XERXES" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_XERXES_ABBASIDS_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_CHOLA" LeaderDomain="StandardLeaders" LeaderType="LEADER_ASHOKA" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_ASHOKA_CHOLA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_CHOLA" LeaderDomain="StandardLeaders" LeaderType="LEADER_TRUNG_TRAC" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_TRUNG_TRAC_CHOLA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_HAWAII" LeaderDomain="StandardLeaders" LeaderType="LEADER_ASHOKA" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_ASHOKA_HAWAII_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_HAWAII" LeaderDomain="StandardLeaders" LeaderType="LEADER_HIMIKO" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_HIMIKO_HAWAII_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_HAWAII" LeaderDomain="StandardLeaders" LeaderType="LEADER_JOSE_RIZAL" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_JOSE_RIZAL_HAWAII_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_HAWAII" LeaderDomain="StandardLeaders" LeaderType="LEADER_PACHACUTI" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_PACHACUTI_HAWAII_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_INCA" LeaderDomain="StandardLeaders" LeaderType="LEADER_HARRIET_TUBMAN" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_HARRIET_TUBMAN_INCA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_INCA" LeaderDomain="StandardLeaders" LeaderType="LEADER_PACHACUTI" Bias="4" ReasonType="LOC_UNLOCK_PLAY_AS_PACHACUTI_INCA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MAJAPAHIT" LeaderDomain="StandardLeaders" LeaderType="LEADER_HIMIKO" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_HIMIKO_MAJAPAHIT_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MAJAPAHIT" LeaderDomain="StandardLeaders" LeaderType="LEADER_JOSE_RIZAL" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_JOSE_RIZAL_MAJAPAHIT_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MAJAPAHIT" LeaderDomain="StandardLeaders" LeaderType="LEADER_TRUNG_TRAC" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_TRUNG_TRAC_MAJAPAHIT_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MING" LeaderDomain="StandardLeaders" LeaderType="LEADER_CONFUCIUS" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_CONFUCIUS_MING_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MONGOLIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_CATHERINE" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_CATHERINE_MONGOLIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MONGOLIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_CONFUCIUS" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_CONFUCIUS_MONGOLIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MONGOLIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_XERXES" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_XERXES_MONGOLIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_NORMAN" LeaderDomain="StandardLeaders" LeaderType="LEADER_BENJAMIN_FRANKLIN" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_BENJAMIN_FRANKLIN_NORMAN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_NORMAN" LeaderDomain="StandardLeaders" LeaderType="LEADER_CATHERINE" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_CATHERINE_NORMAN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_NORMAN" LeaderDomain="StandardLeaders" LeaderType="LEADER_CHARLEMAGNE" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_CHARLEMAGNE_NORMAN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_NORMAN" LeaderDomain="StandardLeaders" LeaderType="LEADER_FRIEDRICH" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_FRIEDRICH_NORMAN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_NORMAN" LeaderDomain="StandardLeaders" LeaderType="LEADER_LAFAYETTE" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_LAFAYETTE_NORMAN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_NORMAN" LeaderDomain="StandardLeaders" LeaderType="LEADER_MACHIAVELLI" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_MACHIAVELLI_NORMAN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SONGHAI" LeaderDomain="StandardLeaders" LeaderType="LEADER_AMINA" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_AMINA_SONGHAI_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SONGHAI" LeaderDomain="StandardLeaders" LeaderType="LEADER_HARRIET_TUBMAN" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_HARRIET_TUBMAN_SONGHAI_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SONGHAI" LeaderDomain="StandardLeaders" LeaderType="LEADER_HATSHEPSUT" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_HATSHEPSUT_SONGHAI_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SONGHAI" LeaderDomain="StandardLeaders" LeaderType="LEADER_IBN_BATTUTA" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_IBN_BATTUTA_SONGHAI_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SPAIN" LeaderDomain="StandardLeaders" LeaderType="LEADER_AUGUSTUS" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_AUGUSTUS_SPAIN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SPAIN" LeaderDomain="StandardLeaders" LeaderType="LEADER_BENJAMIN_FRANKLIN" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_BENJAMIN_FRANKLIN_SPAIN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SPAIN" LeaderDomain="StandardLeaders" LeaderType="LEADER_CHARLEMAGNE" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_CHARLEMAGNE_SPAIN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SPAIN" LeaderDomain="StandardLeaders" LeaderType="LEADER_FRIEDRICH" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_FRIEDRICH_SPAIN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SPAIN" LeaderDomain="StandardLeaders" LeaderType="LEADER_ISABELLA" Bias="4" ReasonType="LOC_UNLOCK_PLAY_AS_ISABELLA_SPAIN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SPAIN" LeaderDomain="StandardLeaders" LeaderType="LEADER_LAFAYETTE" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_LAFAYETTE_SPAIN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SPAIN" LeaderDomain="StandardLeaders" LeaderType="LEADER_MACHIAVELLI" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_MACHIAVELLI_SPAIN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
	</LeaderCivilizationBias>
	<DomainValues>
		<Row Domain="ExplorationAgeCivilizations" Value="RANDOM" Name="LOC_CIVILIZATION_RANDOM_NAME" Description="LOC_CIVILIZATION_RANDOM_DESCRIPTION" Icon="civ_sym_unknown.png" SortIndex="-1000"/>
	</DomainValues>

	<!-- Legacy Paths -->
	<LegacyPaths>
		<Row LegacyPathType="LEGACY_PATH_EXPLORATION_CULTURE" AgeType="AGE_EXPLORATION" Category="LOC_AGE_EXPLORATION_NAME" LegacyPathClassType="LEGACY_PATH_CLASS_CULTURE" LegacyPathClassName="LOC_LEGACY_PATH_CLASS_CULTURE_NAME" Name="LOC_LEGACY_PATH_EXPLORATION_CULTURE_NAME" Description="LOC_LEGACY_PATH_EXPLORATION_CULTURE_DESCRIPTION" />
		<Row LegacyPathType="LEGACY_PATH_EXPLORATION_ECONOMIC" AgeType="AGE_EXPLORATION" Category="LOC_AGE_EXPLORATION_NAME" LegacyPathClassType="LEGACY_PATH_CLASS_ECONOMIC" LegacyPathClassName="LOC_LEGACY_PATH_CLASS_ECONOMIC_NAME" Name="LOC_LEGACY_PATH_EXPLORATION_ECONOMIC_NAME" Description="LOC_LEGACY_PATH_EXPLORATION_ECONOMIC_DESCRIPTION" />
		<Row LegacyPathType="LEGACY_PATH_EXPLORATION_MILITARY" AgeType="AGE_EXPLORATION" Category="LOC_AGE_EXPLORATION_NAME" LegacyPathClassType="LEGACY_PATH_CLASS_MILITARY" LegacyPathClassName="LOC_LEGACY_PATH_CLASS_MILITARY_NAME" Name="LOC_LEGACY_PATH_EXPLORATION_MILITARY_NAME" Description="LOC_LEGACY_PATH_EXPLORATION_MILITARY_DESCRIPTION" />
		<Row LegacyPathType="LEGACY_PATH_EXPLORATION_SCIENCE" AgeType="AGE_EXPLORATION" Category="LOC_AGE_EXPLORATION_NAME" LegacyPathClassType="LEGACY_PATH_CLASS_SCIENCE" LegacyPathClassName="LOC_LEGACY_PATH_CLASS_SCIENCE_NAME" Name="LOC_LEGACY_PATH_EXPLORATION_SCIENCE_NAME" Description="LOC_LEGACY_PATH_EXPLORATION_SCIENCE_DESCRIPTION" />
	</LegacyPaths>
	<!-- Crises -->
	<Crises>
		<Row AgeCrisisEventType="EXPLORATION_CRISIS_REVOLUTION" AgeType="AGE_EXPLORATION" Category="LOC_CRISIS_TITLE_AGE_EXPLORATION" Name="LOC_EXPLORATION_REVOLUTIONS_CRISIS_NAME" Description="LOC_EXPLORATION_REVOLUTIONS_CRISIS_DESCRIPTION" />
		<Row AgeCrisisEventType="EXPLORATION_CRISIS_PLAGUE" AgeType="AGE_EXPLORATION" Category="LOC_CRISIS_TITLE_AGE_EXPLORATION" Name="LOC_EXPLORATION_PLAGUE_CRISIS_NAME" Description="LOC_EXPLORATION_PLAGUE_CRISIS_DESCRIPTION" />
		<Row AgeCrisisEventType="EXPLORATION_CRISIS_RELIGION" AgeType="AGE_EXPLORATION" Category="LOC_CRISIS_TITLE_AGE_EXPLORATION" Name="LOC_EXPLORATION_RELIGIOUS_REVOLTS_CRISIS_NAME" Description="LOC_EXPLORATION_RELIGIOUS_REVOLTS_CRISIS_DESCRIPTION" />
	</Crises>
</Database>