.tutorial-dialog-content {
  width: 100vw;
  height: 100vh;
}
@media (experience: mobile) {
  .tutorial-dialog-content fxs-close-button {
    top: 2.6666666667rem;
    right: 2.6666666667rem;
  }
}

tutorial-dialog-page.inactive .tutorial-dialog-page-bg {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
tutorial-dialog-page.inactive .tutorial-dialog-page-bg.tut-bg-3 {
  transform: scale(18) translateX(0%);
  transition-duration: 1s, 1.25s;
  transition-delay: 0s, 0s;
}
tutorial-dialog-page.inactive .tutorial-dialog-page-bg.tut-bg-2 {
  transform: scale(12) translateX(0%);
  transition-duration: 0.75s, 0.75s;
  transition-delay: 0s, 0s;
}
tutorial-dialog-page.inactive .tutorial-dialog-page-bg.tut-bg-1 {
  transform: scale(6) translateX(0%);
  transition-duration: 0.75s, 0.5s;
  transition-delay: 0s, 0.125s;
}
tutorial-dialog-page.inactive .tutorial-dialog-page-bg.tut-bg-0 {
  transform: scale(2) translateX(0%);
  transition-duration: 0.75s, 0.25s;
  transition-delay: 0s, 0.375s;
}
tutorial-dialog-page.inactive .tutorial-dialog-bg-overlay {
  opacity: 0;
  transition-delay: 0s;
}
tutorial-dialog-page.inactive .tutorial-dialog-info-container {
  opacity: 0;
  transform: translateX(-49.3333333333rem);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-delay: 0.2s, 0s;
  transition-duration: 0.05s, 0.125s;
}
tutorial-dialog-page.inactive .tutorial-dialog-page-body {
  opacity: 0;
  transform: translateX(-3.3333333333rem);
  transition-delay: 0.2s, 0s;
  transition-duration: 0.05s, 0.125s;
}
tutorial-dialog-page.inactive .tutorial-dialog-page-image-container {
  opacity: 0;
  transform: translateX(56rem);
  transition-delay: 0.2s, 0s;
  transition-duration: 0.05s, 0.125s;
}
tutorial-dialog-page.prev .tutorial-dialog-page-bg {
  transform: scale(1) translateX(0%);
}
tutorial-dialog-page.prev .tutorial-dialog-info-container {
  opacity: 0;
  transform: translateX(-49.3333333333rem);
  transition-delay: 0.2s, 0s;
  transition-duration: 0.05s, 0.125s;
}
tutorial-dialog-page.prev .tutorial-dialog-page-body {
  opacity: 0;
  transform: translateX(-3.3333333333rem);
  transition-delay: 0.2s, 0s;
  transition-duration: 0.05s, 0.125s;
}
tutorial-dialog-page.prev .tutorial-dialog-page-image-container {
  opacity: 0;
  transform: translateX(56rem);
  transition-delay: 0.2s, 0s;
  transition-duration: 0.05s, 0.125s;
}
tutorial-dialog-page.slow-anim .tutorial-dialog-page-bg {
  transition-duration: 1s, 1s;
}
tutorial-dialog-page.slow-anim .tutorial-dialog-info-container {
  transition-duration: 0.675s, 0.5s;
  transition-delay: 0.5s;
}
tutorial-dialog-page.slow-anim .tutorial-dialog-page-body {
  transition-duration: 0.675s, 0.5s;
  transition-delay: 0.75s;
}
tutorial-dialog-page.slow-anim .tutorial-dialog-page-image-container {
  transition-duration: 0.675s, 0.5s;
  transition-delay: 1s;
}
tutorial-dialog-page.no-anim {
  opacity: 0;
}
tutorial-dialog-page.no-anim .tutorial-dialog-page-bg,
tutorial-dialog-page.no-anim .tutorial-dialog-info-container,
tutorial-dialog-page.no-anim .tutorial-dialog-page-body,
tutorial-dialog-page.no-anim .tutorial-dialog-page-image-container {
  transition-duration: 0s;
}
tutorial-dialog-page p {
  pointer-events: none;
}

.tutorial-dialog-bg-overlay {
  opacity: 1;
  background: linear-gradient(to left, transparent 80%, #12151f 100%), linear-gradient(60deg, #12151f 0%, rgba(18, 21, 31, 0.6) 50%, transparent 100%);
  background-size: 100%;
  transition-property: opacity;
  transition-duration: 2.25s;
  transition-delay: 0.5s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.tutorial-dialog-page-overlay {
  background: linear-gradient(to left, transparent 40%, #12151f 100%), radial-gradient(transparent 40%, #12151f 100%);
  background-size: 100%;
}

.tutorial-dialog-info-container {
  transition-property: transform, opacity;
  transition-duration: 0.675s, 0.5s;
  transition-delay: 0.75s;
  transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
  opacity: 1;
  transform-origin: 50% 50%;
  transform: translateX(-0.0555555556rem);
}
@media (max-height: 55.5555555556rem) {
  .tutorial-dialog-info-container {
    left: 71%;
  }
}

.tutorial-dialog-page-title {
  font-size: calc(1rem + 0.7777777778rem);
  text-shadow: -0.1111111111rem 0.0555555556rem #12151f;
}

.tutorial-dialog-divider {
  border-image: url("fs://game/hud_quest_div");
  border-image-width: 0.2222222222rem 0.2222222222rem 0.2222222222rem 0.7777777778rem;
  border-image-slice: 4 4 4 14 fill;
}

.tutorial-dialog-page-subtitle {
  font-size: calc(1rem + 0.7777777778rem);
  text-shadow: -0.0555555556rem 0.1111111111rem #12151f;
}

.tutorial-dialog-page-body {
  max-width: 56rem;
  transition-property: transform, opacity;
  transition-duration: 0.675s, 0.5s;
  transition-delay: 1s;
  transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
  transform: translateX(0rem);
  opacity: 1;
}
.tutorial-dialog-page-body > p {
  margin-bottom: 1.3333333333rem;
}

.tutorial-dialog-page-image-container {
  width: 106.6666666667rem;
  height: 60rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  transition-property: transform, opacity;
  transition-duration: 0.675s, 0.5s;
  transition-delay: 1.25s;
  transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
  transform: translateX(53.3333333333rem);
  opacity: 1;
}

.tutorial-dialog-page-image {
  width: 21.3333333333rem;
  height: 21.3333333333rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.tutorial-dialog-page-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform-origin: 50% 50%;
  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: scale(1.15) translateX(0%);
  opacity: 1;
  transition-duration: 1s, 1s;
  transition-delay: 0s, 0s;
}

.tutorial-dialog-frame {
  border-image: url("fs://game/base_frame-filigree.png");
  border-image-slice: 144 1 1 144 fill;
  border-image-width: 8rem 0.0555555556rem 0.0555555556rem 8rem;
  opacity: 0.1;
}