panel-age-scores {
  position: relative;
  width: 100%;
  height: 100%;
}
panel-age-scores .age-scores-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
}
panel-age-scores .age-scores__card-wrapper {
  width: 24%;
  height: 100%;
}
panel-age-scores .age-scores__card-drop-shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
panel-age-scores .age-scores__card-base {
  width: 97.8%;
  height: 99.1%;
  background-color: #1a191a;
  transform: translate(2.1%, 0);
}
panel-age-scores .age-scores__card-flavor-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.86) 50%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0.04) 100%);
}
panel-age-scores .age-scores__card-flavor-image-gradient-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, rgba(28, 20, 29, 0.25) 0%, rgba(234, 222, 211, 0.25) 100%);
  transform: translate(0, -100%);
}
panel-age-scores .age-scores__card-frame {
  width: 100%;
  height: 100%;
  border-image-source: url("fs://game/Card_Frame_small.png");
  border-image-width: 1.3333333333rem 1.3333333333rem;
  border-image-slice: 24 fill;
}
panel-age-scores .age-scores__card-content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
panel-age-scores .age-scores__card-title-wrapper {
  width: 100%;
  height: 4.5%;
  position: fixed;
  transform: translate(0, 39%);
  display: flex;
  flex-direction: column;
}
panel-age-scores .age-scores__card-title-text {
  width: 90%;
  align-self: center;
  font-family: "TitleFont", "TitleFont-JP", "TitleFont-KR", "TitleFont-SC", "TitleFont-TC";
  font-size: 1rem;
  text-align: center;
  color: #ffbadd;
}
panel-age-scores .age-scores__card-title-horizontal-rule {
  width: 50%;
  height: 40%;
  transform: translate(50%, 0.2222222222rem);
  background-image: url("fs://game/Ornament_centerCurves.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
panel-age-scores .age-scores__victory-requirement-wrapper {
  pointer-events: auto;
  width: 80%;
  height: 11.8%;
  align-self: center;
  position: fixed;
  transform: translate(0, 111%);
  display: flex;
  flex-direction: column;
}
panel-age-scores .age-scores__vict-req-outer-hex {
  width: 90%;
  height: 90%;
  background-color: #78624a;
  mask-image: url("fs://game/Hex_256px.png");
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  align-self: center;
  transform: translate(0, 5%);
}
panel-age-scores .age-scores__vict-req-inner-hex {
  width: 97.2%;
  height: 97.6%;
  background-color: #392f24;
  transform: translate(1.4%, 1.2%);
  mask-image: url("fs://game/Hex_256px.png");
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
}
panel-age-scores .age-scores__vict-req-base-rect {
  width: 95.2%;
  height: 75%;
  background-image: url("fs://game/goldLeafCardTexture.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  align-self: center;
  transform: translate(0, 16.6%);
}
panel-age-scores .age-scores__vict-req-base-icon-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
panel-age-scores .age-scores__vict-req-base-icon {
  width: 80%;
  height: 55.5%;
  background-image: url("fs://game/unitflag_missingicon.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.38;
  align-self: center;
  position: fixed;
  transform: translate(0, 40%);
}
panel-age-scores .age-scores__vict-req-number-value {
  align-self: center;
  position: fixed;
  font-family: "BodyFont", "BodyFont-JP", "BodyFont-KR", "BodyFont-SC", "BodyFont-TC";
  font-weight: bold;
  font-size: calc(1rem + 0.7777777778rem);
  color: #221f1b;
  text-align: center;
  padding-top: 0.8888888889rem;
}
panel-age-scores .age-scores__vict-req-base-texture-overlay {
  width: 100%;
  height: 100%;
  background-image: url("fs://game/goldLeafCardTexture.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  opacity: 0.25;
}
panel-age-scores .age-scores__vict-req-ornament-top {
  width: 100%;
  height: 43%;
  background-image: url("fs://game/Ornament_centerCurves.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  position: fixed;
  transform-origin: center center;
  transform: rotate(180deg) translate(0, 0.6666666667rem);
}
panel-age-scores .age-scores__vict-req-ornament-bottom {
  width: 100%;
  height: 43%;
  background-image: url("fs://game/Ornament_centerCurves.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  position: fixed;
  transform: translate(0, 167%);
}
panel-age-scores .age-scores__top-three-wrapper {
  width: 73.7%;
  height: 40.4%;
  align-self: center;
  position: fixed;
  transform: translate(0, 69%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
panel-age-scores .age-scores__second-place-wrapper {
  width: 22.6%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
panel-age-scores .age-scores__second-thermo-end-cap {
  width: 62.7%;
  height: 91.5%;
  position: fixed;
  align-self: center;
  background-color: #ceb484;
  clip-path: polygon(50% 0%, 100% 3%, 100% 100%, 0 100%, 0 3%);
}
panel-age-scores .age-scores__second-thermo-track {
  width: 62.7%;
  height: 91.5%;
  align-self: center;
  background-color: #211f20;
  clip-path: polygon(50% 0%, 100% 3%, 100% 100%, 0 100%, 0 3%);
  transform: translate(0, 0.1666666667rem);
}
panel-age-scores .age-scores__second-thermo-fill {
  width: 69.2%;
  height: 79.4%;
  align-self: center;
  background-color: #2b3a7e;
  clip-path: polygon(50% 0%, 100% 3.8%, 100% 100%, 0 100%, 0 3.8%);
  transform: translate(0, -99.8%);
  display: flex;
  flex-direction: column;
}
panel-age-scores .age-scores__second-thermo-value {
  width: 100%;
  height: 13.7%;
  font-family: "BodyFont", "BodyFont-JP", "BodyFont-KR", "BodyFont-SC", "BodyFont-TC";
  font-weight: bold;
  font-size: calc(1rem + 0.7777777778rem);
  line-height: 2.8888888889rem;
  color: #ccbca3;
  text-align: center;
  position: fixed;
  transform: translateY(37%);
  coh-font-fit-mode: shrink;
  color: var(--player-color-secondary);
}
panel-age-scores .age-scores__second-thermo-icon {
  width: 100%;
  height: 5.7%;
  position: fixed;
  transform: translateY(506%);
  background-image: url("fs://game/unitflag_missingicon.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  filter: fxs-color-tint(var(--player-color-secondary));
}
panel-age-scores .age-scores__second-civ-icon {
  width: 100%;
  height: 13.7%;
  position: fixed;
  transform: translateY(511%);
  background-image: url("fs://game/civ_sym_egypt.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  filter: fxs-color-tint(var(--player-color-secondary));
}
panel-age-scores .age-scores__second-civ-hex-wrapper {
  pointer-events: auto;
  width: 120%;
  height: 20%;
  position: fixed;
  align-self: center;
  transform: translateY(385%);
}
panel-age-scores .age-scores__second-civ-hex-outline {
  width: 100%;
  height: 100%;
  background-color: #705d48;
  align-self: center;
  display: flex;
  flex-direction: row;
  mask-image: url("fs://game/Hex_256px.png");
  mask-repeat: no-repeat;
  mask-size: contain;
}
panel-age-scores .age-scores__second-civ-hex-inner {
  width: 100%;
  height: 100%;
  align-self: center;
  background-image: linear-gradient(-60deg, var(--player-color-secondary) 0%, var(--player-color-secondary) 37%, var(--player-color-primary) 37%, var(--player-color-primary) 63%, var(--player-color-secondary) 63%);
  transform-origin: center center;
  transform: scale(0.9);
  mask-image: url("fs://game/Hex_256px.png");
  mask-repeat: no-repeat;
  mask-size: contain;
}
panel-age-scores .age-scores__second-civ-leader {
  width: 100%;
  height: 100%;
  background-image: url("fs://game/leader_portrait_unknown.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
panel-age-scores .age-scores__second-place-label {
  width: 100%;
  height: 7.2%;
  position: fixed;
  transform: translate(0, 1285%);
  font-family: "TitleFont", "TitleFont-JP", "TitleFont-KR", "TitleFont-SC", "TitleFont-TC";
  font-size: 1rem;
  text-align: center;
  color: #d1b686;
}
panel-age-scores .age-scores__first-place-wrapper {
  width: 27%;
  height: 100%;
  display: flex;
}
panel-age-scores .age-scores__first-thermo-end-cap {
  width: 59.7%;
  height: 94%;
  background-color: #ceb484;
  clip-path: polygon(50% 0%, 100% 3.4%, 100% 100%, 0 100%, 0 3.4%);
  position: fixed;
  transform: translate(260%, 0);
}
panel-age-scores .age-scores__first-thermo-track {
  width: 59.7%;
  height: 94%;
  background-color: #211f20;
  clip-path: polygon(50% 0%, 100% 3.4%, 100% 100%, 0 100%, 0 3.4%);
  position: fixed;
  transform: translate(260%, 0.1666666667rem);
}
panel-age-scores .age-scores__first-thermo-fill {
  width: 79%;
  height: 91%;
  background-color: var(--player-color-primary);
  transform: translate(15%, 4.5%);
  clip-path: polygon(50% 0%, 100% 4.7%, 100% 100%, 0 100%, 0 4.7%);
  display: flex;
  flex-direction: column;
}
panel-age-scores .age-scores__first-thermo-value {
  width: 100%;
  height: 14.6%;
  position: fixed;
  transform: translate(-2.5%, 63%);
  font-family: "BodyFont", "BodyFont-JP", "BodyFont-KR", "BodyFont-SC", "BodyFont-TC";
  font-weight: bold;
  font-size: calc(1rem + 0.7777777778rem);
  line-height: 2.3333333333rem;
  color: #ccbca3;
  text-align: center;
  coh-font-fit-mode: shrink;
  color: var(--player-color-secondary);
}
panel-age-scores .age-scores__first-thermo-icon {
  width: 100%;
  height: 14.6%;
  background-image: url("fs://game/unitflag_missingicon.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  filter: fxs-color-tint(var(--player-color-secondary));
  position: fixed;
  transform: translate(0, 180%);
}
panel-age-scores .age-scores__first-civ-icon {
  width: 100%;
  height: 17.8%;
  background-image: url("fs://game/civ_sym_khmer.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: fixed;
  transform: translate(0, 335%);
  filter: fxs-color-tint(var(--player-color-secondary));
}
panel-age-scores .age-scores__first-civ-hex-wrapper {
  pointer-events: auto;
  width: 130%;
  height: 30%;
  position: fixed;
  align-self: center;
  transform: translate(93%, 122%);
}
panel-age-scores .age-scores__first-civ-hex-outline {
  width: 100%;
  height: 100%;
  background-color: #705d48;
  align-self: center;
  display: flex;
  flex-direction: row;
  mask-image: url("fs://game/Hex_256px.png");
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
}
panel-age-scores .age-scores__first-civ-hex-inner {
  width: 100%;
  height: 100%;
  align-self: center;
  background-image: linear-gradient(-60deg, var(--player-color-secondary) 0%, var(--player-color-secondary) 37%, var(--player-color-primary) 37%, var(--player-color-primary) 63%, var(--player-color-secondary) 63%);
  transform-origin: center center;
  transform: scale(0.9) translate(0, 6%);
  mask-image: url("fs://game/Hex_256px.png");
  mask-repeat: no-repeat;
  mask-size: contain;
}
panel-age-scores .age-scores__first-civ-leader {
  width: 100%;
  height: 100%;
  background-image: url("fs://game/leader_portrait_unknown.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
panel-age-scores .age-scores__first-place-label {
  width: 100%;
  height: 7.2%;
  position: fixed;
  transform: translate(135%, 1330%);
  font-family: "TitleFont", "TitleFont-JP", "TitleFont-KR", "TitleFont-SC", "TitleFont-TC";
  font-size: calc(1rem + 0.2222222222rem);
  text-align: center;
  color: #d1b686;
}
panel-age-scores .age-scores__third-place-wrapper {
  width: 22.6%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
panel-age-scores .age-scores__third-thermo-end-cap {
  width: 62.7%;
  height: 91.5%;
  align-self: center;
  background-color: #ceb484;
  clip-path: polygon(50% 0%, 100% 3%, 100% 100%, 0 100%, 0 3%);
}
panel-age-scores .age-scores__third-thermo-track {
  width: 62.7%;
  height: 91.5%;
  align-self: center;
  background-color: #211f20;
  clip-path: polygon(50% 0%, 100% 3%, 100% 100%, 0 100%, 0 3%);
  transform: translate(0, -99%);
}
panel-age-scores .age-scores__third-thermo-fill {
  width: 69.2%;
  height: 72.4%;
  background-color: #1f2d44;
  align-self: center;
  clip-path: polygon(50% 0%, 100% 4.2%, 100% 100%, 0 100%, 0 4.2%);
  transform: translate(0, -225%);
  display: flex;
  flex-direction: column;
}
panel-age-scores .age-scores__third-thermo-value {
  width: 100%;
  height: 13.7%;
  font-family: "BodyFont", "BodyFont-JP", "BodyFont-KR", "BodyFont-SC", "BodyFont-TC";
  font-weight: bold;
  font-size: calc(1rem + 0.7777777778rem);
  line-height: 2.8888888889rem;
  color: #ccbca3;
  text-align: center;
  position: fixed;
  transform: translateY(37%);
  coh-font-fit-mode: shrink;
  color: var(--player-color-secondary);
}
panel-age-scores .age-scores__third-thermo-icon {
  width: 100%;
  height: 5.7%;
  position: fixed;
  transform: translateY(531%);
  background-image: url("fs://game/unitflag_missingicon.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  filter: fxs-color-tint(var(--player-color-secondary));
}
panel-age-scores .age-scores__third-civ-icon {
  width: 100%;
  height: 13.7%;
  position: fixed;
  transform: translateY(485%);
  background-image: url("fs://game/civ_sym_maya.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  filter: fxs-color-tint(var(--player-color-secondary));
}
panel-age-scores .age-scores__third-civ-hex-wrapper {
  pointer-events: auto;
  width: 120%;
  height: 20%;
  position: fixed;
  transform: translate(277%, 385%);
}
panel-age-scores .age-scores__third-civ-hex-outline {
  width: 100%;
  height: 100%;
  background-color: #705d48;
  align-self: center;
  display: flex;
  flex-direction: row;
  mask-image: url("fs://game/Hex_256px.png");
  mask-repeat: no-repeat;
  mask-size: contain;
}
panel-age-scores .age-scores__third-civ-hex-inner {
  width: 100%;
  height: 100%;
  align-self: center;
  background-image: linear-gradient(-60deg, var(--player-color-secondary) 0%, var(--player-color-secondary) 37%, var(--player-color-primary) 37%, var(--player-color-primary) 63%, var(--player-color-secondary) 63%);
  transform-origin: center center;
  transform: scale(0.9);
  mask-image: url("fs://game/Hex_256px.png");
  mask-repeat: no-repeat;
  mask-size: contain;
}
panel-age-scores .age-scores__third-civ-leader {
  width: 100%;
  height: 100%;
  background-image: url("fs://game/leader_portrait_unknown.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
panel-age-scores .age-scores__third-place-label {
  width: 100%;
  height: 7.2%;
  position: fixed;
  transform: translate(344%, 1285%);
  font-family: "TitleFont", "TitleFont-JP", "TitleFont-KR", "TitleFont-SC", "TitleFont-TC";
  font-size: 1rem;
  text-align: center;
  color: #d1b686;
}
panel-age-scores .age-scores__remainder-wrapper {
  width: 85%;
  height: 23.3%;
  align-self: center;
  position: fixed;
  transform: translate(0, 317%);
}
panel-age-scores .age-scores__remainder-wrapper-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
panel-age-scores .age-scores__remainder-profile-background {
  width: 32%;
  height: 18%;
}
panel-age-scores .age-scores__remainder-profile-portrait-bg {
  width: 40%;
  height: 100%;
  background-image: linear-gradient(90deg, var(--player-color-primary) 0%, var(--player-color-secondary) 100%);
}
panel-age-scores .age-scores__remainder-profile-portrait-frame {
  width: 100%;
  height: 100%;
  border-image-source: url("fs://game/Frame_CityQueue.png");
  border-image-width: 0.4444444444rem;
  border-image-slice: 16 fill;
  filter: fxs-color-tint(white);
}
panel-age-scores .age-scores__remainder-profile-portrait-leader-image {
  width: 100%;
  height: 100%;
  background-image: url("fs://game/leader_portrait_unknown.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
panel-age-scores .age-scores__remainder-profile-label {
  position: relative;
  left: 10%;
  font-family: "TitleFont", "TitleFont-JP", "TitleFont-KR", "TitleFont-SC", "TitleFont-TC";
  font-size: calc(1rem + -0.1111111111rem);
  color: #d1b686;
}
panel-age-scores .age-scores__remainder-score-and-icon-wrapper {
  width: 37%;
  height: 100%;
}
panel-age-scores .age-scores__remainder-score {
  width: 100%;
  height: 50%;
  font-family: "BodyFont", "BodyFont-JP", "BodyFont-KR", "BodyFont-SC", "BodyFont-TC";
  font-weight: bold;
  font-size: calc(1rem + 0.2222222222rem);
  line-height: 1.3333333333rem;
  color: #ccbca3;
  text-align: center;
  transform: translate(0, -0.1111111111rem);
}
panel-age-scores .age-scores__remainder-icon {
  width: 100%;
  height: 50%;
  background-image: url("fs://game/unitflag_missingicon.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  filter: fxs-color-tint(#ccbca3);
}

.score-content .fxs-tab-button {
  color: var(--player-color-secondary);
  opacity: 0.75;
}
.score-content .fxs-tab-button.selected {
  color: var(--player-color-secondary);
  opacity: 1;
}