.turn-icon {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 1.3333333333rem;
  height: 1.3333333333rem;
  bottom: 0;
  right: 0;
  transform-origin: center;
}
.turn-icon .turn-hex-line {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("blp:Hex_64px.png");
  background-size: contain;
  filter: fxs-color-mask(rgb(44, 42, 43));
}
.turn-icon .turn-hex-bg {
  position: absolute;
  width: auto;
  height: auto;
  left: 0.1111111111rem;
  top: 0.1111111111rem;
  bottom: 0.1111111111rem;
  right: 0.1111111111rem;
  background-image: url("blp:Hex_64px.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: fxs-color-mask(rgb(179, 158, 128));
  transform: none;
}
.turn-icon .turn-img {
  position: absolute;
  width: 25%;
  height: 37.5%;
  left: 50%;
  bottom: 37.5%;
  border-width: 0rem;
  border-left-width: 0.1666666667rem;
  border-bottom-width: 0.1666666667rem;
  border-style: solid;
  border-color: rgb(44, 42, 43);
  transform: translateX(-0.1111111111rem);
}
.turn-icon .turn-display {
  position: absolute;
  left: 50%;
  top: 25%;
  font-family: "BodyFont", "BodyFont-JP", "BodyFont-KR", "BodyFont-SC", "BodyFont-TC";
  font-weight: 800;
  font-size: calc(1rem + 0.4444444444rem);
  color: rgb(217, 199, 173);
  text-shadow: -0.2222222222rem 0rem black, -0.1111111111rem 0rem black;
  text-stroke: 0.4444444444rem rgb(44, 42, 43);
}
.turn-icon.right .turn-display {
  left: 100%;
  top: -25%;
  text-shadow: 0.2222222222rem 0rem black, 0.1111111111rem 0rem black;
}
.turn-icon.left .turn-display {
  left: -100%;
  top: -25%;
  text-shadow: 0.2222222222rem 0rem black, 0.1111111111rem 0rem black;
}