.screen-pantheon-complete {
  top: 8.7777777778rem;
  bottom: 1rem;
  left: 0.8888888889rem;
  min-width: 23.2222222222rem;
  pointer-events: auto;
}
@media (experience: mobile) {
  .screen-pantheon-complete {
    top: 0;
    bottom: 0;
    left: 0;
    min-width: 38.8888888889rem;
  }
}
@media (experience: mobile) {
  .screen-pantheon-complete .pantheon-frame {
    margin-top: 3.8888888889rem;
    margin-bottom: 0.6666666667rem;
    width: 38.8888888889rem;
  }
}