div {
	box-sizing: border-box;
	user-select: none;
	display: flex;
}

html {
	width: 100vw;
	height: 100vh;
}

body {
	overflow: hidden;
	background-size: cover;
	margin: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#window {
	background-color: rgb(217, 199, 173);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 900px;
}

#sheet-1 {
	width: 400px;
	height: 600px;
}

#sheet-2 {
	width: 800px;
	height: 600px;
}

.two-column-table {
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}

.row {
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column-30 {
	flex: 1 1 30%;
}

.column-70 {
	flex: 1 1 70%;
}

.panel {
	overflow-y: scroll;
	padding: 1rem 2rem;
	flex-direction: column;
	background-color: rgb(39, 37, 38);
	color: var(--third-color);
	justify-content: flex-start;
	align-items: center;
}

.panel-header {
	color: rgb(255, 228, 184);
	justify-content: center;
	align-items: center;
}

.panel-content {
	flex: 1 1 auto;
	overflow: scroll;
	width: 100%;
	height: 300px;
	align-items: flex-start;
	justify-content: flex-start;
}

.ornament-container {
	flex: 1 1 auto;
	flex-wrap: wrap;
	flex-direction: column;
}

.ornament-container > * {
	margin: 6px;
	flex-basis: auto;
}

.wrapper {
	width: 500px;
	height: 50px;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}
