.age-transition-civ-card {
  width: 21.3333333333rem;
  height: 28.4444444444rem;
  margin: 1.1111111111rem;
}
@media (max-height: 55.5555555556rem) {
  .age-transition-civ-card {
    width: 18.8888888889rem;
    height: 25.3333333333rem;
    margin: 0.5555555556rem;
  }
  .age-transition-civ-card .age-transition-civ-card-name {
    margin-top: 0.5555555556rem;
  }
  .age-transition-civ-card .age-transition-civ-card-icon {
    width: 2.2222222222rem;
    height: 2.2222222222rem;
  }
  .age-transition-civ-card .age-transition-civ-card-filigree {
    opacity: 0;
  }
}
.age-transition-civ-card:hover .age-transition-civ-card-focus-border, .age-transition-civ-card:focus .age-transition-civ-card-focus-border, .age-transition-civ-card.selected .age-transition-civ-card-focus-border, .age-transition-civ-card.pressed .age-transition-civ-card-focus-border {
  opacity: 1;
}
.age-transition-civ-card:hover .age-transition-civ-card-hover-info, .age-transition-civ-card:focus .age-transition-civ-card-hover-info, .age-transition-civ-card.selected .age-transition-civ-card-hover-info, .age-transition-civ-card.pressed .age-transition-civ-card-hover-info {
  opacity: 1;
}
.age-transition-civ-card:hover .age-transition-civ-card-darkening, .age-transition-civ-card:focus .age-transition-civ-card-darkening, .age-transition-civ-card.selected .age-transition-civ-card-darkening, .age-transition-civ-card.pressed .age-transition-civ-card-darkening {
  background-color: rgba(0, 0, 0, 0.4666666667);
}

.age-transition-civ-card-content-locked {
  background-color: rgba(68, 68, 68, 0.5333333333);
}

.age-transition-civ-card-locked {
  background-image: url("fs://game/icon_locked.png");
  background-size: cover;
}