.soft-cursor {
  width: 0.0555555556rem;
  height: 0.0555555556rem;
  position: relative;
}
.soft-cursor > .soft-cursor-icon {
  width: 1.7777777778rem;
  height: 1.7777777778rem;
  display: flex;
  position: relative;
  background-image: url("fs://game/core/ui/cursors/soft-cursor.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}