.pause-event-rules {
  height: 95%;
  width: auto;
  pointer-events: auto;
  right: 36.1111111111rem;
}
@media (max-width: 88.8333333333rem) {
  .pause-event-rules {
    right: 33.3333333333rem;
  }
}
@media (max-width: 77.7222222222rem) {
  .pause-event-rules {
    right: 25rem;
  }
}
.pause-event-rules .events-description {
  position: relative;
  width: 95%;
}
.pause-event-rules .events-info {
  border-image-source: url("fs://game/hud_unit-panel_box-bg.png");
  border-image-slice: 30 20 30 20 fill;
  border-image-width: auto;
  border-image-outset: 0.9444444444rem 0.7222222222rem;
  width: 44.4444444444rem;
}
.pause-event-rules .events-desc-hslot {
  width: 45vw;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width: 0.0555555556rem;
  border-bottom-color: #e5e5e5;
}
.pause-event-rules .events-desc-hslot {
  width: 100%;
}
.pause-event-rules .events-banner {
  background-image: url("fs://game/bn_default.png");
}
.pause-event-rules .events-scrollable .fxs-scrollable-content {
  max-width: 95%;
}
.pause-event-rules .events-rules {
  margin-top: 2.6666666667vh;
}