.panel-city-details {
  width: 32.6666666667rem;
}

.city-details-half-divider {
  background-image: url("fs://game/prof_div_1.png");
}

.growth-entry:focus, .growth-entry:hover, .growth-entry.pressed {
  background: linear-gradient(90deg, #4c473d 0%, #333640 100%);
}

.indented-growth-item {
  max-width: 78%;
}

.indented-yield-item {
  max-width: 83%;
}

.constructible-entry:focus .constructible-entry-highlight, .constructible-entry:hover .constructible-entry-highlight, .constructible-entry.pressed .constructible-entry-highlight {
  background: linear-gradient(90deg, #4c473d 0%, #333640 100%);
}

.yield-button:focus .yield-button-highlight, .yield-button:hover .yield-button-highlight, .yield-button.pressed .yield-button-highlight {
  background: linear-gradient(90deg, #4c473d 0%, #333640 100%);
}