/**
Based on Robert Penner's easing equations
@url http://robertpenner.com/easing/
**/
@keyframes lastPlayerMessageHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lastPlayerMessageShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.radial-menu-mode .fxs-nav-help {
  display: none;
}

.action-panel {
  position: relative;
}
.action-panel.new-notification .action-button {
  animation: glow 1000ms infinite;
}

.action-panel--disabled .action-panel__button,
.action-panel--disabled .action-panel__button:hover,
.action-panel--disabled .action-panel__button:focus,
.action-panel--disabled .action-panel__button.pressed,
.action-panel--disabled .action-panel__button--activate,
.action-panel--disabled .action-panel__button--activate:hover,
.action-panel--disabled .action-panel__button--activate:focus,
.action-panel--disabled .action-panel__button--activate.pressed {
  transition-duration: 0.25s;
}

.action-panel__button {
  width: 14.2222222222rem;
  height: 14.2222222222rem;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.action-panel__button--activate,
.action-panel__button--activate:hover,
.action-panel__button--activate:focus {
  transform-origin: 50% 50%;
  transition-duration: 0.125s;
}

.action-panel__button-main {
  width: 100%;
  height: 100%;
  background-image: url("blp:hud_turn_main.png");
  background-position: center;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

@keyframes gear-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.action-panel__button-gear {
  width: 7.5rem;
  height: 7.5rem;
  background-image: url("blp:hud_turn_gear.png");
  background-position: center;
  background-size: 194% 194%;
  background-repeat: no-repeat;
  animation: gear-spin 90s linear infinite;
}

.action-panel__button-bk {
  width: 100%;
  height: 100%;
  background-image: url("blp:hud_turn_bk.png");
  background-position: center;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

.action-panel__button-decor {
  width: 50%;
  height: 100%;
  background-image: url("blp:hud_turn_decor.png");
  background-position: right;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  right: 0.7222222222rem;
  bottom: 0.6111111111rem;
}

.trigger-nav-help .action-panel__nav-help-container.gamepad-active.action-available {
  display: flex;
}

.action-panel__button-txt-plate-container {
  right: 5.7777777778rem;
  top: 1.1111111111rem;
  transform: translateY(-100%);
}

.action-panel__button-txt-plate {
  display: flex;
  width: 14.2222222222rem;
  min-height: 1.2222222222rem;
  align-items: center;
  justify-content: flex-end;
  border-image-source: url("blp:hud_turn_txt_plate.png");
  border-image-slice: 22 32 22 1 fill;
  border-image-width: 1.2222222222rem 1.7777777778rem 1.2222222222rem 0.0555555556rem;
  border-image-outset: 1.2222222222rem 1.7777777778rem 1.2222222222rem 0.0555555556rem;
  border-image-repeat: stretch;
}

.action-panel__nav-help-container {
  flex-direction: row;
  height: 0.0555555556rem;
  align-items: center;
  transform: translateY(-0.1111111111rem) translateX(0.5555555556rem);
  align-self: flex-start;
  display: none;
}

.action-panel__nav-help-ext {
  background-image: url("blp:hud_quest_ext.png");
  width: 0.8888888889rem;
  height: 3.5555555556rem;
  background-size: cover;
  transform: rotate(90deg) translateY(0.2222222222rem);
  margin-left: 0.2222222222rem;
}

.action-panel__button-txt-plate__bk {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(to left, transparent, rgba(18, 21, 31, 0.9) 75%, rgba(35, 37, 43, 0));
}

.action-panel__button-txt-plate__text {
  line-height: 1.2222222222rem;
}

.action-panel__unit-bracket {
  position: absolute;
  left: 0;
  width: 3.5555555556rem;
  height: 100%;
  background-image: url("blp:hud_unit-panel_bracket.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.action-panel__button-notification {
  position: absolute;
  width: 3.5555555556rem;
  height: 3.5555555556rem;
  transition: transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.action-panel__button-notification:nth-child(1) {
  top: 2.0555555556rem;
  right: 2.0555555556rem;
  transform: rotate(45deg);
}
.action-panel__button-notification:nth-child(1):hover, .action-panel__button-notification:nth-child(1).pressed {
  transform: rotate(45deg) translateY(-0.6666666667rem);
}
.action-panel__button-notification:nth-child(1) .action-panel__button-notification__bk {
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  background-image: url("blp:hud_turn_blkpiece_1.png");
  background-position: center;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  left: -50%;
  top: -50%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
.action-panel__button-notification:nth-child(1) .action-panel__button-notification__bk.animate-in {
  opacity: 0;
  animation-direction: normal;
  animation-delay: 0.125s;
  animation-name: turnActionSlideIn;
}
.action-panel__button-notification:nth-child(1) .action-panel__button-notification__bk.animate-out {
  opacity: 1;
  animation-delay: 0s;
  animation-direction: reverse;
  animation-name: turnActionSlideInVertical;
}
.action-panel__button-notification:nth-child(1) .action-panel__button-notification__icon {
  width: 2.6666666667rem;
  height: 2.6666666667rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  transform: rotate(-45deg);
}
.action-panel__button-notification:nth-child(2) {
  top: 5.3333333333rem;
  right: 0.6666666667rem;
  transform: rotate(90deg);
}
.action-panel__button-notification:nth-child(2):hover, .action-panel__button-notification:nth-child(2).pressed {
  transform: rotate(90deg) translateY(-0.6666666667rem);
}
.action-panel__button-notification:nth-child(2) .action-panel__button-notification__bk {
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  background-image: url("blp:hud_turn_blkpiece_2.png");
  background-position: center;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  left: -50%;
  top: -50%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
.action-panel__button-notification:nth-child(2) .action-panel__button-notification__bk.animate-in {
  opacity: 0;
  animation-direction: normal;
  animation-delay: 0.25s;
  animation-name: turnActionSlideIn;
}
.action-panel__button-notification:nth-child(2) .action-panel__button-notification__bk.animate-out {
  opacity: 1;
  animation-delay: 0s;
  animation-direction: reverse;
  animation-name: turnActionSlideInVertical;
}
.action-panel__button-notification:nth-child(2) .action-panel__button-notification__icon {
  width: 2.6666666667rem;
  height: 2.6666666667rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  transform: rotate(-90deg);
}
.action-panel__button-notification:nth-child(3) {
  top: 8.6111111111rem;
  right: 2.0555555556rem;
  transform: rotate(135deg);
}
.action-panel__button-notification:nth-child(3):hover, .action-panel__button-notification:nth-child(3).pressed {
  transform: rotate(135deg) translateY(-0.6666666667rem);
}
.action-panel__button-notification:nth-child(3) .action-panel__button-notification__bk {
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  background-image: url("blp:hud_turn_blkpiece_3.png");
  background-position: center;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  left: -50%;
  top: -50%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
.action-panel__button-notification:nth-child(3) .action-panel__button-notification__bk.animate-in {
  opacity: 0;
  animation-direction: normal;
  animation-delay: 0.375s;
  animation-name: turnActionSlideIn;
}
.action-panel__button-notification:nth-child(3) .action-panel__button-notification__bk.animate-out {
  opacity: 1;
  animation-delay: 0s;
  animation-direction: reverse;
  animation-name: turnActionSlideInVertical;
}
.action-panel__button-notification:nth-child(3) .action-panel__button-notification__icon {
  width: 2.6666666667rem;
  height: 2.6666666667rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  transform: rotate(-135deg);
}
.action-panel__button-notification:nth-child(4) {
  top: 10rem;
  right: 5.3333333333rem;
  transform: rotate(180deg);
}
.action-panel__button-notification:nth-child(4):hover, .action-panel__button-notification:nth-child(4).pressed {
  transform: rotate(180deg) translateY(-0.6666666667rem);
}
.action-panel__button-notification:nth-child(4) .action-panel__button-notification__bk {
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  background-image: url("blp:hud_turn_blkpiece_4.png");
  background-position: center;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  left: -50%;
  top: -50%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
.action-panel__button-notification:nth-child(4) .action-panel__button-notification__bk.animate-in {
  opacity: 0;
  animation-direction: normal;
  animation-delay: 0.5s;
  animation-name: turnActionSlideIn;
}
.action-panel__button-notification:nth-child(4) .action-panel__button-notification__bk.animate-out {
  opacity: 1;
  animation-delay: 0s;
  animation-direction: reverse;
  animation-name: turnActionSlideInVertical;
}
.action-panel__button-notification:nth-child(4) .action-panel__button-notification__icon {
  width: 2.6666666667rem;
  height: 2.6666666667rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  transform: rotate(-180deg);
}
.action-panel__button-notification:nth-child(5) {
  top: 8.6111111111rem;
  right: 8.6111111111rem;
  transform: rotate(225deg);
}
.action-panel__button-notification:nth-child(5):hover, .action-panel__button-notification:nth-child(5).pressed {
  transform: rotate(225deg) translateY(-0.6666666667rem);
}
.action-panel__button-notification:nth-child(5) .action-panel__button-notification__bk {
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  background-image: url("blp:hud_turn_blkpiece_5.png");
  background-position: center;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  left: -50%;
  top: -50%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
.action-panel__button-notification:nth-child(5) .action-panel__button-notification__bk.animate-in {
  opacity: 0;
  animation-direction: normal;
  animation-delay: 0.625s;
  animation-name: turnActionSlideIn;
}
.action-panel__button-notification:nth-child(5) .action-panel__button-notification__bk.animate-out {
  opacity: 1;
  animation-delay: 0s;
  animation-direction: reverse;
  animation-name: turnActionSlideInVertical;
}
.action-panel__button-notification:nth-child(5) .action-panel__button-notification__icon {
  width: 2.6666666667rem;
  height: 2.6666666667rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  transform: rotate(-225deg);
}
.action-panel__button-notification:nth-child(6) {
  top: 5.3333333333rem;
  right: 10rem;
  transform: rotate(270deg);
}
.action-panel__button-notification:nth-child(6):hover, .action-panel__button-notification:nth-child(6).pressed {
  transform: rotate(270deg) translateY(-0.6666666667rem);
}
.action-panel__button-notification:nth-child(6) .action-panel__button-notification__bk {
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  background-image: url("blp:hud_turn_blkpiece_6.png");
  background-position: center;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  left: -50%;
  top: -50%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
.action-panel__button-notification:nth-child(6) .action-panel__button-notification__bk.animate-in {
  opacity: 0;
  animation-direction: normal;
  animation-delay: 0.75s;
  animation-name: turnActionSlideIn;
}
.action-panel__button-notification:nth-child(6) .action-panel__button-notification__bk.animate-out {
  opacity: 1;
  animation-delay: 0s;
  animation-direction: reverse;
  animation-name: turnActionSlideInVertical;
}
.action-panel__button-notification:nth-child(6) .action-panel__button-notification__icon {
  width: 2.6666666667rem;
  height: 2.6666666667rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  transform: rotate(-270deg);
}
.action-panel__button-notification:nth-child(7) {
  top: 2.0555555556rem;
  right: 8.6111111111rem;
  transform: rotate(315deg);
}
.action-panel__button-notification:nth-child(7):hover, .action-panel__button-notification:nth-child(7).pressed {
  transform: rotate(315deg) translateY(-0.6666666667rem);
}
.action-panel__button-notification:nth-child(7) .action-panel__button-notification__bk {
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  background-image: url("blp:hud_turn_blkpiece_7.png");
  background-position: center;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  left: -50%;
  top: -50%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
.action-panel__button-notification:nth-child(7) .action-panel__button-notification__bk.animate-in {
  opacity: 0;
  animation-direction: normal;
  animation-delay: 0.875s;
  animation-name: turnActionSlideIn;
}
.action-panel__button-notification:nth-child(7) .action-panel__button-notification__bk.animate-out {
  opacity: 1;
  animation-delay: 0s;
  animation-direction: reverse;
  animation-name: turnActionSlideInVertical;
}
.action-panel__button-notification:nth-child(7) .action-panel__button-notification__icon {
  width: 2.6666666667rem;
  height: 2.6666666667rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  transform: rotate(-315deg);
}
.action-panel__button-notification:nth-child(8) {
  top: 0.6666666667rem;
  right: 5.3333333333rem;
  transform: rotate(360deg);
}
.action-panel__button-notification:nth-child(8):hover, .action-panel__button-notification:nth-child(8).pressed {
  transform: rotate(360deg) translateY(-0.6666666667rem);
}
.action-panel__button-notification:nth-child(8) .action-panel__button-notification__bk {
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  background-image: url("blp:hud_turn_blkpiece_8.png");
  background-position: center;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  left: -50%;
  top: -50%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
.action-panel__button-notification:nth-child(8) .action-panel__button-notification__bk.animate-in {
  opacity: 0;
  animation-direction: normal;
  animation-delay: 1s;
  animation-name: turnActionSlideIn;
}
.action-panel__button-notification:nth-child(8) .action-panel__button-notification__bk.animate-out {
  opacity: 1;
  animation-delay: 0s;
  animation-direction: reverse;
  animation-name: turnActionSlideInVertical;
}
.action-panel__button-notification:nth-child(8) .action-panel__button-notification__icon {
  width: 2.6666666667rem;
  height: 2.6666666667rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  transform: rotate(-360deg);
}

@keyframes turnActionSlideIn {
  0% {
    transform: translateX(-1.3333333333rem) scaleX(0.75);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    transform: translateX(0.2222222222rem) scaleX(1);
  }
  100% {
    transform: translateX(0rem) scaleX(1);
    opacity: 1;
  }
}
@keyframes turnActionSlideInVertical {
  0% {
    transform: translateY(1.3333333333rem) scaleX(0.75);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    transform: translateY(0.2222222222rem) scaleX(1);
  }
  100% {
    transform: translateY(0rem) scaleX(1);
    opacity: 1;
  }
}
@keyframes turnActionScale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.action_panel__mp-timer-countdown {
  background-image: url("blp:mp_timer_bk.png");
}

.action_panel__mp-timer-bk {
  background-image: url("blp:hud_turn_rad_bk.png");
  transform-origin: center center;
  display: block;
  clip-path: inset(0 50% 0 0);
  border-radius: 50%;
}

.action_panel__mp-timer-front {
  background-image: url("blp:hud_turn_rad.png");
  transform-origin: center center;
  display: block;
  clip-path: inset(0 50% 0 0);
  border-radius: 50%;
}

.action_panel__mp-timer-left-circle {
  animation-name: rotate-timer-first;
  animation-timing-function: linear;
}

.action_panel__mp-timer-right-circle {
  transform: rotate(180deg);
  animation-name: rotate-timer-second;
  animation-timing-function: linear;
}

.action_panel__mp-timer-right-bk-circle {
  transform: rotate(180deg);
}

.action_panel__mp-timer-left-bk-circle {
  animation-name: fade-in-bg;
  animation-timing-function: linear;
}

@keyframes fade-in-bg {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate-timer-second {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotate-timer-first {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
.action-panel__button-next-action {
  border-radius: 50%;
  position: absolute;
  top: 4rem;
  left: 4rem;
  right: 4rem;
  bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-panel__button-next-action:hover .action-panel__button-next-action__icon--hover {
  opacity: 1;
}
.action-panel__button-next-action:active .action-panel__button-next-action__icon--active, .action-panel__button-next-action.pressed .action-panel__button-next-action__icon--active,
.action-panel__button-next-action .action-panel__button--activate .action-panel__button-next-action__icon--active {
  opacity: 1;
}

.action-panel__button-next-action__icon {
  width: 100%;
  height: 100%;
  background-image: url("blp:ntf_next_turn.png");
  background-position: center;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}
.action-panel__button-next-action__icon.animate-in {
  animation-direction: normal;
  animation-duration: 0.25s;
  animation-name: turnActionScale;
  animation-timing-function: ease-out;
}

.action-panel__button-next-action__icon--hover {
  opacity: 0;
  background-image: url("blp:ntf_block_hov.png");
  background-size: cover;
}

.action-panel__button-next-action__icon--active {
  opacity: 0;
  background-image: url("blp:ntf_block_prs.png");
  background-size: cover;
}

.action-panel__last-player-message {
  background-image: linear-gradient(to right, transparent, rgba(18, 21, 31, 0.3) 20%, rgba(18, 21, 31, 0.7) 50%, rgba(35, 37, 43, 0.4));
}