<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Leaders>
		<Row LeaderType="LEADER_TOYOTOMI_HIDEYOSHI" LeaderName="LOC_LEADER_TOYOTOMI_HIDEYOSHI_NAME" LeaderDescription="LOC_LEADER_TOYOTOMI_HIDEYOSHI_DESCRIPTION" LeaderIcon="LEADER_TOYOTOMI_HIDEYOSHI" LeaderIntroText="LOC_LOADING_LEADER_INTRO_TEXT_TOYOTOMI_HIDEYOSHI"/>
	</Leaders>
	<LeaderItems>
		<Row LeaderType="LEADER_TOYOTOMI_HIDEYOSHI" Type="TRAIT_LEADER_TOYOTOMI_HIDEYOSHI_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_LEADER_TOYOTOMI_HIDEYOSHI_ABILITY_NAME" Description="LOC_TRAIT_LEADER_TOYOTOMI_HIDEYOSHI_ABILITY_DESCRIPTION"/>
	</LeaderItems>
	<LeaderTags>
		<Row LeaderType="LEADER_TOYOTOMI_HIDEYOSHI" TagType="TAG_TRAIT_CULTURAL"/>
		<Row LeaderType="LEADER_TOYOTOMI_HIDEYOSHI" TagType="TAG_TRAIT_MILITARISTIC"/>
		<Row LeaderType="LEADER_TOYOTOMI_HIDEYOSHI" TagType="TAG_GENDER_MALE"/>
	</LeaderTags>
	<LeaderQuotes>
		<Row LeaderType="LEADER_TOYOTOMI_HIDEYOSHI" Quote="LOC_MAIN_CHAR_SELECT_LEADER_TOYOTOMI_HIDEYOSHI_ANY"/>
	</LeaderQuotes>
	<LeaderCivilizationBias>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" LeaderDomain="StandardLeaders" LeaderType="LEADER_TOYOTOMI_HIDEYOSHI" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_TOYOTOMI_HIDEYOSHI_ROME_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MONGOLIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_TOYOTOMI_HIDEYOSHI" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_TOYOTOMI_HIDEYOSHI_MONGOLIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEIJI" LeaderDomain="StandardLeaders" LeaderType="LEADER_TOYOTOMI_HIDEYOSHI" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_TOYOTOMI_HIDEYOSHI_MEIJI_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_FRENCH_EMPIRE" LeaderDomain="StandardLeaders" LeaderType="LEADER_TOYOTOMI_HIDEYOSHI" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_TOYOTOMI_HIDEYOSHI_FRENCH_EMPIRE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE"/>
	</LeaderCivilizationBias>
	<LeaderUnlocks>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_TOYOTOMI_HIDEYOSHI" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_MONGOLIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MONGOLIA_NAME" Description="LOC_CIVILIZATION_MONGOLIA_DESCRIPTION" Icon="CIVILIZATION_MONGOLIA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_TOYOTOMI_HIDEYOSHI" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_FRENCH_EMPIRE" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_FRENCH_EMPIRE_NAME" Description="LOC_CIVILIZATION_FRENCH_EMPIRE_DESCRIPTION" Icon="CIVILIZATION_FRENCH_EMPIRE"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_TOYOTOMI_HIDEYOSHI" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MEIJI" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MEIJI_NAME" Description="LOC_CIVILIZATION_MEIJI_DESCRIPTION" Icon="CIVILIZATION_MEIJI"/>
	</LeaderUnlocks>
	<OwnershipConditions>
		<Row ItemType="LEADER_TOYOTOMI_HIDEYOSHI" Action="LOC_LOCKED_INCLUDED_WITH_CONTENT" />
	</OwnershipConditions>
	<Mementos>
		<Row Type="MEMENTO_TOYOTOMI_HIDEYOSHI_KABUTO" Name="LOC_MEMENTO_TOYOTOMI_HIDEYOSHI_KABUTO_NAME" Description="LOC_MEMENTO_TOYOTOMI_HIDEYOSHI_KABUTO_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_TOYOTOMI_HIDEYOSHI_KABUTO_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_TOYOTOMI_HIDEYOSHI_KABUTO_TITLE" Tag="LOC_ATTRIBUTE_DIPLOMATIC"/>
		<Row Type="MEMENTO_TOYOTOMI_HIDEYOSHI_HONEBAMI" Name="LOC_MEMENTO_TOYOTOMI_HIDEYOSHI_HONEBAMI_NAME" Description="LOC_MEMENTO_TOYOTOMI_HIDEYOSHI_HONEBAMI_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_TOYOTOMI_HIDEYOSHI_HONEBAMI_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_TOYOTOMI_HIDEYOSHI_HONEBAMI_UNLOCK_TITLE" Tag="LOC_ATTRIBUTE_MILITARISTIC"/>
		<Row Type="MEMENTO_TOYOTOMI_HIDEYOSHI_TEA_CEREMONY_KIT" Name="LOC_MEMENTO_TOYOTOMI_HIDEYOSHI_TEA_CEREMONY_KIT_NAME" Description="LOC_MEMENTO_TOYOTOMI_HIDEYOSHI_TEA_CEREMONY_KIT_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_TOYOTOMI_HIDEYOSHI_TEA_CEREMONY_KIT_FUNCTIONAL_DESCRIPTION" LeaderSpecific="LEGEND_PATH_TOYOTOMI_HIDEYOSHI" UnlockTitle="LOC_MEMENTO_TOYOTOMI_HIDEYOSHI_TEA_CEREMONY_KIT_UNLOCK_TITLE" Tag="LOC_ATTRIBUTE_CULTURAL"/>
	</Mementos>
</Database>