.screen-dialog-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.screen-dialog-box .dialog-stepper {
  align-items: center;
  justify-content: center;
}
.screen-dialog-box .multi-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.screen-dialog-box fxs-header div {
  max-width: 90%;
}