.end-results-menu-border {
  width: 96%;
  height: 98%;
  border-image: url("fs://game/base_frame-filigree.png");
  border-image-slice: 114 0 0 114 fill;
  border-image-width: 7.8888888889rem 7.8888888889rem 0.0555555556rem 7.8888888889rem;
  fxs-border-image-tint: rgba(254, 254, 254, 0.35);
  opacity: 0.3;
}
@media (max-height: 55.5555555556rem) {
  .end-results-menu-border {
    top: 0.8888888889rem;
    width: 100%;
  }
}

@media (max-height: 55.5555555556rem) {
  .end-results-menu-border-left {
    left: 0.8888888889rem;
  }
}

@media (max-height: 55.5555555556rem) {
  .end-results-menu-border-right {
    right: 0.8888888889rem;
  }
}

.end-results-main-container {
  width: 33.3333333333rem;
}
@media (max-height: 55.5555555556rem) {
  .end-results-main-container {
    top: 0.8888888889rem;
  }
}

.end-results-main-vslot {
  height: 90%;
}

.end-results-bg-main {
  width: 36.8888888889rem;
  height: 27.7777777778rem;
}

.end-results-portrait {
  top: 8.3333333333rem;
  left: 11.5555555556rem;
  width: 14.2222222222rem;
  height: 16.6666666667rem;
}

.end-results-portrait-bg {
  top: 11.7222222222rem;
  left: 8.8333333333rem;
  width: 14.2222222222rem;
  height: 16.6666666667rem;
  background-image: url("fs://game/final_leader-hex.png");
  background-size: cover;
}

.end-results-portrait-overlay-back {
  top: 24.4444444444rem;
  left: 16.8333333333rem;
  background-image: url("fs://game/final_civ-color-bg.png");
  background-size: cover;
  fxs-background-image-tint: var(--player-color-primary);
}

.end-results-portrait-overlay-middle {
  top: 24.4444444444rem;
  left: 16.8333333333rem;
  background-image: url("fs://game/final_civ-frame.png");
  background-size: cover;
}

.end-results-portrait-overlay-icon {
  top: 24.4444444444rem;
  left: 16.8333333333rem;
}

.end-results-title {
  top: 3rem;
  font-size: 3.5555555556rem;
  line-height: 3.5555555556rem;
  letter-spacing: 2.1111111111rem;
}