.mp-legal {
  pointer-events: auto;
}
.mp-legal .fxs-close-button {
  position: absolute;
  right: 0;
  top: 0;
}

.mp-legal-button-container-inner {
  display: flex;
  justify-content: space-between;
}

.mp-legal__scrollable-regular-height {
  height: 95%;
}

.mp-legal__hidden {
  display: none;
}

.mp-legal__frame-small-width {
  width: 50rem;
}