<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Leaders>
		<Row LeaderType="LEADER_NAPOLEON" LeaderName="LOC_LEADER_NAPOLEON_NAME" LeaderDescription="LOC_LEADER_NAPOLEON_DESCRIPTION" LeaderIcon="LEADER_NAPOLEON"/>
	</Leaders>
	<LeaderItems>
		<Row LeaderType="LEADER_NAPOLEON" Type="TRAIT_LEADER_NAPOLEON_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_LEADER_NAPOLEON_ABILITY_NAME" Description="LOC_TRAIT_LEADER_NAPOLEON_ABILITY_DESCRIPTION"/>
	</LeaderItems>
	<LeaderTags>
		<Row LeaderType="LEADER_NAPOLEON" TagType="TAG_TRAIT_ECONOMIC"/>
		<Row LeaderType="LEADER_NAPOLEON" TagType="TAG_TRAIT_POLITICAL"/>
		<Row LeaderType="LEADER_NAPOLEON" TagType="TAG_GENDER_MALE"/>
	</LeaderTags>
	<LeaderQuotes>
		<Row LeaderType="LEADER_NAPOLEON" Quote="LOC_MAIN_CHAR_SELECT_LEADER_NAPOLEON_ANY"/>
	</LeaderQuotes>
	<LeaderCivilizationBias>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_PERSIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_NAPOLEON_EGYPT_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_NAPOLEON_ROME_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_NORMAN" LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_NAPOLEON_NORMAN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SPAIN" LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_NAPOLEON_SPAIN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_FRENCH_EMPIRE" LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON" Bias="4" ReasonType="LOC_UNLOCK_PLAY_AS_NAPOLEON_FRENCH_EMPIRE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_PRUSSIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_NAPOLEON_RUSSIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE"/>
	</LeaderCivilizationBias>
	<LeaderUnlocks>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_NORMAN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_NORMAN_NAME" Description="LOC_CIVILIZATION_NORMAN_DESCRIPTION" Icon="CIVILIZATION_NORMAN"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SPAIN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SPAIN_NAME" Description="LOC_CIVILIZATION_SPAIN_DESCRIPTION" Icon="CIVILIZATION_SPAIN"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_FRENCH_EMPIRE" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_FRENCH_EMPIRE_NAME" Description="LOC_CIVILIZATION_FRENCH_EMPIRE_DESCRIPTION" Icon="CIVILIZATION_FRENCH_EMPIRE"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_PRUSSIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_PRUSSIA_NAME" Description="LOC_CIVILIZATION_PRUSSIA_DESCRIPTION" Icon="CIVILIZATION_PRUSSIA"/>
	</LeaderUnlocks>
	<OwnershipConditions>
		<Row ItemType="LEADER_NAPOLEON" Action="LOC_LOCKED_LINK_ACCOUNT" />
	</OwnershipConditions>
	<Mementos>
		<Row Type="MEMENTO_NAPOLEON_EMPEROR_PORTRAIT_JOSEPHINE" Name="LOC_MEMENTO_NAPOLEON_EMPEROR_PORTRAIT_JOSEPHINE_NAME" Description="LOC_MEMENTO_NAPOLEON_EMPEROR_PORTRAIT_JOSEPHINE_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_NAPOLEON_EMPEROR_PORTRAIT_JOSEPHINE_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_NAPOLEON_EMPEROR_PORTRAIT_JOSEPHINE_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
		<Row Type="MEMENTO_NAPOLEON_EMPEROR_GREEN_COLONEL_JACKET" Name="LOC_MEMENTO_NAPOLEON_EMPEROR_GREEN_COLONEL_JACKET_NAME" Description="LOC_MEMENTO_NAPOLEON_EMPEROR_GREEN_COLONEL_JACKET_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_NAPOLEON_EMPEROR_GREEN_COLONEL_JACKET_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_NAPOLEON_EMPEROR_GREEN_COLONEL_JACKET_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
		<Row Type="MEMENTO_NAPOLEON_EMPEROR_CROWN_OF_NAPOLEON" Name="LOC_MEMENTO_NAPOLEON_EMPEROR_CROWN_OF_NAPOLEON_NAME" Description="LOC_MEMENTO_NAPOLEON_EMPEROR_CROWN_OF_NAPOLEON_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_NAPOLEON_EMPEROR_CROWN_OF_NAPOLEON_FUNCTIONAL_DESCRIPTION" LeaderSpecific="LEGEND_PATH_NAPOLEON" UnlockTitle="LOC_MEMENTO_NAPOLEON_EMPEROR_CROWN_OF_NAPOLEON_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
	</Mementos>
</Database>