@keyframes floatWorldAnchorText {
  0% {
    transform: translateX(-50%) translateY(0rem) scale(0.5);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    transform: translateX(-50%) translateY(-2.6666666667rem) scale(1);
  }
  80% {
    transform: translateX(-50%) translateY(-3.5555555556rem) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-4.4444444444rem) scale(1);
    opacity: 0;
  }
}
.world-anchor-text {
  font-weight: 700;
  animation-name: floatWorldAnchorText;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955), linear;
  animation-duration: 7s, 7s;
}