.screen-profile-page {
  margin-top: 5.5555555556rem;
  margin-bottom: 5.5555555556rem;
  margin-left: 2.5555555556rem;
  margin-right: 2.5555555556rem;
}
@media (max-height: 55.5555555556rem), (experience: mobile) {
  .screen-profile-page {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.profile-main-frame {
  background: linear-gradient(#12151f, #23252b);
  border-style: solid;
  border-width: 0.1666666667rem;
  border-image: linear-gradient(to bottom, #8c7e62, #4c473d) 1;
}
@media (experience: mobile) {
  .profile-main-frame {
    border-width: 0;
    background: none;
  }
}
.profile-main-frame .img-frame-filigree {
  display: none;
}
@media (experience: mobile) {
  .profile-main-frame .img-frame-filigree {
    display: block;
  }
}
@media (experience: mobile) {
  .profile-main-frame .fxs-close-button {
    top: 2.8888888889rem;
    right: 2.1111111111rem;
  }
}

.profile-width-200 {
  width: 11.1111111111rem;
}

@media (max-width: 106.6111111111rem) {
  .profile-main-tab-left-shift {
    left: -11.1111111111rem;
  }
}

.profile-main-tab {
  width: 41.6666666667rem;
}

.profile-gradient-box {
  background: linear-gradient(#12151f, #23252b);
  border-style: solid;
  border-width: 0.1666666667rem;
  border-image: linear-gradient(to bottom, #8c7e62, #4c473d) 1;
}

.profile-leader-laurels {
  background-image: url("fs://game/popup_laurels.png");
}

.profile-leader-button:hover .profile-leader-button-image, .profile-leader-button:focus .profile-leader-button-image, .profile-leader-button.focused .profile-leader-button-image, .profile-leader-button.pressed .profile-leader-button-image {
  background-image: url("fs://game/shell_base-ring-focus.png");
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.1);
}

.profile-leader-button-selected .profile-leader-button-ring-selected {
  display: flex;
}

.profile-leader-button-image {
  background-image: url("fs://game/shell_base-ring.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 7.1111111111rem;
  min-height: 7.1111111111rem;
}

.profile-leader-icon-locked {
  filter: grayscale(1);
}

.profile-progress-list-item {
  min-height: 6.2777777778rem;
  border-image: url("fs://game/hud_sidepanel_list-bg.png");
  border-image-slice: 8 8 8 8 fill;
  border-image-width: 0.4444444444rem;
}
.profile-progress-list-item:hover, .profile-progress-list-item:focus, .profile-progress-list-item.pressed {
  border-image: url("fs://game/hud_list-focus_frame.png");
  border-image-slice: 20 32 20 32;
  border-image-width: 1.1111111111rem 1.7777777778rem;
  border-image-outset: 0.3333333333rem 0.2777777778rem;
  background: linear-gradient(90deg, #4c473d 0%, rgba(5, 7, 13, 0.5) 100%);
}
.profile-progress-list-item.chooser-item_selected .chooser-item_selected-border {
  display: flex;
}
.profile-progress-list-item.chooser-item_selected:hover, .profile-progress-list-item.chooser-item_selected:focus, .profile-progress-list-item.chooser-item_selected.pressed {
  border-image: url("fs://game/hud_list-focus_frame.png");
  border-image-slice: 20 32 20 32;
  border-image-width: 1.1111111111rem 1.7777777778rem;
  border-image-outset: 0.3333333333rem 0.2777777778rem;
  background: linear-gradient(90deg, #4c473d 0%, rgba(5, 7, 13, 0.5) 100%);
}

.profile-badge-row {
  width: 31.1111111111rem;
}
@media (max-width: 106.6111111111rem) {
  .profile-badge-row {
    width: 23.8888888889rem;
  }
}

.profile-progress-left {
  width: 35.5555555556rem;
}
@media (max-height: 55.5555555556rem) {
  .profile-progress-left {
    height: 37.5555555556rem;
  }
}
@media (max-width: 106.6111111111rem) {
  .profile-progress-left {
    width: 27rem;
  }
}

.profile-progress-left-scrollable {
  width: 33.1111111111rem;
}
@media (max-height: 55.5555555556rem) {
  .profile-progress-left-scrollable {
    height: 36.6666666667rem;
  }
}
@media (max-height: 49.9444444444rem) {
  .profile-progress-left-scrollable {
    height: 25.5555555556rem;
  }
}
@media (max-width: 106.6111111111rem) {
  .profile-progress-left-scrollable {
    width: 24.7777777778rem;
  }
}

.profile-leader-button-ring-selected {
  background-image: url("fs://game/shell_base-ring-selected.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 7.8888888889rem;
  min-height: 7.8888888889rem;
  display: none;
}

.profile-leader-button-level-circle {
  background-image: url("fs://game/shell_number-circle.png");
  line-height: 1.7777777778rem;
}

.profile-customize-markall {
  margin-top: 0.8888888889rem;
}
@media (max-height: 55.5555555556rem) {
  .profile-customize-markall {
    margin-top: -15.5555555556rem;
  }
}
@media (max-height: 49.9444444444rem) {
  .profile-customize-markall {
    margin-top: -26.6666666667rem;
  }
}
@media (max-width: 106.6111111111rem) {
  .profile-customize-markall {
    margin-left: 12rem;
  }
}

.profile-customize-badge-title {
  overflow-wrap: break-word;
}

@media (min-width: 71.1111111111rem) {
  .profile-customize-badges-outline-left {
    width: 36.1111111111rem;
  }
}
@media (min-width: 80rem) {
  .profile-customize-badges-outline-left {
    width: 42.2222222222rem;
  }
}
@media (min-width: 88.8888888889rem) {
  .profile-customize-badges-outline-left {
    width: 49.4444444444rem;
  }
}

.profile-customize-banners-banner {
  width: 40vw;
  height: 12vh;
  margin-bottom: 1vh;
  background-image: url("fs://game/backg_base_01");
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-customize-highlight {
  background: linear-gradient(90deg, #4c473d 0%, rgba(5, 7, 13, 0.5) 100%);
  display: none;
}

.profile-w-100 {
  width: 22.2222222222rem;
}

.profile-customize-container {
  margin: 0.2222222222rem;
}
.profile-customize-container:hover .profile-customize-highlight, .profile-customize-container:focus .profile-customize-highlight, .profile-customize-container.pressed .profile-customize-highlight {
  display: flex;
}

.profile-customize-select {
  border-image: url("fs://game/hud_list-focus_frame.png");
  border-image-slice: 20 32 20 32;
  border-image-width: 1.1111111111rem 1.7777777778rem;
  border-image-outset: 0.3333333333rem 0.2777777778rem;
  display: none;
}

.profile-customize-color-bg {
  background-image: url("fs://game/prof_btn_bk.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-color: rgb(127, 129, 135);
  border-style: solid;
  border-width: 0rem 0rem 0.3333333333rem 0rem;
}

.profile-half-divider {
  background-image: url("fs://game/prof_div_1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-full-divider {
  background-image: url("fs://game/prof_div_full");
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-customize-new-icon {
  display: none;
}

.profile-customize-locked-icon {
  display: none;
}

.profile-customize-new .profile-customize-new-icon {
  display: flex;
}

.profile-customize-locked .profile-customize-locked-icon {
  display: flex;
}

.profile-customize-selected .profile-customize-select {
  display: flex;
}

.profile-customize-title-bg {
  border-image: url("fs://game/hud_sidepanel_list-bg.png");
  border-image-slice: 8 8 8 8 fill;
  border-image-width: 0.4444444444rem;
}

.profile-challenges-frame {
  width: 83.3333333333rem;
}
@media (max-width: 106.6111111111rem) {
  .profile-challenges-frame {
    width: 70rem;
  }
}

.profile-challenges-left-scrollable-container {
  width: 32.7777777778rem;
}
@media (max-width: 106.6111111111rem) {
  .profile-challenges-left-scrollable-container {
    width: 27.2222222222rem;
  }
}

.profile-challenges-left-scrollable {
  width: 31.6666666667rem;
}
@media (max-width: 106.6111111111rem) {
  .profile-challenges-left-scrollable {
    width: 27.5555555556rem;
  }
}

.profile-challenges-control-bar {
  max-width: 83.3333333333rem;
}

.profile-challenges-sort-arrow:hover, .profile-challenges-sort-arrow:focus, .profile-challenges-sort-arrow.pressed {
  filter: brightness(200%);
}

.profile-challenges-sort-text:focus {
  background-color: #4c5366;
}

.profile-challenges-outer-frame {
  width: 100%;
  height: 50vh;
}

.profile-challenges-left-column {
  display: flex;
  width: 30%;
}

.profile-challenges-right-column {
  display: flex;
  width: 68%;
  margin-left: 1.7777777778rem;
}

.profile-challenges-item-card:hover, .profile-challenges-item-card:focus, .profile-challenges-item-card.pressed {
  border-image: url("fs://game/hud_list-focus_frame.png");
  border-image-slice: 20 32 20 32;
  border-image-width: 1.1111111111rem 1.7777777778rem;
  border-image-outset: 0.3333333333rem 0.2777777778rem;
  background: linear-gradient(90deg, #4c473d 0%, rgba(5, 7, 13, 0.5) 100%);
}

.profile-challenges-rcitem-outer {
  width: 47.6111111111rem;
  min-height: 3.5555555556rem;
}
@media (max-width: 106.6111111111rem) {
  .profile-challenges-rcitem-outer {
    width: 38.8888888889rem;
  }
}

.profile-challenges-rcitem-text {
  width: 34.6666666667rem;
}
@media (max-width: 106.6111111111rem) {
  .profile-challenges-rcitem-text {
    width: 26.6666666667rem;
  }
}

@media (max-width: 106.6111111111rem) {
  .profile-hof-difficulty-sort {
    left: -13.3333333333rem;
  }
}

@media (max-width: 106.6111111111rem) {
  .profile-hof-speed-sort {
    left: 12.2222222222rem;
  }
}

.profile-hof-left-sort-text:focus {
  background-color: #4c5366;
}

.profile-hof-right-sort-text:focus {
  background-color: #4c5366;
}

.profile-hof-general-gradient-box {
  width: 94.4444444444rem;
  height: 36.1111111111rem;
}
@media (max-height: 55.5555555556rem) {
  .profile-hof-general-gradient-box {
    height: 38.8888888889rem;
  }
}
@media (max-height: 49.9444444444rem) {
  .profile-hof-general-gradient-box {
    height: 27.7777777778rem;
  }
}
@media (max-width: 106.6111111111rem) {
  .profile-hof-general-gradient-box {
    width: 66.6666666667rem;
  }
}

.profile-hof-general-scrollable {
  width: 93.3333333333rem;
}
@media (max-height: 55.5555555556rem) {
  .profile-hof-general-scrollable {
    height: 37.7777777778rem;
  }
}
@media (max-height: 49.9444444444rem) {
  .profile-hof-general-scrollable {
    height: 26.6666666667rem;
  }
}
@media (max-width: 106.6111111111rem) {
  .profile-hof-general-scrollable {
    width: 65.5555555556rem;
  }
}

.profile-hof-general-half-inner-frame {
  width: 83.3333333333rem;
}
@media (max-width: 106.6111111111rem) {
  .profile-hof-general-half-inner-frame {
    margin-left: 1.7777777778rem;
    width: 61.1111111111rem;
  }
}

.profile-hof-general-half-content {
  width: 27.7777777778rem;
}

.profile-hof-general-completion:focus, .profile-hof-general-completion:hover, .profile-hof-general-completion.pressed {
  background-color: #4c5366;
}

.profile-hof-general-full-outer:focus, .profile-hof-general-full-outer:hover, .profile-hof-general-full-outer.pressed {
  background-color: #4c5366;
}

@media (max-width: 106.6111111111rem) {
  .profile-hof-general-nameplace {
    width: 23.3333333333rem;
  }
}

@media (max-height: 55.5555555556rem) {
  .profile-hof-leaders-main-hslot {
    top: 3.8888888889rem;
  }
}

@media (max-height: 55.5555555556rem) {
  .profile-hof-civs-left {
    height: 37.2222222222rem;
  }
}
@media (max-height: 49.9444444444rem) {
  .profile-hof-civs-left {
    height: 26.1111111111rem;
  }
}
@media (max-width: 106.6111111111rem) {
  .profile-hof-civs-left {
    width: 32.2222222222rem;
  }
}

@media (max-height: 55.5555555556rem) {
  .profile-hof-civs-left-scrollable {
    height: 31.1111111111rem;
  }
}
@media (max-height: 49.9444444444rem) {
  .profile-hof-civs-left-scrollable {
    height: 20rem;
  }
}

@media (max-height: 55.5555555556rem) {
  .profile-hof-age-select {
    margin-top: 0.4444444444rem;
  }
}

@media (max-width: 106.6111111111rem) {
  .profile-hof-civ-buttons {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-height: 55.5555555556rem) {
  .profile-hof-civ-main-hslot {
    top: 3.8888888889rem;
  }
}

.profile-hof-history-scrollable {
  width: 100rem;
  height: 43.3333333333rem;
}
@media (max-height: 55.5555555556rem) {
  .profile-hof-history-scrollable {
    height: 36.6666666667rem;
  }
}
@media (max-height: 49.9444444444rem) {
  .profile-hof-history-scrollable {
    height: 25.5555555556rem;
  }
}
@media (max-width: 106.6111111111rem) {
  .profile-hof-history-scrollable {
    width: 65.5555555556rem;
  }
}

.profile-hof-history-card:focus, .profile-hof-history-card:hover, .profile-hof-history-card.pressed {
  background-color: #4c5366;
}

.profile-hof-history-gamecol {
  width: 7.1111111111rem;
}
@media (max-width: 106.6111111111rem) {
  .profile-hof-history-gamecol {
    width: 2.6666666667rem;
  }
}

.profile-hof-history-portraitcol {
  width: 5.3333333333rem;
}
@media (max-width: 106.6111111111rem) {
  .profile-hof-history-portraitcol {
    width: 3.5555555556rem;
  }
}

.profile-hof-history-civiconcol {
  width: 5.3333333333rem;
}
@media (max-width: 106.6111111111rem) {
  .profile-hof-history-civiconcol {
    width: 4.4444444444rem;
  }
}

.profile-hof-history-leadercivcol {
  width: 22.2222222222rem;
}
@media (max-width: 106.6111111111rem) {
  .profile-hof-history-leadercivcol {
    width: 11.1111111111rem;
  }
}

.profile-hof-history-agecol {
  width: 7.7777777778rem;
}

.profile-hof-history-datecol {
  width: 11.1111111111rem;
}

.profile-leaderboards-control-strip {
  margin-bottom: 0.8888888889rem;
  align-self: center;
}

.profile-leaderboard-outer-box {
  pointer-events: none;
  position: relative;
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  border-style: none;
}
.profile-leaderboard-outer-box .leaderboard-position-box {
  display: flex;
  width: 16%;
  align-items: center;
}
.profile-leaderboard-outer-box .leaderboard-name-box {
  display: flex;
  width: 20%;
  align-items: center;
}
.profile-leaderboard-outer-box .leaderboard-score-box {
  display: flex;
  width: 16%;
  align-items: center;
}
.profile-leaderboard-outer-box .leaderboard-date-box {
  display: flex;
  width: 16%;
  align-items: center;
}
.profile-leaderboard-outer-box .leaderboard-leader-box {
  display: flex;
  width: 16%;
  align-items: center;
}
.profile-leaderboard-outer-box .leaderboard-civ-box {
  display: flex;
  width: 16%;
  align-items: center;
}
.profile-leaderboard-outer-box .leaderboard-text {
  font-size: 1rem;
}
.profile-leaderboard-outer-box .leaderboard-name-text {
  font-size: 1rem;
  width: 75%;
  overflow: hidden;
}

.profile-leaderboard-outer-box-item {
  height: 10vh;
  border-style: solid;
  border-width: 0.0555555556rem;
  border-color: #4c5366;
}
.profile-leaderboard-outer-box-item:focus {
  background-color: #616266;
}

.profile-reward-right-item {
  width: 32.6666666667rem;
}
@media (max-width: 106.6111111111rem) {
  .profile-reward-right-item {
    width: 23.3333333333rem;
  }
}