.screen-victory-achieved {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26.6666666667rem;
  height: 40rem;
}

.victory-achieved__victory-popup-container {
  border-image: url("fs://game/hud_unit-panel_box-bg");
  border-image-slice: 30 fill;
  border-image-width: auto;
  border-image-outset: 0.9444444444rem 0.7222222222rem;
}

.victory-achieved__top-frame-filigree {
  background-image: url("fs://game/popup_paneltop_wide");
}

.victory-achieved__portrait-image {
  width: 100%;
  height: 100%;
}

.victory-achieved__victory-icon-laurels {
  background-image: url("fs://game/popup_gold_laurels");
}

.victory-achieved__rewards-container-filigree {
  background-image: url("fs://game/popup_middle_decor");
}

.victory-achieved__rewards-container-background {
  background: linear-gradient(180deg, rgba(5, 7, 13, 0.4) 0%, rgba(5, 7, 13, 0.2) 50.5%, rgba(5, 7, 13, 0.35) 100%);
}

.victory-achieved__rewards-container-bar {
  border-image: url("fs://game/hud_section-line.png");
  border-image-slice: 4 32 0 32 fill;
  border-image-width: auto;
  border-image-outset: 0rem 0.1111111111rem;
  border-image-repeat: stretch;
}
.victory-achieved__rewards-container-bar.bottom {
  transform: scaleY(-1);
}