@media (experience: mobile) {
  screen-victory-progress .fxs-close-button {
    top: 1.4444444444rem;
    right: 2.1111111111rem;
  }
}

.progression_nav {
  max-width: 74.4444444444rem;
}
@media (max-height: 55.5555555556rem), (max-aspect-ratio: 3/2) {
  .progression_nav {
    width: 95%;
  }
}
@media (experience: mobile) {
  .progression_nav {
    width: 90%;
  }
}

.progression_content-wrapper {
  max-width: 74.4444444444rem;
}

.progression_ranking-nav {
  max-width: 74.4444444444rem;
  height: 2.6666666667rem;
}
@media (max-height: 55.5555555556rem), (max-aspect-ratio: 3/2) {
  .progression_ranking-nav {
    width: 90%;
  }
}

@media (max-height: 55.5555555556rem), (max-aspect-ratio: 3/2) {
  .age-rankings_portrait {
    width: 3.3333333333rem;
    height: 3.3333333333rem;
  }
}

@media (max-height: 55.5555555556rem), (max-aspect-ratio: 3/2) {
  .victory-points_icon {
    width: 3.8888888889rem;
    height: 3.8888888889rem;
  }
}

@media (max-height: 55.5555555556rem), (max-aspect-ratio: 3/2) {
  .legacy-points__tab-wrapper {
    margin-top: 1.1111111111rem;
  }
}

@media (max-height: 55.5555555556rem), (max-aspect-ratio: 3/2) {
  .victory-progress {
    padding-top: 1.3888888889rem;
  }
}
@media (experience: mobile) {
  .victory-progress {
    padding-top: 0.5555555556rem;
  }
}

@media (max-height: 55.5555555556rem), (max-aspect-ratio: 3/2) {
  .progression_header-wrapper {
    padding-bottom: 0.5555555556rem;
  }
}