@keyframes player-panel-animate-in {
  0% {
    opacity: 0;
    transform: translateX(0%) translateY(-100vh) scale(1);
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: translateX(0%) translateY(0vh) scale(1);
  }
}
@keyframes other-player-panel-animate-in {
  0% {
    opacity: 0;
    transform: translateX(0%) translateY(-100vh) scale(1);
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: translateX(0%) translateY(0vh) scale(1);
  }
}
.panel-diplomacy__leader-name-header {
  text-shadow: 0.0555555556rem 0.0555555556rem rgba(0, 0, 0, 0.87), 0.1111111111rem 0.1111111111rem rgba(0, 0, 0, 0.8), 0.1388888889rem 0.1388888889rem rgba(0, 0, 0, 0.5);
}

.panel-diplomacy__civ-name-header {
  text-shadow: 0.0555555556rem 0.0555555556rem rgba(0, 0, 0, 0.87), 0.0833333333rem 0.0833333333rem rgba(0, 0, 0, 0.8), 0.1111111111rem 0.1111111111rem rgba(0, 0, 0, 0.5);
}

.panel-diplomacy-actions {
  position: relative;
  pointer-events: auto;
  display: flex;
  transform-origin: 50% 100%;
  animation-name: player-panel-animate-in;
  animation-duration: 0.375s;
  animation-delay: 0.0625s;
  animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  animation-fill-mode: both;
}
.panel-diplomacy-actions.independent .actions-horizontal-container {
  bottom: 16.6666666667rem;
}
@media (max-height: 55.5555555556rem) {
  .panel-diplomacy-actions.independent .actions-horizontal-container {
    bottom: -1.7777777778rem;
  }
}
@media (experience: mobile) {
  .panel-diplomacy-actions.independent .actions-horizontal-container {
    top: 0.3333333333rem;
    bottom: -1.1111111111rem;
  }
}
.panel-diplomacy-actions.independent .subsystem-frame__diplo-tint {
  visibility: hidden;
}
@media (experience: mobile) {
  .panel-diplomacy-actions.other-player-panel .actions-horizontal-container {
    top: 0.3333333333rem;
    bottom: -1.1111111111rem;
  }
}
.panel-diplomacy-actions.other-player-panel .fxs-scrollbar-container {
  right: 0;
}
.panel-diplomacy-actions.other-player-panel .panel-diplomacy-actions__header-button-container {
  display: flex;
}
.panel-diplomacy-actions.other-player-panel .panel-diplomacy-actions__ongoing-actions-container {
  right: -6.6666666667rem;
}
.panel-diplomacy-actions.other-player-panel .panel-diplomacy-actions__ongoing-action-item {
  flex-direction: row-reverse;
}
.panel-diplomacy-actions.other-player-panel.independent .panel-diplomacy-actions__header-button-container {
  display: none;
}
.panel-diplomacy-actions.other-player-panel.independent fxs-tab-bar {
  visibility: hidden;
}
.panel-diplomacy-actions.other-player-panel.independent fxs-scrollable.subsystem-frame__content {
  top: -3.8888888889rem;
}
@media (experience: mobile) {
  .panel-diplomacy-actions.other-player-panel.independent fxs-scrollable.subsystem-frame__content {
    margin-bottom: -2.7777777778rem;
  }
}
@media (experience: mobile) {
  .panel-diplomacy-actions.player-panel .actions-horizontal-container {
    top: 0.3333333333rem;
    bottom: -1.1111111111rem;
  }
}
.panel-diplomacy-actions.player-panel .panel-diplomacy-actions__ongoing-actions-container {
  left: -7.4444444444rem;
}
.panel-diplomacy-actions.player-panel .panel-diplomacy-actions__next-page-button,
.panel-diplomacy-actions.player-panel .panel-diplomacy-actions__previous-page-button {
  left: -7.4444444444rem;
}
.panel-diplomacy-actions.player-panel .panel-diplomacy-actions__ongoing-action-turn-container {
  flex-direction: row-reverse;
}
.panel-diplomacy-actions.player-panel .fxs-scrollbar-container {
  left: 0;
}
.panel-diplomacy-actions.hidden {
  display: none;
}

.panel-diplomacy-actions__influence-container fxs-nav-help {
  display: none;
}

.panel-diplomacy-actions__ongoing-actions-container {
  position: absolute;
  height: auto;
  width: 6.6666666667rem;
  top: 13.7777777778rem;
}

.panel-diplomacy-actions__ongoing-action-portrait {
  width: 4rem;
  height: 4rem;
  position: relative;
}

.panel-diplomacy-actions__action-type-header {
  width: 8rem;
  height: 1.1111111111rem;
  background-color: var(--player-color-primary);
  color: var(--player-color-secondary-text);
  margin-top: 0.4444444444rem;
  margin-bottom: 0.4444444444rem;
  display: flex;
  justify-content: center;
}

.panel-diplomacy-actions__ongoing-actions-portrait-bg {
  width: 4rem;
  height: 4rem;
  position: absolute;
  background-image: url("blp:hud_diplo_hex");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: fxs-color-tint(var(--player-color-secondary));
  pointer-events: none;
}

.panel-diplomacy-actions__ongoing-actions-portrait-bg-inner {
  width: 4rem;
  height: 4rem;
  position: absolute;
  background-image: url("blp:hud_diplo_hex-frame");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: fxs-color-tint(var(--player-color-primary));
  pointer-events: none;
}

.panel-diplomacy-actions__ongoing-actions-portrait-image {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: -7.5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  mask-image: url("blp:mask_hex_icon_64px.png");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: 50% 100%;
  filter: brightness(100%);
  transition-property: top, filter;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.panel-diplomacy-actions__ongoing-action-details-container {
  width: 4.4444444444rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel-diplomacy-actions__ongoing-action-icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("blp:yield_influence");
  width: 1.7777777778rem;
  height: 1.7777777778rem;
  margin-bottom: 0.2222222222rem;
}

.panel-diplomacy-actions__ongoing-action-turn-timer {
  background-image: url("blp:turn_icon");
  width: 1.3333333333rem;
  height: 1.3333333333rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.panel-diplomacy-actions__civ-icon {
  top: 5.6666666667rem;
}

@media (max-height: 55.5555555556rem) {
  .panel-diplomacy-actions__ongoing-actions-scrollable {
    height: 24.4444444444rem;
  }
}

.panel-diplomacy-actions__attribute-button:hover .panel-diplomacy-actions__attribute-button-icon, .panel-diplomacy-actions__attribute-button.pressed .panel-diplomacy-actions__attribute-button-icon {
  border-image-source: url("blp:hud_att_arrow_highlight");
}

.panel-diplomacy-actions__attribute-button-icon {
  border-image-source: url("blp:hud_att_arrow");
  border-image-slice: 1 1 2 2 fill;
  border-image-width: 0.0555555556rem 0.0555555556rem 0.1111111111rem 0.1111111111rem;
  animation-name: panel-diplomacy-action__attention-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes panel-diplomacy-action__attention-anim {
  0% {
    transform: translateY(0rem);
  }
  60% {
    transform: translateY(-0.2222222222rem);
  }
  90% {
    transform: translateY(-0.2222222222rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
.panel-diplomacy-actions__ribbons-not-showing {
  height: 38.8888888889rem;
  top: 13.3333333333rem;
}
@media (max-height: 55.5555555556rem) {
  .panel-diplomacy-actions__ribbons-not-showing {
    height: 25rem;
  }
}

.panel-diplomacy-actions__ribbons-showing {
  height: 27.7777777778rem;
  top: 20.8333333333rem;
}
@media (max-height: 55.5555555556rem) {
  .panel-diplomacy-actions__ribbons-showing {
    height: 16.6666666667rem;
    top: 21.3888888889rem;
  }
}

.panel-diplomacy-actions__war-item {
  border-image: url("blp:hud_sidepanel_list-bg");
  border-image-slice: 8 8 8 8 fill;
  border-image-width: 0.4444444444rem;
}
.panel-diplomacy-actions__war-item:hover .panel-diplomacy-actions__war-item-border, .panel-diplomacy-actions__war-item:focus .panel-diplomacy-actions__war-item-border, .panel-diplomacy-actions__war-item.pressed .panel-diplomacy-actions__war-item-border {
  visibility: visible;
}

.panel-diplomacy-actions__war-item-bg {
  border-image-source: url("blp:dip_war_card");
  border-image-slice: 8 8 fill;
  border-image-width: 0.4444444444rem 0.4444444444rem;
}

.panel-diplomacy-actions__war-item-border {
  visibility: hidden;
  border-image-source: url("blp:dip_war_card_border");
  border-image-slice: 1 1 fill;
  border-image-width: 0.0555555556rem 0.0555555556rem;
}

.panel-diplomacy-actions__war-item-support-tracker {
  border-image-source: url("blp:dip_war_track");
  border-image-slice: 5 24 fill;
  border-image-width: 0.2777777778rem 1.3333333333rem;
}

.panel-diplomacy-actions__war-item-support-border {
  border-image-source: url("blp:dip_war_tracker_progress_border");
  border-image-slice: 1 1 fill;
  border-image-width: 0.0555555556rem 0.0555555556rem;
}