<?xml version="1.0" encoding="utf-8"?>
<metaprogression xmlns="Metaprogression" common="true">
	<challengeEvents>
		<event id="CHALLENGE_EVENT_AGE_ENDED" />
		<!-- LEADER_AGE_END -->
		<event id="CHALLENGE_EVENT_LEADER_AMINA_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_ASHOKA_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_AUGUSTUS_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_BENJAMIN_FRANKLIN_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_CATHERINE_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_CHARLEMAGNE_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_CONFUCIUS_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_FRIEDRICH_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_HARRIET_TUBMAN_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_HATSHEPSUT_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_HIMIKO_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_IBN_BATTUTA_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_ISABELLA_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_JOSE_RIZAL_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_LAFAYETTE_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_MACHIAVELLI_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_PACHACUTI_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_TRUNG_TRAC_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_XERXES_AGE_ENDED" />
		<!-- LEADER_TRIUMPHS_COMPLETED -->
		<event id="CHALLENGE_EVENT_AMINA_TRIUMPH_COMPLETED" />
		<event id="CHALLENGE_EVENT_ASHOKA_TRIUMPH_COMPLETED" />
		<event id="CHALLENGE_EVENT_AUGUSTUS_TRIUMPH_COMPLETED" />
		<event id="CHALLENGE_EVENT_BENJAMIN_FRANKLIN_TRIUMPH_COMPLETED" />
		<event id="CHALLENGE_EVENT_CATHERINE_TRIUMPH_COMPLETED" />
		<event id="CHALLENGE_EVENT_CHARLEMAGNE_TRIUMPH_COMPLETED" />
		<event id="CHALLENGE_EVENT_CONFUCIUS_TRIUMPH_COMPLETED" />
		<event id="CHALLENGE_EVENT_FRIEDRICH_TRIUMPH_COMPLETED" />
		<event id="CHALLENGE_EVENT_HARRIET_TUBMAN_TRIUMPH_COMPLETED" />
		<event id="CHALLENGE_EVENT_HATSHEPSUT_TRIUMPH_COMPLETED" />
		<event id="CHALLENGE_EVENT_HIMIKO_TRIUMPH_COMPLETED" />
		<event id="CHALLENGE_EVENT_IBN_BATTUTA_TRIUMPH_COMPLETED" />
		<event id="CHALLENGE_EVENT_ISABELLA_TRIUMPH_COMPLETED" />
		<event id="CHALLENGE_EVENT_JOSE_RIZAL_TRIUMPH_COMPLETED" />
		<event id="CHALLENGE_EVENT_LAFAYETTE_TRIUMPH_COMPLETED" />
		<event id="CHALLENGE_EVENT_MACHIAVELLI_TRIUMPH_COMPLETED" />
		<event id="CHALLENGE_EVENT_PACHACUTI_TRIUMPH_COMPLETED" />
		<event id="CHALLENGE_EVENT_TRUNG_TRAC_TRIUMPH_COMPLETED" />
		<event id="CHALLENGE_EVENT_XERXES_TRIUMPH_COMPLETED" />
		<!-- TRIUMPH_COMPLETED -->
		<event id="CHALLENGE_EVENT_TRIUMPH_COMPLETED" />
		<!-- INCREMENTALS-->
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_CELEBRATION_TRIGGERED" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_WONDER_BUILT" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_COMMANDER_PROMOTIONS" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_ATTRIBUTE_POINTS_SPENT" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_NATURAL_WONDER_DISCOVERED" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_TECHNOLOGY_UNLOCKED" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_TRADE_ROUTES_ESTABLISHED" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_SETTLEMENT_ESTABLISHED" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_CIVIC_UNLOCKED" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_DIPLOMACY_ACTION_UNLOCKED" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_TURNS_PLAYED" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_DISCOVERY_TRIGGERED" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_STORYLETS_SEEN" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_VICTORIES_TRIGGERED" />
		<!-- STRATEGYCARDS UNLOCKED EXPLORATION-->
		<event id="CHALLENGE_EVENT_LEADER_AMINA_UNLOCKED_STRATEGYCARDS_EXPLORATION"/>
		<event id="CHALLENGE_EVENT_LEADER_ASHOKA_UNLOCKED_STRATEGYCARDS_EXPLORATION"/>
		<event id="CHALLENGE_EVENT_LEADER_AUGUSTUS_UNLOCKED_STRATEGYCARDS_EXPLORATION"/>
		<event id="CHALLENGE_EVENT_LEADER_BENJAMIN_FRANKLIN_UNLOCKED_STRATEGYCARDS_EXPLORATION"/>
		<event id="CHALLENGE_EVENT_LEADER_CATHERINE_UNLOCKED_STRATEGYCARDS_EXPLORATION"/>
		<event id="CHALLENGE_EVENT_LEADER_CHARLEMAGNE_UNLOCKED_STRATEGYCARDS_EXPLORATION"/>
		<event id="CHALLENGE_EVENT_LEADER_CONFUCIUS_UNLOCKED_STRATEGYCARDS_EXPLORATION"/>
		<event id="CHALLENGE_EVENT_LEADER_FRIEDRICH_UNLOCKED_STRATEGYCARDS_EXPLORATION"/>
		<event id="CHALLENGE_EVENT_LEADER_HARRIET_TUBMAN_UNLOCKED_STRATEGYCARDS_EXPLORATION"/>
		<event id="CHALLENGE_EVENT_LEADER_HATSHEPSUT_UNLOCKED_STRATEGYCARDS_EXPLORATION"/>
		<event id="CHALLENGE_EVENT_LEADER_HIMIKO_UNLOCKED_STRATEGYCARDS_EXPLORATION"/>
		<event id="CHALLENGE_EVENT_LEADER_IBN_BATTUTA_UNLOCKED_STRATEGYCARDS_EXPLORATION"/>
		<event id="CHALLENGE_EVENT_LEADER_ISABELLA_UNLOCKED_STRATEGYCARDS_EXPLORATION"/>
		<event id="CHALLENGE_EVENT_LEADER_JOSE_RIZAL_UNLOCKED_STRATEGYCARDS_EXPLORATION"/>
		<event id="CHALLENGE_EVENT_LEADER_LAFAYETTE_UNLOCKED_STRATEGYCARDS_EXPLORATION"/>
		<event id="CHALLENGE_EVENT_LEADER_MACHIAVELLI_UNLOCKED_STRATEGYCARDS_EXPLORATION"/>
		<event id="CHALLENGE_EVENT_LEADER_PACHACUTI_UNLOCKED_STRATEGYCARDS_EXPLORATION"/>
		<event id="CHALLENGE_EVENT_LEADER_TRUNG_TRAC_UNLOCKED_STRATEGYCARDS_EXPLORATION"/>
		<event id="CHALLENGE_EVENT_LEADER_XERXES_UNLOCKED_STRATEGYCARDS_EXPLORATION"/>
		<!-- STRATEGYCARDS UNLOCKED MODERN -->
		<event id="CHALLENGE_EVENT_LEADER_AMINA_UNLOCKED_STRATEGYCARDS_MODERN"/>
		<event id="CHALLENGE_EVENT_LEADER_ASHOKA_UNLOCKED_STRATEGYCARDS_MODERN"/>
		<event id="CHALLENGE_EVENT_LEADER_AUGUSTUS_UNLOCKED_STRATEGYCARDS_MODERN"/>
		<event id="CHALLENGE_EVENT_LEADER_BENJAMIN_FRANKLIN_UNLOCKED_STRATEGYCARDS_MODERN"/>
		<event id="CHALLENGE_EVENT_LEADER_CATHERINE_UNLOCKED_STRATEGYCARDS_MODERN"/>
		<event id="CHALLENGE_EVENT_LEADER_CHARLEMAGNE_UNLOCKED_STRATEGYCARDS_MODERN"/>
		<event id="CHALLENGE_EVENT_LEADER_CONFUCIUS_UNLOCKED_STRATEGYCARDS_MODERN"/>
		<event id="CHALLENGE_EVENT_LEADER_FRIEDRICH_UNLOCKED_STRATEGYCARDS_MODERN"/>
		<event id="CHALLENGE_EVENT_LEADER_HARRIET_TUBMAN_UNLOCKED_STRATEGYCARDS_MODERN"/>
		<event id="CHALLENGE_EVENT_LEADER_HATSHEPSUT_UNLOCKED_STRATEGYCARDS_MODERN"/>
		<event id="CHALLENGE_EVENT_LEADER_HIMIKO_UNLOCKED_STRATEGYCARDS_MODERN"/>
		<event id="CHALLENGE_EVENT_LEADER_IBN_BATTUTA_UNLOCKED_STRATEGYCARDS_MODERN"/>
		<event id="CHALLENGE_EVENT_LEADER_ISABELLA_UNLOCKED_STRATEGYCARDS_MODERN"/>
		<event id="CHALLENGE_EVENT_LEADER_JOSE_RIZAL_UNLOCKED_STRATEGYCARDS_MODERN"/>
		<event id="CHALLENGE_EVENT_LEADER_LAFAYETTE_UNLOCKED_STRATEGYCARDS_MODERN"/>
		<event id="CHALLENGE_EVENT_LEADER_MACHIAVELLI_UNLOCKED_STRATEGYCARDS_MODERN"/>
		<event id="CHALLENGE_EVENT_LEADER_PACHACUTI_UNLOCKED_STRATEGYCARDS_MODERN"/>
		<event id="CHALLENGE_EVENT_LEADER_TRUNG_TRAC_UNLOCKED_STRATEGYCARDS_MODERN"/>
		<event id="CHALLENGE_EVENT_LEADER_XERXES_UNLOCKED_STRATEGYCARDS_MODERN"/>
		<!-- MONTHLY CHALLENGES -->
		<event id="CHALLENGE_EVENT_MONTHLY_BUILD_WONDERS_TRIGGERED" />
		<event id="CHALLENGE_EVENT_MONTHLY_GREAT_WORKS_TRIGGERED" />
		<event id="CHALLENGE_EVENT_MONTHLY_BUILD_UNITS_TRIGGERED" />
		<event id="CHALLENGE_EVENT_MONTHLY_KILL_UNITS_TRIGGERED" />
		<event id="CHALLENGE_EVENT_MONTHLY_GAIN_GOLD_TRIGGERED" />
	</challengeEvents>
</metaprogression>
