<?xml version="1.0" encoding="utf-8"?>
<metaprogression xmlns="Metaprogression" common="true">
	<challengeEvents>
		<event id="CHALLENGE_EVENT_AGE_ENDED" />
		<!-- LEADER_AGE_END -->
		<event id="CHALLENGE_EVENT_LEADER_AMINA_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_ASHOKA_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_AUGUSTUS_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_BENJAMIN_FRANKLIN_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_CATHERINE_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_CHARLEMAGNE_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_CONFUCIUS_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_FRIEDRICH_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_HARRIET_TUBMAN_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_HATSHEPSUT_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_HIMIKO_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_IBN_BATTUTA_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_ISABELLA_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_JOSE_RIZAL_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_LAFAYETTE_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_MACHIAVELLI_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_PACHACUTI_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_TRUNG_TRAC_AGE_ENDED" />
		<event id="CHALLENGE_EVENT_LEADER_XERXES_AGE_ENDED" />
		<!-- LEADER_LEGACY_PATH_MILESTONE_COMPLETED -->
		<event id="CHALLENGE_EVENT_LEADER_AMINA_LEGACY_PATH_MILESTONE_COMPLETED" />
		<event id="CHALLENGE_EVENT_LEADER_ASHOKA_LEGACY_PATH_MILESTONE_COMPLETED" />
		<event id="CHALLENGE_EVENT_LEADER_AUGUSTUS_LEGACY_PATH_MILESTONE_COMPLETED" />
		<event id="CHALLENGE_EVENT_LEADER_BENJAMIN_FRANKLIN_LEGACY_PATH_MILESTONE_COMPLETED" />
		<event id="CHALLENGE_EVENT_LEADER_CATHERINE_LEGACY_PATH_MILESTONE_COMPLETED" />
		<event id="CHALLENGE_EVENT_LEADER_CHARLEMAGNE_LEGACY_PATH_MILESTONE_COMPLETED" />
		<event id="CHALLENGE_EVENT_LEADER_CONFUCIUS_LEGACY_PATH_MILESTONE_COMPLETED" />
		<event id="CHALLENGE_EVENT_LEADER_FRIEDRICH_LEGACY_PATH_MILESTONE_COMPLETED" />
		<event id="CHALLENGE_EVENT_LEADER_HARRIET_TUBMAN_LEGACY_PATH_MILESTONE_COMPLETED" />
		<event id="CHALLENGE_EVENT_LEADER_HATSHEPSUT_LEGACY_PATH_MILESTONE_COMPLETED" />
		<event id="CHALLENGE_EVENT_LEADER_HIMIKO_LEGACY_PATH_MILESTONE_COMPLETED" />
		<event id="CHALLENGE_EVENT_LEADER_IBN_BATTUTA_LEGACY_PATH_MILESTONE_COMPLETED" />
		<event id="CHALLENGE_EVENT_LEADER_ISABELLA_LEGACY_PATH_MILESTONE_COMPLETED" />
		<event id="CHALLENGE_EVENT_LEADER_JOSE_RIZAL_LEGACY_PATH_MILESTONE_COMPLETED" />
		<event id="CHALLENGE_EVENT_LEADER_LAFAYETTE_LEGACY_PATH_MILESTONE_COMPLETED" />
		<event id="CHALLENGE_EVENT_LEADER_MACHIAVELLI_LEGACY_PATH_MILESTONE_COMPLETED" />
		<event id="CHALLENGE_EVENT_LEADER_PACHACUTI_LEGACY_PATH_MILESTONE_COMPLETED" />
		<event id="CHALLENGE_EVENT_LEADER_TRUNG_TRAC_LEGACY_PATH_MILESTONE_COMPLETED" />
		<event id="CHALLENGE_EVENT_LEADER_XERXES_LEGACY_PATH_MILESTONE_COMPLETED" />
		<!-- LEADER_VICTORY_ACHIEVED -->
		<event id="CHALLENGE_EVENT_LEADER_AMINA_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_ASHOKA_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_AUGUSTUS_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_BENJAMIN_FRANKLIN_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_CATHERINE_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_CHARLEMAGNE_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_CONFUCIUS_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_FRIEDRICH_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_HARRIET_TUBMAN_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_HATSHEPSUT_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_HIMIKO_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_IBN_BATTUTA_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_ISABELLA_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_JOSE_RIZAL_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_LAFAYETTE_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_MACHIAVELLI_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_PACHACUTI_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_TRUNG_TRAC_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_XERXES_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_FIRST_PLACE_VICTORY" />
		<!-- LEADER_FLAWLESS_VICTORY -->
		<event id="CHALLENGE_EVENT_LEADER_AMINA_FLAWLESS_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_ASHOKA_FLAWLESS_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_AUGUSTUS_FLAWLESS_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_BENJAMIN_FRANKLIN_FLAWLESS_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_CATHERINE_FLAWLESS_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_CHARLEMAGNE_FLAWLESS_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_CONFUCIUS_FLAWLESS_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_FRIEDRICH_FLAWLESS_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_HARRIET_TUBMAN_FLAWLESS_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_HATSHEPSUT_FLAWLESS_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_HIMIKO_FLAWLESS_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_IBN_BATTUTA_FLAWLESS_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_ISABELLA_FLAWLESS_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_JOSE_RIZAL_FLAWLESS_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_LAFAYETTE_FLAWLESS_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_MACHIAVELLI_FLAWLESS_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_PACHACUTI_FLAWLESS_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_TRUNG_TRAC_FLAWLESS_VICTORY_ACHIEVED" />
		<event id="CHALLENGE_EVENT_LEADER_XERXES_FLAWLESS_VICTORY_ACHIEVED" />
		<!-- INCREMENTALS-->
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_CELEBRATION_TRIGGERED" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_WONDER_BUILT" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_COMMANDER_PROMOTIONS" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_ATTRIBUTE_POINTS_SPENT" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_NATURAL_WONDER_DISCOVERED" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_TECHNOLOGY_UNLOCKED" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_TRADE_ROUTES_ESTABLISHED" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_SETTLEMENT_ESTABLISHED" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_CIVIC_UNLOCKED" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_DIPLOMACY_ACTION_UNLOCKED" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_TURNS_PLAYED" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_DISCOVERY_TRIGGERED" />
		<event id="CHALLENGE_EVENT_FOUNDATION_INCREMENTALS_STORYLETS_SEEN" />
		<!-- MONTHLY CHALLENGES -->
		<event id="CHALLENGE_EVENT_MONTHLY_BUILD_WONDERS_TRIGGERED" />
		<event id="CHALLENGE_EVENT_MONTHLY_GREAT_WORKS_TRIGGERED" />
		<event id="CHALLENGE_EVENT_MONTHLY_BUILD_UNITS_TRIGGERED" />
		<event id="CHALLENGE_EVENT_MONTHLY_KILL_UNITS_TRIGGERED" />
		<event id="CHALLENGE_EVENT_MONTHLY_GAIN_GOLD_TRIGGERED" />
	</challengeEvents>
</metaprogression>
