screen-endgame {
  --civ-symbol: url("fs://game/leader_symb_06.png");
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}
screen-endgame .fxs-tab-control {
  width: 22.2222222222rem;
  height: 9.6666666667rem;
  position: absolute;
  top: 18.7777777778rem;
  left: 6.1666666667rem;
}
screen-endgame .checkmark-container {
  --checkmark-size: 1.8888888889rem;
  position: absolute;
  align-self: center;
  bottom: -0.5333333333rem;
  pointer-events: auto;
}
screen-endgame #age-summary-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.screen-endgame__nav-container {
  background-color: var(--screen-background);
  transition: background-color 0.5s ease-in-out;
}

.screen-endgame__rounded-shadow {
  border-image-source: url("fs://game/shadow_rounded-square.png");
  border-image-slice: 15 fill;
  border-image-width: 1.6666666667rem;
  border-image-outset: 0.8888888889rem;
}

.screen-endgame__painting-color-adjust {
  background: linear-gradient(to top right, rgb(28, 20, 29) 0%, rgb(234, 222, 211) 100%);
  opacity: 0.25;
}

.screen-endgame__painting-marble-overlay {
  position: absolute;
  background-image: url("fs://game/marble_bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.25;
}

.screen-endgame__painting-bg-vignette {
  position: absolute;
  background: radial-gradient(circle, transparent 0%, black 150%);
}

.screen-endgame__painting-top-gradient {
  position: absolute;
  height: 22.2222222222rem;
  background: linear-gradient(to bottom, black 0%, transparent 100%);
}

.screen-endgame__title-wrapper {
  width: 37.3888888889rem;
  height: 2.9444444444rem;
  align-self: center;
  position: absolute;
  top: 6.4444444444rem;
}

.screen-endgame__title-text {
  width: 100%;
  font-size: calc(1rem + 0.7777777778rem);
  text-align: center;
  color: #ffbadd;
}

.screen-endgame__title-horizontal-rule {
  width: 50%;
  height: 0.8888888889rem;
  transform: translate(50%, 0.2222222222rem);
  background-image: url("fs://game/Ornament_centerDivider_withHex.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
}

@keyframes win-animation-slide-up {
  100% {
    transform: scale(1);
  }
}
@keyframes win-content-slide-up {
  100% {
    transform: translateY(0%);
  }
}
@keyframes win-content-slide-up-blur {
  100% {
    filter: blur(0rem);
    transform: translateY(0%);
  }
}
@keyframes win-animation-bg-fade-in {
  100% {
    opacity: 1;
    mask-position: 50% 100%;
  }
}
.age-ending__container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
.age-ending__container.age-ending__container--fade-in-vignette .age-summary__vignette {
  animation-name: summary-vignette-fade-in;
  animation-delay: 0s;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.age-ending__shading-container {
  display: flex;
  animation: fade-in-shading;
  animation-delay: 0.5s;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
  animation-fill-mode: both;
}

@keyframes fade-in-shading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.age-ending__painting-color-adjust {
  background-image: linear-gradient(195deg, rgba(var(--clr-panel__overlay-light), 0.375) 0%, rgba(var(--clr-panel__overlay-dark), 0.375) 100%);
}

.age-ending__painting-marble-overlay {
  background-image: url("fs://game/marble_bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.375;
}

.age-ending__painting-bg-vignette {
  background-image: radial-gradient(circle, rgba(var(--clr-panel__overlay-dark), 0) 0%, rgba(var(--clr-panel__overlay-dark), 1) 150%);
}

.age-ending__painting-top-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 22.2222222222rem;
  background-image: linear-gradient(to bottom, rgba(var(--clr-panel__overlay-dark), 1) 0%, rgba(var(--clr-panel__overlay-dark), 0) 100%);
}

.age-ending__painting-bottom-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 22.2222222222rem;
  background-image: linear-gradient(to top, rgba(var(--clr-panel__overlay-dark), 1) 0%, rgba(var(--clr-panel__overlay-dark), 0) 100%);
}

.age-ending__symbol-container {
  position: absolute;
  width: 90.6666666667rem;
  height: 13.3333333333rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.age-ending__symbol {
  width: 25%;
  height: 100%;
  background-image: var(--civ-symbol);
  background-size: contain;
  background-repeat: no-repeat;
  filter: fxs-color-mask(var(--player-color-secondary-less));
  opacity: 0.5;
}
.age-ending__symbol.age-ending__symbol--left {
  background-position: 0% 50%;
}
.age-ending__symbol.age-ending__symbol--right {
  background-position: 100% 50%;
}

.age-ending__panel-bg-overlay {
  background-image: linear-gradient(to right, rgba(var(--clr-panel__overlay-dark), 0.75) 0%, rgba(var(--clr-panel__overlay-dark), 0.25) 10%, rgba(var(--clr-panel__overlay-dark), 0) 20%, rgba(var(--clr-panel__overlay-dark), 0) 80%, rgba(var(--clr-panel__overlay-dark), 0.25) 90%, rgba(var(--clr-panel__overlay-dark), 0.75) 100%), linear-gradient(195deg, rgba(var(--clr-panel__overlay-dark), 0) 0%, rgba(var(--clr-panel__overlay-dark), 0) 75%, rgba(var(--clr-panel__overlay-dark), 0.25) 100%), linear-gradient(165deg, rgba(var(--clr-panel__overlay-dark), 0) 0%, rgba(var(--clr-panel__overlay-dark), 0) 75%, rgba(var(--clr-panel__overlay-dark), 0.25) 100%);
}

.age-ending__panel-overlay {
  background-image: linear-gradient(to right, rgba(var(--clr-panel__overlay-dark), 0.25) 0%, rgba(var(--clr-panel__overlay-dark), 0.125) 12.5%, rgba(var(--clr-panel__overlay-dark), 0) 25%, rgba(var(--clr-panel__overlay-dark), 0) 75%, rgba(var(--clr-panel__overlay-dark), 0.125) 87.5%, rgba(var(--clr-panel__overlay-dark), 0.25) 100%), linear-gradient(195deg, rgba(var(--clr-panel__overlay-light), 0.0625) 0%, rgba(var(--clr-panel__overlay-dark), 0.25) 75%);
}

.age-ending__panel-darkening {
  background-color: rgba(var(--clr-panel__overlay-dark), 1);
  animation-name: banner-fade-in;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-direction: reverse;
}

.age-ending__panel-content {
  position: relative;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.age-ending__text-ornament {
  position: relative;
  width: 13.3333333333rem;
  height: 1.5rem;
  background-image: url("fs://game/Ornament_Unit_Bottom.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  filter: fxs-color-mask(var(--player-color-secondary-accent));
  transform-origin: 50% 50%;
}
.age-ending__text-ornament.age-ending__text-ornament--top {
  transform: scaleY(-1);
}

@keyframes cinema-faded-in {
  0% {
    border-width: 0;
  }
  100% {
    border-width: 0;
  }
}
@media (max-height: 40rem) {
  .screen-endgame__panel-button-container {
    bottom: -1.7777777778rem;
  }
}

@media (max-height: 40rem) {
  .screen-endgame__tab-bar {
    width: 90%;
  }
}

@media (max-height: 40rem) {
  .summary-slot {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-height: 40rem) {
  .summary__legacy-points {
    margin-top: 0.5555555556rem;
  }
}