.narrative_model__container {
  margin: 9.5555555556rem 0rem;
  width: 72.2222222222rem;
}
@media (max-height: 50rem) {
  .narrative_model__container {
    margin: 4.4444444444rem 0rem;
    width: 55.5555555556rem;
  }
}
@media (experience: mobile) {
  .narrative_model__container .fxs-close-button {
    top: 0.5555555556rem;
    right: 0.5555555556rem;
  }
}

@media (max-height: 50rem) {
  .narrative_model__title-container {
    padding: 0.6666666667rem 0rem 0.2222222222rem 0rem;
  }
}
@media (experience: mobile) {
  .narrative_model__title-container {
    padding-left: 3.8888888889rem;
    padding-right: 3.8888888889rem;
  }
}

.narrative_model__column {
  margin-left: 50%;
}