@media (experience: mobile) {
  .graphic-narrative-event .fxs-close-button {
    top: 15%;
    right: 6%;
  }
}
@media (experience: mobile) and (max-height: 55.5555555556rem) {
  .graphic-narrative-event .fxs-close-button {
    top: 10%;
    right: 5.5%;
  }
}

.narrative_model__container {
  margin: 9.5555555556rem 0rem;
  width: 72.2222222222rem;
}
@media (max-height: 50rem) {
  .narrative_model__container {
    margin: 8rem 0rem;
    width: 62rem;
  }
}
@media (max-height: 44.4444444444rem) {
  .narrative_model__container {
    margin: 7.2222222222rem 0rem;
    width: 55.5555555556rem;
  }
}
@media (experience: mobile) and (max-height: 55.5555555556rem) {
  .narrative_model__container {
    width: 61.1111111111rem;
  }
}

@media (max-height: 50rem) {
  .narrative_model__title-container {
    padding: 0.6666666667rem 0rem 0.2222222222rem 0rem;
  }
}
@media (experience: mobile) {
  .narrative_model__title-container {
    padding-left: 2.2222222222rem;
    padding-right: 2.2222222222rem;
  }
}

@media (experience: mobile) {
  .narrative_model__button-container .fxs-reward-button {
    margin-bottom: 0.8888888889rem;
  }
}

.narrative_model__column {
  margin-left: 50%;
}
@media (experience: mobile) and (max-height: 55.5555555556rem) {
  .narrative_model__column {
    margin-left: 42%;
  }
}

@media (experience: mobile) and (max-height: 55.5555555556rem) {
  .narrative-model__frame {
    margin-top: 2.2222222222rem;
  }
}