<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Civilizations>
		<Row Domain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_NEPAL" CivilizationName="LOC_CIVILIZATION_NEPAL_NAME" CivilizationFullName="LOC_CIVILIZATION_NEPAL_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_NEPAL_DESCRIPTION" CivilizationIcon="shawnee_icon.png"/>
	</Civilizations>
	<CivilizationItems>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_NEPAL" Type="TRAIT_NEPAL_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_NEPAL_ABILITY_NAME" Description="LOC_TRAIT_NEPAL_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_NEPAL" Type="UNIT_GURKHA" Kind="KIND_UNIT" Name="LOC_UNIT_GURKHA_NAME" Description="LOC_UNIT_GURKHA_BASE_DESCRIPTION" Icon="unitflag_leiomano.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_NEPAL" Type="UNIT_SHERPA" Kind="KIND_UNIT" Name="LOC_UNIT_SHERPA_NAME" Description="LOC_UNIT_SHERPA_DESCRIPTION" Icon="unitflag_SHERPA.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_NEPAL" Type="IMPROVEMENT_HIGHLAND_POWER_STATION" Kind="KIND_IMPROVEMENT" Name="LOC_IMPROVEMENT_HIGHLAND_POWER_STATION_NAME" Description="LOC_IMPROVEMENT_HIGHLAND_POWER_STATION_DESCRIPTION" Icon="impicon_loikalo.png"/>
	</CivilizationItems>
	<CivilizationTags>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_NEPAL" TagType="TAG_TRAIT_POLITICAL"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_NEPAL" TagType="TAG_TRAIT_CULTURAL"/>
	</CivilizationTags>
	<LeaderCivilizationBias>
		<!--This is the table used for UI, the AI uses LeaderCivPriorities in civilizations.xml-->
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_NEPAL" LeaderDomain="StandardLeaders" LeaderType="LEADER_ASHOKA" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_ASHOKA_NEPAL_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_NEPAL" LeaderDomain="StandardLeaders" LeaderType="LEADER_PACHACUTI" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_PACHACUTI_NEPAL_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE"/>
	</LeaderCivilizationBias>
	<CivilizationUnlocks>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAURYA" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_NEPAL" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_NEPAL_NAME" Description="LOC_CIVILIZATION_NEPAL_NAME" Icon="CIVILIZATION_NEPAL"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_CHOLA" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_NEPAL" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_NEPAL_NAME" Description="LOC_CIVILIZATION_NEPAL_NAME" Icon="CIVILIZATION_NEPAL"/>
	</CivilizationUnlocks>
	<LeaderUnlocks>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_ASHOKA" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_NEPAL" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_NEPAL_NAME" Description="LOC_CIVILIZATION_NEPAL_DESCRIPTION" Icon="CIVILIZATION_NEPAL"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_PACHACUTI" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_NEPAL" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_NEPAL_NAME" Description="LOC_CIVILIZATION_NEPAL_DESCRIPTION" Icon="CIVILIZATION_NEPAL"/>
	</LeaderUnlocks>
	<OwnershipConditions>
		<Row ItemType="CIVILIZATION_NEPAL" Action="LOC_LOCKED_INCLUDED_WITH_CONTENT" />
	</OwnershipConditions>
</Database>