.odr-download .odr-download_banner-top {
  height: 13%;
}
.odr-download .odr-download_banner-bot {
  height: 14%;
}
.odr-download .img-report_port_glow {
  margin-top: -4%;
  width: 46%;
  height: 135%;
}
.odr-download .img-rel_glow_larger {
  margin-bottom: -6%;
  width: 46%;
  height: 135%;
}
.odr-download .odr-download_banner-middle {
  margin-top: -10%;
}
.odr-download .odr-download_progress-bar-bg {
  height: 1.4444444444rem;
  background: url("blp:meter_well");
  background-repeat: repeat-x;
  background-size: contain;
}
.odr-download .odr-download_progress-bar-fill {
  height: 1.2777777778rem;
  background: url("blp:meter_fill");
  background-size: contain;
}
.odr-download .odr-download_banner-bot_text {
  margin-top: 1.9444444444rem;
}
.odr-download .odr-download_progress-bar-filigree {
  margin-top: -0.9444444444rem;
  width: 4000px;
  height: 2.6666666667rem;
  border-image-source: url("fs://game/base_advisor-filigree.png");
  border-image-slice: 0 110 fill;
  border-image-width: 0 48.8%;
}
@media (max-height: 42.6666666667rem) {
  .odr-download .odr-download_progress-bar-filigree {
    border-image-width: 0 48.7%;
  }
}