.save-container {
  background-color: rgba(39, 37, 38, 0.8);
  position: absolute;
  bottom: -3.5555555556rem;
  left: 0.4444444444rem;
}

.save-animation {
  animation-name: quickSaveIndicator;
  animation-duration: 5s;
}

.save-item {
  display: flex;
  flex-direction: row;
  width: 17.7777777778rem;
  height: auto;
  text-shadow: 0.0555555556rem 0rem var(--base-dark-color);
  margin-top: 0.4444444444rem;
  margin-bottom: 0.4444444444rem;
  margin-left: 0.4444444444rem;
  pointer-events: auto;
  background-color: rgb(var(--base-light-color));
}
.save-item > .save-icon {
  width: 2.2222222222rem;
  height: 2.2222222222rem;
  background-size: contain;
  margin-top: 0.2222222222rem;
  background-image: url("blp:quick_save_icon");
}
.save-item > .save-info {
  width: 15.1111111111rem;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 0.4444444444rem;
}
.save-item > .save-info > .save-title {
  margin-bottom: 0.1111111111rem;
  font-size: 1rem;
}
.save-item > .save-info > .save-description {
  font-size: calc(1rem + -0.1111111111rem);
  text-overflow: clip;
  max-height: 3.5555555556rem;
}

@keyframes quickSaveIndicator {
  0% {
    bottom: -3.5555555556rem;
  }
  10% {
    bottom: 0.4444444444rem;
  }
  90% {
    bottom: 0.4444444444rem;
  }
  100% {
    bottom: -3.5555555556rem;
  }
}