.sync-conflict .sync-conflict__description {
  max-width: 40.5555555556rem;
}
.sync-conflict fxs-modal-frame {
  max-width: 55.5555555556rem;
}
.sync-conflict fxs-chooser-item {
  height: 22.2222222222rem;
}
.sync-conflict fxs-header {
  pointer-events: none;
}
.sync-conflict .sync-conflict__local-button {
  pointer-events: none;
}
.sync-conflict .sync-conflict__icloud-button {
  pointer-events: none;
}