<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Leaders>
		<Row LeaderType="LEADER_GENGHIS_KHAN" LeaderName="LOC_LEADER_GENGHIS_KHAN_NAME" LeaderDescription="LOC_LEADER_GENGHIS_KHAN_DESCRIPTION" LeaderIcon="LEADER_GENGHIS_KHAN"/>
	</Leaders>
	<LeaderItems>
		<Row LeaderType="LEADER_GENGHIS_KHAN" Type="TRAIT_LEADER_GENGHIS_KHAN_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_LEADER_GENGHIS_KHAN_ABILITY_NAME" Description="LOC_TRAIT_LEADER_GENGHIS_KHAN_ABILITY_DESCRIPTION"/>
	</LeaderItems>
	<LeaderTags>
		<Row LeaderType="LEADER_GENGHIS_KHAN" TagType="TAG_TRAIT_MILITARISTIC"/>
		<Row LeaderType="LEADER_GENGHIS_KHAN" TagType="TAG_TRAIT_EXPANSIONIST"/>
		<Row LeaderType="LEADER_GENGHIS_KHAN" TagType="TAG_GENDER_MALE"/>
	</LeaderTags>
	<LeaderQuotes>
		<Row LeaderType="LEADER_GENGHIS_KHAN" Quote="LOC_MAIN_CHAR_SELECT_LEADER_GENGHIS_KHAN_ANY"/>
	</LeaderQuotes>
	<LeaderCivilizationBias>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_PERSIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_GENGHIS_KHAN" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_GENGHIS_KHAN_PERSIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MONGOLIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_GENGHIS_KHAN" Bias="4" ReasonType="LOC_UNLOCK_PLAY_AS_GENGHIS_KHAN_MONGOLIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MUGHAL" LeaderDomain="StandardLeaders" LeaderType="LEADER_GENGHIS_KHAN" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_GENGHIS_KHAN_MUGHAL_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_PRUSSIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_GENGHIS_KHAN" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_GENGHIS_KHAN_PRUSSIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE"/>
	</LeaderCivilizationBias>
	<LeaderUnlocks>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_GENGHIS_KHAN" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_MONGOLIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MONGOLIA_NAME" Description="LOC_CIVILIZATION_MONGOLIA_DESCRIPTION" Icon="CIVILIZATION_MONGOLIA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_GENGHIS_KHAN" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MUGHAL" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MUGHAL_NAME" Description="LOC_CIVILIZATION_MUGHAL_DESCRIPTION" Icon="CIVILIZATION_MUGHAL"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_GENGHIS_KHAN" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_PRUSSIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_PRUSSIA_NAME" Description="LOC_CIVILIZATION_PRUSSIA_DESCRIPTION" Icon="CIVILIZATION_MUGHAL"/>
	</LeaderUnlocks>
	<OwnershipConditions>
		<Row ItemType="LEADER_GENGHIS_KHAN" Action="LOC_LOCKED_INCLUDED_WITH_CONTENT" />
	</OwnershipConditions>
	<Mementos>
		<Row Type="MEMENTO_GENGHIS_KHAN_PAIZA" Name="LOC_MEMENTO_GENGHIS_KHAN_PAIZA_NAME" Description="LOC_MEMENTO_GENGHIS_KHAN_PAIZA_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_GENGHIS_KHAN_PAIZA_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_GENGHIS_KHAN_PAIZA_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
		<Row Type="MEMENTO_GENGHIS_KHAN_SADDLE" Name="LOC_MEMENTO_GENGHIS_KHAN_SADDLE_NAME" Description="LOC_MEMENTO_GENGHIS_KHAN_SADDLE_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_GENGHIS_KHAN_SADDLE_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_GENGHIS_KHAN_SADDLE_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
		<Row Type="MEMENTO_GENGHIS_KHAN_SULDE" Name="LOC_MEMENTO_GENGHIS_KHAN_SULDE_NAME" Description="LOC_MEMENTO_GENGHIS_KHAN_SULDE_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_GENGHIS_KHAN_SULDE_FUNCTIONAL_DESCRIPTION" LeaderSpecific="LEGEND_PATH_GENGHIS_KHAN" UnlockTitle="LOC_MEMENTO_GENGHIS_KHAN_SULDE_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
	</Mementos>
</Database>