<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Leaders>
		<Row LeaderType="LEADER_NAPOLEON_ALT" LeaderName="LOC_LEADER_NAPOLEON_ALT_NAME" LeaderDescription="LOC_LEADER_NAPOLEON_ALT_DESCRIPTION" LeaderIcon="LEADER_NAPOLEON_ALT"/>
	</Leaders>
	<LeaderItems>
		<Row LeaderType="LEADER_NAPOLEON_ALT" Type="TRAIT_LEADER_NAPOLEON_ALT_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_LEADER_NAPOLEON_ALT_ABILITY_NAME" Description="LOC_TRAIT_LEADER_NAPOLEON_ALT_ABILITY_DESCRIPTION"/>
	</LeaderItems>
	<LeaderTags>
		<Row LeaderType="LEADER_NAPOLEON_ALT" TagType="TAG_TRAIT_MILITARISTIC"/>
		<Row LeaderType="LEADER_NAPOLEON_ALT" TagType="TAG_TRAIT_CULTURAL"/>
		<Row LeaderType="LEADER_NAPOLEON_ALT" TagType="TAG_GENDER_MALE"/>
	</LeaderTags>
	<LeaderQuotes>
		<Row LeaderType="LEADER_NAPOLEON_ALT" Quote="LOC_MAIN_CHAR_SELECT_LEADER_NAPOLEON_ALT_ANY"/>
	</LeaderQuotes>
	<LeaderCivilizationBias>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_PERSIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON_ALT" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_NAPOLEON_ALT_EGYPT_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON_ALT" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_NAPOLEON_ALT_ROME_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SPAIN" LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON_ALT" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_NAPOLEON_ALT_SPAIN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_NORMAN" LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON_ALT" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_NAPOLEON_ALT_NORMAN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_FRENCH_EMPIRE" LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON_ALT" Bias="4" ReasonType="LOC_UNLOCK_PLAY_AS_NAPOLEON_ALT_FRENCH_EMPIRE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_PRUSSIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON_ALT" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_NAPOLEON_ALT_PRUSSIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE"/>
	</LeaderCivilizationBias>
	<LeaderUnlocks>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON_ALT" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_NORMAN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_NORMAN_NAME" Description="LOC_CIVILIZATION_NORMAN_DESCRIPTION" Icon="CIVILIZATION_NORMAN"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON_ALT" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SPAIN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SPAIN_NAME" Description="LOC_CIVILIZATION_SPAIN_DESCRIPTION" Icon="CIVILIZATION_SPAIN"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON_ALT" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_FRENCH_EMPIRE" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_FRENCH_EMPIRE_NAME" Description="LOC_CIVILIZATION_FRENCH_EMPIRE_DESCRIPTION" Icon="CIVILIZATION_FRENCH_EMPIRE"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON_ALT" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_PRUSSIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_PRUSSIA_NAME" Description="LOC_CIVILIZATION_PRUSSIA_DESCRIPTION" Icon="CIVILIZATION_PRUSSIA"/>
	</LeaderUnlocks>
	<Mementos>
		<Row Type="MEMENTO_NAPOLEON_REVOLUTIONARY_ARTILLERYMAN_GLOVES" Name="LOC_MEMENTO_NAPOLEON_REVOLUTIONARY_ARTILLERYMAN_GLOVES_NAME" Description="LOC_MEMENTO_NAPOLEON_REVOLUTIONARY_ARTILLERYMAN_GLOVES_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_NAPOLEON_REVOLUTIONARY_ARTILLERYMAN_GLOVES_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENT_NAPOLEON_REVOLUTIONARY_ARTILLERYMAN_GLOVES_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
		<Row Type="MEMENTO_NAPOLEON_REVOLUTIONARY_BICORNE_HAT" Name="LOC_MEMENTO_NAPOLEON_REVOLUTIONARY_BICORNE_HAT_NAME" Description="LOC_MEMENTO_NAPOLEON_REVOLUTIONARY_BICORNE_HAT_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_NAPOLEON_REVOLUTIONARY_BICORNE_HAT_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_NAPOLEON_REVOLUTIONARY_BICORNE_HAT_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
		<Row Type="MEMENTO_NAPOLEON_REVOLUTIONARY_LEGION_DHONNEUR_GRAND_EAGLE_CROSS" Name="LOC_MEMENTO_NAPOLEON_REVOLUTIONARY_LEGION_DHONNEUR_GRAND_EAGLE_CROSS_NAME" Description="LOC_MEMENTO_NAPOLEON_REVOLUTIONARY_LEGION_DHONNEUR_GRAND_EAGLE_CROSS_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_NAPOLEON_REVOLUTIONARY_LEGION_DHONNEUR_GRAND_EAGLE_CROSS_FUNCTIONAL_DESCRIPTION" LeaderSpecific="LEGEND_PATH_NAPOLEON_ALT" UnlockTitle="LOC_MEMENTO_NAPOLEON_REVOLUTIONARY_LEGION_DHONNEUR_GRAND_EAGLE_CROSS_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
	</Mementos>
</Database>