.advanced-options-save-button {
  background-image: url("blp:set_save_config");
}
.advanced-options-save-button:hover, .advanced-options-save-button.pressed {
  background-image: url("blp:set_save_config-focus");
}

.advanced-options-load-button {
  background-image: url("blp:set_load_config");
}
.advanced-options-load-button:hover, .advanced-options-load-button.pressed {
  background-image: url("blp:set_load_config-focus");
}

.advanced-options_add-player-plus {
  background-image: url("blp:set_add-focus");
}