.age-select-popup-content {
  width: 50%;
  flex-direction: column;
  justify-content: center;
}
@media (max-height: 55.5555555556rem) {
  .age-select-popup-content {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1.1111111111rem;
  }
}

.age-select-popup-gradient {
  width: 80%;
  height: 100%;
  background: linear-gradient(to right, rgba(15, 17, 20, 0.9) 50%, rgba(15, 17, 20, 0) 100%);
}
@media (max-height: 55.5555555556rem) {
  .age-select-popup-gradient {
    width: 75%;
  }
}