.create-game-hub-banner {
  width: 9.8333333333rem;
  height: 25.7777777778rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-hub-banner {
    width: 7.6111111111rem;
    height: 20rem;
  }
}

.create-game-hub-recap-panel {
  height: 25.7777777778rem;
  margin-right: 4.4444444444rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-hub-recap-panel {
    height: 20rem;
    margin-right: 0rem;
  }
}

.create-game-hub-recap-text {
  font-size: calc(1rem + 0.2222222222rem);
}

.create-game-hub-options {
  height: 27.1111111111rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-hub-options {
    height: 21.3333333333rem;
  }
}

.create-game-hub-bottom-gradient {
  width: 100%;
  height: 14.7222222222rem;
  background: linear-gradient(to top, rgba(15, 17, 20, 0.95) 50%, rgba(15, 17, 20, 0) 100%);
}

.create-game-hub-setup-box {
  width: 10.6666666667rem;
  height: 10.6666666667rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-hub-setup-box {
    width: 8.3333333333rem;
    height: 8.3333333333rem;
  }
}

.create-game-hub-save-load-box {
  width: 4.8888888889rem;
  height: 4.8888888889rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-hub-save-load-box {
    width: 3.6666666667rem;
    height: 3.6666666667rem;
  }
}

.create-game-hub-memento-box {
  width: 7.1111111111rem;
  height: 7.3333333333rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-hub-memento-box {
    width: 5.8333333333rem;
    height: 5.8333333333rem;
  }
}

.create-game-hub-memento-base {
  width: 8.8888888889rem;
  height: 8.5555555556rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-hub-memento-base {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
  }
}

.create-game-hub-memento-filigree {
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  background-image: url("blp:shell_memento-maj-plus.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3.3333333333rem 3.3333333333rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-hub-memento-filigree {
    width: 5.8333333333rem;
    height: 5.8333333333rem;
    background-size: 2.7222222222rem 2.7222222222rem;
  }
}

.create-game-hub-divider-half-line {
  width: 100%;
  height: 0.0833333333rem;
  background: linear-gradient(to right, #b29e79, transparent);
}

.create-game-hub-trait-icon-container {
  height: 4.2222222222rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-hub-trait-icon-container {
    height: 2.7777777778rem;
  }
}

.create-game-hub-trait-icon {
  margin: 0.8888888889rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-hub-trait-icon {
    margin: 0.4444444444rem;
  }
}

.create-game-hub-overview {
  margin: 0.6666666667rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-hub-overview {
    margin: 0rem;
  }
}

.create-game-hub-divider-line {
  width: 100%;
  height: 0.0555555556rem;
  background: linear-gradient(to right, transparent, #b29e79, transparent);
}
.create-game-hub-divider-line.top-line {
  top: -0.6666666667rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-hub-divider-line {
    width: 40.8333333333rem;
  }
  .create-game-hub-divider-line.top-line {
    top: -0.2222222222rem;
  }
}

.create-game-hub-random-silhouette {
  fxs-background-image-tint: black;
}

.create-game-hub-random-icon {
  fxs-background-image-tint: white;
}

.create-game-hub-continue-button-container {
  margin-left: 28.4444444444rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-hub-continue-button-container {
    width: 100vw;
    margin-left: 0rem;
  }
}

.create-game-hub-continue-button {
  min-width: 25.6666666667rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-hub-continue-button {
    min-width: 19.6111111111rem;
    height: 2.4444444444rem;
  }
}

.create-game-hub-leader-level-bg {
  width: 8.2222222222rem;
  height: 8.2222222222rem;
  padding-top: 0.2222222222rem;
  background-image: url("blp:cPromo_level_circle_backer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.create-game-hub-leader-level-bg .leader-button-xp-ring {
  min-width: 6.2222222222rem;
  min-height: 6.2222222222rem;
}

.create-game-hub-leader-level {
  font-size: 2.8888888889rem;
  font-weight: 800;
}