.create-game-stage-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 7.2222222222rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-stage-header {
    height: 4.6666666667rem;
  }
}

.create-game-stage-header-container {
  padding-top: 1.3333333333rem;
}

.create-game-header-left-button-area {
  position: absolute;
  top: 3.1111111111rem;
  left: 3.1111111111rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-header-left-button-area {
    top: 1.3333333333rem;
    left: 1.3333333333rem;
  }
}

.create-game-header-right-button-area {
  position: absolute;
  top: 3.1111111111rem;
  right: 3.1111111111rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-header-right-button-area {
    top: 0.6666666667rem;
    right: 0.6666666667rem;
  }
}

.create-game-stage-body {
  position: absolute;
  top: 7.2222222222rem;
  right: 0;
  left: 0;
}
@media (max-height: 55.5555555556rem) {
  .create-game-stage-body {
    top: 4.6666666667rem;
  }
}

.create-game-text-gradient {
  background-image: url("blp:create_game_gradient1");
  background-size: 100% 100%;
}

.create-games-stage-header-filigree {
  width: 12.8888888889rem;
  height: 2rem;
  background-image: url("blp:title_accent_filigree");
  background-size: 100% 100%;
}
@media (max-height: 55.5555555556rem) {
  .create-games-stage-header-filigree {
    width: 9.3333333333rem;
    height: 1.4444444444rem;
  }
}

.create-game-markup {
  color: #8d97a6;
}
.create-game-markup b {
  color: #c2c4cc;
  font-weight: normal;
}
.create-game-markup .indent-1 {
  margin-top: 0.2222222222rem;
  margin-right: 0.2222222222rem;
  color: #8d97a6;
  font-size: 1.7777777778rem;
  line-height: 1rem;
}
.create-game-markup p {
  margin-bottom: 0.8888888889rem;
}
.create-game-markup.tight p {
  margin-bottom: 0rem;
}

.wip-banner {
  top: 1.1111111111rem;
  left: 8rem;
  width: 22.2222222222rem;
  height: 5.1111111111rem;
  background-image: url("blp:wip_label");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-height: 55.5555555556rem) {
  .wip-banner {
    top: 0.1111111111rem;
    left: 4.1666666667rem;
    width: 16.6666666667rem;
    height: 3.8333333333rem;
  }
}
.wip-banner.indented {
  left: 17.7777777778rem;
}

.create-game-header-title {
  font-size: calc(1rem + 0.7777777778rem);
}
@media (max-height: 55.5555555556rem) {
  .create-game-header-title {
    font-size: calc(1rem + 0.2222222222rem);
  }
}

.create-game-badge-container {
  width: 4.8888888889rem;
  height: 4.8888888889rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-badge-container {
    width: 3.1111111111rem;
    height: 3.1111111111rem;
  }
}