.create-game-setup-box {
  width: 21.1111111111rem;
  height: 14.8em;
  min-height: 15.5555555556rem;
}

.create-game-setup-line-divider {
  height: 0.3333333333rem;
  background-image: url("blp:shell_line-divider");
  background-size: cover;
}

.create-game-setup-box-pips-area {
  height: 2.4444444444rem;
  background: #10131b;
}

.create-game-setup-gradient {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 160.59%);
  opacity: 0.9;
}

.create-game-setup-bottom-gradient {
  height: 10.5555555556rem;
  background: linear-gradient(to top, rgba(15, 17, 20, 0.75) 50%, rgba(15, 17, 20, 0) 100%);
}

.create-game-setup-container {
  width: 66rem;
  margin-left: 5.5555555556rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-setup-container {
    margin-top: 0.2222222222rem;
    margin-left: 2.6666666667rem;
  }
}

.create-game-setup-container-column {
  width: 22rem;
}

.create-game-setup-selections {
  width: 66rem;
  margin-top: 0.8888888889rem;
  margin-bottom: 0.8888888889rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-setup-selections {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}

.create-game-setup-buttons-area {
  width: 66rem;
}

@media (max-height: 55.5555555556rem) {
  .create-game-setup-selection-carousel {
    margin-top: -0.4444444444rem;
  }
}

.create-game-setup-box-selector-icon {
  width: 3.8888888889rem;
  height: 3.8888888889rem;
  margin-bottom: 0.2222222222rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-setup-box-selector-icon {
    width: 2.2777777778rem;
    height: 2.2777777778rem;
    margin-bottom: 0.1111111111rem;
  }
}

.create-game-setup-box-selector-button-content {
  padding: 1.3333333333rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-setup-box-selector-button-content {
    padding: 0.2222222222rem;
  }
}

.create-game-setup-box-selector-content {
  padding: 1.3333333333rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-setup-box-selector-content {
    padding: 0.2222222222rem;
  }
}

.create-game-setup-divider-line {
  width: 66rem;
  height: 0.0555555556rem;
  background: linear-gradient(to right, transparent, #b29e79, transparent);
}
@media (max-height: 55.5555555556rem) {
  .create-game-setup-divider-line {
    width: 100%;
  }
}

.create-game-setup-box-bg {
  width: 88.3333333333rem;
  height: 18.3333333333rem;
}

.create-game-setup-box-button-bg {
  width: 88.3333333333rem;
  height: 21.1111111111rem;
}

.create-game-setup-continue-button {
  min-width: 25.6666666667rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-setup-continue-button {
    min-width: 19.6111111111rem;
    height: 2.4444444444rem;
  }
}

.create-game-setup-scroll-area {
  max-height: calc(29.6em + 2.6666666667rem);
}