.create-game-map-select-box {
  width: 19.4444444444rem;
  height: 18em;
  min-height: 19.4444444444rem;
}

.create-game-map-select {
  width: 64.2222222222rem;
}

.map-select-divider-line {
  width: 100%;
  height: 0.0833333333rem;
  margin-top: 1.1111111111rem;
  margin-bottom: 1.1111111111rem;
  background: linear-gradient(to right, transparent, #b29e79, transparent);
}

.create-game-map-select-icon {
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.2222222222rem;
}

.create-game-map-select-button-content {
  padding-right: 0.8888888889rem;
  padding-bottom: 0.8888888889rem;
  padding-left: 0.8888888889rem;
}
@media (max-height: 55.5555555556rem) {
  .create-game-map-select-button-content {
    padding-right: 0.8888888889rem;
    padding-bottom: 0.8888888889rem;
    padding-left: 0.8888888889rem;
  }
}