.notifications-train-mobile fxs-nav-help .caption {
  display: none;
}
@media (experience: mobile) {
  .notifications-train-mobile .fxs-close-button {
    top: 1.6666666667rem;
    right: 1.6666666667rem;
  }
}
.notifications-train-mobile .group-arrow:hover, .notifications-train-mobile .group-arrow.pressed {
  filter: brightness(200%);
}
.notifications-train-mobile .chooser-item__icon {
  background: none;
}
.notifications-train-mobile .chooser-item__icon_gradient {
  display: none;
}
.notifications-train-mobile .chooser-item__icon-image {
  background-size: contain !important;
  background-repeat: no-repeat;
  border-radius: 0;
}