.player-yields-report {
  top: 1.1111111111rem;
  bottom: 1.1111111111rem;
  left: 3.8888888889rem;
  right: 3.8888888889rem;
}
@media (max-height: 42.6666666667rem) {
  .player-yields-report {
    top: 0rem;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
  }
}
@media (experience: mobile) {
  .player-yields-report {
    position: static;
    width: 100%;
    height: 100%;
  }
}

.yield-report-title-cell {
  flex-grow: 2.5;
}