<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Leaders>
		<Row LeaderType="LEADER_ADA_LOVELACE" LeaderName="LOC_LEADER_ADA_LOVELACE_NAME" LeaderDescription="LOC_LEADER_ADA_LOVELACE_DESCRIPTION" LeaderIcon="LEADER_ADA_LOVELACE"/>
	</Leaders>
	<LeaderItems>
		<Row LeaderType="LEADER_ADA_LOVELACE" Type="TRAIT_LEADER_ADA_LOVELACE_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_LEADER_ADA_LOVELACE_ABILITY_NAME" Description="LOC_TRAIT_LEADER_ADA_LOVELACE_ABILITY_DESCRIPTION"/>
	</LeaderItems>
	<LeaderTags>
		<Row LeaderType="LEADER_ADA_LOVELACE" TagType="TAG_TRAIT_CULTURAL"/>
		<Row LeaderType="LEADER_ADA_LOVELACE" TagType="TAG_TRAIT_SCIENTIFIC"/>
		<Row LeaderType="LEADER_ADA_LOVELACE" TagType="TAG_GENDER_FEMALE"/>
	</LeaderTags>
	<LeaderQuotes>
		<Row LeaderType="LEADER_ADA_LOVELACE" Quote="LOC_MAIN_CHAR_SELECT_LEADER_ADA_LOVELACE_ANY"/>
	</LeaderQuotes>
	<LeaderCivilizationBias>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" LeaderDomain="StandardLeaders" LeaderType="LEADER_ADA_LOVELACE" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_ADA_LOVELACE_ROME_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_GREECE" LeaderDomain="StandardLeaders" LeaderType="LEADER_ADA_LOVELACE" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_ADA_LOVELACE_GREECE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_NORMAN" LeaderDomain="StandardLeaders" LeaderType="LEADER_ADA_LOVELACE" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_ADA_LOVELACE_NORMAN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_ABBASID" LeaderDomain="StandardLeaders" LeaderType="LEADER_ADA_LOVELACE" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_ADA_LOVELACE_ABBASID_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_RUSSIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_ADA_LOVELACE" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_ADA_LOVELACE_RUSSIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE"/>
	</LeaderCivilizationBias>
	<LeaderUnlocks>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_ADA_LOVELACE" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_NORMAN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_NORMAN_NAME" Description="LOC_CIVILIZATION_NORMAN_DESCRIPTION" Icon="CIVILIZATION_NORMAN"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_ADA_LOVELACE" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_ABBASID" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_ABBASID_NAME" Description="LOC_CIVILIZATION_ABBASID_DESCRIPTION" Icon="CIVILIZATION_ABBASID"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_ADA_LOVELACE" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_RUSSIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_RUSSIA_NAME" Description="LOC_CIVILIZATION_RUSSIA_DESCRIPTION" Icon="CIVILIZATION_RUSSIA"/>
	</LeaderUnlocks>
	<OwnershipConditions>
		<Row ItemType="LEADER_ADA_LOVELACE" Action="LOC_LOCKED_INCLUDED_WITH_CONTENT" />
	</OwnershipConditions>
	<Mementos>
		<Row Type="MEMENTO_ADA_LOVELACE_PUNCH_CARDS" Name="LOC_MEMENTO_ADA_LOVELACE_PUNCH_CARDS_NAME" Description="LOC_MEMENTO_ADA_LOVELACE_PUNCH_CARDS_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_ADA_LOVELACE_PUNCH_CARDS_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_ADA_LOVELACE_PUNCH_CARDS_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
		<Row Type="MEMENTO_ADA_LOVELACE_PIANO" Name="LOC_MEMENTO_ADA_LOVELACE_PIANO_NAME" Description="LOC_MEMENTO_ADA_LOVELACE_PIANO_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_ADA_LOVELACE_PIANO_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_ADA_LOVELACE_PIANO_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
		<Row Type="MEMENTO_ADA_LOVELACE_NOTE_G" Name="LOC_MEMENTO_ADA_LOVELACE_NOTE_G_NAME" Description="LOC_MEMENTO_ADA_LOVELACE_NOTE_G_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_ADA_LOVELACE_NOTE_G_FUNCTIONAL_DESCRIPTION" LeaderSpecific="LEGEND_PATH_ADA_LOVELACE" UnlockTitle="LOC_MEMENTO_ADA_LOVELACE_NOTE_G_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
	</Mementos>
</Database>
