.debug-focus {
  border: 2px solid gray;
}
.debug-focus.level-1 {
  border: 2px solid yellow;
}
.debug-focus.level-2 {
  border: 2px solid cyan;
}
.debug-focus.level-3 {
  border: 2px solid orange;
}
.debug-focus.level-4 {
  border: 2px solid #0f0;
}
.debug-focus.level-5 {
  border: 2px solid red;
}
.debug-focus.default-focus {
  border: 2px solid lightgray;
}
.debug-focus.focus {
  border: 2px solid magenta !important;
}
.debug-focus.focus-item {
  background: rgba(0, 0, 0, 0.8);
}