.belief-picker_religion-info-icon-container_holder {
  background-image: url("fs://game/rel_icon_holder.png");
}

.belief-picker_religion-info-icon-container_glow {
  background-image: url("fs://game/rel_glow_element.png");
}

.belief-choice-menu .img-frame-filigree {
  display: none;
}
@media (experience: mobile) {
  .belief-choice-menu {
    max-width: 100%;
  }
}

.belief-picker_back {
  background-image: url("fs://game/shell_back-button.png");
}
.belief-picker_back:hover, .belief-picker_back:focus, .belief-picker_back.pressed {
  background-image: url("fs://game/shell_back-button-focus.png");
}

.belief-picker_belief-info-religion-name {
  max-width: 24.2222222222rem;
}

@media (experience: mobile) {
  .panel-belief-picker-content {
    margin-top: 3.0555555556rem;
  }
}

@media (experience: mobile) {
  .belief-picker_subsystem-frame {
    width: 38.8888888889rem;
  }
}

@media (experience: mobile) {
  .belief-picker_belief-choices {
    width: 100%;
  }
}