.belief-picker_religion-info-icon-container_holder {
  background-image: url("fs://game/rel_icon_holder.png");
}

.belief-picker_religion-info-icon-container_glow {
  background-image: url("fs://game/rel_glow_element.png");
}

.belief-choice-menu .img-frame-filigree {
  display: none;
}
@media (experience: mobile) {
  .belief-choice-menu {
    width: 40%;
  }
}

@media (experience: mobile) {
  .belief-choice-menu_content-container {
    padding-bottom: 0.5555555556rem;
  }
}

@media (experience: mobile) {
  .belief-choice-menu_list .pantheon-chooser-item_text-container {
    width: 100%;
  }
}
@media (experience: mobile) {
  .belief-choice-menu_list .pantheon-chooser-item_desc {
    width: 98%;
  }
}

@media (experience: mobile) {
  .belief-choice-menu_title {
    max-width: 90%;
  }
}

@media (experience: mobile) {
  .belief-choice-menu_subtitle {
    margin: 0.6666666667rem 0.5555555556rem 0.5555555556rem;
  }
}

.belief-picker_back {
  background-image: url("fs://game/shell_back-button.png");
}
.belief-picker_back:hover, .belief-picker_back:focus, .belief-picker_back.pressed {
  background-image: url("fs://game/shell_back-button-focus.png");
}

.belief-picker_belief-info-religion-name {
  max-width: 24.2222222222rem;
}

@media (experience: mobile) {
  .panel-belief-picker-content {
    margin-top: 3.0555555556rem;
  }
}
@media (experience: mobile) {
  .panel-belief-picker-content .fxs-scrollbar__track--vertical {
    margin-top: 0.1111111111rem;
    margin-bottom: 0.1111111111rem;
  }
}

@media (experience: mobile) and (max-height: 55.5555555556rem) {
  .belief-picker_subsystem-frame {
    width: 38.8888888889rem;
  }
}
@media (experience: mobile) {
  .belief-picker_subsystem-frame .fxs-close-button {
    right: 1rem;
  }
}

@media (experience: mobile) {
  .belief-picker_belief-choices {
    width: 100%;
  }
}