.mp-friends {
  height: 96%;
}

.mp-friends-frame {
  background-image: linear-gradient(#12151f, #23252b);
  border-style: solid;
  border-width: 0.1666666667rem;
  border-image: linear-gradient(to bottom, #8c7e62, #4c473d) 1;
}

.mp-friends-tab-bar {
  width: 100%;
}

.mp-friends-close-div {
  top: -100%;
  left: 96%;
}

.mp-friends-close {
  left: 0rem;
}

.mp-friends-slot-group {
  background-color: #12151f;
}

.notification-badge {
  background-image: radial-gradient(circle at 50% 50%, rgb(192, 0, 0) 0rem, rgb(192, 0, 0) 10px, rgb(240, 188, 120) 11px, rgb(240, 188, 120) 12px, transparent 13px, transparent 16px), url("fs://game/fxt_very_soft_circle_Red.png");
}