.mp-friends {
  height: 96%;
}

.mp-friends-frame {
  border-image-source: url("blp:dip_modal_bg");
  border-image-slice: 26 40 62 40 fill;
  border-image-width: 1.44444rem 2.22222rem 3.44444rem 2.22222rem;
  border-image-outset: 0.388889rem 1.11111rem 2.22222rem 1.11111rem;
  background-image: linear-gradient(#12151f, #23252b);
}

.mp-friends-tab-bar {
  height: 3rem;
}

.mp-friends-slot-group {
  background-color: #12151f;
}

.notification-badge {
  background-image: radial-gradient(circle at 50% 50%, rgb(192, 0, 0) 0rem, rgb(192, 0, 0) 10px, rgb(240, 188, 120) 11px, rgb(240, 188, 120) 12px, transparent 13px, transparent 16px), url("blp:fxt_very_soft_circle_Red");
}

.mp-friends-options-frame {
  width: 55.5555555556rem;
}