@media (experience: mobile) {
  .mp-game-rules-frame-container {
    max-width: 55.5555555556rem;
    min-width: 50rem;
    height: 31.1111111111rem;
  }
}

@media (experience: mobile) {
  .mp-game-rules-frame {
    height: 100%;
  }
}

@media (experience: mobile) {
  .mp-game-rules__rules {
    max-width: 55.5555555556rem;
  }
}

@media (experience: mobile) {
  .mp-game-rules__rule-row {
    max-width: 25rem;
    min-width: 20rem;
  }
}