screen-mp-lobby .mp-staging__frame {
  max-width: 97.2222222222rem;
  max-height: 60rem;
}
screen-mp-lobby .mp-staging__left-section-header {
  width: 22.2222222222rem;
}
screen-mp-lobby .mp-staging__player-header {
  width: 25rem;
}
screen-mp-lobby .mp-staging__civ-header,
screen-mp-lobby .civ-dropdown-and-divider {
  width: 10rem;
}
screen-mp-lobby .mp-staging__team-header {
  width: 7.5555555556rem;
}
screen-mp-lobby .team-dropdown-and-divider {
  width: 7.2222222222rem;
}
screen-mp-lobby .player-info-slot-container,
screen-mp-lobby .player-info-header-container {
  max-width: 70rem;
}
screen-mp-lobby .mp-staging__ready-header,
screen-mp-lobby .mp-staging__ready-slot {
  width: 5rem;
}
screen-mp-lobby .mp-staging__kick-header,
screen-mp-lobby .mp-staging__kick-slot {
  width: 3.3333333333rem;
}
screen-mp-lobby .mp-staging__left-section-content {
  width: 22.2222222222rem;
}
screen-mp-lobby .img-ring-meter-ring .fxs-ring-meter__ring-left {
  background-image: url("fs://game/hud_small-progress_bar-white.png");
  background-size: cover;
  background-position: left;
  fxs-background-image-tint: #e5d2ac;
}
screen-mp-lobby .img-ring-meter-ring .fxs-ring-meter__ring-right {
  background-image: url("fs://game/hud_small-progress_bar-white.png");
  background-size: cover;
  background-position: right;
  fxs-background-image-tint: #e5d2ac;
}
screen-mp-lobby .mp-staging__player-info-scrollable .fxs-scrollbar__track--vertical {
  right: -1.1111111111rem;
}
screen-mp-lobby .mp-staging__team-bg {
  background-image: url("fs://game/mp_lobby_teamcolor.png");
}

panel-mp-lobby-chat .mp-staging__chat-panel {
  max-width: 27.7777777778rem;
  max-height: 44.4444444444rem;
}

/* TODO: fix dropdown auto-size due to inset-x-0 and max-w-full */
lobby-dropdown fxs-scrollable {
  width: 13.8888888889rem;
}