/**
Based on Robert Penner's easing equations
@url http://robertpenner.com/easing/
**/
.tree-chooser-item__details {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%;
  white-space: inherit;
}

.tree-chooser-item__details-unlocks {
  display: none;
}
.tree-chooser-item__details-unlocks.current {
  display: flex;
  background-color: transparent;
}
.tree-chooser-item__details-unlocks.completed {
  opacity: 0.75;
}

.tree-chooser-item__turns-clock {
  background-image: url("fs://game/hud_turn-timer.png");
}

.tree-chooser-item__percent-bar-fill {
  background-image: linear-gradient(90deg, #9da0a6 0%, #c2c4cc 100%);
}