.sub-system-dock {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-self: flex-end;
  justify-content: flex-start;
  margin-top: 0.8888888889rem;
}
@media (experience: mobile) and (max-height: 42.6666666667rem) {
  .sub-system-dock {
    margin-top: 0.4444444444rem;
  }
}

.sub-system-dock--button-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding-bottom: 1.3333333333rem;
}

.sub-system-dock--golden-age-ring {
  background-image: url("blp:hud_sub_golden");
}

.sub-system-dock--golden-age-timer-bg {
  bottom: -3.7777777778rem;
  background-color: rgba(40, 40, 40, 0.5);
}

.ssb__element {
  display: flex;
  width: 2.8888888889rem;
  height: 2.8888888889rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
@media (experience: mobile) {
  .ssb__element {
    width: 3.4666666667rem;
    height: 3.4666666667rem;
  }
}
.ssb__element.ssb__button {
  margin: 0.3333333333rem;
  margin-top: 0.5555555556rem;
}
.ssb__element.disabled {
  pointer-events: none;
}
.ssb__element:hover .ssb__button-iconbg--hover, .ssb__element.ssb__button.pressed .ssb__button-iconbg--hover,
.ssb__element .ssb__button.pressed .ssb__button-iconbg--hover {
  opacity: 1;
}
.ssb__element:active .ssb__button-iconbg--active, .ssb__element:focus .ssb__button-iconbg--active {
  opacity: 1;
}
.ssb__element:last-child {
  margin-right: 0;
}

.ssb__element.agetimer,
.ssb__element.ageextended {
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  margin: -0.8611111111rem;
  margin-left: 1.1111111111rem;
}
@media (experience: mobile) {
  .ssb__element.agetimer,
  .ssb__element.ageextended {
    width: 8.5333333333rem;
    height: 8.5333333333rem;
    margin: -1.0333333333rem;
    margin-left: 0.7619047619rem;
  }
}

.ssb__element.tech,
.ssb__element.civic {
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  margin: -0.8611111111rem;
}
@media (experience: mobile) {
  .ssb__element.tech,
  .ssb__element.civic {
    width: 8.5333333333rem;
    height: 8.5333333333rem;
    margin: -1.0333333333rem;
  }
}

.ssb__element.agetimer .fxs-ring-meter__ring-left,
.ssb__element.agetimer .fxs-ring-meter__ring-right,
.ssb__element.ageextended .fxs-ring-meter__ring-left,
.ssb__element.ageextended .fxs-ring-meter__ring-right {
  background-image: url("blp:hud_age_circle_rad");
}

.ssb__element.tech .fxs-ring-meter__ring-left,
.ssb__element.tech .fxs-ring-meter__ring-right {
  background-image: url("blp:hud_tech_circle_rad");
}

.ssb__element.civic .fxs-ring-meter__ring-left,
.ssb__element.civic .fxs-ring-meter__ring-right {
  background-image: url("blp:hud_civic_circle_rad");
}

.ssb__texture-ring .fxs-ring-meter__ring-left {
  background-position: left;
  background-size: cover;
}
.ssb__texture-ring .fxs-ring-meter__ring-right {
  background-position: right;
  background-size: cover;
}

.ssb__button {
  position: relative;
  display: flex;
  width: 2.8888888889rem;
  height: 2.8888888889rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}
@media (experience: mobile) {
  .ssb__button {
    width: 3.4666666667rem;
    height: 3.4666666667rem;
  }
}
.ssb__button.hud-select-potential:focus {
  z-index: 1;
  transform: scale(1.3);
}
.ssb__button.hud-select-potential:focus .ssb__button-highlight {
  opacity: 0.875;
}

.ssb__button-iconbg.agetimer {
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  background-image: url("blp:hud_age_circle_bk");
}
@media (experience: mobile) {
  .ssb__button-iconbg.agetimer {
    width: 8.5333333333rem;
    height: 8.5333333333rem;
  }
}

.ssb__button-iconbg--idle.agetimer {
  background-image: url("blp:hud_age_circle_bk");
  opacity: 0;
}

.ssb__button-iconbg--hover.agetimer {
  background-image: url("blp:hud_age_circle_hov");
  opacity: 0;
}

.ssb__button-iconbg--active.agetimer {
  background-image: url("blp:hud_age_circle_prs");
  opacity: 0;
}

.ssb__button-iconbg--disabled.agetimer {
  background-image: url("blp:hud_age_circle_dis");
  opacity: 0;
}

.ssb__button-iconbg.ageextended {
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  background-image: url("blp:hud_age_circle_bk");
}
@media (experience: mobile) {
  .ssb__button-iconbg.ageextended {
    width: 8.5333333333rem;
    height: 8.5333333333rem;
  }
}

.ssb__button-iconbg--idle.ageextended {
  background-image: url("blp:hud_age_circle_bk");
  opacity: 0;
}

.ssb__button-iconbg--hover.ageextended {
  background-image: url("blp:hud_age_circle_hov");
  opacity: 0;
}

.ssb__button-iconbg--active.ageextended {
  background-image: url("blp:hud_age_circle_prs");
  opacity: 0;
}

.ssb__button-iconbg--disabled.ageextended {
  background-image: url("blp:hud_age_circle_dis");
  opacity: 0;
}

.ssb__button-iconbg.tech {
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  background-image: url("blp:hud_tech_circle_bk");
}
@media (experience: mobile) {
  .ssb__button-iconbg.tech {
    width: 8.5333333333rem;
    height: 8.5333333333rem;
  }
}

.ssb__button-iconbg--idle.tech {
  background-image: url("blp:hud_tech_circle_bk");
  opacity: 0;
}

.ssb__button-iconbg--hover.tech {
  background-image: url("blp:hud_tech_circle_hov");
  opacity: 0;
}

.ssb__button-iconbg--active.tech {
  background-image: url("blp:hud_tech_circle_prs");
  opacity: 0;
}

.ssb__button-iconbg--disabled.tech {
  background-image: url("blp:hud_tech_circle_dis");
  opacity: 0;
}

.ssb__button-iconbg.civic {
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  background-image: url("blp:hud_civic_circle_bk");
}
@media (experience: mobile) {
  .ssb__button-iconbg.civic {
    width: 8.5333333333rem;
    height: 8.5333333333rem;
  }
}

.ssb__button-iconbg--idle.civic {
  background-image: url("blp:hud_civic_circle_bk");
  opacity: 0;
}

.ssb__button-iconbg--hover.civic {
  background-image: url("blp:hud_civic_circle_hov");
  opacity: 0;
}

.ssb__button-iconbg--active.civic {
  background-image: url("blp:hud_civic_circle_prs");
  opacity: 0;
}

.ssb__button-iconbg--disabled.civic {
  background-image: url("blp:hud_civic_circle_dis");
  opacity: 0;
}

.ssb__button-iconbg {
  background-image: url("blp:hud_sub_circle_bk");
}

.ssb__button-iconbg--idle {
  background-image: url("blp:hud_sub_circle_bk");
  opacity: 0;
}

.ssb__button-iconbg--hover {
  background-image: url("blp:hud_sub_circle_hov");
  opacity: 0;
}

.ssb__button-iconbg--active {
  background-image: url("blp:hud_sub_circle_prs");
  opacity: 0;
}

.ssb__button-iconbg--disabled {
  background-image: url("blp:hud_sub_circle_dis");
  opacity: 0;
}

.ssb__button-iconbg {
  position: absolute;
  width: 3.5555555556rem;
  height: 3.5555555556rem;
  background-position: center;
  background-repeat: no-repeat no-repeat;
  background-size: contain;
  pointer-events: none;
  transition: opacity 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media (experience: mobile) {
  .ssb__button-iconbg {
    width: 4.2666666667rem;
    height: 4.2666666667rem;
  }
}

.ssb__button-icon.agetimer {
  background-image: url("blp:sub_agetimer");
}

.ssb__button-icon.ageextended {
  background-image: url("blp:hud_omt_infinity");
}

.ssb__button-icon.tech {
  background-image: url("blp:sub_tech");
}

.ssb__button-icon.civic {
  background-image: url("blp:sub_civics");
}

.ssb__button-icon.gov {
  background-image: url("blp:sub_govt");
}

.ssb__button-icon.religion {
  background-image: url("blp:sub_religion");
}

.ssb__button-icon.resources {
  background-image: url("blp:sub_resource");
}

.ssb__button-icon.greatworks {
  background-image: url("blp:sub_greatworks");
}

.ssb__button-icon.unlocks {
  background-image: url("blp:sub_unlock");
}

.ssb__button-icon.advanced-start {
  background-image: url("blp:sub_advstart");
}

.ssb__button-icon {
  position: absolute;
  width: 3.5555555556rem;
  height: 3.5555555556rem;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
  background-size: contain;
  pointer-events: none;
}
@media (experience: mobile) {
  .ssb__button-icon {
    width: 4.2666666667rem;
    height: 4.2666666667rem;
  }
}

.ssb-button__turn-counter {
  position: absolute;
  right: 0;
  bottom: 0.4444444444rem;
  left: 0;
  display: flex;
  height: 0.8888888889rem;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  text-align: center;
}

.ssb-button__turn-counter--hidden {
  display: none;
}