.dedication-pill {
  border-image-slice: 4 8 4 8 fill;
  border-image-source: url("blp:hud_production_pill");
  border-image-width: 0.2222222222rem 0.4444444444rem 0.2222222222rem 0.4444444444rem;
}

.dedication-divider {
  width: 4.4444444444rem;
  height: 0.1111111111rem;
}

.dedication-card-no-tooltip p {
  pointer-events: none;
}