.store-launcher__card-activatable {
  width: 26.6666666667rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-height: 55.5555555556rem) {
  .store-launcher__card-activatable {
    width: 16.6666666667rem;
    min-width: 0rem;
  }
}

@media (max-height: 55.5555555556rem) {
  .filigree-panel-top-special {
    width: 17.1111111111rem;
    min-width: 0rem;
    background-size: contain;
    position: absolute;
    top: -1.2777777778rem;
  }
}