<?xml version="1.0" encoding="utf-8"?>
<Database>
	<LeaderCivilizationBias>
	</LeaderCivilizationBias>
	<Civilizations>
		<Row Domain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ASSYRIA" CivilizationName="LOC_CIVILIZATION_ASSYRIA_NAME" CivilizationFullName="LOC_CIVILIZATION_ASSYRIA_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_ASSYRIA_DESCRIPTION" CivilizationIcon="ASSYRIA_icon.png"/>
	</Civilizations>
	<CivilizationItems>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ASSYRIA" Type="TRAIT_ASSYRIA_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_ASSYRIA_ABILITY_NAME" Description="LOC_TRAIT_ASSYRIA_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ASSYRIA" Type="UNIT_MAGARRU" Kind="KIND_UNIT" Name="LOC_UNIT_MAGARRU_NAME" Description="LOC_UNIT_MAGARRU_BASE_DESCRIPTION" Icon="unitflag_leiomano.png"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ASSYRIA" Type="UNIT_TURTANU" Kind="KIND_UNIT" Name="LOC_UNIT_TURTANU_NAME" Description="LOC_UNIT_TURTANU_DESCRIPTION" Icon="unitflag_TURTANU.png"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ASSYRIA" Type="QUARTER_EKALLU" Kind="KIND_QUARTER" Name="LOC_QUARTER_EKALLU_NAME" Description="LOC_QUARTER_EKALLU_DESCRIPTION" Icon="impicon_loikalo.png"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ASSYRIA" Type="BUILDING_CITADEL" Kind="KIND_BUILDING" Name="LOC_BUILDING_CITADEL_NAME" Description="LOC_BUILDING_CITADEL_DESCRIPTION" Icon="impicon_loikalo.png"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ASSYRIA" Type="BUILDING_ROYAL_LIBRARY" Kind="KIND_BUILDING" Name="LOC_BUILDING_ROYAL_LIBRARY_NAME" Description="LOC_BUILDING_ROYAL_LIBRARY_DESCRIPTION" Icon="impicon_loikalo.png"/>
	</CivilizationItems>
	<CivilizationTags>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ASSYRIA" TagType="TAG_TRAIT_MILITARISTIC"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ASSYRIA" TagType="TAG_TRAIT_SCIENTIFIC"/>
	</CivilizationTags>
	<LeaderCivilizationBias>
		<InsertOrIgnore CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ASSYRIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_XERXES" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_XERXES_ASSYRIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<InsertOrIgnore CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ASSYRIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_GENGHIS_KHAN" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_GENGHIS_KHAN_ASSYRIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<InsertOrIgnore CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ASSYRIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_LAKSHMIBAI" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_LAKSHMIBAI_ASSYRIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<InsertOrIgnore CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ASSYRIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_XERXES_ALT" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_XERXES_ASSYRIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
	</LeaderCivilizationBias>
	<CivilizationUnlocks>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ASSYRIA" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_ABBASID" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_ABBASID_NAME" Description="LOC_CIVILIZATION_ABBASID_DESCRIPTION" Icon="CIVILIZATION_ABBASID"/>
	</CivilizationUnlocks>
	<OwnershipConditions>
		<Row ItemType="CIVILIZATION_ASSYRIA" Action="LOC_LOCKED_INCLUDED_WITH_CONTENT" />
	</OwnershipConditions>
</Database>