attribute-card {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  pointer-events: none;
}
@media (experience: mobile) {
  attribute-card {
    justify-content: center;
  }
}
attribute-card.attribute-card--repeatable .attribute-card__repeated {
  visibility: visible;
}
attribute-card.attribute-card--complete .attribute-card__checkmark {
  visibility: visible;
}
attribute-card.selected .img-circle-selected {
  opacity: 1;
}

.attribute-card__repeated,
.attribute-card__checkmark {
  --checkmark-size: 2.6666666667rem;
  position: absolute;
  top: -1.3333333333rem;
  right: -1.2222222222rem;
  visibility: hidden;
}