.screen-attribute-trees .tree-grid-row .tree-grid-card {
  min-width: 0.6666666667rem;
  min-height: 7.8888888889rem;
  margin-left: 0rem;
  margin-right: 0rem;
  flex: 1 0 auto;
}
@media (max-width: 88.8333333333rem) {
  .screen-attribute-trees .tree-grid-row .tree-grid-card {
    min-width: 1.3333333333rem;
    min-height: 2.8888888889rem;
  }
}
@media (experience: mobile) {
  .screen-attribute-trees .tree-grid-row .tree-grid-card {
    min-width: 1.3333333333rem;
    min-height: 2.8888888889rem;
  }
}