.giftbox-notification {
  position: relative;
  max-width: 30%;
}

.giftbox-scrollable-bg {
  background-color: rgb(10, 10, 23);
}

.img-radial-glow {
  background-image: radial-gradient(closest-side, #dbae4b, transparent);
  opacity: 0.1;
}

.reward-display {
  pointer-events: auto;
}
.reward-display:hover, .reward-display.pressed {
  background-color: #333640;
}