@keyframes start-game-darken-screen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.game-creator-darken-screen {
  animation-name: start-game-darken-screen;
  animation-duration: 1s;
}

@media (experience: mobile) {
  .game-creator-leader-info-content {
    width: 20rem;
  }
}

.game-creator-main-box {
  width: 33.2222222222rem;
  margin-bottom: 2.8888888889rem;
  margin-left: 3.3333333333rem;
  border-image-outset: 0.9444444444rem 0.7222222222rem;
  border-image-slice: 30 20 30 20 fill;
  border-image-source: url("fs://game/hud_unit-panel_box-bg.png");
  border-image-width: 1.6666666667rem 1.1111111111rem 1.6666666667rem 1.1111111111rem;
}
@media (max-width: 88.8888888889rem), (max-aspect-ratio: 3/2), (experience: mobile) {
  .game-creator-main-box {
    width: 25.5555555556rem;
    margin-left: 2rem;
  }
}
@media (max-height: 55.5555555556rem), (max-aspect-ratio: 3/2), (experience: mobile) {
  .game-creator-main-box {
    margin-bottom: 2rem;
  }
}

.game-creator-details-box {
  width: 31.4444444444rem;
  margin-top: 1.1111111111rem;
  margin-bottom: 2.8888888889rem;
  margin-left: 1.2777777778rem;
}
@media (max-width: 88.8888888889rem), (max-aspect-ratio: 3/2), (experience: mobile) {
  .game-creator-details-box {
    width: 26.6666666667rem;
    margin-left: 0.8333333333rem;
  }
}
@media (max-height: 56.8888888889rem), (max-aspect-ratio: 3/2), (experience: mobile) {
  .game-creator-details-box {
    margin-top: 0;
  }
}
@media (experience: mobile) {
  .game-creator-details-box {
    width: auto;
    max-width: 30.5555555556rem;
    flex: 1 1 0%;
  }
}
@media (experience: mobile) and (max-width: 71.1111111111rem) {
  .game-creator-details-box {
    max-width: 22.2222222222rem;
  }
}

.game-creator-back-button {
  width: 2.4444444444rem;
  height: 2.4444444444rem;
  background-image: url("fs://game/shell_back-button.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.game-creator-back-button:focus, .game-creator-back-button:hover, .game-creator-back-button.pressed {
  background-image: url("fs://game/shell_back-button-focus.png");
}

.game-creator-random-button {
  width: 2.4444444444rem;
  height: 2.4444444444rem;
  background-image: url("fs://game/shell_arrow-button.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.game-creator-random-button:focus, .game-creator-random-button:hover, .game-creator-random-button.pressed {
  background-image: url("fs://game/shell_arrow-button-focus.png");
}

.game-creator-nav-button {
  min-width: 16.1111111111rem;
  min-height: 2.2222222222rem;
  padding: 0rem 0.4444444444rem;
  margin: 0.3333333333rem;
  background: linear-gradient(270deg, #4c473d 0%, #35373d 50%, #4c473d 100%);
  border-image-outset: 0.3333333333rem 0.4444444444rem 0.8888888889rem 0.4444444444rem;
  border-image-slice: 16 96 36 96 fill;
  border-image-source: url("fs://game/shell_create-tab-bg.png");
  border-image-width: 0.8888888889rem 5.3333333333rem 2rem 5.3333333333rem;
}
.game-creator-nav-button:focus, .game-creator-nav-button:hover, .game-creator-nav-button.pressed {
  background: linear-gradient(270deg, #8c7e62 0%, #b4975e 0.01%, #584c32 35%, #584c32 65%, #b4975e 100%);
}

.game-creator-nav-button-selected {
  border-image-source: url("fs://game/shell_create-tab-bg-focus.png");
}

.game-creator-leader-info {
  min-width: 24.0555555556rem;
  max-width: 36.6666666667rem;
  border-image-outset: 0.9444444444rem 0.7222222222rem;
  border-image-slice: 30 20 30 20 fill;
  border-image-source: url("fs://game/hud_unit-panel_box-bg.png");
  border-image-width: 1.6666666667rem 1.1111111111rem 1.6666666667rem 1.1111111111rem;
}
@media (max-width: 93.3333333333rem), (max-aspect-ratio: 3/2), (experience: mobile) {
  .game-creator-leader-info {
    min-width: 12.7777777778rem;
    max-width: 13.3333333333rem;
  }
  .game-creator-leader-info .filigree-panel-top-special {
    min-width: 11.1111111111rem;
    max-width: 11.6666666667rem;
    margin-top: -1.1111111111rem;
    background-size: contain;
  }
  .game-creator-leader-info .font-title-2xl {
    font-size: calc(1rem + 0.4444444444rem);
  }
  .game-creator-leader-info .game-creator-leader-info-name {
    flex-direction: column;
    align-content: center;
    margin-top: 0.4444444444rem;
    text-align: center;
  }
}
@media (max-height: 55.5555555556rem), (max-aspect-ratio: 3/2), (experience: mobile) {
  .game-creator-leader-info .filigree-panel-top-special {
    max-width: 12.2222222222rem;
    margin-top: 0.2777777778rem;
  }
}
@media (experience: mobile), (max-aspect-ratio: 3/2) {
  .game-creator-leader-info {
    min-width: 17.4444444444rem;
    max-width: 17.4444444444rem;
  }
  .game-creator-leader-info .filigree-panel-top-special {
    position: absolute;
    top: -1.2777777778rem;
    width: 17.1111111111rem;
    min-width: 0rem;
    background-size: contain;
  }
}

.game-creator-random-leader {
  background-image: url("fs://game/shell_leader-silhouette");
  background-repeat: no-repeat;
  background-size: contain;
}