.endgame-banner-border {
  border-width: 0 0 11.1111111111rem;
  border-style: solid;
  border-image-repeat: stretch;
  border-image-slice: 0 0 200 0;
}

.no-desc .endgame-banner-border {
  border-width: 0 0 9.1666666667rem;
}

.endgame-banner-border.small {
  border-width: 0 0 8.1666666667rem;
}

.endgame-filligree.right {
  transform: scaleX(-1);
}

.endgame-banner-title {
  font-size: 2.5rem;
}

.endgame-victory-quote-bg {
  border-width: 1.3333333333rem;
  border-style: solid;
  border-image-repeat: stretch;
  border-image-slice: 24 24 24 24 fill;
  border-image-source: url("blp:hud_unit-panel_box-bg.png");
}

.endgame-quote-filigree-left {
  border-width: 0 10rem 0 13.3888888889rem;
  border-style: solid;
  border-image-repeat: stretch;
  border-image-slice: 0 147 0 70;
  border-image-source: url("blp:base_top-filigree_left.png");
}

.endgame-quote-filigree-right {
  border-width: 0 13.3333333333rem 0 9.4444444444rem;
  border-style: solid;
  border-image-repeat: stretch;
  border-image-slice: 0 70 0 147;
  border-image-source: url("blp:base_top-filigree_right.png");
}