.screen-general-chooser {
  position: absolute;
  height: 100%;
  width: 40%;
  pointer-events: auto;
}
.screen-general-chooser .fxs-close-button {
  position: absolute;
  right: 0;
  top: 0;
}
.screen-general-chooser .primary-window {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  pointer-events: auto;
}

.gen-chooser-content {
  pointer-events: auto;
}

.gen-chooser-item {
  display: flex;
  margin-top: 0.4444444444rem;
  pointer-events: auto;
}