/**
Based on Robert Penner's easing equations
@url http://robertpenner.com/easing/
**/
.cinematic-moment_quote-box {
  border-image: url("fs://game/modal_bg.png");
  border-image-slice: 32 100 64 100 fill;
  border-image-outset: 0.2777777778rem 0.8888888889rem 1.4444444444rem 0.8888888889rem;
  border-image-width: 1.7777777778rem 5.5555555556rem 3.5555555556rem 5.5555555556rem;
}

.cinematic-moment_quote-text-container {
  max-width: 35.5555555556rem;
}
@media (max-height: 55.5555555556rem) {
  .cinematic-moment_quote-text-container {
    max-width: auto;
    width: 100%;
  }
}

.cinematic-moment_quote-marks {
  border-image: url("fs://game/base_quotes.png");
  border-image-slice: 23 fill;
  border-image-width: 1.2777777778rem;
}

.cinematic-moment_vignette {
  background-image: url("hud_wonder-top-vignette");
  height: 45%;
}

@media (max-height: 55.5555555556rem) {
  .cinematic-moment_quote-container {
    width: 100%;
  }
}