.screen-events {
  height: 95%;
  width: auto;
  pointer-events: auto;
}
.screen-events .events-menu {
  margin-top: 2vh;
  width: 24.4444444444rem;
}
.screen-events .events-menu-top {
  background-image: url("fs://game/shell_top-filigree.png");
  width: 16.6666666667rem;
  height: 1rem;
}
.screen-events .events-menu-divider {
  background-image: url("fs://game/shell_simple-div.png");
  width: 22.2222222222rem;
  height: 1.7777777778rem;
  margin-top: 0.8888888889rem;
}
.screen-events .events-menu-item {
  pointer-events: auto;
}
.screen-events .events-menu-item:hover, .screen-events .events-menu-item:focus, .screen-events .events-menu-item.pressed {
  border-bottom-style: solid;
  border-bottom-width: 0.0555555556rem;
  border-bottom-color: #e5e5e5;
  color: #e5e5e5;
}
.screen-events .events-description {
  position: relative;
  padding-top: 1.3333333333rem;
  padding-bottom: 1.3333333333rem;
  width: 95%;
}
.screen-events .events-info {
  border-image-source: url("fs://game/hud_unit-panel_box-bg.png");
  border-image-slice: 30 20 30 20 fill;
  border-image-width: auto;
  border-image-outset: 0.9444444444rem 0.7222222222rem;
  width: 44.4444444444rem;
}
.screen-events .events-desc-hslot {
  width: 45vw;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width: 0.0555555556rem;
  border-bottom-color: #e5e5e5;
}
.screen-events .events-desc-hslot {
  width: 100%;
}
.screen-events .events-banner {
  background-image: url("fs://game/bn_default.png");
}
.screen-events .events-scrollable .fxs-scrollable-content {
  max-width: 95%;
}
.screen-events .events-rules {
  margin-top: 2.6666666667vh;
}