<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Ages>
		<Row AgeType="AGE_MODERN" Name="LOC_AGE_MODERN_NAME" Description="LOC_AGE_MODERN_DESCRIPTION" PlayerCivilizationDomain="ModernAgeCivilizations" DefeatDomain="ModernDefeats" VictoryDomain="ModernVictories" MapSizeDomain="StandardMapSizes" Banner="age-sel_modern_full" SortIndex="30"/>
	</Ages>
	<Civilizations>
		<Row Domain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_AMERICA" CivilizationName="LOC_CIVILIZATION_AMERICA_NAME" CivilizationFullName="LOC_CIVILIZATION_AMERICA_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_AMERICA_DESCRIPTION" CivilizationIcon="civ_sym_america.png"/>
		<Row Domain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_BUGANDA" CivilizationName="LOC_CIVILIZATION_BUGANDA_NAME" CivilizationFullName="LOC_CIVILIZATION_BUGANDA_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_BUGANDA_DESCRIPTION" CivilizationIcon="civ_sym_buganda.png"/>
		<Row Domain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_FRENCH_EMPIRE" CivilizationName="LOC_CIVILIZATION_FRENCH_EMPIRE_NAME" CivilizationFullName="LOC_CIVILIZATION_FRENCH_EMPIRE_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_FRENCH_EMPIRE_DESCRIPTION" CivilizationIcon="civ_sym_french_empire.png"/>
		<Row Domain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEXICO" CivilizationName="LOC_CIVILIZATION_MEXICO_NAME" CivilizationFullName="LOC_CIVILIZATION_MEXICO_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_MEXICO_DESCRIPTION" CivilizationIcon="civ_sym_mexico.png"/>
		<Row Domain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MUGHAL" CivilizationName="LOC_CIVILIZATION_MUGHAL_NAME" CivilizationFullName="LOC_CIVILIZATION_MUGHAL_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_MUGHAL_DESCRIPTION" CivilizationIcon="civ_sym_mughal.png"/>
		<Row Domain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEIJI" CivilizationName="LOC_CIVILIZATION_MEIJI_NAME" CivilizationFullName="LOC_CIVILIZATION_MEIJI_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_MEIJI_DESCRIPTION" CivilizationIcon="civ_sym_meiji"/>
		<Row Domain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_PRUSSIA" CivilizationName="LOC_CIVILIZATION_PRUSSIA_NAME" CivilizationFullName="LOC_CIVILIZATION_PRUSSIA_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_PRUSSIA_DESCRIPTION" CivilizationIcon="civ_sym_prussia.png"/>
		<Row Domain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_QING" CivilizationName="LOC_CIVILIZATION_QING_NAME" CivilizationFullName="LOC_CIVILIZATION_QING_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_QING_DESCRIPTION" CivilizationIcon="civ_sym_qing.png"/>
		<Row Domain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_RUSSIA" CivilizationName="LOC_CIVILIZATION_RUSSIA_NAME" CivilizationFullName="LOC_CIVILIZATION_RUSSIA_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_RUSSIA_DESCRIPTION" CivilizationIcon="civ_sym_russia.png"/>
		<Row Domain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_SIAM" CivilizationName="LOC_CIVILIZATION_SIAM_NAME" CivilizationFullName="LOC_CIVILIZATION_SIAM_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_SIAM_DESCRIPTION" CivilizationIcon="civ_sym_siam.png"/>
	</Civilizations>
	<CivilizationItems>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_AMERICA" Type="TRAIT_AMERICA_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_AMERICA_ABILITY_NAME" Description="LOC_TRAIT_AMERICA_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_AMERICA" Type="UNIT_MARINE" Kind="KIND_UNIT" Name="LOC_UNIT_MARINE_NAME" Description="LOC_UNIT_MARINE_BASE_DESCRIPTION" Icon="unitflag_marine.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_AMERICA" Type="UNIT_PROSPECTOR" Kind="KIND_UNIT" Name="LOC_UNIT_PROSPECTOR_NAME" Description="LOC_UNIT_PROSPECTOR_DESCRIPTION" Icon="unitflag_prospector.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_AMERICA" Type="QUARTER_INDUSTRIAL_PARK" Kind="KIND_QUARTER" Name="LOC_QUARTER_INDUSTRIAL_PARK_NAME" Description="LOC_QUARTER_INDUSTRIAL_PARK_DESCRIPTION" Icon="city_uniquequarter"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_AMERICA" Type="BUILDING_RAILYARD" Kind="KIND_BUILDING" Name="LOC_BUILDING_RAILYARD_NAME" Description="LOC_BUILDING_RAILYARD_DESCRIPTION" Icon="buildicon_railyard.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_AMERICA" Type="BUILDING_STEEL_MILL" Kind="KIND_BUILDING" Name="LOC_BUILDING_STEEL_MILL_NAME" Description="LOC_BUILDING_STEEL_MILL_DESCRIPTION" Icon="buildicon_steelmill.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_BUGANDA" Type="TRAIT_BUGANDA_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_BUGANDA_ABILITY_NAME" Description="LOC_TRAIT_BUGANDA_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_BUGANDA" Type="UNIT_ABAMBOWA" Kind="KIND_UNIT" Name="LOC_UNIT_ABAMBOWA_NAME" Description="LOC_UNIT_ABAMBOWA_BASE_DESCRIPTION" Icon="unitflag_abambowa.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_BUGANDA" Type="UNIT_MWAMI" Kind="KIND_UNIT" Name="LOC_UNIT_MWAMI_NAME" Description="LOC_UNIT_MWAMI_DESCRIPTION" Icon="unitflag_mwami.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_BUGANDA" Type="IMPROVEMENT_KABAKAS_LAKE" Kind="KIND_IMPROVEMENT" Name="LOC_IMPROVEMENT_KABAKAS_LAKE_NAME" Description="LOC_IMPROVEMENT_KABAKAS_LAKE_DESCRIPTION" Icon="impicon_kabakaslake.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_FRENCH_EMPIRE" Type="TRAIT_FRENCH_EMPIRE_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_FRENCH_EMPIRE_ABILITY_NAME" Description="LOC_TRAIT_FRENCH_EMPIRE_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_FRENCH_EMPIRE" Type="UNIT_GARDE_IMPERIALE" Kind="KIND_UNIT" Name="LOC_UNIT_GARDE_IMPERIALE_NAME" Description="LOC_UNIT_GARDE_IMPERIALE_BASE_DESCRIPTION" Icon="unitflag_gardeimperiale.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_FRENCH_EMPIRE" Type="UNIT_JACOBIN" Kind="KIND_UNIT" Name="LOC_UNIT_JACOBIN_NAME" Description="LOC_UNIT_JACOBIN_DESCRIPTION" Icon="unitflag_jacobin.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_FRENCH_EMPIRE" Type="QUARTER_AVENUE" Kind="KIND_QUARTER" Name="LOC_QUARTER_AVENUE_NAME" Description="LOC_QUARTER_AVENUE_DESCRIPTION" Icon="city_uniquequarter"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_FRENCH_EMPIRE" Type="BUILDING_FORMAL_GARDEN" Kind="KIND_BUILDING" Name="LOC_BUILDING_FORMAL_GARDEN_NAME" Description="LOC_BUILDING_FORMAL_GARDEN_DESCRIPTION" Icon="buildicon_formalgarden.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_FRENCH_EMPIRE" Type="BUILDING_SALON" Kind="KIND_BUILDING" Name="LOC_BUILDING_SALON_NAME" Description="LOC_BUILDING_SALON_DESCRIPTION" Icon="buildicon_salon.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEIJI" Type="TRAIT_MEIJI_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_MEIJI_ABILITY_NAME" Description="LOC_TRAIT_MEIJI_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEIJI" Type="UNIT_MIKASA" Kind="KIND_UNIT" Name="LOC_UNIT_MIKASA_NAME" Description="LOC_UNIT_MIKASA_BASE_DESCRIPTION" Icon="unitflag_mikasa.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEIJI" Type="UNIT_ZERO" Kind="KIND_UNIT" Name="LOC_UNIT_ZERO_NAME" Description="LOC_UNIT_ZERO_BASE_DESCRIPTION" Icon="unitflag_zero.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEIJI" Type="QUARTER_ZAIBATSU" Kind="KIND_QUARTER" Name="LOC_QUARTER_ZAIBATSU_NAME" Description="LOC_QUARTER_ZAIBATSU_DESCRIPTION" Icon="city_uniquequarter"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEIJI" Type="BUILDING_GINKO" Kind="KIND_BUILDING" Name="LOC_BUILDING_GINKO_NAME" Description="LOC_BUILDING_GINKO_DESCRIPTION" Icon="buildicon_ginko.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEIJI" Type="BUILDING_JUKOGYO" Kind="KIND_BUILDING" Name="LOC_BUILDING_JUKOGYO_NAME" Description="LOC_BUILDING_JUKOGYO_DESCRIPTION" Icon="buildicon_jukogyuo.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEXICO" Type="TRAIT_MEXICO_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_MEXICO_ABILITY_NAME" Description="LOC_TRAIT_MEXICO_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEXICO" Type="UNIT_SOLDADERAS" Kind="KIND_UNIT" Name="LOC_UNIT_SOLDADERAS_NAME" Description="LOC_UNIT_SOLDADERAS_BASE_DESCRIPTION" Icon="unitflag_soldaderas.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEXICO" Type="UNIT_REVOLUCIONARIO" Kind="KIND_UNIT" Name="LOC_UNIT_REVOLUCIONARIO_NAME" Description="LOC_UNIT_REVOLUCIONARIO_DESCRIPTION" Icon="unitflag_revolucionario.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEXICO" Type="QUARTER_ZOCALO" Kind="KIND_QUARTER" Name="LOC_QUARTER_ZOCALO_NAME" Description="LOC_QUARTER_ZOCALO_DESCRIPTION" Icon="city_uniquequarter"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEXICO" Type="BUILDING_CATEDRAL" Kind="KIND_BUILDING" Name="LOC_BUILDING_CATEDRAL_NAME" Description="LOC_BUILDING_CATEDRAL_DESCRIPTION" Icon="buildicon_catedral.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEXICO" Type="BUILDING_PORTAL_DE_MERCADERES" Kind="KIND_BUILDING" Name="LOC_BUILDING_PORTAL_DE_MERCADERES_NAME" Description="LOC_BUILDING_PORTAL_DE_MERCADERES_DESCRIPTION" Icon="buildicon_portal.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MUGHAL" Type="TRAIT_MUGHAL_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_MUGHAL_ABILITY_NAME" Description="LOC_TRAIT_MUGHAL_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MUGHAL" Type="UNIT_SEPOY" Kind="KIND_UNIT" Name="LOC_UNIT_SEPOY_NAME" Description="LOC_UNIT_SEPOY_BASE_DESCRIPTION" Icon="unitflag_sepoy.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MUGHAL" Type="UNIT_ZAMINDAR" Kind="KIND_UNIT" Name="LOC_UNIT_ZAMINDAR_NAME" Description="LOC_UNIT_ZAMINDAR_DESCRIPTION" Icon="unitflag_zamindar.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MUGHAL" Type="IMPROVEMENT_STEPWELL" Kind="KIND_IMPROVEMENT" Name="LOC_IMPROVEMENT_STEPWELL_NAME" Description="LOC_IMPROVEMENT_STEPWELL_DESCRIPTION" Icon="impicon_stepwell.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_PRUSSIA" Type="TRAIT_PRUSSIA_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_PRUSSIA_ABILITY_NAME" Description="LOC_TRAIT_PRUSSIA_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_PRUSSIA" Type="UNIT_HUSSAR" Kind="KIND_UNIT" Name="LOC_UNIT_HUSSAR_NAME" Description="LOC_UNIT_HUSSAR_BASE_DESCRIPTION" Icon="unitflag_hussar.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_PRUSSIA" Type="UNIT_STUKA" Kind="KIND_UNIT" Name="LOC_UNIT_STUKA_NAME" Description="LOC_UNIT_STUKA_BASE_DESCRIPTION" Icon="unitflag_stuka.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_PRUSSIA" Type="ROUTE_STAATSEISENBAHN" Kind="KIND_ROUTE" Name="LOC_ROUTE_STAATSEISENBAHN_NAME" Description="LOC_ROUTE_STAATSEISENBAHN_DESCRIPTION" Icon="impicon_staat.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_QING" Type="TRAIT_QING_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_QING_ABILITY_NAME" Description="LOC_TRAIT_QING_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_QING" Type="UNIT_GUSA" Kind="KIND_UNIT" Name="LOC_UNIT_GUSA_NAME" Description="LOC_UNIT_GUSA_BASE_DESCRIPTION" Icon="unitflag_gusa.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_QING" Type="UNIT_HANGSHANG" Kind="KIND_UNIT" Name="LOC_UNIT_HANGSHANG_NAME" Description="LOC_UNIT_HANGSHANG_DESCRIPTION" Icon="unitflag_hangshang.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_QING" Type="QUARTER_HUIGUAN" Kind="KIND_QUARTER" Name="LOC_QUARTER_HUIGUAN_NAME" Description="LOC_QUARTER_HUIGUAN_DESCRIPTION" Icon="city_uniquequarter"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_QING" Type="BUILDING_EXAMINATION_HALL" Kind="KIND_BUILDING" Name="LOC_BUILDING_EXAMINATION_HALL_NAME" Description="LOC_BUILDING_EXAMINATION_HALL_DESCRIPTION" Icon="buildicon_examhall.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_QING" Type="BUILDING_MONEY_SHOP" Kind="KIND_BUILDING" Name="LOC_BUILDING_MONEY_SHOP_NAME" Description="LOC_BUILDING_MONEY_SHOP_DESCRIPTION" Icon="buildicon_moneyshop.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_RUSSIA" Type="TRAIT_RUSSIA_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_RUSSIA_ABILITY_NAME" Description="LOC_TRAIT_RUSSIA_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_RUSSIA" Type="UNIT_COSSACK" Kind="KIND_UNIT" Name="LOC_UNIT_COSSACK_NAME" Description="LOC_UNIT_COSSACK_BASE_DESCRIPTION" Icon="unitflag_cossack.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_RUSSIA" Type="UNIT_KATYUSHA" Kind="KIND_UNIT" Name="LOC_UNIT_KATYUSHA_NAME" Description="LOC_UNIT_KATYUSHA_BASE_DESCRIPTION" Icon="unitflag_katyusha.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_RUSSIA" Type="IMPROVEMENT_OBSHCHINA" Kind="KIND_IMPROVEMENT" Name="LOC_IMPROVEMENT_OBSHCHINA_NAME" Description="LOC_IMPROVEMENT_OBSHCHINA_DESCRIPTION" Icon="impicon_obshchina.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_SIAM" Type="TRAIT_SIAM_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_SIAM_ABILITY_NAME" Description="LOC_TRAIT_SIAM_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_SIAM" Type="UNIT_CHANG_BEUN" Kind="KIND_UNIT" Name="LOC_UNIT_CHANG_BEUN_NAME" Description="LOC_UNIT_CHANG_BEUN_BASE_DESCRIPTION" Icon="unitflag_changbeun.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_SIAM" Type="UNIT_UPARAT" Kind="KIND_UNIT" Name="LOC_UNIT_UPARAT_NAME" Description="LOC_UNIT_UPARAT_DESCRIPTION" Icon="unitflag_uparat.png"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_SIAM" Type="IMPROVEMENT_BANG" Kind="KIND_IMPROVEMENT" Name="LOC_IMPROVEMENT_BANG_NAME" Description="LOC_IMPROVEMENT_BANG_DESCRIPTION" Icon="impicon_bang.png"/>
	</CivilizationItems>
	<CivilizationTags>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_AMERICA" TagType="TAG_TRAIT_ECONOMIC"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_AMERICA" TagType="TAG_TRAIT_EXPANSIONIST"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_BUGANDA" TagType="TAG_TRAIT_CULTURAL"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_BUGANDA" TagType="TAG_TRAIT_EXPANSIONIST"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_FRENCH_EMPIRE" TagType="TAG_TRAIT_MILITARISTIC"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_FRENCH_EMPIRE" TagType="TAG_TRAIT_POLITICAL"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEIJI" TagType="TAG_TRAIT_MILITARISTIC"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEIJI" TagType="TAG_TRAIT_SCIENTIFIC"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEXICO" TagType="TAG_TRAIT_CULTURAL"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEXICO" TagType="TAG_TRAIT_POLITICAL"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MUGHAL" TagType="TAG_TRAIT_ECONOMIC"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MUGHAL" TagType="TAG_TRAIT_EXPANSIONIST"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_PRUSSIA" TagType="TAG_TRAIT_MILITARISTIC"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_PRUSSIA" TagType="TAG_TRAIT_POLITICAL"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_QING" TagType="TAG_TRAIT_ECONOMIC"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_QING" TagType="TAG_TRAIT_EXPANSIONIST"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_RUSSIA" TagType="TAG_TRAIT_CULTURAL"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_RUSSIA" TagType="TAG_TRAIT_SCIENTIFIC"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_SIAM" TagType="TAG_TRAIT_CULTURAL"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_SIAM" TagType="TAG_TRAIT_POLITICAL"/>
	</CivilizationTags>
	<CivilizationUnlocks>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_AMERICA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_AMERICA_NAME" Description="LOC_CIVILIZATION_AMERICA_DESCRIPTION" Icon="CIVILIZATION_AMERICA"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_NORMAN" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_AMERICA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_AMERICA_NAME" Description="LOC_CIVILIZATION_AMERICA_DESCRIPTION" Icon="CIVILIZATION_AMERICA"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_ABBASID" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_BUGANDA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_BUGANDA_NAME" Description="LOC_CIVILIZATION_BUGANDA_DESCRIPTION" Icon="CIVILIZATION_BUGANDA"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SONGHAI" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_BUGANDA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_BUGANDA_NAME" Description="LOC_CIVILIZATION_BUGANDA_DESCRIPTION" Icon="CIVILIZATION_BUGANDA"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_FRENCH_EMPIRE" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_FRENCH_EMPIRE_NAME" Description="LOC_CIVILIZATION_FRENCH_EMPIRE_DESCRIPTION" Icon="CIVILIZATION_FRENCH_EMPIRE"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_NORMAN" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_FRENCH_EMPIRE" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_FRENCH_EMPIRE_NAME" Description="LOC_CIVILIZATION_FRENCH_EMPIRE_DESCRIPTION" Icon="CIVILIZATION_FRENCH_EMPIRE"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_HAWAII" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MEIJI" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MEIJI_NAME" Description="LOC_CIVILIZATION_MEIJI_DESCRIPTION" Icon="CIVILIZATION_MEIJI"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MAJAPAHIT" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MEIJI" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MEIJI_NAME" Description="LOC_CIVILIZATION_MEIJI_DESCRIPTION" Icon="CIVILIZATION_MEIJI"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAYA" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MEXICO" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MEXICO_NAME" Description="LOC_CIVILIZATION_MEXICO_DESCRIPTION" Icon="CIVILIZATION_MEXICO"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_INCA" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MEXICO" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MEXICO_NAME" Description="LOC_CIVILIZATION_MEXICO_DESCRIPTION" Icon="CIVILIZATION_MEXICO"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SPAIN" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MEXICO" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MEXICO_NAME" Description="LOC_CIVILIZATION_MEXICO_DESCRIPTION" Icon="CIVILIZATION_MEXICO"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_PERSIA" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MUGHAL" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MUGHAL_NAME" Description="LOC_CIVILIZATION_MUGHAL_NAME" Icon="CIVILIZATION_MUGHAL"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_ABBASID" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MUGHAL" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MUGHAL_NAME" Description="LOC_CIVILIZATION_MUGHAL_NAME" Icon="CIVILIZATION_MUGHAL"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_CHOLA" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MUGHAL" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MUGHAL_NAME" Description="LOC_CIVILIZATION_MUGHAL_NAME" Icon="CIVILIZATION_MUGHAL"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_PRUSSIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_PRUSSIA_NAME" Description="LOC_CIVILIZATION_PRUSSIA_DESCRIPTION" Icon="CIVILIZATION_PRUSSIA"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HAN" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_QING" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_QING_NAME" Description="LOC_CIVILIZATION_QING_DESCRIPTION" Icon="CIVILIZATION_QING"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MING" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_QING" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_QING_NAME" Description="LOC_CIVILIZATION_QING_DESCRIPTION" Icon="CIVILIZATION_QING"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MONGOLIA" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_QING" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_QING_NAME" Description="LOC_CIVILIZATION_QING_DESCRIPTION" Icon="CIVILIZATION_QING"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_GREECE" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_RUSSIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_RUSSIA_NAME" Description="LOC_CIVILIZATION_RUSSIA_DESCRIPTION" Icon="CIVILIZATION_RUSSIA"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_MONGOLIA" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_RUSSIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_RUSSIA_NAME" Description="LOC_CIVILIZATION_RUSSIA_DESCRIPTION" Icon="CIVILIZATION_RUSSIA"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_KHMER" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_SIAM" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SIAM_NAME" Description="LOC_CIVILIZATION_SIAM_DESCRIPTION" Icon="CIVILIZATION_SIAM"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_CHOLA" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_SIAM" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SIAM_NAME" Description="LOC_CIVILIZATION_SIAM_DESCRIPTION" Icon="CIVILIZATION_SIAM"/>
	</CivilizationUnlocks>
	<LeaderUnlocks>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_AMINA" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_BUGANDA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_BUGANDA_NAME" Description="LOC_CIVILIZATION_BUGANDA_DESCRIPTION" Icon="CIVILIZATION_BUGANDA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_AMINA" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MEXICO" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MEXICO_NAME" Description="LOC_CIVILIZATION_MEXICO_DESCRIPTION" Icon="CIVILIZATION_MEXICO"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_ASHOKA" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MUGHAL" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MUGHAL_NAME" Description="LOC_CIVILIZATION_MUGHAL_DESCRIPTION" Icon="CIVILIZATION_MUGHAL"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_ASHOKA" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_SIAM" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SIAM_NAME" Description="LOC_CIVILIZATION_SIAM_DESCRIPTION" Icon="CIVILIZATION_SIAM"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_AUGUSTUS" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_FRENCH_EMPIRE" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_FRENCH_EMPIRE_NAME" Description="LOC_CIVILIZATION_FRENCH_EMPIRE_DESCRIPTION" Icon="CIVILIZATION_FRENCH_EMPIRE"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_AUGUSTUS" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_PRUSSIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_PRUSSIA_NAME" Description="LOC_CIVILIZATION_PRUSSIA_DESCRIPTION" Icon="CIVILIZATION_PRUSSIA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_BENJAMIN_FRANKLIN" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_AMERICA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_AMERICA_NAME" Description="LOC_CIVILIZATION_AMERICA_DESCRIPTION" Icon="CIVILIZATION_AMERICA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_BENJAMIN_FRANKLIN" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_FRENCH_EMPIRE" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_FRENCH_EMPIRE_NAME" Description="LOC_CIVILIZATION_FRENCH_EMPIRE_DESCRIPTION" Icon="CIVILIZATION_FRENCH_EMPIRE"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_CATHERINE" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_RUSSIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_RUSSIA_NAME" Description="LOC_CIVILIZATION_RUSSIA_DESCRIPTION" Icon="CIVILIZATION_RUSSIA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_CATHERINE" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_PRUSSIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_PRUSSIA_NAME" Description="LOC_CIVILIZATION_PRUSSIA_DESCRIPTION" Icon="CIVILIZATION_PRUSSIA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_CHARLEMAGNE" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_FRENCH_EMPIRE" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_FRENCH_EMPIRE_NAME" Description="LOC_CIVILIZATION_FRENCH_EMPIRE_DESCRIPTION" Icon="CIVILIZATION_FRENCH_EMPIRE"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_CHARLEMAGNE" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_PRUSSIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_PRUSSIA_NAME" Description="LOC_CIVILIZATION_PRUSSIA_DESCRIPTION" Icon="CIVILIZATION_PRUSSIA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_CONFUCIUS" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_QING" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_QING_NAME" Description="LOC_CIVILIZATION_QING_DESCRIPTION" Icon="CIVILIZATION_QING"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_FRIEDRICH" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_PRUSSIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_PRUSSIA_NAME" Description="LOC_CIVILIZATION_PRUSSIA_DESCRIPTION" Icon="CIVILIZATION_PRUSSIA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_FRIEDRICH" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_FRENCH_EMPIRE" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_FRENCH_EMPIRE_NAME" Description="LOC_CIVILIZATION_FRENCH_EMPIRE_DESCRIPTION" Icon="CIVILIZATION_FRENCH_EMPIRE"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_HARRIET_TUBMAN" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_AMERICA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_AMERICA_NAME" Description="LOC_CIVILIZATION_AMERICA_DESCRIPTION" Icon="CIVILIZATION_AMERICA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_HARRIET_TUBMAN" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_BUGANDA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_BUGANDA_NAME" Description="LOC_CIVILIZATION_BUGANDA_DESCRIPTION" Icon="CIVILIZATION_BUGANDA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_HATSHEPSUT" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_BUGANDA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_BUGANDA_NAME" Description="LOC_CIVILIZATION_BUGANDA_DESCRIPTION" Icon="CIVILIZATION_BUGANDA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_HATSHEPSUT" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MUGHAL" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MUGHAL_NAME" Description="LOC_CIVILIZATION_MUGHAL_DESCRIPTION" Icon="CIVILIZATION_MUGHAL"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_HIMIKO" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MEIJI" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MEIJI_NAME" Description="LOC_CIVILIZATION_MEIJI_DESCRIPTION" Icon="CIVILIZATION_MEIJI"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_HIMIKO" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_SIAM" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SIAM_NAME" Description="LOC_CIVILIZATION_SIAM_DESCRIPTION" Icon="CIVILIZATION_SIAM"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_IBN_BATTUTA" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_BUGANDA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_BUGANDA_NAME" Description="LOC_CIVILIZATION_BUGANDA_DESCRIPTION" Icon="CIVILIZATION_BUGANDA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_IBN_BATTUTA" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MUGHAL" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MUGHAL_NAME" Description="LOC_CIVILIZATION_MUGHAL_DESCRIPTION" Icon="CIVILIZATION_MUGHAL"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_ISABELLA" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_FRENCH_EMPIRE" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_FRENCH_EMPIRE_NAME" Description="LOC_CIVILIZATION_FRENCH_EMPIRE_DESCRIPTION" Icon="CIVILIZATION_FRENCH_EMPIRE"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_ISABELLA" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MEXICO" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MEXICO_NAME" Description="LOC_CIVILIZATION_MEXICO_DESCRIPTION" Icon="CIVILIZATION_MEXICO"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_JOSE_RIZAL" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MEIJI" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MEIJI_NAME" Description="LOC_CIVILIZATION_MEIJI_DESCRIPTION" Icon="CIVILIZATION_MEIJI"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_JOSE_RIZAL" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_SIAM" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SIAM_NAME" Description="LOC_CIVILIZATION_SIAM_DESCRIPTION" Icon="CIVILIZATION_SIAM"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_LAFAYETTE" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_FRENCH_EMPIRE" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_FRENCH_EMPIRE_NAME" Description="LOC_CIVILIZATION_FRENCH_EMPIRE_DESCRIPTION" Icon="CIVILIZATION_FRENCH_EMPIRE"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_LAFAYETTE" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_AMERICA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_AMERICA_NAME" Description="LOC_CIVILIZATION_AMERICA_DESCRIPTION" Icon="CIVILIZATION_AMERICA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_MACHIAVELLI" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_FRENCH_EMPIRE" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_FRENCH_EMPIRE_NAME" Description="LOC_CIVILIZATION_FRENCH_EMPIRE_DESCRIPTION" Icon="CIVILIZATION_FRENCH_EMPIRE"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_MACHIAVELLI" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_RUSSIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_RUSSIA_NAME" Description="LOC_CIVILIZATION_RUSSIA_DESCRIPTION" Icon="CIVILIZATION_RUSSIA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_PACHACUTI" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_AMERICA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_AMERICA_NAME" Description="LOC_CIVILIZATION_AMERICA_DESCRIPTION" Icon="CIVILIZATION_AMERICA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_PACHACUTI" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MEXICO" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MEXICO_NAME" Description="LOC_CIVILIZATION_MEXICO_DESCRIPTION" Icon="CIVILIZATION_MEXICO"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_TRUNG_TRAC" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MEIJI" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MEIJI_NAME" Description="LOC_CIVILIZATION_MEIJI_DESCRIPTION" Icon="CIVILIZATION_MEIJI"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_TRUNG_TRAC" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_SIAM" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SIAM_NAME" Description="LOC_CIVILIZATION_SIAM_DESCRIPTION" Icon="CIVILIZATION_SIAM"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_XERXES" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MUGHAL" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MUGHAL_NAME" Description="LOC_CIVILIZATION_MUGHAL_DESCRIPTION" Icon="CIVILIZATION_MUGHAL"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_XERXES" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_RUSSIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_RUSSIA_NAME" Description="LOC_CIVILIZATION_RUSSIA_DESCRIPTION" Icon="CIVILIZATION_RUSSIA"/>
	</LeaderUnlocks>
	<LeaderCivilizationBias>
		<!--This is the table used for UI, the AI uses LeaderCivPriorities in civilizations.xml-->
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_AMERICA" LeaderDomain="StandardLeaders" LeaderType="LEADER_BENJAMIN_FRANKLIN" Bias="4" ReasonType="LOC_UNLOCK_PLAY_AS_BENJAMIN_FRANKLIN_AMERICA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_AMERICA" LeaderDomain="StandardLeaders" LeaderType="LEADER_HARRIET_TUBMAN" Bias="4" ReasonType="LOC_UNLOCK_PLAY_AS_HARRIET_TUBMAN_AMERICA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_AMERICA" LeaderDomain="StandardLeaders" LeaderType="LEADER_LAFAYETTE" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_LAFAYETTE_AMERICA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_AMERICA" LeaderDomain="StandardLeaders" LeaderType="LEADER_PACHACUTI" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_PACHACUTI_AMERICA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_BUGANDA" LeaderDomain="StandardLeaders" LeaderType="LEADER_AMINA" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_AMINA_BUGANDA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_BUGANDA" LeaderDomain="StandardLeaders" LeaderType="LEADER_HARRIET_TUBMAN" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_HARRIET_TUBMAN_BUGANDA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_BUGANDA" LeaderDomain="StandardLeaders" LeaderType="LEADER_HATSHEPSUT" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_HATSHEPSUT_BUGANDA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_BUGANDA" LeaderDomain="StandardLeaders" LeaderType="LEADER_IBN_BATTUTA" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_IBN_BATTUTA_BUGANDA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_FRENCH_EMPIRE" LeaderDomain="StandardLeaders" LeaderType="LEADER_AUGUSTUS" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_AUGUSTUS_FRENCH_EMPIRE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_FRENCH_EMPIRE" LeaderDomain="StandardLeaders" LeaderType="LEADER_BENJAMIN_FRANKLIN" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_BENJAMIN_FRANKLIN_FRENCH_EMPIRE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_FRENCH_EMPIRE" LeaderDomain="StandardLeaders" LeaderType="LEADER_CHARLEMAGNE" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_CHARLEMAGNE_FRENCH_EMPIRE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_FRENCH_EMPIRE" LeaderDomain="StandardLeaders" LeaderType="LEADER_FRIEDRICH" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_FRIEDRICH_FRENCH_EMPIRE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_FRENCH_EMPIRE" LeaderDomain="StandardLeaders" LeaderType="LEADER_ISABELLA" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_ISABELLA_FRENCH_EMPIRE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_FRENCH_EMPIRE" LeaderDomain="StandardLeaders" LeaderType="LEADER_LAFAYETTE" Bias="4" ReasonType="LOC_UNLOCK_PLAY_AS_LAFAYETTE_FRENCH_EMPIRE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_FRENCH_EMPIRE" LeaderDomain="StandardLeaders" LeaderType="LEADER_MACHIAVELLI" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_MACHIAVELLI_FRENCH_EMPIRE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEIJI" LeaderDomain="StandardLeaders" LeaderType="LEADER_HIMIKO" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_HIMIKO_MEIJI_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEIJI" LeaderDomain="StandardLeaders" LeaderType="LEADER_JOSE_RIZAL" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_JOSE_RIZAL_MEIJI_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEIJI" LeaderDomain="StandardLeaders" LeaderType="LEADER_TRUNG_TRAC" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_TRUNG_TRAC_MEIJI_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEXICO" LeaderDomain="StandardLeaders" LeaderType="LEADER_AMINA" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_AMINA_MEXICO_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEXICO" LeaderDomain="StandardLeaders" LeaderType="LEADER_ISABELLA" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_ISABELLA_MEXICO_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MEXICO" LeaderDomain="StandardLeaders" LeaderType="LEADER_PACHACUTI" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_PACHACUTI_MEXICO_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MUGHAL" LeaderDomain="StandardLeaders" LeaderType="LEADER_ASHOKA" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_ASHOKA_MUGHAL_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MUGHAL" LeaderDomain="StandardLeaders" LeaderType="LEADER_HATSHEPSUT" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_HATSHEPSUT_MUGHAL_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MUGHAL" LeaderDomain="StandardLeaders" LeaderType="LEADER_IBN_BATTUTA" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_IBN_BATTUTA_MUGHAL_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MUGHAL" LeaderDomain="StandardLeaders" LeaderType="LEADER_XERXES" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_XERXES_MUGHAL_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_PRUSSIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_AUGUSTUS" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_AUGUSTUS_PRUSSIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_PRUSSIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_CATHERINE" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_CATHERINE_PRUSSIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_PRUSSIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_CHARLEMAGNE" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_CHARLEMAGNE_PRUSSIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_PRUSSIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_FRIEDRICH" Bias="4" ReasonType="LOC_UNLOCK_PLAY_AS_FRIEDRICH_PRUSSIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_QING" LeaderDomain="StandardLeaders" LeaderType="LEADER_CONFUCIUS" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_CONFUCIUS_QING_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_RUSSIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_CATHERINE" Bias="4" ReasonType="LOC_UNLOCK_PLAY_AS_CATHERINE_RUSSIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_RUSSIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_MACHIAVELLI" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_MACHIAVELLI_RUSSIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_RUSSIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_XERXES" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_XERXES_RUSSIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_SIAM" LeaderDomain="StandardLeaders" LeaderType="LEADER_ASHOKA" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_ASHOKA_SIAM_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_SIAM" LeaderDomain="StandardLeaders" LeaderType="LEADER_HIMIKO" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_HIMIKO_SIAM_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_SIAM" LeaderDomain="StandardLeaders" LeaderType="LEADER_JOSE_RIZAL" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_JOSE_RIZAL_SIAM_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_SIAM" LeaderDomain="StandardLeaders" LeaderType="LEADER_TRUNG_TRAC" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_TRUNG_TRAC_SIAM_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
	</LeaderCivilizationBias>
	<DomainValues>
		<Row Domain="ModernAgeCivilizations" Value="RANDOM" Name="LOC_CIVILIZATION_RANDOM_NAME" Description="LOC_CIVILIZATION_RANDOM_DESCRIPTION" Icon="civ_sym_unknown.png" SortIndex="-1000"/>
	</DomainValues>

	<!-- Legacy Paths -->
	<LegacyPaths>
		<Row LegacyPathType="LEGACY_PATH_MODERN_CULTURE" AgeType="AGE_MODERN" Category="LOC_AGE_MODERN_NAME" LegacyPathClassType="LEGACY_PATH_CLASS_CULTURE" LegacyPathClassName="LOC_LEGACY_PATH_CLASS_CULTURE_NAME" Name="LOC_LEGACY_PATH_MODERN_CULTURE_NAME" Description="LOC_LEGACY_PATH_MODERN_CULTURE_DESCRIPTION" />
		<Row LegacyPathType="LEGACY_PATH_MODERN_ECONOMIC" AgeType="AGE_MODERN" Category="LOC_AGE_MODERN_NAME" LegacyPathClassType="LEGACY_PATH_CLASS_ECONOMIC" LegacyPathClassName="LOC_LEGACY_PATH_CLASS_ECONOMIC_NAME" Name="LOC_LEGACY_PATH_MODERN_ECONOMIC_NAME" Description="LOC_LEGACY_PATH_MODERN_ECONOMIC_DESCRIPTION" />
		<Row LegacyPathType="LEGACY_PATH_MODERN_MILITARY" AgeType="AGE_MODERN" Category="LOC_AGE_MODERN_NAME" LegacyPathClassType="LEGACY_PATH_CLASS_MILITARY" LegacyPathClassName="LOC_LEGACY_PATH_CLASS_MILITARY_NAME" Name="LOC_LEGACY_PATH_MODERN_MILITARY_NAME" Description="LOC_LEGACY_PATH_MODERN_MILITARY_DESCRIPTION" />
		<Row LegacyPathType="LEGACY_PATH_MODERN_SCIENCE" AgeType="AGE_MODERN" Category="LOC_AGE_MODERN_NAME" LegacyPathClassType="LEGACY_PATH_CLASS_SCIENCE" LegacyPathClassName="LOC_LEGACY_PATH_CLASS_SCIENCE_NAME" Name="LOC_LEGACY_PATH_MODERN_SCIENCE_NAME" Description="LOC_LEGACY_PATH_MODERN_SCIENCE_DESCRIPTION" />
	</LegacyPaths>
</Database>