.progress-banner__container {
  background: linear-gradient(90deg, transparent 0%, rgba(5, 7, 13, 0.9) 50%, transparent 100%);
}

@keyframes progress-banner__enter-anim {
  0% {
    opacity: 0;
    transform: translateY(-1.6666666667rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
.progress-banner__enter {
  animation-name: progress-banner__enter-anim;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.progress-banner__exit {
  animation-name: progress-banner__enter-anim;
  animation-direction: reverse;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}