.belief-picker_slot {
  border-image: url("fs://game/hud_sidepanel_list-bg.png");
  border-image-slice: 9 9 9 9 fill;
}
.belief-picker_slot:hover .belief-picker-chooser-item_border, .belief-picker_slot:focus .belief-picker-chooser-item_border, .belief-picker_slot.chooser-item_selected .belief-picker-chooser-item_border {
  background-image: url("fs://game/rel_add_belief_selected.png");
}

.belief-picker-chooser-item_border {
  background-image: url("fs://game/rel_add_belief_idle.png");
}

.belief-picker-chooser-item_plus {
  background-image: url("fs://game/rel_add_belief_plus.png");
}

@media (experience: mobile) {
  .belief-picker_desc {
    max-width: 30rem;
  }
}