/**
Based on Robert Penner's easing equations
@url http://robertpenner.com/easing/
**/
.leader-button-bg {
  background-image: url("fs://game/shell_base-ring.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 7.1111111111rem;
  min-height: 7.1111111111rem;
}
.leader-button-bg:hover, .leader-button-bg:focus, .leader-button-bg.pressed {
  background-image: url("fs://game/shell_base-ring-focus.png");
}

.leader-button-bg-click {
  background-image: url("fs://game/shell_base-ring-bg-click.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 7.1111111111rem;
  min-height: 7.1111111111rem;
}

.leader-button-ring-selected {
  background-image: url("fs://game/shell_base-ring-selected.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 7.8888888889rem;
  min-height: 7.8888888889rem;
}

.leader-button-ring-click {
  background-image: url("fs://game/shell_base-ring-click.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 7.8888888889rem;
  min-height: 7.8888888889rem;
}

.leader-button-level-circle {
  background-image: url("fs://game/shell_number-circle.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 1.7777777778rem;
  min-height: 1.7777777778rem;
  line-height: 1.7777777778rem;
}

.leader-button-icon {
  width: 7.1111111111rem;
  height: 7.1111111111rem;
}

.leader-button-lock-icon {
  display: none;
}

.leader-button-locked .leader-button-icon {
  filter: grayscale(1);
}
.leader-button-locked .leader-button-lock-icon {
  display: inherit;
}

.leader-button-xp-ring {
  background-image: url("fs://game/shell_leader-xp-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 7.1111111111rem;
  min-height: 7.1111111111rem;
}
.leader-button-xp-ring .fxs-ring-meter__ring-right {
  background-position: right;
}
.leader-button-xp-ring .fxs-ring-meter__ring-left {
  background-position: left;
}
.leader-button-xp-ring .fxs-ring-meter__ring-right,
.leader-button-xp-ring .fxs-ring-meter__ring-left {
  background-image: url("fs://game/shell_leader-xp-ring.png");
  background-size: cover;
}