.notification-train {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  align-self: flex-end;
  margin-right: 1.7777777778rem;
  margin-bottom: 0.4444444444rem;
}
.notification-train .type-container {
  width: 2.5555555556rem;
  height: 2.5555555556rem;
}
.notification-train .type-container:hover, .notification-train .type-container:focus, .notification-train .type-container.pressed {
  transform: scale(1.125);
}
.notification-train .type-container > .up-arrow {
  position: relative;
  height: 0.8888888889rem;
  width: 2.2222222222rem;
  left: 0.4rem;
  bottom: -0.8888888889rem;
  mask-image: url("blp:Scrollbar_arrow");
  mask-size: contain;
  mask-repeat: no-repeat;
  visibility: hidden;
  pointer-events: auto;
  transform: rotate(0deg);
}
.notification-train .type-container > .down-arrow {
  position: relative;
  height: 0.8888888889rem;
  width: 2.2222222222rem;
  left: 0.4rem;
  background-color: rgb(255, 239, 214);
  mask-image: url("blp:Scrollbar_arrow");
  mask-size: contain;
  mask-repeat: no-repeat;
  transform: rotate(180deg);
  visibility: hidden;
  pointer-events: auto;
}
.notification-train .type-container.full > .up-arrow {
  visibility: visible;
}
.notification-train .type-container.full > .down-arrow {
  visibility: visible;
}
.notification-train .type-container > .notification-container {
  pointer-events: auto;
  width: 2.3333333333rem;
  height: 2.3333333333rem;
  background-image: url("blp:hud_notif_bk");
  background-size: cover;
}
.notification-train > .bg {
  opacity: 0.5;
  position: absolute;
  border-width: 0.2222222222rem 0.2222222222rem;
  border-style: solid;
  top: 15%;
  bottom: 15%;
  right: 2.2222222222rem;
  left: 0rem;
}
.notification-train > .bg > .bg-stripe {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 5%;
}

.notification-train__decor {
  position: absolute;
  right: -0.8888888889rem;
  width: 0.8888888889rem;
  bottom: -0.4444444444rem;
  height: 100%;
  border-width: 2.6666666667rem 0.8888888889rem 0.6666666667rem;
  border-style: solid;
  border-image-source: url("blp:hud_notif_decor");
  border-image-slice: 48 15 12 1 fill;
  border-image-width: 2.6666666667rem 0.8888888889rem 0.6666666667rem auto;
  border-image-outset: 0;
  border-image-repeat: stretch;
}

.trigger-nav-help .notification-train__nav-help-container.gamepad-active.notification-available {
  display: flex;
}

.notification-train__nav-help-container {
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  display: none;
  position: relative;
  top: -4.8888888889rem;
  left: -0.6111111111rem;
}

.notification-train__nav-help-ext {
  background-image: url("blp:hud_quest_ext");
  background-size: cover;
  width: 0.8888888889rem;
  height: 3.5555555556rem;
  transform: rotate(180deg);
  margin-top: -1.3333333333rem;
}

.notification-train__list {
  padding-top: 1.7777777778rem;
  padding-bottom: 0.6666666667rem;
}

.notification-central-shelf {
  position: absolute;
  width: 80%;
  height: 13.3333333333rem;
  left: 5.3333333333rem;
  top: -10.6666666667rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.notification-big-container {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.notif__container {
  position: relative;
  width: 3.5555555556rem;
  height: 3.5555555556rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notif__animate {
  opacity: 0;
  animation-direction: normal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: trainNotificationSlideIn;
}
.notif__animate:nth-child(1) {
  animation-delay: 0.5s;
}
.notif__animate:nth-child(2) {
  animation-delay: 1s;
}
.notif__animate:nth-child(3) {
  animation-delay: 1.5s;
}
.notif__animate:nth-child(4) {
  animation-delay: 2s;
}
.notif__animate:nth-child(5) {
  animation-delay: 2.5s;
}
.notif__animate:nth-child(6) {
  animation-delay: 3s;
}
.notif__animate:nth-child(7) {
  animation-delay: 3.5s;
}
.notif__animate:nth-child(8) {
  animation-delay: 4s;
}
.notif__animate:nth-child(9) {
  animation-delay: 4.5s;
}
.notif__animate:nth-child(10) {
  animation-delay: 5s;
}
@keyframes trainNotificationSlideIn {
  0% {
    transform: translateX(2.6666666667rem) scaleX(0.75);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    transform: translateX(-0.2222222222rem) scaleX(1);
  }
  100% {
    transform: translateX(0rem) scaleX(1);
    opacity: 1;
  }
}

.notif__anim-skip {
  transform: translateX(0rem) scaleX(1);
}

.notif__button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  margin-left: 0.5555555556rem;
  width: 3.5555555556rem;
  height: 3.5555555556rem;
  transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.notif__button:hover, .notif__button:focus, .notif__button.pressed {
  transform: scale(1.125);
}
.notif__button.hud-select-potential {
  width: 100%;
  height: 100%;
}
.notif__button.hud-select-potential:focus {
  transform: scale(1.3);
}
.notif__button.hud-select-potential:focus .button-bg-shadow {
  opacity: 0;
}
.notif__button.hud-select-potential:focus .button-bg-focus-outline {
  opacity: 1;
}

.notif__highlight {
  filter: saturate(0%);
}

.notif__button-number {
  background-image: url("blp:prof_lvl_bk");
}

.notif__button-bk {
  position: absolute;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  pointer-events: none;
  transform-origin: 50% 50%;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  background-image: url("blp:hud_notif_bk");
  background-size: 7.1111111111rem 7.1111111111rem;
  background-repeat: no-repeat;
  background-position: center;
}

.notif__button-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.6666666667rem;
  height: 2.6666666667rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.notification-container {
  flex-direction: column-reverse;
  display: flex;
}