<?xml version="1.0" encoding="utf-8"?>
<Database>
	<LeaderCivilizationBias>
	</LeaderCivilizationBias>
	<Civilizations>
		<Row Domain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HEIAN" CivilizationName="LOC_CIVILIZATION_HEIAN_NAME" CivilizationFullName="LOC_CIVILIZATION_HEIAN_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_HEIAN_DESCRIPTION" CivilizationIntroText="LOC_LOADING_CIV_INTRO_TEXT_HEIAN" CivilizationIcon="HEIAN_icon.png"/>
	</Civilizations>
	<CivilizationItems>
		<Row CivilizationDomain="AntiquityAgeCivilizations" AgeType="AGE_ANTIQUITY" CivilizationType="CIVILIZATION_HEIAN" Type="TRAIT_HEIAN_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_HEIAN_ABILITY_NAME" Description="LOC_TRAIT_HEIAN_ABILITY_AQ_DESCRIPTION"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" AgeType="AGE_EXPLORATION" CivilizationType="CIVILIZATION_HEIAN" Type="TRAIT_HEIAN_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_HEIAN_ABILITY_NAME" Description="LOC_TRAIT_HEIAN_ABILITY_EX_DESCRIPTION"/>
		<Row CivilizationDomain="ModernAgeCivilizations" AgeType="AGE_MODERN" CivilizationType="CIVILIZATION_HEIAN" Type="TRAIT_HEIAN_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_HEIAN_ABILITY_NAME" Description="LOC_TRAIT_HEIAN_ABILITY_MO_DESCRIPTION"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HEIAN" Type="UNIT_YUMI" Kind="KIND_UNIT" Name="LOC_UNIT_YUMI_NAME" Description="LOC_UNIT_YUMI_BASE_DESCRIPTION" Icon="unitflag_leiomano.png"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HEIAN" Type="UNIT_SHIJIN" Kind="KIND_UNIT" Name="LOC_UNIT_SHIJIN_NAME" Description="LOC_UNIT_SHIJIN_DESCRIPTION" Icon="unitflag_SHIJIN.png"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HEIAN" Type="IMPROVEMENT_JINJA_LAND" Kind="KIND_IMPROVEMENT" Name="LOC_IMPROVEMENT_JINJA_LAND_NAME" Description="LOC_IMPROVEMENT_JINJA_LAND_DESCRIPTION" Icon="impicon_loikalo.png"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HEIAN" Type="IMPROVEMENT_JINJA_SEA" Kind="KIND_IMPROVEMENT" Name="LOC_IMPROVEMENT_JINJA_SEA_NAME" Description="LOC_IMPROVEMENT_JINJA_SEA_DESCRIPTION" Icon="impicon_loikalo.png"/>
	</CivilizationItems>
	<CivilizationTags>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HEIAN" TagType="TAG_TRAIT_CULTURAL"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HEIAN" TagType="TAG_TRAIT_POLITICAL"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HEIAN" TagType="TAG_APEX_AGE_ANTIQUITY"/>
	</CivilizationTags>
	<LeaderCivilizationBias>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HEIAN" LeaderDomain="StandardLeaders" LeaderType="LEADER_HIMIKO" Bias="4" ReasonType="LOC_UNLOCK_PLAY_AS_HIMIKO_HEIAN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HEIAN" LeaderDomain="StandardLeaders" LeaderType="LEADER_JOSE_RIZAL" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_JOSE_RIAZAL_HEIAN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HEIAN" LeaderDomain="StandardLeaders" LeaderType="LEADER_ISABELLA" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_ISABELLA_HEIAN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE"/>
	</LeaderCivilizationBias>
	<CivilizationUnlocks>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HEIAN" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_HAWAII" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_HAWAII_NAME" Description="LOC_CIVILIZATION_NEPAL_DESCRIPTION" Icon="CIVILIZATION_HAWAII"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HEIAN" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MEIJI" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MEIJI_NAME" Description="LOC_CIVILIZATION_MEIJI_DESCRIPTION" Icon="CIVILIZATION_MEIJI"/>
	</CivilizationUnlocks>
	<OwnershipConditions>
		<Row ItemType="CIVILIZATION_HEIAN" Action="LOC_LOCKED_INCLUDED_WITH_CONTENT" />
	</OwnershipConditions>
</Database>