.unit-rename__container {
  border-image-source: url("fs://game/hud_unit-panel_action");
  border-image-slice: 20 fill;
  border-image-width: auto;
  border-image-outset: 0.6666666667rem 0.5555555556rem;
}