.constructible-details__divider-line-left {
  height: 0.1111111111rem;
  flex: 1 1 auto;
  min-width: 1.3333333333rem;
  background-image: linear-gradient(to left, #8d97a6, rgba(141, 151, 166, 0));
}

.constructible-details__divider-line-right {
  height: 0.1111111111rem;
  flex: 1 1 auto;
  min-width: 1.3333333333rem;
  background-image: linear-gradient(to right, #8d97a6, rgba(141, 151, 166, 0));
}