@media (experience: mobile) {
  .unlocks_header-wrapper {
    padding-bottom: 0.8888888889rem;
  }
}

@media (experience: mobile) {
  .unlock__nav {
    width: 95%;
  }
}

.player-unlock {
  border-image-source: none;
}
@media (experience: mobile) {
  .player-unlock {
    padding-top: 1.1111111111rem;
  }
}
@media (experience: mobile) {
  .player-unlock .fxs-close-button {
    top: 1.4444444444rem;
    right: 2.1111111111rem;
  }
}
@media (experience: mobile) {
  .player-unlock .img-frame-filigree {
    margin-top: 0.2222222222rem;
  }
}
@media (experience: mobile) {
  .player-unlock .primary-window {
    margin-left: 3.1111111111rem;
    margin-right: 3.1111111111rem;
  }
}

@media (experience: mobile) {
  .screen-unlock-civilizations-scrollable {
    padding-top: 0rem;
    padding-bottom: 1.3333333333rem;
  }
}
@media (experience: mobile) {
  .screen-unlock-civilizations-scrollable .fxs-scrollbar__track--vertical {
    margin-top: 1.7777777778rem;
    margin-bottom: 2.6666666667rem;
    right: -1.3333333333rem;
  }
}

.player-unlocks-gradient-overlay {
  border-image-source: url("fs://game/BG_CYC_4K_graded");
  border-image-slice: 28 28 28 28 fill;
}

.main-background-gradient {
  background: linear-gradient(180deg, rgba(19, 20, 26, 0.75) 0%, rgba(19, 20, 26, 0) 100%), linear-gradient(180deg, rgba(18, 21, 31, 0.85) 0%, rgba(35, 37, 43, 0.425) 100%), linear-gradient(180deg, rgba(229, 215, 215, 0) 0%, rgba(230, 215, 215, 0.06) 100%);
}

.main-background-image {
  background-image: url("fs://game/VIC_Economic_EXPL");
}

.ageless-background-gradient {
  background: radial-gradient(92.47% 169.83% at -0.36% 0.09%, rgba(18, 21, 31, 0.95) 0%, rgba(20, 23, 33, 0.95) 50%, rgba(26, 29, 37, 0.85) 75%, rgba(35, 37, 43, 0) 100%), linear-gradient(162.45deg, #12151f 8.88%, rgba(18, 21, 31, 0) 42.95%);
}

.unlock-frame {
  border-image-source: url("fs://game/hud_sidepanel_list-bg.png");
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 8 8 8 8 fill;
  border-image-width: 0.4444444444rem 0.4444444444rem 0.4444444444rem 0.4444444444rem;
  background: linear-gradient(90deg, rgba(18, 21, 31, 0.9) 30%, rgba(18, 21, 31, 0) 40%, rgba(18, 21, 31, 0) 50%, #12151f 100%);
}

.unlock-frame-hover {
  border-image-source: url("fs://game/hud_list-focus_frame");
  border-image-slice: 20 32 20 32;
  border-image-width: 1.1111111111rem;
  border-image-outset: 0.2777777778rem 0.1111111111rem 0.2777777778rem 0.1111111111rem;
  background: linear-gradient(90deg, rgba(140, 126, 98, 0.25) 0%, rgba(140, 126, 98, 0) 25%, rgba(140, 126, 98, 0) 75%, rgba(140, 126, 98, 0.25) 100%);
}

.screen-unlocks__item p {
  pointer-events: none;
}

.unlock__checkbox {
  height: 1.1111111111rem;
  width: 1.1111111111rem;
}
@media (experience: mobile) {
  .unlock__checkbox {
    height: 2.2222222222rem;
    width: 2.2222222222rem;
    margin-right: 0.4444444444rem;
  }
}

.screen-unlock__ageless-header {
  border-bottom: 0.1111111111rem solid;
  border-image-source: linear-gradient(90deg, rgba(166, 166, 166, 0) -1.52%, #a6a6a6 49.24%, rgba(166, 166, 166, 0) 100%);
}

.requirement-text-container p {
  text-align: right;
  flex-grow: 1;
  flex-shrink: 1;
}

.ageless-scrollable-wrapper {
  width: 35%;
}
@media (max-height: 55.5555555556rem) {
  .ageless-scrollable-wrapper {
    width: 42%;
  }
}