/**
Based on Robert Penner's easing equations
@url http://robertpenner.com/easing/
**/
.nav-tray {
  left: var(--safezone-left);
  bottom: var(--safezone-bottom);
}
.nav-tray .nav-tray-bg {
  left: -var(--safezone-left);
}
.nav-tray .item {
  animation: AnimateIn 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
@keyframes AnimateIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nav-tray .spacing-sm.flow-row > .spaced {
  margin-right: 0.4444444444rem;
}
.nav-tray .spacing-sm.flow-row > .spaced:last-child {
  margin-right: 0rem;
}