<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Leaders>
		<Row LeaderType="LEADER_LAKSHMIBAI" LeaderName="LOC_LEADER_LAKSHMIBAI_NAME" LeaderDescription="LOC_LEADER_LAKSHMIBAI_DESCRIPTION" LeaderIcon="LEADER_LAKSHMIBAI"/>
	</Leaders>
	<LeaderItems>
		<Row LeaderType="LEADER_LAKSHMIBAI" Type="TRAIT_LEADER_LAKSHMIBAI_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_LEADER_LAKSHMIBAI_ABILITY_NAME" Description="LOC_TRAIT_LEADER_LAKSHMIBAI_ABILITY_DESCRIPTION"/>
	</LeaderItems>
	<LeaderTags>
		<Row LeaderType="LEADER_LAKSHMIBAI" TagType="TAG_TRAIT_MILITARISTIC"/>
		<Row LeaderType="LEADER_LAKSHMIBAI" TagType="TAG_TRAIT_POLITICAL"/>
		<Row LeaderType="LEADER_LAKSHMIBAI" TagType="TAG_GENDER_FEMALE"/>
	</LeaderTags>
	<LeaderQuotes>
		<Row LeaderType="LEADER_LAKSHMIBAI" Quote="LOC_MAIN_CHAR_SELECT_LEADER_LAKSHMIBAI_ANY"/>
	</LeaderQuotes>
	<LeaderCivilizationBias>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAURYA" LeaderDomain="StandardLeaders" LeaderType="LEADER_LAKSHMIBAI" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_LAKSHMIBAI_MAURYA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_CHOLA" LeaderDomain="StandardLeaders" LeaderType="LEADER_LAKSHMIBAI" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_LAKSHMIBAI_CHOLA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MUGHAL" LeaderDomain="StandardLeaders" LeaderType="LEADER_LAKSHMIBAI" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_LAKSHMIBAI_MUGHAL_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
	</LeaderCivilizationBias>
	<LeaderUnlocks>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_LAKSHMIBAI" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_CHOLA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_CHOLA_NAME" Description="LOC_CIVILIZATION_CHOLA_DESCRIPTION" Icon="CIVILIZATION_CHOLA"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_LAKSHMIBAI" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MUGHAL" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MUGHAL_NAME" Description="LOC_CIVILIZATION_MUGHAL_DESCRIPTION" Icon="CIVILIZATION_MUGHAL"/>
	</LeaderUnlocks>
	<OwnershipConditions>
		<Row ItemType="LEADER_LAKSHMIBAI" Action="LOC_LOCKED_INCLUDED_WITH_CONTENT" />
	</OwnershipConditions>
	<Mementos>
		<Row Type="MEMENTO_LAKSHMIBAI_DHAL" Name="LOC_MEMENTO_LAKSHMIBAI_DHAL_NAME" Description="LOC_MEMENTO_LAKSHMIBAI_DHAL_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_LAKSHMIBAI_DHAL_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_LAKSHMIBAI_DHAL_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
		<Row Type="MEMENTO_LAKSHMIBAI_BAADALS_REINS" Name="LOC_MEMENTO_LAKSHMIBAI_BAADALS_REINS_NAME" Description="LOC_MEMENTO_LAKSHMIBAI_BAADALS_REINS_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_LAKSHMIBAI_BAADALS_REINS_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_LAKSHMIBAI_BAADALS_REINS_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
		<Row Type="MEMENTO_LAKSHMIBAI_FLAG_OF_JHANSI" Name="LOC_MEMENTO_LAKSHMIBAI_FLAG_OF_JHANSI_NAME" Description="LOC_MEMENTO_LAKSHMIBAI_FLAG_OF_JHANSI_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_LAKSHMIBAI_FLAG_OF_JHANSI_FUNCTIONAL_DESCRIPTION" LeaderSpecific="LEGEND_PATH_LAKSHMIBAI" UnlockTitle="LOC_MEMENTO_LAKSHMIBAI_FLAG_OF_JHANSI_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
	</Mementos>
</Database>