/**
Based on Robert Penner's easing equations
@url http://robertpenner.com/easing/
**/
body {
  background-color: transparent;
}
body.visible {
  visibility: visible;
}

.oobe-container {
  position: relative;
}

@media (max-height: 59.9444444444rem) {
  .oobe-legal-container {
    margin-top: 0rem;
  }
}

.oobe-logo-container {
  position: relative;
  display: flex;
  width: 55.5555555556rem;
  height: 11.1111111111rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.oobe-logo-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("fs://game/shell_logo-full.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: center;
}

.oobe-legal-text {
  width: 80%;
}
@media (max-height: 59.9444444444rem) {
  .oobe-legal-text {
    width: 98%;
  }
}

@media (max-height: 59.9444444444rem) {
  .oobe-legal-logo-hslot {
    margin-top: 1.7777777778rem;
  }
}

.oobe-press-start-vslot {
  width: 100%;
  justify-content: center;
}

.oobe-language-setting {
  position: relative;
  width: 50%;
  display: flex;
  pointer-events: auto;
}
.oobe-language-setting .fxs-dropdown {
  width: 50vw;
}

.oobe-language-continue {
  margin-top: 2.2222222222rem;
}

.oobe-display-continue {
  margin-top: 2.2222222222rem;
}

.oobe-display-controls .fxs-dropdown {
  width: 50vw;
}
@media (experience: mobile) {
  .oobe-display-controls .fxs-dropdown {
    min-width: 19.4444444444rem;
  }
}

.oobe-background-container {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.oobe-autosave-container__content-item {
  margin-bottom: 2em;
}

.oobe-autosave-container__save-icon {
  background-image: url("fs://game/ba_default.png");
  background-size: cover;
  width: 5em;
  height: 5em;
}

.oobe-no-pad-margin {
  margin: 0;
  padding: 0;
}
.oobe-no-pad-margin p {
  margin: 0;
  padding: 0;
}

.oobe-legal-documents-container {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
@media (min-height: 60rem) {
  .oobe-legal-documents-container {
    margin-top: 10vh;
  }
}

.oobe-legal-documents-vlist {
  pointer-events: none;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.oobe-legal-documents-scrollable {
  width: 66.6666666667rem;
  height: 22.2222222222rem;
}
@media (max-height: 59.9444444444rem) {
  .oobe-legal-documents-scrollable {
    height: 16.6666666667rem;
  }
}
@media (max-width: 77.7222222222rem) {
  .oobe-legal-documents-scrollable {
    width: 60rem;
  }
}

.oobe-legal-documents-text-content {
  width: 65rem;
}
@media (max-width: 77.7222222222rem) {
  .oobe-legal-documents-text-content {
    width: 58.3333333333rem;
  }
}

.oobe-legal-documents-title {
  max-width: 61.1111111111rem;
}