/**
Based on Robert Penner's easing equations
@url http://robertpenner.com/easing/
**/
.panel-religion-picker fxs-textbox input {
  line-height: normal;
  background-color: rgba(0, 0, 0, 0);
}
@media (experience: mobile) {
  .panel-religion-picker {
    bottom: 0;
    top: 3.0555555556rem;
  }
}

@media (experience: mobile) {
  .religion-picker_confirm-container {
    margin-top: 0.6666666667rem;
    margin-bottom: 0.8888888889rem;
  }
}

.religion-picker_religion-info-icon-container_holder {
  background-image: url("blp:rel_icon_holder.png");
}

.religion-picker_religion-info-icon-container_glow {
  background-image: url("blp:rel_glow_element.png");
}

.religion-picker_religion-choices {
  width: 37.7777777778rem;
}

.religion-entry:hover .religion-selected-glow, .religion-entry:focus .religion-selected-glow, .religion-entry.pressed .religion-selected-glow {
  display: flex;
}
.religion-entry.disabled {
  opacity: 0.33;
}

.entry-selected .religion-selected-glow {
  display: flex;
}
.entry-selected .religion-selected-border {
  display: flex;
}

.religion-selected-border {
  display: none;
  border-image: url("blp:rel_icon_select.png");
  border-image-slice: 25 27 28 27 fill;
  border-image-width: 1.3888888889rem 1.5rem 1.5555555556rem 1.5rem;
  border-image-outset: 1.5555555556rem;
}

.religion-selected-glow {
  display: none;
  border-image: url("blp:rel_glow_larger.png");
  border-image-slice: 1 1 1 1 fill;
  border-image-width: 1 1 1 1;
  border-image-outset: 1.5555555556rem;
}