save-load-chooser-item .save-load-chooser-item-description2 {
  display: block;
}
@media (max-height: 42.6666666667rem) {
  save-load-chooser-item .save-load-chooser-item-description2 {
    display: none;
  }
}
@media (max-width: 75.8888888889rem) {
  save-load-chooser-item .save-load-chooser-item-description2 {
    display: none;
  }
}
save-load-chooser-item .save-load-chooser-item-time-container {
  flex-direction: row;
  align-items: flex-start;
}
@media (max-height: 42.6666666667rem) {
  save-load-chooser-item .save-load-chooser-item-time-container {
    flex-direction: column;
    align-items: flex-end;
  }
}
save-load-chooser-item .save-load-chooser-item-time-separator {
  display: block;
}
@media (max-height: 42.6666666667rem) {
  save-load-chooser-item .save-load-chooser-item-time-separator {
    display: none;
  }
}