/**
Based on Robert Penner's easing equations
@url http://robertpenner.com/easing/
**/
.build-queue .fxs-close-button {
  right: -0.4444444444rem;
  top: 0rem;
  width: 1rem;
  height: 1rem;
  background-position: center;
}
.build-queue .fxs-close-button .fxs-nav-help {
  position: absolute;
  bottom: 1rem;
  align-self: center;
}

.active-title,
.queued-title {
  background: linear-gradient(180deg, #333640 0%, rgba(35, 37, 43, 0.95) 100%);
}

.build-queue__item-container {
  border-image-source: url("fs://game/hud_sidepanel_list-bg.png");
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 8 8 8 8 fill;
  border-image-width: 0.4444444444rem 0.4444444444rem 0.4444444444rem 0.4444444444rem;
  background: linear-gradient(180deg, #333640 0%, rgba(35, 37, 43, 0.95) 100%);
}
.build-queue__item-container:hover .build-queue__item-container-hover, .build-queue__item-container:focus .build-queue__item-container-hover, .build-queue__item-container.pressed .build-queue__item-container-hover {
  opacity: 1;
}

.build-queue__item-container-hover {
  border-image-source: url("fs://game/hud_list-focus_frame.png");
  border-image-slice: 20 32 20 32;
  border-image-width: 1.1111111111rem 1.7777777778rem 1.1111111111rem 1.7777777778rem;
  border-image-outset: 0.2777777778rem;
  background: linear-gradient(90deg, #4c473d 0%, rgba(5, 7, 13, 0.5) 100%);
}

.build-queue__turn-icon {
  background-image: url("fs://game/hud_turn-timer.png");
  background-size: cover;
}

.build-queue__item-button--move-up {
  background-image: url("fs://game/city_queue_up.png");
  background-size: cover;
}

.build-queue__close-button {
  background-image: url("fs://game/city_queue_trash.png");
  background-size: cover;
}

.build-queue__item-progress-bar {
  background-image: url("fs://game/city_queue_bar_bk.png");
  background-size: cover;
}

.build-queue__progress-bar-fill {
  background-image: url("fs://game/city_queue_bar.png");
  background-size: cover;
}
.build-queue__progress-bar-fill.build-queue__progress-bar-fill-negative {
  background-image: url("fs://game/espionage_bar.png");
}