.screen-diplomacy-call-to-arms {
  height: auto;
  width: 40em;
  display: flex;
  flex-direction: column;
  background-color: rgb(51, 38, 19);
  position: relative;
  padding-top: 0.8888888889rem;
  margin-bottom: 1.3333333333rem;
}
.screen-diplomacy-call-to-arms.pick-side .call-to-arms__pick-side-button-container {
  visibility: visible;
}
.screen-diplomacy-call-to-arms.hidden {
  display: none;
}

.call-to-arms__title-text {
  width: 100%;
  height: auto;
  font-size: calc(1rem + 0.7777777778rem);
  text-align: center;
  margin-bottom: 0.8888888889rem;
}

.call-to-arms__body-text {
  width: 80%;
  height: auto;
  font-size: 1rem;
  align-self: center;
  margin-bottom: 0.8888888889rem;
}

.call-to-arms__portrait-container {
  width: 100%;
  height: 5em;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.8888888889rem;
}

.call-to-arms__portrait {
  position: relative;
  width: 6em;
  height: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
}

.call-to-arms__portrait-shadow {
  position: absolute;
  top: -0.2222222222rem;
  right: -0.2222222222rem;
  left: -0.7777777778rem;
  bottom: -0.8333333333rem;
  filter: fxs-color-mask(black);
  background-image: url("fs://game/Hex_shadow.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.75;
  pointer-events: none;
}

.call-to-arms__portrait-bg {
  position: absolute;
  top: -0.4444444444rem;
  left: -0.4444444444rem;
  right: -0.4444444444rem;
  bottom: -0.4444444444rem;
  mask-image: url("fs://game/Rounded-Hex_48px.png");
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: var(--player-color-secondary);
  pointer-events: none;
}

.call-to-arms__portrait-big--inner {
  position: absolute;
  top: -0.2777777778rem;
  left: -0.2777777778rem;
  right: -0.2777777778rem;
  bottom: -0.2777777778rem;
  mask-image: url("fs://game/Rounded-Hex_48px.png");
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: var(--player-color-primary);
  background-image: linear-gradient(210deg, rgba(var(--clr-page__overlay-dark), 0) 0%, rgba(var(--clr-page__overlay-dark), 0.5) 100%);
  pointer-events: none;
}

.call-to-arms__portrait-icon {
  position: absolute;
  align-self: center;
  width: 6em;
  height: 6em;
  background-size: 95% 95%;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  mask-image: url("fs://game/mask_hex_icon_64px.png");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: 50% 100%;
  pointer-events: none;
}

.call-to-arms__war-icon {
  width: 7em;
  height: 5em;
  background-image: url("fs://game/icon_war.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.call-to-arms__button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0.8888888889rem;
  height: 3em;
}
.call-to-arms__button-container.pick-side {
  justify-content: space-around;
  display: none;
}
.call-to-arms__button-container .fxs-button {
  width: 30%;
  height: 80%;
  margin-right: 0.6666666667rem;
  margin-left: 0.6666666667rem;
}

.call-to-arms__pick-side-button-container {
  width: 100%;
  margin-bottom: 0.8888888889rem;
  margin-top: 0.6666666667rem;
  height: 3em;
  justify-content: space-around;
  visibility: hidden;
}
.call-to-arms__pick-side-button-container .fxs-button {
  width: 30%;
  height: 80%;
  margin-right: 0.6666666667rem;
  margin-left: 0.6666666667rem;
}
.call-to-arms__pick-side-button-container .fxs-button.side-button .fxs-nav-help {
  visibility: hidden;
}
.call-to-arms__pick-side-button-container .fxs-button.side-button:focus .fxs-nav-help {
  visibility: visible;
}

.call-to-arms__relationship-icon {
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  bottom: -0.8888888889rem;
  pointer-events: none;
  align-self: center;
  filter: drop-shadow(-0.1111111111rem 0.1111111111rem rgb(0, 0, 0));
}
.call-to-arms__relationship-icon.hidden {
  visibility: hidden;
}