.civ-choice-card-panel {
  width: 41.1111111111rem;
  height: 44.4444444444rem;
}
@media (max-height: 55.5555555556rem) {
  .civ-choice-card-panel {
    width: 31.8888888889rem;
    height: 32.7777777778rem;
  }
}

.civ-choice-card-civ-icon {
  width: 11.9444444444rem;
  height: 11.9444444444rem;
}
@media (max-height: 55.5555555556rem) {
  .civ-choice-card-civ-icon {
    width: 7.5555555556rem;
    height: 7.5555555556rem;
  }
}

.civ-choice-card-image {
  width: 40.7777777778rem;
  height: 26.6666666667rem;
  margin-top: 0.2222222222rem;
  margin-right: 0.1666666667rem;
  margin-left: 0.1666666667rem;
}
@media (max-height: 55.5555555556rem) {
  .civ-choice-card-image {
    width: 31.5555555556rem;
    height: 16.1111111111rem;
  }
}

.civ-choice-card-more-civs-image {
  width: 40.7777777778rem;
  height: 32.9444444444rem;
  margin-top: 0.2222222222rem;
  margin-right: 0.1666666667rem;
  margin-left: 0.1666666667rem;
  background: url("blp:AT_morecivs_image");
  background-position: center center;
  background-size: cover;
}
@media (max-height: 55.5555555556rem) {
  .civ-choice-card-more-civs-image {
    width: 31.5555555556rem;
    height: 20.5555555556rem;
  }
}

.civ-choice-card-top-filigree {
  width: 41.1111111111rem;
  height: 2.5555555556rem;
  background-image: url("blp:cPromo_header");
  background-position: center center;
  background-size: 120% 100%;
}
@media (max-height: 55.5555555556rem) {
  .civ-choice-card-top-filigree {
    width: 31.8888888889rem;
  }
}

.civ-choice-card-gradient {
  width: 16.6666666667rem;
  height: 16.6666666667rem;
  margin-left: -8.3333333333rem;
  background: radial-gradient(50% 50% at 50% 50%, #000 0%, rgba(0, 0, 0, 0) 100%);
}

.civ-choice-card-text-gradient {
  padding: 1.7777777778rem 3.5555555556rem;
  margin: -1.7777777778rem -3.5555555556rem;
  background-image: radial-gradient(50% 50% at 50% 50%, #000 0%, rgba(0, 0, 0, 0) 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.civ-choice-card-icon-area {
  height: 6.1111111111rem;
  margin-right: 0.1666666667rem;
  margin-left: 0.1666666667rem;
  background: #10131b;
}
@media (max-height: 55.5555555556rem) {
  .civ-choice-card-icon-area {
    height: 3.9444444444rem;
  }
}

.civ-choice-card-icon-gradient {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 160.59%);
  opacity: 0.9;
}

.civ-choice-card-inner-filigree {
  width: 40.7777777778rem;
  height: 2.3333333333rem;
  background-image: url("blp:shell_top-filigree");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media (max-height: 55.5555555556rem) {
  .civ-choice-card-inner-filigree {
    width: 31.5555555556rem;
    height: 1.6666666667rem;
  }
}

.civ-choice-card-icon {
  width: 4.7222222222rem;
  height: 4.7222222222rem;
  padding-bottom: 0.1111111111rem;
  padding-left: 0.1111111111rem;
  background-image: url("blp:hud_sub_circle_dis");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-height: 55.5555555556rem) {
  .civ-choice-card-icon {
    width: 3.2222222222rem;
    height: 3.2222222222rem;
  }
}

.civ-choice-card-laurels-container {
  top: -3.5555555556rem;
}
@media (max-height: 55.5555555556rem) {
  .civ-choice-card-laurels-container {
    top: -2.6666666667rem;
  }
}

.civ-choice-card-laurels {
  width: 8rem;
  height: 8rem;
  background-image: url("blp:popup_bronze_laurels");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-height: 55.5555555556rem) {
  .civ-choice-card-laurels {
    width: 5.2222222222rem;
    height: 5.2222222222rem;
  }
}

.civ-choice-card-leader-hex {
  width: 4.6111111111rem;
  height: 6.5rem;
  background-image: url("blp:lp_hex_bk_128");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-height: 55.5555555556rem) {
  .civ-choice-card-leader-hex {
    width: 2.9444444444rem;
    height: 4.1111111111rem;
  }
}

.civ-choice-card-leader {
  width: 4.6111111111rem;
  height: 6.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-height: 55.5555555556rem) {
  .civ-choice-card-leader {
    width: 2.9444444444rem;
    height: 4.1111111111rem;
  }
}

.civ-choice-rec-leader {
  width: 2.5rem;
  height: 3.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.civ-choice-rec-laurels {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  background-image: url("blp:popup_bronze_laurels");
  background-repeat: no-repeat;
  background-size: contain;
}

.civ-choice-rec-leader-hex {
  width: 2.5rem;
  height: 3.5rem;
  background-image: url("blp:lp_hex_bk_128");
  background-repeat: no-repeat;
  background-size: contain;
}

.civ-choice-rec-area {
  background: #282a32;
}

.civ-choice-corner-filigree {
  position: absolute;
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  background-image: url("blp:mp_player_detail");
  background-size: cover;
  opacity: 0.5;
}
.civ-choice-corner-filigree.top-left {
  top: 0.3888888889rem;
  left: 0.2777777778rem;
  transform: scaleX(-1) scaleY(-1);
}
.civ-choice-corner-filigree.top-right {
  top: 0.3888888889rem;
  right: 0.2777777778rem;
  transform: scaleY(-1);
}
.civ-choice-corner-filigree.bottom-left {
  bottom: 0.3888888889rem;
  left: 0.2777777778rem;
  transform: scaleX(-1);
}
.civ-choice-corner-filigree.bottom-right {
  right: 0.2777777778rem;
  bottom: 0.3888888889rem;
}

.civ-choice-rec-filigree {
  position: absolute;
  top: 0.1666666667rem;
  width: 7.2222222222rem;
  height: 7.2222222222rem;
  background-image: url("blp:base_frame-filigree");
  background-size: cover;
  opacity: 0.1;
}
.civ-choice-rec-filigree.top-left {
  left: 0.3333333333rem;
}
.civ-choice-rec-filigree.top-right {
  right: 0.3333333333rem;
  transform: scaleX(-1);
}

.civ-choice-rec-top-filigree {
  width: 25rem;
  height: 1.3888888889rem;
  background-image: url("blp:cPromo_header");
  background-position: center center;
  background-size: 110% 100%;
}

.civ-choice-card-shadow {
  height: 1.0555555556rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 160.59%);
  opacity: 0.9;
}

.civ-choice-card-button {
  width: 28.4444444444rem;
}
@media (max-height: 55.5555555556rem) {
  .civ-choice-card-button {
    width: 16rem;
  }
}

.civ-choice-rec-card {
  min-height: 7.8888888889rem;
}
@media (max-height: 55.5555555556rem) {
  .civ-choice-rec-card {
    min-height: 5.7777777778rem;
  }
}

.civ-choice-rec-card-icon-area {
  width: 8.8888888889rem;
}
@media (max-height: 55.5555555556rem) {
  .civ-choice-rec-card-icon-area {
    width: 6.6666666667rem;
  }
}

.civ-choice-rec-card-icon {
  width: 7.1111111111rem;
  height: 7.1111111111rem;
}
@media (max-height: 55.5555555556rem) {
  .civ-choice-rec-card-icon {
    width: 5.1111111111rem;
    height: 5.1111111111rem;
  }
}

.civ-choice-rec-card-text {
  margin-right: 2.2222222222rem;
}
@media (max-height: 55.5555555556rem) {
  .civ-choice-rec-card-text {
    margin-right: 0.5555555556rem;
  }
}

.civ-choice-rec-card-text-spacing {
  margin-top: 0.4444444444rem;
  margin-bottom: 0.4444444444rem;
}
@media (max-height: 55.5555555556rem) {
  .civ-choice-rec-card-text-spacing {
    margin-top: 0.1666666667rem;
    margin-bottom: 0.1666666667rem;
  }
}

.civ-choice-rec-card-overlay {
  background: rgba(25, 27, 33, 0.7019607843);
}