/**
Based on Robert Penner's easing equations
@url http://robertpenner.com/easing/
**/
.diplo-ribbon {
  --player-color-primary: rgb(17 46 92);
  --player-color-secondary: rgb(255 234 105);
  overflow: visible;
  font-size: 0.4444444444rem;
  pointer-events: none;
}
@media (experience: mobile) and (max-height: 42.6666666667rem) {
  .diplo-ribbon {
    margin-top: 0.4444444444rem;
  }
}
.diplo-ribbon.primary-color-is-lighter .diplo-ribbon__top-bar-bg {
  background-image: linear-gradient(to left, var(--player-color-secondary-text) 0%, var(--player-color-secondary-more) 100%);
}
.diplo-ribbon.primary-color-is-lighter .diplo-ribbon__top-bar-overlay {
  background-image: linear-gradient(195deg, rgba(229, 229, 229, 0.25) 0%, rgba(5, 7, 13, 0.125) 100%);
}
.diplo-ribbon.hidden {
  display: none;
}
.diplo-ribbon.diplomacy-dialog-ribbon fxs-nav-help {
  display: none;
}
.diplo-ribbon.local-player-diplomacy-hub-ribbon {
  right: 5.5555555556rem;
}
@media (max-width: 106.6666666667rem) {
  .diplo-ribbon.local-player-diplomacy-hub-ribbon {
    top: 1.6666666667rem;
    right: 7.2222222222rem;
  }
}
@media (max-width: 88.8888888889rem) {
  .diplo-ribbon.local-player-diplomacy-hub-ribbon {
    top: 1.6666666667rem;
    right: 14.2222222222rem;
  }
}
@media (experience: mobile) and (max-height: 55.5555555556rem) {
  .diplo-ribbon.local-player-diplomacy-hub-ribbon {
    right: 10rem;
  }
}
.diplo-ribbon.other-player-diplomacy-hub-ribbon {
  right: -5.5555555556rem;
}
@media (max-width: 106.6666666667rem) {
  .diplo-ribbon.other-player-diplomacy-hub-ribbon {
    top: 1.6666666667rem;
    right: -1.8888888889rem;
  }
}
@media (max-width: 88.8888888889rem) {
  .diplo-ribbon.other-player-diplomacy-hub-ribbon {
    top: 1.6666666667rem;
    right: -9.4444444444rem;
  }
}
@media (experience: mobile) {
  .diplo-ribbon.other-player-diplomacy-hub-ribbon {
    right: -7.2222222222rem;
  }
}
@media (experience: mobile) and (max-height: 55.5555555556rem) {
  .diplo-ribbon.other-player-diplomacy-hub-ribbon {
    right: -10rem;
  }
}

@media (experience: mobile) {
  .diplo-ribbon__arrow-bg-right {
    position: absolute;
    right: -2.4444444444rem;
  }
}

@media (experience: mobile) {
  .diplo-ribbon-right-arrow__nav-help {
    position: absolute;
    right: -4.3333333333rem;
  }
}

@media (experience: mobile) and (max-height: 42.6666666667rem) {
  .diplo-ribbon-toggle__nav-help {
    top: 0.4444444444rem;
  }
}

@keyframes diplo-ribbon__attention-anim {
  0% {
    transform: translateY(0rem);
  }
  60% {
    transform: translateY(-0.2222222222rem);
  }
  90% {
    transform: translateY(-0.2222222222rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
.diplo-ribbon__team-overlay {
  width: 3.1666666667rem;
  height: 7.3333333333rem;
  margin-top: -4.7777777778rem;
  background-image: url("blp:mp_hud_banner_teamcolor.png");
  background-size: 100% 100%;
}

.diplo-ribbon__team-text {
  margin-top: -2.7222222222rem;
}

.diplo-ribbon__attribute-button {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: diplo-ribbon__attention-anim;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  border-image-slice: 1 1 2 2 fill;
  border-image-source: url("blp:hud_att_arrow");
  border-image-width: 0.0555555556rem 0.0555555556rem 0.1111111111rem 0.1111111111rem;
}
.diplo-ribbon__attribute-button.hidden {
  animation-iteration-count: 0;
}
.diplo-ribbon__attribute-button:hover, .diplo-ribbon__attribute-button.pressed {
  border-image-source: url("blp:hud_att_arrow_highlight");
}

.center .diplo-ribbon__ribbon-container::before {
  width: 100%;
  height: 7em;
  max-height: 3.8888888889rem;
  content: "";
}

.diplo-ribbon__ribbon-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.diplo-ribbon__ribbon-container::before {
  width: 100%;
  height: 5.625em;
  max-height: 3.125rem;
  content: "";
}

@media (max-width: 88.8888888889rem) {
  .diplo-ribbon__ribbon-container-small {
    right: -5.3333333333rem;
  }
}

@media (max-width: 88.8888888889rem) {
  .diplo-ribbon__ribbon-container-hub {
    right: -3.5555555556rem;
  }
}

.diplo-ribbon-outer {
  position: relative;
  height: auto;
  align-items: flex-start;
  align-self: flex-start;
  justify-content: flex-start;
  transform: translateX(0rem);
}
@media (experience: mobile) and (max-height: 42.6666666667rem) {
  .diplo-ribbon-outer .diplo-ribbon__bg-container {
    bottom: 0;
    height: auto;
  }
}
.diplo-ribbon-outer::after {
  width: 1.5em;
  max-width: 0.8333333333rem;
  height: 100%;
  content: "";
  pointer-events: none;
}
.diplo-ribbon-outer.primary-color-is-lighter .diplo-ribbon__overlay {
  background-image: linear-gradient(240deg, rgba(236, 224, 212, 0.125) 0%, transparent 75%, rgba(10, 2, 13, 0.25) 100%);
}
.diplo-ribbon-outer.primary-color-is-lighter .diplo-ribbon__folds {
  opacity: 0.3;
}
.diplo-ribbon-outer.primary-color-is-lighter .diplo-ribbon__upper-shape {
  fxs-background-image-tint: var(--player-color-primary-more);
}
.diplo-ribbon-outer.show-on-hover {
  pointer-events: auto;
}
.diplo-ribbon-outer.show-on-hover .diplo-ribbon__yields,
.diplo-ribbon-outer.show-on-hover .diplo-ribbon__bottom-spacer,
.diplo-ribbon-outer.show-on-hover .diplo-ribbon__bg-container {
  display: none;
}
.diplo-ribbon-outer.show-on-hover:hover .diplo-ribbon__yields,
.diplo-ribbon-outer.show-on-hover:hover .diplo-ribbon__bottom-spacer,
.diplo-ribbon-outer.show-on-hover:hover .diplo-ribbon__bg-container, .diplo-ribbon-outer.show-on-hover.pressed .diplo-ribbon__yields,
.diplo-ribbon-outer.show-on-hover.pressed .diplo-ribbon__bottom-spacer,
.diplo-ribbon-outer.show-on-hover.pressed .diplo-ribbon__bg-container {
  display: flex;
}
.diplo-ribbon-outer.hover-all .diplo-ribbon__yields,
.diplo-ribbon-outer.hover-all .diplo-ribbon__bottom-spacer,
.diplo-ribbon-outer.hover-all .diplo-ribbon__bg-container {
  display: flex;
}

@media (max-width: 106.5555555556rem) {
  .diplo-ribbon__outer_small {
    margin-right: -0.4444444444rem;
  }
}

.diplo-ribbon_content-container {
  position: relative;
  display: flex;
  width: 4.7222222222rem;
  height: auto;
  flex-direction: column;
  align-content: center;
  align-items: center;
  align-self: flex-start;
}

.diplo-ribbon__bg {
  border-image: url("blp:hud_diployield_bg");
  border-image-slice: 62 23 1 23 fill;
  border-image-width: 1 1 1 1;
}

/* TODO Bring back with group highlighting
.diplo-ribbon__bg-highlight:hover {
	border-image: url("blp:hud_diployield_bg_hi");
	border-image-slice: 62 23 0 23 fill;
	border-image-width: 1 1 1 1;
}
*/
.diplo-ribbon__tokens {
  position: relative;
  z-index: 2;
  display: flex;
  height: auto;
  height: 9.75em;
  max-height: 5.4166666667rem;
  flex-direction: column;
  align-items: center;
}

.diplo-ribbon__portrait {
  --diplo-ribbon-scale: 1;
  position: absolute;
  bottom: 0rem;
  width: 10.5em;
  max-width: 5.8333333333rem;
  height: 10.5em;
  max-height: 5.8333333333rem;
  align-self: center;
  pointer-events: none;
  transform: translateY(-20%) scale(var(--diplo-ribbon-scale));
  transition-duration: 0.25s;
  transition-property: bottom, transform;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media (experience: mobile) {
  .diplo-ribbon__portrait {
    pointer-events: auto;
  }
}
.diplo-ribbon__portrait.turn-active {
  bottom: 0.5555555556rem;
}
.diplo-ribbon__portrait.turn-active .diplo-ribbon__portrait-turn {
  display: flex;
}
.diplo-ribbon__portrait.hud-select-potential {
  width: 14em;
  max-width: 7.7777777778rem;
  height: 14em;
  max-height: 7.7777777778rem;
}
.diplo-ribbon__portrait.hud-select-potential:focus {
  --diplo-ribbon-scale: 1.125;
}
.diplo-ribbon__portrait.hud-select-potential:focus .diplo-ribbon__portrait-bg--focus {
  opacity: 0.875;
}
.diplo-ribbon__portrait:hover, .diplo-ribbon__portrait:focus, .diplo-ribbon__portrait.pressed {
  --diplo-ribbon-scale: 1.0625;
}
.diplo-ribbon__portrait:hover .diplo-ribbon__portrait-shadow, .diplo-ribbon__portrait:focus .diplo-ribbon__portrait-shadow, .diplo-ribbon__portrait.pressed .diplo-ribbon__portrait-shadow {
  transform: translateX(-2.5%) translateY(5%);
}
.diplo-ribbon__portrait:hover .diplo-ribbon__portrait-bg--highlight, .diplo-ribbon__portrait:focus .diplo-ribbon__portrait-bg--highlight, .diplo-ribbon__portrait.pressed .diplo-ribbon__portrait-bg--highlight {
  opacity: 0.875;
}
.diplo-ribbon__portrait.disabled .diplo-ribbon__portrait-hitbox {
  pointer-events: none;
}

.diplo-ribbon__portrait-hitbox {
  position: absolute;
  width: 68.75%;
  height: 75%;
  pointer-events: auto;
}

.diplo-ribbon__portrait-shadow {
  background-image: url("blp:shadow_hex-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  transform: translateX(0%) translateY(0%);
  transition-duration: 0.25s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.diplo-ribbon__portrait-bg {
  background-image: url("blp:bg_hex-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  fxs-background-image-tint: var(--player-color-primary);
  pointer-events: none;
}

.diplo-ribbon__portrait-hex-bg {
  background-image: url("blp:final_leader-hex");
  filter: fxs-color-tint(var(--player-color-secondary-accent));
}

.diplo-ribbon__portrait-hex-bg-frame {
  background-image: url("blp:hud_diplo_hex-frame");
}

.diplo-ribbon__portrait-hex-bg-shadow {
  background-image: url("blp:hud_diplo_hex-shadow");
}

.diplo-ribbon__portrait-bg--inner {
  background-image: url("blp:bg_hex-icon-inner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  fxs-background-image-tint: var(--player-color-secondary);
  pointer-events: none;
}

.diplo-ribbon__portrait-bg--highlight {
  background-image: url("blp:bg_hex-icon-inner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  fxs-background-image-tint: #e5e5e5;
  opacity: 0;
  pointer-events: none;
  transition-duration: 0.25s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.diplo-ribbon__portrait-overlay {
  background-image: url("blp:overlay_hex-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.diplo-ribbon__portrait-image {
  top: -26.5%;
  transition-duration: 0.25s;
  transition-property: top;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.diplo-ribbon__bottom-spacer {
  position: relative;
  height: 4.125em;
}

.radial-menu-mode .relationship-icon {
  bottom: 0.6666666667rem;
  transform: scale(1.3);
}

.diplo-ribbon__upper-shadow {
  position: absolute;
  top: -25%;
  right: 0;
  bottom: -25%;
  left: 0;
  background-image: url("blp:shadow_diplo-ribbon-top.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.diplo-ribbon__front-banner {
  border-image-slice: 40 31 31 31 fill;
  border-image-source: url("blp:hud_frontbanner");
  border-image-width: 2.2222222222rem 1.7222222222rem 1.7222222222rem 1.7222222222rem;
  fxs-border-image-tint: var(--player-color-primary-more);
}

.diplo-ribbon__front-banner-overlay {
  border-image: url("blp:hud_frontbanner_overlay");
  border-image-slice: 1 31 29 31 fill;
  border-image-width: 0.0555555556rem 1.7222222222rem 1.7222222222rem 1.7222222222rem;
}

.diplo-ribbon__front-banner-shadow {
  border-image: url("blp:hud_frontbanner_shadow");
  border-image-slice: 40 31 31 31 fill;
  border-image-width: 2.2222222222rem 1.7222222222rem 1.7222222222rem 1.7222222222rem;
}

.diplo-ribbon__symbol {
  filter: fxs-color-tint(var(--player-color-secondary));
}

.diplo-ribbon__relation-container {
  position: absolute;
  top: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: flex-start;
}
.diplo-ribbon__relation-container::before {
  position: relative;
  height: 7.5em;
  max-height: 4.1666666667rem;
  content: "";
}

.relationship-icon {
  margin-bottom: -20%;
}

.diplo-ribbon__sanction-envoy-count {
  width: 2.3333333333rem;
  background-color: #616266;
  color: #ffffff;
}

.diplo-ribbon__war-support-count {
  width: 2.3333333333rem;
  background-color: #616266;
  color: #ffffff;
}
.diplo-ribbon__war-support-count.positive {
  background-color: #579544;
  color: #ffffff;
}
.diplo-ribbon__war-support-count.negative {
  background-color: #dc1e46;
  color: #ffffff;
}

.yield-item {
  padding-right: 0.1666666667rem;
}

.yield-label {
  pointer-events: none;
}
.yield-label > img {
  width: 1em;
  height: 1em;
}

.size-item {
  display: flex;
  width: 33.3%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-self: flex-start;
  justify-content: flex-start;
  padding-bottom: 0.375em;
  background-image: linear-gradient(to bottom, var(--player-color-primary-accent) 0, var(--player-color-primary-accent) 0.125em, transparent 0.125em), linear-gradient(to top, var(--player-color-primary-accent) 0, var(--player-color-primary-accent) 0.125em, transparent 0.125em);
}
.size-item .yield-label {
  margin-bottom: 0.375em;
}