.twok-code-redemption {
  position: absolute;
  width: 60%;
}

.dlc-image {
  width: 30%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-height: 55.5555555556rem) {
  .dlc-image {
    width: 16.6666666667rem;
    min-width: 0rem;
  }
}

.dlc-viewer-scrollable {
  height: 92%;
}
@media (max-height: 55.5555555556rem) {
  .dlc-viewer-scrollable {
    height: 87%;
  }
}

.dlc-text {
  width: 94%;
}