<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Ages>
		<Row AgeType="AGE_ANTIQUITY" Name="LOC_AGE_ANTIQUITY_NAME" Description="LOC_AGE_ANTIQUITY_DESCRIPTION" PlayerCivilizationDomain="AntiquityAgeCivilizations" DefeatDomain="AntiquityDefeats" VictoryDomain="AntiquityVictories" MapSizeDomain="DistantLandsMapSizes" Banner="age-sel_antiquity_full" SortIndex="10"/>
	</Ages>
	<Civilizations>
		<Row Domain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_AKSUM" CivilizationName="LOC_CIVILIZATION_AKSUM_NAME" CivilizationFullName="LOC_CIVILIZATION_AKSUM_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_AKSUM_DESCRIPTION" CivilizationIcon="civ_sym_aksum.png"/>
		<Row Domain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_EGYPT" CivilizationName="LOC_CIVILIZATION_EGYPT_NAME" CivilizationFullName="LOC_CIVILIZATION_EGYPT_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_EGYPT_DESCRIPTION" CivilizationIcon="civ_sym_egypt.png"/>
		<Row Domain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_GREECE" CivilizationName="LOC_CIVILIZATION_GREECE_NAME" CivilizationFullName="LOC_CIVILIZATION_GREECE_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_GREECE_DESCRIPTION" CivilizationIcon="civ_sym_greece.png"/>
		<Row Domain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HAN" CivilizationName="LOC_CIVILIZATION_HAN_NAME" CivilizationFullName="LOC_CIVILIZATION_HAN_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_HAN_DESCRIPTION" CivilizationIcon="civ_sym_han.png"/>
		<Row Domain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_KHMER" CivilizationName="LOC_CIVILIZATION_KHMER_NAME" CivilizationFullName="LOC_CIVILIZATION_KHMER_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_KHMER_DESCRIPTION" CivilizationIcon="civ_sym_khmer.png"/>
		<Row Domain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAURYA" CivilizationName="LOC_CIVILIZATION_MAURYA_NAME" CivilizationFullName="LOC_CIVILIZATION_MAURYA_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_MAURYA_DESCRIPTION" CivilizationIcon="civ_sym_maurya.png"/>
		<Row Domain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAYA" CivilizationName="LOC_CIVILIZATION_MAYA_NAME" CivilizationFullName="LOC_CIVILIZATION_MAYA_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_MAYA_DESCRIPTION" CivilizationIcon="civ_sym_maya.png"/>
		<Row Domain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MISSISSIPPIAN" CivilizationName="LOC_CIVILIZATION_MISSISSIPPIAN_NAME" CivilizationFullName="LOC_CIVILIZATION_MISSISSIPPIAN_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_MISSISSIPPIAN_DESCRIPTION" CivilizationIcon="civ_sym_mississippian.png"/>
		<Row Domain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_PERSIA" CivilizationName="LOC_CIVILIZATION_PERSIA_NAME" CivilizationFullName="LOC_CIVILIZATION_PERSIA_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_PERSIA_DESCRIPTION" CivilizationIcon="civ_sym_persia.png"/>
		<Row Domain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" CivilizationName="LOC_CIVILIZATION_ROME_NAME" CivilizationFullName="LOC_CIVILIZATION_ROME_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_ROME_DESCRIPTION" CivilizationIcon="civ_sym_rome.png"/>
	</Civilizations>
	<CivilizationItems>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_AKSUM" Type="TRAIT_AKSUM_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_AKSUM_ABILITY_NAME" Description="LOC_TRAIT_AKSUM_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_AKSUM" Type="UNIT_DHOW" Kind="KIND_UNIT" Name="LOC_UNIT_DHOW_NAME" Description="LOC_UNIT_DHOW_BASE_DESCRIPTION" Icon="ICON_UNIT_DHOW"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_AKSUM" Type="UNIT_TANKWA" Kind="KIND_UNIT" Name="LOC_UNIT_TANKWA_NAME" Description="LOC_UNIT_TANKWA_DESCRIPTION" Icon="ICON_UNIT_TANKWA"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_AKSUM" Type="IMPROVEMENT_HAWELT" Kind="KIND_IMPROVEMENT" Name="LOC_IMPROVEMENT_HAWELT_NAME" Description="LOC_IMPROVEMENT_HAWELT_DESCRIPTION" Icon="ICON_IMPROVEMENT_HAWELT"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_EGYPT" Type="TRAIT_EGYPT_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_EGYPT_ABILITY_NAME" Description="LOC_TRAIT_EGYPT_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_EGYPT" Type="UNIT_MEDJAY" Kind="KIND_UNIT" Name="LOC_UNIT_MEDJAY_NAME" Description="LOC_UNIT_MEDJAY_BASE_DESCRIPTION" Icon="ICON_UNIT_MEDJAY"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_EGYPT" Type="UNIT_TJATY" Kind="KIND_UNIT" Name="LOC_UNIT_TJATY_NAME" Description="LOC_UNIT_TJATY_DESCRIPTION" Icon="ICON_UNIT_TJATY"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_EGYPT" Type="QUARTER_NECROPOLIS" Kind="KIND_QUARTER" Name="LOC_QUARTER_NECROPOLIS_NAME" Description="LOC_QUARTER_NECROPOLIS_DESCRIPTION" Icon="city_uniquequarter"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_EGYPT" Type="BUILDING_MASTABA" Kind="KIND_BUILDING" Name="LOC_BUILDING_MASTABA_NAME" Description="LOC_BUILDING_MASTABA_DESCRIPTION" Icon="ICON_BUILDING_MASTABA"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_EGYPT" Type="BUILDING_MORTUARY_TEMPLE" Kind="KIND_BUILDING" Name="LOC_BUILDING_MORTUARY_TEMPLE_NAME" Description="LOC_BUILDING_MORTUARY_TEMPLE_DESCRIPTION" Icon="ICON_BUILDING_MORTUARY_TEMPLE"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_GREECE" Type="TRAIT_GREECE_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_GREECE_ABILITY_NAME" Description="LOC_TRAIT_GREECE_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_GREECE" Type="UNIT_HOPLITE" Kind="KIND_UNIT" Name="LOC_UNIT_HOPLITE_NAME" Description="LOC_UNIT_HOPLITE_BASE_DESCRIPTION" Icon="ICON_UNIT_HOPLITE"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_GREECE" Type="UNIT_LOGIOS" Kind="KIND_UNIT" Name="LOC_UNIT_LOGIOS_NAME" Description="LOC_UNIT_LOGIOS_DESCRIPTION" Icon="ICON_UNIT_LOGIOS"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_GREECE" Type="QUARTER_ACROPOLIS" Kind="KIND_QUARTER" Name="LOC_QUARTER_ACROPOLIS_NAME" Description="LOC_QUARTER_ACROPOLIS_DESCRIPTION" Icon="city_uniquequarter"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_GREECE" Type="BUILDING_ODEON" Kind="KIND_BUILDING" Name="LOC_BUILDING_ODEON_NAME" Description="LOC_BUILDING_ODEON_DESCRIPTION" Icon="ICON_BUILDING_ODEON"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_GREECE" Type="BUILDING_PARTHENON" Kind="KIND_BUILDING" Name="LOC_BUILDING_PARTHENON_NAME" Description="LOC_BUILDING_PARTHENON_DESCRIPTION" Icon="ICON_BUILDING_PARTHENON"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HAN" Type="TRAIT_HAN_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_HAN_ABILITY_NAME" Description="LOC_TRAIT_HAN_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HAN" Type="UNIT_NU" Kind="KIND_UNIT" Name="LOC_UNIT_NU_NAME" Description="LOC_UNIT_NU_BASE_DESCRIPTION" Icon="ICON_UNIT_NU"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HAN" Type="UNIT_SHI_DAFU" Kind="KIND_UNIT" Name="LOC_UNIT_SHI_DAFU_NAME" Description="LOC_UNIT_SHI_DAFU_DESCRIPTION" Icon="ICON_UNIT_SHI_DAFU"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HAN" Type="IMPROVEMENT_HAN_GREAT_WALL" Kind="KIND_IMPROVEMENT" Name="LOC_IMPROVEMENT_HAN_GREAT_WALL_NAME" Description="LOC_IMPROVEMENT_HAN_GREAT_WALL_DESCRIPTION" Icon="ICON_IMPROVEMENT_HAN_GREAT_WALL"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_KHMER" Type="TRAIT_KHMER_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_KHMER_ABILITY_NAME" Description="LOC_TRAIT_KHMER_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_KHMER" Type="UNIT_DANTINAS_TATHA" Kind="KIND_UNIT" Name="LOC_UNIT_DANTINAS_TATHA_NAME" Description="LOC_UNIT_DANTINAS_TATHA_BASE_DESCRIPTION" Icon="ICON_UNIT_DANTINAS_TATHA"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_KHMER" Type="UNIT_VAISHYA" Kind="KIND_UNIT" Name="LOC_UNIT_VAISHYA_NAME" Description="LOC_UNIT_VAISHYA_DESCRIPTION" Icon="ICON_UNIT_VAISHYA"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_KHMER" Type="IMPROVEMENT_BARAY" Kind="KIND_IMPROVEMENT" Name="LOC_IMPROVEMENT_BARAY_NAME" Description="LOC_IMPROVEMENT_BARAY_DESCRIPTION" Icon="ICON_IMPROVEMENT_BARAY"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAURYA" Type="TRAIT_MAURYA_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_MAURYA_ABILITY_NAME" Description="LOC_TRAIT_MAURYA_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAURYA" Type="UNIT_PURABHETTARAH" Kind="KIND_UNIT" Name="LOC_UNIT_PURABHETTARAH_NAME" Description="LOC_UNIT_PURABHETTARAH_BASE_DESCRIPTION" Icon="ICON_UNIT_PURABHETTARAH"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAURYA" Type="UNIT_NAGARIKA" Kind="KIND_UNIT" Name="LOC_UNIT_NAGARIKA_NAME" Description="LOC_UNIT_NAGARIKA_DESCRIPTION" Icon="ICON_UNIT_NAGARIKA"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAURYA" Type="QUARTER_MATHA" Kind="KIND_QUARTER" Name="LOC_QUARTER_MATHA_NAME" Description="LOC_QUARTER_MATHA_DESCRIPTION" Icon="city_uniquequarter"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAURYA" Type="BUILDING_DHARAMSHALA" Kind="KIND_BUILDING" Name="LOC_BUILDING_DHARAMSHALA_NAME" Description="LOC_BUILDING_DHARAMSHALA_DESCRIPTION" Icon="ICON_BUILDING_DHARAMSHALA"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAURYA" Type="BUILDING_VIHARA" Kind="KIND_BUILDING" Name="LOC_BUILDING_VIHARA_NAME" Description="LOC_BUILDING_VIHARA_DESCRIPTION" Icon="ICON_BUILDING_VIHARA"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAYA" Type="TRAIT_MAYA_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_MAYA_ABILITY_NAME" Description="LOC_TRAIT_MAYA_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAYA" Type="UNIT_HULCHE" Kind="KIND_UNIT" Name="LOC_UNIT_HULCHE_NAME" Description="LOC_UNIT_HULCHE_BASE_DESCRIPTION" Icon="ICON_UNIT_HULCHE"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAYA" Type="UNIT_JAGUAR_SLAYER" Kind="KIND_UNIT" Name="LOC_UNIT_JAGUAR_SLAYER_NAME" Description="LOC_UNIT_JAGUAR_SLAYER_DESCRIPTION" Icon="ICON_UNIT_JAGUAR_SLAYER"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAYA" Type="QUARTER_UWAYBIL_KUH" Kind="KIND_QUARTER" Name="LOC_QUARTER_UWAYBIL_KUH_NAME" Description="LOC_QUARTER_UWAYBIL_KUH_DESCRIPTION" Icon="city_uniquequarter"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAYA" Type="BUILDING_JALAW" Kind="KIND_BUILDING" Name="LOC_BUILDING_JALAW_NAME" Description="LOC_BUILDING_JALAW_DESCRIPTION" Icon="ICON_BUILDING_JALAW"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAYA" Type="BUILDING_KUH_NAH" Kind="KIND_BUILDING" Name="LOC_BUILDING_KUH_NAH_NAME" Description="LOC_BUILDING_KUH_NAH_DESCRIPTION" Icon="ICON_BUILDING_KUH_NAH"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MISSISSIPPIAN" Type="TRAIT_MISSISSIPPIAN_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_MISSISSIPPIAN_ABILITY_NAME" Description="LOC_TRAIT_MISSISSIPPIAN_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MISSISSIPPIAN" Type="UNIT_BURNING_ARROW" Kind="KIND_UNIT" Name="LOC_UNIT_BURNING_ARROW_NAME" Description="LOC_UNIT_BURNING_ARROW_BASE_DESCRIPTION" Icon="ICON_UNIT_BURNING_ARROW"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MISSISSIPPIAN" Type="UNIT_WATONATHI" Kind="KIND_UNIT" Name="LOC_UNIT_WATONATHI_NAME" Description="LOC_UNIT_WATONATHI_DESCRIPTION" Icon="ICON_UNIT_WATONATHI"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MISSISSIPPIAN" Type="IMPROVEMENT_POTKOP" Kind="KIND_IMPROVEMENT" Name="LOC_IMPROVEMENT_POTKOP_NAME" Description="LOC_IMPROVEMENT_POTKOP_DESCRIPTION" Icon="ICON_IMPROVEMENT_POTKOP"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_PERSIA" Type="TRAIT_PERSIA_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_PERSIA_ABILITY_NAME" Description="LOC_TRAIT_PERSIA_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_PERSIA" Type="UNIT_IMMORTAL" Kind="KIND_UNIT" Name="LOC_UNIT_IMMORTAL_NAME" Description="LOC_UNIT_IMMORTAL_BASE_DESCRIPTION" Icon="ICON_UNIT_IMMORTAL_TEMPLE"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_PERSIA" Type="UNIT_HAZARAPATIS" Kind="KIND_UNIT" Name="LOC_UNIT_HAZARAPATIS_NAME" Description="LOC_UNIT_HAZARAPATIS_DESCRIPTION" Icon="ICON_UNIT_HAZARAPATIS"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_PERSIA" Type="IMPROVEMENT_PAIRIDAEZA" Kind="KIND_IMPROVEMENT" Name="LOC_IMPROVEMENT_PAIRIDAEZA_NAME" Description="LOC_IMPROVEMENT_PAIRIDAEZA_DESCRIPTION" Icon="ICON_IMPROVEMENT_PAIRIDAEZA"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" Type="TRAIT_ROME_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_ROME_ABILITY_NAME" Description="LOC_TRAIT_ROME_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" Type="UNIT_LEGION" Kind="KIND_UNIT" Name="LOC_UNIT_LEGION_NAME" Description="LOC_UNIT_LEGION_BASE_DESCRIPTION" Icon="ICON_UNIT_LEGION_TEMPLE"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" Type="UNIT_LEGATUS" Kind="KIND_UNIT" Name="LOC_UNIT_LEGATUS_NAME" Description="LOC_UNIT_LEGATUS_DESCRIPTION" Icon="ICON_UNIT_LEGATUS"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" Type="QUARTER_FORUM" Kind="KIND_QUARTER" Name="LOC_QUARTER_FORUM_NAME" Description="LOC_QUARTER_FORUM_DESCRIPTION" Icon="city_uniquequarter"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" Type="BUILDING_BASILICA" Kind="KIND_BUILDING" Name="LOC_BUILDING_BASILICA_NAME" Description="LOC_BUILDING_BASILICA_DESCRIPTION" Icon="ICON_BUILDING_BASILICA"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" Type="BUILDING_TEMPLE_OF_JUPITER" Kind="KIND_BUILDING" Name="LOC_BUILDING_TEMPLE_OF_JUPITER_NAME" Description="LOC_BUILDING_TEMPLE_OF_JUPITER_DESCRIPTION" Icon="ICON_BUILDING_TEMPLE_OF_JUPITER"/>
	</CivilizationItems>
	<CivilizationTags>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_AKSUM" TagType="TAG_TRAIT_CULTURAL"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_AKSUM" TagType="TAG_TRAIT_ECONOMIC"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_EGYPT" TagType="TAG_TRAIT_CULTURAL"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_EGYPT" TagType="TAG_TRAIT_ECONOMIC"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_GREECE" TagType="TAG_TRAIT_CULTURAL"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_GREECE" TagType="TAG_TRAIT_POLITICAL"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HAN" TagType="TAG_TRAIT_POLITICAL"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HAN" TagType="TAG_TRAIT_SCIENTIFIC"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_KHMER" TagType="TAG_TRAIT_EXPANSIONIST"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_KHMER" TagType="TAG_TRAIT_SCIENTIFIC"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAURYA" TagType="TAG_TRAIT_MILITARISTIC"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAURYA" TagType="TAG_TRAIT_SCIENTIFIC"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAYA" TagType="TAG_TRAIT_POLITICAL"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAYA" TagType="TAG_TRAIT_SCIENTIFIC"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MISSISSIPPIAN" TagType="TAG_TRAIT_ECONOMIC"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MISSISSIPPIAN" TagType="TAG_TRAIT_EXPANSIONIST"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_PERSIA" TagType="TAG_TRAIT_ECONOMIC"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_PERSIA" TagType="TAG_TRAIT_MILITARISTIC"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" TagType="TAG_TRAIT_CULTURAL"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" TagType="TAG_TRAIT_MILITARISTIC"/>
	</CivilizationTags>
	<LeaderCivilizationBias>
		<!--This is the table used for UI, the AI uses LeaderCivPriorities in civilizations.xml-->
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_AKSUM" LeaderDomain="StandardLeaders" LeaderType="LEADER_AMINA" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_AMINA_AKSUM_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_AKSUM" LeaderDomain="StandardLeaders" LeaderType="LEADER_HARRIET_TUBMAN" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_HARRIET_TUBMAN_AKSUM_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_AKSUM" LeaderDomain="StandardLeaders" LeaderType="LEADER_HATSHEPSUT" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_HATSHEPSUT_AKSUM_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_AKSUM" LeaderDomain="StandardLeaders" LeaderType="LEADER_IBN_BATTUTA" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_IBN_BATTUTA_AKSUM_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_EGYPT" LeaderDomain="StandardLeaders" LeaderType="LEADER_AMINA" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_AMINA_EGYPT_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_EGYPT" LeaderDomain="StandardLeaders" LeaderType="LEADER_AUGUSTUS" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_AUGUSTUS_EGYPT_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_EGYPT" LeaderDomain="StandardLeaders" LeaderType="LEADER_FRIEDRICH" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_FRIEDRICH_EGYPT_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_EGYPT" LeaderDomain="StandardLeaders" LeaderType="LEADER_HARRIET_TUBMAN" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_HARRIET_TUBMAN_EGYPT_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_EGYPT" LeaderDomain="StandardLeaders" LeaderType="LEADER_HATSHEPSUT" Bias="4" ReasonType="LOC_UNLOCK_PLAY_AS_HATSHEPSUT_EGYPT_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_EGYPT" LeaderDomain="StandardLeaders" LeaderType="LEADER_ISABELLA" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_ISABELLA_EGYPT_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_GREECE" LeaderDomain="StandardLeaders" LeaderType="LEADER_BENJAMIN_FRANKLIN" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_BENJAMIN_FRANKLIN_GREECE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_GREECE" LeaderDomain="StandardLeaders" LeaderType="LEADER_CATHERINE" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_CATHERINE_GREECE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_GREECE" LeaderDomain="StandardLeaders" LeaderType="LEADER_CHARLEMAGNE" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_CHARLEMAGNE_GREECE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_GREECE" LeaderDomain="StandardLeaders" LeaderType="LEADER_ISABELLA" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_ISABELLA_GREECE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_GREECE" LeaderDomain="StandardLeaders" LeaderType="LEADER_LAFAYETTE" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_LAFAYETTE_GREECE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_GREECE" LeaderDomain="StandardLeaders" LeaderType="LEADER_MACHIAVELLI" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_MACHIAVELLI_GREECE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HAN" LeaderDomain="StandardLeaders" LeaderType="LEADER_CONFUCIUS" Bias="4" ReasonType="LOC_UNLOCK_PLAY_AS_CONFUCIUS_HAN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_KHMER" LeaderDomain="StandardLeaders" LeaderType="LEADER_ASHOKA" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_ASHOKA_KHMER_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_KHMER" LeaderDomain="StandardLeaders" LeaderType="LEADER_HIMIKO" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_HIMIKO_KHMER_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_KHMER" LeaderDomain="StandardLeaders" LeaderType="LEADER_TRUNG_TRAC" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_TRUNG_TRAC_KHMER_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAURYA" LeaderDomain="StandardLeaders" LeaderType="LEADER_ASHOKA" Bias="4" ReasonType="LOC_UNLOCK_PLAY_AS_ASHOKA_MAURYA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAURYA" LeaderDomain="StandardLeaders" LeaderType="LEADER_TRUNG_TRAC" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_TRUNG_TRAC_MAURYA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAURYA" LeaderDomain="StandardLeaders" LeaderType="LEADER_XERXES" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_XERXES_MAURYA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAYA" LeaderDomain="StandardLeaders" LeaderType="LEADER_JOSE_RIZAL" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_JOSE_RIZAL_MAYA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MAYA" LeaderDomain="StandardLeaders" LeaderType="LEADER_PACHACUTI" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_PACHACUTI_MAYA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MISSISSIPPIAN" LeaderDomain="StandardLeaders" LeaderType="LEADER_HIMIKO" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_HIMIKO_MISSISSIPPIAN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MISSISSIPPIAN" LeaderDomain="StandardLeaders" LeaderType="LEADER_JOSE_RIZAL" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_JOSE_RIZAL_MISSISSIPPIAN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_MISSISSIPPIAN" LeaderDomain="StandardLeaders" LeaderType="LEADER_PACHACUTI" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_PACHACUTI_MISSISSIPPIAN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_PERSIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_IBN_BATTUTA" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_IBN_BATTUTA_PERSIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_PERSIA" LeaderDomain="StandardLeaders" LeaderType="LEADER_XERXES" Bias="4" ReasonType="LOC_UNLOCK_PLAY_AS_XERXES_PERSIA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" LeaderDomain="StandardLeaders" LeaderType="LEADER_AUGUSTUS" Bias="4" ReasonType="LOC_UNLOCK_PLAY_AS_AUGUSTUS_ROME_TOOLTIP" ChoiceType="LOC_CREATE_GAME_HISTORICAL_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" LeaderDomain="StandardLeaders" LeaderType="LEADER_BENJAMIN_FRANKLIN" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_BENJAMIN_FRANKLIN_ROME_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" LeaderDomain="StandardLeaders" LeaderType="LEADER_CHARLEMAGNE" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_CHARLEMAGNE_ROME_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" LeaderDomain="StandardLeaders" LeaderType="LEADER_CATHERINE" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_CATHERINE_ROME_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" LeaderDomain="StandardLeaders" LeaderType="LEADER_FRIEDRICH" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_FRIEDRICH_ROME_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" LeaderDomain="StandardLeaders" LeaderType="LEADER_LAFAYETTE" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_LAFAYETTE_ROME_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_ROME" LeaderDomain="StandardLeaders" LeaderType="LEADER_MACHIAVELLI" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_MACHIAVELLI_ROME_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
	</LeaderCivilizationBias>
	<DomainValues>
		<Row Domain="AntiquityAgeCivilizations" Value="RANDOM" Name="LOC_CIVILIZATION_RANDOM_NAME" Description="LOC_CIVILIZATION_RANDOM_DESCRIPTION" Icon="civ_sym_unknown.png" SortIndex="-1000"/>
	</DomainValues>

	<!-- Legacy Paths -->
	<LegacyPaths>
		<Row LegacyPathType="LEGACY_PATH_ANTIQUITY_CULTURE" AgeType="AGE_ANTIQUITY" Category="LOC_AGE_ANTIQUITY_NAME" LegacyPathClassType="LEGACY_PATH_CLASS_CULTURE" LegacyPathClassName="LOC_LEGACY_PATH_CLASS_CULTURE_NAME" Name="LOC_LEGACY_PATH_ANTIQUITY_CULTURE_NAME" Description="LOC_LEGACY_PATH_ANTIQUITY_CULTURE_DESCRIPTION" />
		<Row LegacyPathType="LEGACY_PATH_ANTIQUITY_ECONOMIC" AgeType="AGE_ANTIQUITY" Category="LOC_AGE_ANTIQUITY_NAME" LegacyPathClassType="LEGACY_PATH_CLASS_ECONOMIC" LegacyPathClassName="LOC_LEGACY_PATH_CLASS_ECONOMIC_NAME" Name="LOC_LEGACY_PATH_ANTIQUITY_ECONOMIC_NAME" Description="LOC_LEGACY_PATH_ANTIQUITY_ECONOMIC_DESCRIPTION" />
		<Row LegacyPathType="LEGACY_PATH_ANTIQUITY_MILITARY" AgeType="AGE_ANTIQUITY" Category="LOC_AGE_ANTIQUITY_NAME" LegacyPathClassType="LEGACY_PATH_CLASS_MILITARY" LegacyPathClassName="LOC_LEGACY_PATH_CLASS_MILITARY_NAME" Name="LOC_LEGACY_PATH_ANTIQUITY_MILITARY_NAME" Description="LOC_LEGACY_PATH_ANTIQUITY_MILITARY_DESCRIPTION" />
		<Row LegacyPathType="LEGACY_PATH_ANTIQUITY_SCIENCE" AgeType="AGE_ANTIQUITY" Category="LOC_AGE_ANTIQUITY_NAME" LegacyPathClassType="LEGACY_PATH_CLASS_SCIENCE" LegacyPathClassName="LOC_LEGACY_PATH_CLASS_SCIENCE_NAME" Name="LOC_LEGACY_PATH_ANTIQUITY_SCIENCE_NAME" Description="LOC_LEGACY_PATH_ANTIQUITY_SCIENCE_DESCRIPTION" />
	</LegacyPaths>
	<!-- Crises -->
	<Crises>
		<Row AgeCrisisEventType="ANTIQUITY_CRISIS_INVASION" AgeType="AGE_ANTIQUITY" Category="LOC_CRISIS_TITLE_AGE_ANTIQUITY" Name="LOC_ANTIQUITY_INVASION_CRISIS_NAME" Description="LOC_ANTIQUITY_INVASION_CRISIS_DESCRIPTION" />
		<Row AgeCrisisEventType="ANTIQUITY_CRISIS_PLAGUE" AgeType="AGE_ANTIQUITY" Category="LOC_CRISIS_TITLE_AGE_ANTIQUITY" Name="LOC_ANTIQUITY_PLAGUE_CRISIS_NAME" Description="LOC_ANTIQUITY_PLAGUE_CRISIS_DESCRIPTION" />
		<Row AgeCrisisEventType="ANTIQUITY_CRISIS_LOYALTY" AgeType="AGE_ANTIQUITY" Category="LOC_CRISIS_TITLE_AGE_ANTIQUITY" Name="LOC_ANTIQUITY_REVOLTS_CRISIS_NAME" Description="LOC_ANTIQUITY_REVOLTS_CRISIS_DESCRIPTION" />
	</Crises>

</Database>