.screen-city-trade {
  flex: 1 1 auto;
  position: absolute;
  width: 40%;
  left: 5%;
  top: 20%;
}
.screen-city-trade .main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}
.screen-city-trade .trade-power-btn {
  margin-top: 5.3333333333rem;
  font-size: calc(1rem + 0.2222222222rem);
}
.screen-city-trade .section-header {
  font-size: calc(1rem + 0.2222222222rem);
  color: gold;
  display: flex;
  flex-direction: row;
  white-space: pre-wrap;
  justify-content: center;
  align-items: center;
}
.screen-city-trade .section-subheader {
  font-size: calc(1rem + 0.2222222222rem);
  color: chocolate;
  font-style: oblique;
  margin-top: 0.8888888889rem;
}
.screen-city-trade .stat {
  padding-left: 0.7777777778rem;
  font-size: 1rem;
}
.screen-city-trade .stat-sub {
  color: gray;
  padding-left: 1.5555555556rem;
  font-size: calc(1rem + -0.1111111111rem);
}
.screen-city-trade .market-item-container {
  display: flex;
  flex-direction: row;
  white-space: pre-wrap;
  justify-content: center;
  align-items: center;
}
.screen-city-trade .market-item-container > .market-yield-container {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: calc(1rem + 0.2222222222rem);
  padding-left: 0.7777777778rem;
  padding-right: 0.7777777778rem;
}
.screen-city-trade .market-item-container > .market-yield-container .value {
  padding-left: 0.7777777778rem;
  padding-right: 0.7777777778rem;
  background-color: darkgreen;
}
.screen-city-trade .market-item-container > .market-yield-container .focus-tip {
  padding-left: 0.7777777778rem;
  padding-right: 0.7777777778rem;
  font-size: calc(1rem + -0.1111111111rem);
  background-color: darkorange;
  color: black;
}
.screen-city-trade .resource-container {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  width: 100%;
}
.screen-city-trade .resource-container > .route-name {
  color: cyan;
  font-size: 1rem;
  font-style: oblique;
  margin-top: 0.8888888889rem;
}
.screen-city-trade .resource-container > .resource {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 1.1111111111rem;
  font-size: 1rem;
  white-space: pre-wrap;
}
.screen-city-trade .resource-container > .resource > .resource-name {
  color: goldenrod;
  margin-left: 0.4444444444rem;
  width: 20%;
}
.screen-city-trade .resource-container > .resource > .resource-yield {
  width: 25%;
}
.screen-city-trade .resource-container > .resource > .resource-source {
  color: darkcyan;
}
.screen-city-trade .button {
  pointer-events: auto;
  position: relative;
  width: 95%;
  padding: 0.2222222222rem;
  margin: 0.2222222222rem 0.2222222222rem 0.2222222222rem 0.2222222222rem;
  border: 0.0555555556rem solid rgb(130, 112, 85);
  background-color: rgb(44, 42, 43);
  color: rgb(209, 181, 133);
  align-self: center;
  display: flex;
  justify-content: center;
}
.screen-city-trade .button:hover, .screen-city-trade .button:focus {
  color: rgb(44, 42, 43);
  background-color: rgb(255, 228, 184);
}
.screen-city-trade .button:active, .screen-city-trade .button.pressed {
  color: rgb(44, 42, 43);
  background-color: rgb(204, 188, 163);
}
.screen-city-trade .button.disabled {
  pointer-events: none;
}
.screen-city-trade .none {
  font-size: 1rem;
  color: dimgray;
  white-space: pre-wrap;
}
.screen-city-trade .YIELD_CULTURE {
  background-color: darkorchid;
}
.screen-city-trade .YIELD_GOLD {
  background-color: darkgoldenrod;
}
.screen-city-trade .YIELD_SCIENCE {
  background-color: blue;
}
.screen-city-trade .YIELD_FOOD {
  background-color: darkgreen;
}
.screen-city-trade .YIELD_PRODUCTION {
  background-color: darkorange;
}