/**
Based on Robert Penner's easing equations
@url http://robertpenner.com/easing/
**/
.pp-btn {
  margin-bottom: 0.4444444444rem;
}

.pp-leader-button:hover .pp-leader-button-image, .pp-leader-button:focus .pp-leader-button-image, .pp-leader-button.focused .pp-leader-button-image, .pp-leader-button.pressed .pp-leader-button-image {
  background-image: url("fs://game/shell_base-ring-focus.png");
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.1);
}

.pp-leader-button-image {
  background-image: url("fs://game/shell_base-ring.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.pp-leader-button-ring-selected {
  background-image: url("fs://game/shell_base-ring-selected.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 7.8888888889rem;
  min-height: 7.8888888889rem;
  display: none;
}

.pp-leader-button-selected .profile-leader-button-ring-selected {
  display: flex;
}

.pp-leader-button-level-circle {
  background-image: url("fs://game/shell_number-circle.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 1.3333333333rem;
  min-height: 1.3333333333rem;
  line-height: 1.3333333333rem;
}