/**
Based on Robert Penner's easing equations
@url http://robertpenner.com/easing/
**/
.mini-map-container {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.mini-map__main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 11.3333333333rem;
  width: 21.1111111111rem;
  border-image-source: url("fs://game/hud_mini_box.png");
  border-image-slice: 12 fill;
  border-image-width: 0.6666666667rem;
  border-width: 0.6666666667rem;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transform-origin: bottom;
  transition-duration: 0.25s;
}

.mini-map__main-minimized {
  height: 1.6666666667rem;
}

.mini-map__image {
  position: absolute;
  left: 0.8333333333rem;
  right: 0.8333333333rem;
  top: 0.8333333333rem;
  bottom: 0.8333333333rem;
  background-size: 100% 100%;
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 1;
  overflow: hidden;
  pointer-events: auto;
  background-image: url("live:/minimap");
}

.mini-map__button-row {
  position: absolute;
  top: -0.4444444444rem;
  width: 100%;
  height: 1.7777777778rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -0.4444444444rem;
}

.mini-map__lens-button {
  position: relative;
  width: 2.6666666667rem;
  height: 2.6666666667rem;
  pointer-events: auto;
  transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media (experience: mobile) {
  .mini-map__lens-button {
    width: 3.2222222222rem;
    height: 3.2222222222rem;
  }
}
.mini-map__lens-button:hover, .mini-map__lens-button.pressed {
  transform: scale(1.3);
}

.mini-map__lens-button__icon {
  position: absolute;
  top: 0.3888888889rem;
  left: 0.3888888889rem;
  right: 0.3888888889rem;
  bottom: 0.3888888889rem;
  background-image: url("fs://game/action_lookout.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.mini-map__lens-button__bg {
  position: absolute;
  top: -0.4444444444rem;
  left: -0.4444444444rem;
  right: -0.4444444444rem;
  bottom: -0.4444444444rem;
  background-image: url("fs://game/hud_mini_lens_btn.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.mini-map__lens-panel {
  pointer-events: auto;
  width: 19.7777777778rem;
  border-top-left-radius: 0.3333333333rem;
  border-top-right-radius: 0.3333333333rem;
  background: linear-gradient(to bottom, rgba(35, 37, 43, 0.9), rgba(18, 21, 31, 0.8));
}

.mini-map__lens-panel-container {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transform-origin: bottom;
  transition-duration: 0.25s;
}

.mini-map__chat-button {
  pointer-events: auto;
  transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.mini-map__chat-button:hover, .mini-map__chat-button.pressed {
  transform: scale(1.3);
}

.mini-map__chat-button__icon {
  position: absolute;
  top: 0.3888888889rem;
  left: 0.3888888889rem;
  right: 0.3888888889rem;
  bottom: 0.3888888889rem;
  background-image: url("fs://game/action_chat.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.mini-map__chat-button__bg {
  position: absolute;
  top: -0.4444444444rem;
  left: -0.4444444444rem;
  right: -0.4444444444rem;
  bottom: -0.4444444444rem;
  background-image: url("fs://game/hud_mini_lens_btn.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (experience: mobile) {
  .mini-map__radial-button {
    width: 3.2222222222rem;
    height: 3.2222222222rem;
  }
}

.mini-map__radial-button__icon {
  position: absolute;
  top: 0.3888888889rem;
  left: 0.3888888889rem;
  right: 0.3888888889rem;
  bottom: 0.3888888889rem;
  background-image: url("fs://game/action_radial.png");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(0, 0.0555555556rem);
}

.mini-map__radial-button__bg {
  position: absolute;
  top: -0.4444444444rem;
  left: -0.4444444444rem;
  right: -0.4444444444rem;
  bottom: -0.4444444444rem;
  background-image: url("fs://game/hud_mini_lens_btn.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.mini-map__chat-panel {
  height: 53vh;
  width: 20.2222222222rem;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transform-origin: bottom;
  transition-duration: 0.25s;
}
@media (max-height: 47.7777777778rem) {
  .mini-map__chat-panel {
    height: 49vh;
  }
}
@media (max-height: 42.6666666667rem) {
  .mini-map__chat-panel {
    height: 45vh;
    width: 24.2222222222rem;
  }
}