.screen-policies {
  top: 2.2222222222rem;
  bottom: 1.5555555556rem;
  left: 10.5555555556rem;
  right: 10.5555555556rem;
}
@media (max-height: 55.5555555556rem), (experience: mobile) {
  .screen-policies {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@media (max-aspect-ratio: 3/2) {
  .screen-policies {
    left: 0.2777777778rem;
    right: 0.2777777778rem;
  }
}
@media (experience: mobile) {
  .screen-policies .fxs-close-button {
    top: 1.3333333333rem;
    right: 2rem;
  }
}

.policy-chooser-element {
  width: 16.6666666667rem;
  border-image-slice: 45 84 fill;
  border-image-width: 2.5rem 4.6666666667rem;
  border-image-outset: 2.3333333333rem 3.1666666667rem;
}
@media (experience: mobile) {
  .policy-chooser-element {
    width: 90%;
    height: 8.3333333333rem;
    max-height: 8.3333333333rem;
  }
}
@media (max-height: 55.5555555556rem) {
  .policy-chooser-element {
    flex-grow: 1;
  }
}
.policy-chooser-element .normal-bg {
  opacity: 1;
}
.policy-chooser-element .glow-bg {
  opacity: 0;
}
.policy-chooser-element:hover .glow-bg, .policy-chooser-element:focus .glow-bg, .policy-chooser-element.pressed .glow-bg {
  opacity: 1;
}
.policy-chooser-element:hover .normal-bg, .policy-chooser-element:focus .normal-bg, .policy-chooser-element.pressed .normal-bg {
  opacity: 0;
}

@media (experience: mobile) {
  .policies-open-slot-wide_container {
    width: 98%;
    height: 8.3333333333rem;
    max-height: 8.3333333333rem;
  }
}

.policy-chooser-element__normal {
  border-image-source: url("blp:rect_card_idle");
}

.policy-chooser-element__normal-glow {
  border-image-source: url("blp:rect_card_idle_hover");
}

.policy-chooser-element__crisis {
  border-image-source: url("blp:rect_crisis_idle");
}

.policy-chooser-element__crisis-glow {
  border-image-source: url("blp:rect_crisis_hover");
}

.policy-chooser-element__normal-placeable {
  border-image-source: url("blp:rect_card_placeable");
}

.policy-chooser-element__normal-placeable-glow {
  border-image-source: url("blp:rect_card_placeable_hover");
}

.policy-chooser-element__crisis-placeable {
  border-image-source: url("blp:rect_crisis_placeable");
}

.policy-chooser-element__crisis-placeable-glow {
  border-image-source: url("blp:rect_crisis_hover_placeable");
}

.card-bg {
  transition: opacity 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-image-slice: 45 84 fill;
  border-image-width: 2.5rem 4.6666666667rem;
  border-image-outset: 2.3333333333rem 3.1666666667rem;
}

.crisis-image {
  background-image: url("blp:govt_crisis_icon");
}

.tradition-image {
  background-image: url("blp:govt_tradition_badge");
}

.communism-image {
  background-image: url("blp:govt_mini_comm");
}

.democracy-image {
  background-image: url("blp:govt_mini_demo");
}

.fascism-image {
  background-image: url("blp:govt_idea_faci");
}

.policies__crisis-progress-bar-inner {
  background-image: url("blp:govt_crisis_progress_fill");
}

@media (experience: mobile) {
  .policies__crisis-age-begins {
    min-width: 8.8888888889rem;
    max-width: 8.8888888889rem;
    left: -0.2222222222rem;
  }
}

.policies-open-slot-normal {
  border-image-source: url("blp:rect_card_empty");
}

.policies-open-slot-crisis {
  border-image-source: url("blp:rect_crisis_empty");
}

@media (experience: mobile) {
  .policies-open-slot-text {
    max-width: 16rem;
  }
}

@media (experience: mobile) {
  .policies__overview-gov-desc {
    text-align: center;
  }
}

.policies__overview-happiness-meter-image {
  background-image: url("blp:celeb_happiness_icon");
}

.policies__overview-happiness-meter .fxs-ring-meter__ring-left,
.policies__overview-happiness-meter .fxs-ring-meter__ring-right {
  background-image: url("blp:govt_happ_circle_rad");
}

.policies__overview-happiness-meter-circle {
  background-image: url("blp:hud_sub_circle_bk");
}

.policies-swap-arrow {
  background-image: url("blp:govt_switch_arrows");
}

.policies__overview-xy-container {
  background: linear-gradient(0deg, #23252b 0%, #12151f 100%);
  border-image: linear-gradient(0deg, #4c473d 0%, #8c7e62 100%);
  border-width: 0.0555555556rem;
  border-style: solid;
  border-image-slice: 1;
  z-index: 2;
}

.policies__crisis-progress-bar {
  width: 61.1111111111rem;
}
@media (experience: mobile) {
  .policies__crisis-progress-bar {
    margin-bottom: 0.5555555556rem;
  }
}

.policies-column {
  width: 48%;
}

.policies__overview-government-divider {
  border-image: url("blp:shell_line-divider");
  border-image-slice: 1 0 1 1 fill;
  border-image-width: 1 1 1 1;
}

.policies-open-slot-wide_half-bg {
  border-image-source: url("blp:rect_card_empty_half");
  border-image-slice: 64 45 64 90 fill;
  border-image-width: 3.5555555556rem 2.5rem 3.5555555556rem 5rem;
  border-image-outset: 2.2222222222rem 0rem 2.2222222222rem 3.0555555556rem;
}

.policy-card-body-text p {
  text-align: center;
}

.policies__tab-bar {
  width: 66.6666666667rem;
}