.graph-container {
  width: 66.6666666667rem;
  height: 33.3333333333rem;
}
@media (max-height: 40rem) {
  .graph-container {
    width: 52.7777777778rem;
  }
}

.graph-dropdown {
  max-width: 66.6666666667rem;
}
@media (max-height: 40rem) {
  .graph-dropdown {
    width: 61.1111111111rem;
  }
}

@media (max-height: 40rem) {
  .graph-scrollable {
    width: 55.5555555556rem;
  }
}