screen-legend-progress {
  width: 100%;
  height: 100%;
  font-size: calc(1rem + -0.3333333333rem);
}

.legend-timeline-container {
  width: 100%;
}

.legend-main-container {
  width: 90.5vw;
  height: 78vh;
  border-style: solid;
  border-width: 0.0555555556rem;
  border-color: rgb(209, 181, 133);
}

.legend-title {
  text-align: center;
}

.legend-progress-scrollable {
  margin-top: -2vh;
  margin-left: 2vw;
}

.legend-progress-inner {
  height: 24vh;
  width: 48vw;
  border-style: solid;
  border-width: 0.0555555556rem;
  border-color: rgb(209, 181, 133);
}

.legend-progress-item {
  pointer-events: auto;
  height: 9vh;
}
.legend-progress-item:hover, .legend-progress-item:focus, .legend-progress-item.pressed {
  background-color: rgb(79, 78, 77);
}

.legend-progress-item-titlebar {
  margin-left: 1vw;
  width: 24vw;
}

.legend-progress-item-title {
  margin-top: 0.5vh;
  width: 70%;
  text-align: center;
}

.legend-progress-item-newlevel {
  margin-top: 0.5vh;
  width: 30%;
  text-align: right;
}

.legend-progress-item-bar {
  height: 4vh;
  width: 24vw;
  border-style: solid;
  border-width: 0.0555555556rem;
  border-color: rgb(209, 181, 133);
}

.legend-progress-bar-filler {
  height: 3.7vh;
}

.legend-progress-item-bar-number {
  margin-top: 0.75vh;
  width: 2vw;
  text-align: center;
}

.legend-progress-item-xp {
  margin-left: 1vw;
  width: 24vw;
  text-align: center;
}

.legend-progress-portrait {
  margin-top: 1.25vh;
  margin-left: 0.5vw;
  height: 7.5vh;
  width: 4.5vw;
}

.legend-progress-item-locks {
  margin-top: 3vh;
  margin-left: 4vw;
}

.legend-unlock-icons {
  margin-left: 2vw;
  margin-top: 3.75vh;
  height: 24vh;
  width: 12vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.legend-unlock-icon {
  display: flex;
  width: 4.5vw;
  height: 8vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 1vw;
}

.legend-unlocks {
  margin-left: 1vw;
  margin-top: 3.75vh;
  height: 24vh;
  width: 24vw;
  border-style: solid;
  border-width: 0.0555555556rem;
  border-color: rgb(209, 181, 133);
}

.legend-unlock-title {
  margin-top: 0.5vh;
  width: 24vw;
  text-align: center;
}

.legend-bottom-container {
  margin-top: 1vh;
}

.legend-challenge-list {
  margin-left: 2vw;
  width: 42vw;
  height: 32vh;
}

.legend-challenge-scrollable {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 0.0555555556rem;
  border-color: rgb(209, 181, 133);
}

.legend-challenge-foundation-item {
  height: 6vh;
}

.legend-challenge-foundation-item-title {
  margin-top: 1vh;
  margin-left: 1vw;
}

.legend-challenge-foundation-item-description {
  margin-left: 1vw;
}

.legend-challenge-foundation-item-xp {
  margin-top: 1vh;
  margin-right: 1vw;
  width: 15%;
  text-align: right;
}

.legend-challenge-foundation-item-left {
  width: 83%;
  text-align: left;
}

.legend-challenge-leader-item {
  height: 2vh;
}

.legend-challenge-leader-description {
  margin-top: 0.5vh;
  margin-left: 1vw;
  width: 80%;
  text-align: left;
}

.legend-challenge-leader-xp {
  width: 15%;
  text-align: right;
}

.legend-button-container {
  width: 100%;
  margin-top: 4vh;
  justify-content: center;
}

.legend-profile-badge {
  display: flex;
  width: 2.5vw;
  height: 4vh;
  background-size: contain;
  background-repeat: no-repeat;
}