/**
Based on Robert Penner's easing equations
@url http://robertpenner.com/easing/
**/
.screen-culture-tree-chooser {
  position: absolute;
  top: 8.7777777778rem;
  bottom: 1rem;
  left: 0.8888888889rem;
  min-width: 24.1666666667rem;
  pointer-events: auto;
}
@media (experience: mobile) {
  .screen-culture-tree-chooser {
    bottom: 0;
    top: 3.0555555556rem;
    left: -0.8888888889rem;
    min-width: 35.4444444444rem;
  }
}
.screen-culture-tree-chooser .culture-tree-currently-studying {
  pointer-events: auto;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.4444444444rem;
}
@media (experience: mobile) {
  .screen-culture-tree-chooser .culture-tree-currently-studying {
    min-width: 27.7777777778rem;
  }
}
.screen-culture-tree-chooser .culture-tree-currently-studying .culture-current__empty {
  width: 100%;
  min-height: 3.5555555556rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen-culture-tree-chooser .culture-tree-list {
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (experience: mobile) {
  .screen-culture-tree-chooser .culture-tree-list {
    min-width: 27.7777777778rem;
  }
}

.screen-culture-tree-chooser.hidden {
  visibility: hidden;
}

.culture-chooser-container {
  width: 100%;
}
.culture-chooser-container .fxs-scrollable {
  padding-top: 0;
  flex: 1 1 auto;
}

.screen-culture-tree-chooser__tree-expand-button {
  width: 1.7777777778rem;
  height: 1.7777777778rem;
  margin-top: 0.2222222222rem;
  margin-left: 0.3888888889rem;
  margin-right: -1.7777777778rem;
  pointer-events: auto;
  background-image: url("blp:hud_quest_open.png");
}
.screen-culture-tree-chooser__tree-expand-button:hover, .screen-culture-tree-chooser__tree-expand-button:focus, .screen-culture-tree-chooser__tree-expand-button.pressed {
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(243, 233, 176, 0.5) 0%, rgba(243, 233, 176, 0) 100%), url("blp:hud_quest_open.png");
  border-radius: 100%;
}

.screen-culture-tree-chooser.collapsed .locked-item {
  display: none;
}

.screen-culture-tree-chooser.expanded .screen-culture-tree-chooser__tree-expand-button {
  background-image: url("blp:hud_quest_close.png");
}
.screen-culture-tree-chooser.expanded .screen-culture-tree-chooser__tree-expand-button:hover, .screen-culture-tree-chooser.expanded .screen-culture-tree-chooser__tree-expand-button:focus, .screen-culture-tree-chooser.expanded .screen-culture-tree-chooser__tree-expand-button.pressed {
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(243, 233, 176, 0.5) 0%, rgba(243, 233, 176, 0) 100%), url("blp:hud_quest_close.png");
}