<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Leaders>
		<Row LeaderType="LEADER_WASHINGTON" LeaderName="LOC_LEADER_WASHINGTON_NAME" LeaderDescription="LOC_LEADER_WASHINGTON_DESCRIPTION" LeaderIcon="LEADER_WASHINGTON" LeaderIntroText="LOC_LOADING_LEADER_INTRO_TEXT_WASHINGTON"/>
	</Leaders>
	<LeaderItems>
		<Row LeaderType="LEADER_WASHINGTON" Type="TRAIT_LEADER_WASHINGTON_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_LEADER_WASHINGTON_ABILITY_NAME" Description="LOC_TRAIT_LEADER_WASHINGTON_ABILITY_DESCRIPTION"/>
	</LeaderItems>
	<LeaderTags>
		<Row LeaderType="LEADER_WASHINGTON" TagType="TAG_TRAIT_POLITICAL"/>
		<Row LeaderType="LEADER_WASHINGTON" TagType="TAG_TRAIT_EXPANSIONIST"/>
		<Row LeaderType="LEADER_WASHINGTON" TagType="TAG_GENDER_MALE"/>
	</LeaderTags>
	<LeaderQuotes>
		<Row LeaderType="LEADER_WASHINGTON" Quote="LOC_MAIN_CHAR_SELECT_LEADER_WASHINGTON_ANY"/>
	</LeaderQuotes>
	<LeaderCivilizationBias>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_GREECE" LeaderDomain="StandardLeaders" LeaderType="LEADER_WASHINGTON" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_WASHINGTON_GREECE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_NORMAN" LeaderDomain="StandardLeaders" LeaderType="LEADER_WASHINGTON" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_WASHINGTON_NORMAN_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_AMERICA" LeaderDomain="StandardLeaders" LeaderType="LEADER_WASHINGTON" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_WASHINGTON_AMERICA_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE"/>
	</LeaderCivilizationBias>
	<LeaderUnlocks>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_WASHINGTON" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_NORMAN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_NORMAN_NAME" Description="LOC_CIVILIZATION_NORMAN_DESCRIPTION" Icon="CIVILIZATION_NORMAN"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_WASHINGTON" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_AMERICA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_AMERICA_NAME" Description="LOC_CIVILIZATION_AMERICA_DESCRIPTION" Icon="CIVILIZATION_AMERICA"/>
	</LeaderUnlocks>
	<OwnershipConditions>
		<!-- <Row ItemType="LEADER_WASHINGTON" Action="LOC_LOCKED_INCLUDED_WITH_CONTENT" /> -->
	</OwnershipConditions>
	<Mementos>
		<Row Type="MEMENTO_WASHINGTON_CONSTITUTION" Name="LOC_MEMENTO_WASHINGTON_CONSTITUTION_NAME" Description="LOC_MEMENTO_WASHINGTON_CONSTITUTION_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_WASHINGTON_CONSTITUTION_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_WASHINGTON_CONSTITUTION_UNLOCK_TITLE" Tag="LOC_ATTRIBUTE_DIPLOMATIC"/>
		<Row Type="MEMENTO_WASHINGTON_CIRCUMFERENTOR" Name="LOC_MEMENTO_WASHINGTON_CIRCUMFERENTOR_NAME" Description="LOC_MEMENTO_WASHINGTON_CIRCUMFERENTOR_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_WASHINGTON_CIRCUMFERENTOR_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_WASHINGTON_CIRCUMFERENTOR_UNLOCK_TITLE" Tag="LOC_ATTRIBUTE_EXPANSIONIST"/>
		<Row Type="MEMENTO_WASHINGTON_BASTILLE_KEY" Name="LOC_MEMENTO_WASHINGTON_BASTILLE_KEY_NAME" Description="LOC_MEMENTO_WASHINGTON_BASTILLE_KEY_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_WASHINGTON_BASTILLE_KEY_FUNCTIONAL_DESCRIPTION" LeaderSpecific="LEGEND_PATH_ELIZABETH" UnlockTitle="LOC_MEMENTO_WASHINGTON_BASTILLE_KEY_UNLOCK_TITLE" Tag="LOC_ATTRIBUTE_DIPLOMATIC"/>
	</Mementos>
</Database>
