/**
Based on Robert Penner's easing equations
@url http://robertpenner.com/easing/
**/
@keyframes fadein {
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  100% {
    opacity: 0;
  }
}
@keyframes loading-sand-drip {
  0% {
    top: 2%;
  }
  20% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  70% {
    top: 2%;
  }
  100% {
    top: 2%;
  }
}
@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  70% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  visibility: hidden;
}

body {
  background-color: black;
  margin: 0rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fade-in {
  opacity: 0;
  animation: fadein 2s;
  animation-fill-mode: both;
}

.fade-out {
  animation: fadeout 0.25s;
  animation-fill-mode: both;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.loading-anim-sand {
  background-color: rgb(179, 158, 128);
  width: 50%;
  height: 50%;
  position: relative;
  margin-left: 25%;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: loading-sand-drip 3s infinite;
}

.loading-anim-hour-glass {
  background-image: url("blp:HourGlass.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
}

.loading-anim {
  width: 2.8888888889rem;
  height: 100%;
  position: relative;
  transform-origin: 50% 50%;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: loading-spin 3s infinite;
}