.screen-tree {
  margin-top: 0.8888888889rem;
}
@media (experience: mobile) {
  .screen-tree {
    margin-top: 0;
  }
}
.screen-tree > .tech-tree,
.screen-tree > .culture-tree {
  position: relative;
  margin: 1.7777777778rem 0 0 0;
  padding: 0;
  display: flex;
}
.screen-tree > .tech-tree .fxs-close-button,
.screen-tree > .culture-tree .fxs-close-button {
  right: -8rem;
}
@media (experience: mobile), (max-height: 44.4444444444rem) {
  .screen-tree .tree-grid-column .tree-grid-card {
    min-height: 0rem;
  }
}
@media (experience: mobile) {
  .screen-tree .tree-container {
    margin-left: -3.3333333333rem;
    width: 100%;
  }
}

.card-detail-container {
  display: none;
}
@media (experience: mobile), (max-height: 44.4444444444rem) {
  .card-detail-container {
    display: flex;
  }
}

.hoverqueued .tree-card-bg {
  transform: scale(1.05);
}

.queued .tree-card-bg {
  background-image: url("fs://game/techtree_parent-node_selected");
}
.queued .tree-card-hitbox:hover .tree-card-bg, .queued .tree-card-hitbox:focus .tree-card-bg, .queued .tree-card-hitbox.pressed .tree-card-bg {
  background-image: url("fs://game/techtree_parent-node_selected_hover");
}
.queued .tree-card-hitbox:hover .tree-card-child-bg, .queued .tree-card-hitbox:focus .tree-card-child-bg, .queued .tree-card-hitbox.pressed .tree-card-child-bg {
  background-image: url("fs://game/techtree_child-node_selected_hover");
}
.queued .tree-card-queue-order {
  display: flex;
}

.tree-card {
  pointer-events: none;
}
.tree-card .unlock-item {
  margin-right: 0.2222222222em;
  width: 2.2222222222em;
  height: 2.2222222222em;
}
.tree-card .fxs-ring-meter__ring-left,
.tree-card .fxs-ring-meter__ring-right {
  background-image: url("fs://game/hud_small-progress_bar.png");
}
.tree-card .fxs-ring-meter__ring-left {
  background-size: cover;
  background-position: left;
}
.tree-card .fxs-ring-meter__ring-right {
  background-size: cover;
  background-position: right;
}
@media (experience: mobile), (max-height: 44.4444444444rem) {
  .tree-card {
    width: 6.6666666667rem;
  }
  .tree-card .hoverqueued .tree-card-bg {
    transform: scale(1.33);
  }
  .tree-card .tree-card-background {
    width: 6em;
    height: 6em;
  }
  .tree-card .tree-card__bg--base {
    background-image: url("fs://game/techtree_parent-node_c");
  }
  .tree-card .tree-card-bg {
    background-image: url("fs://game/techtree_parent-node_c");
    width: 6em;
    height: 6em;
  }
  .tree-card .tree-card-bg .turn-text,
  .tree-card .tree-card-bg .tree-card-unlocks,
  .tree-card .tree-card-bg .tree-card-name {
    display: none;
  }
  .tree-card .tree-card-bg .tree-card-progress {
    padding-left: 1.3888888889em;
  }
  .tree-card .tree-card-child-background {
    width: 4.8888888889em;
    height: 4.8888888889em;
  }
  .tree-card .tree-card__child-bg--base {
    background-image: url("fs://game/techtree_child-node_idle_c");
  }
  .tree-card .tree-card-child-bg {
    background-image: url("fs://game/techtree_child-node_idle_c");
    width: 4.8888888889em;
    height: 4.8888888889em;
  }
  .tree-card .tree-card-child-bg .turn-text,
  .tree-card .tree-card-child-bg .tree-card-unlocks,
  .tree-card .tree-card-child-bg .tree-card-name {
    display: none;
  }
  .tree-card .tree-card-hitbox.current-research .img-list-focus-frame {
    opacity: 1;
  }
  .tree-card .tree-card-hitbox.current-research .tree-card-bg {
    background-image: url("fs://game/techtree_parent-node_selected_c");
  }
  .tree-card .tree-card-hitbox.current-research .tree-card-child-bg {
    background-image: url("fs://game/techtree_child-node_selected_c");
  }
  .tree-card .tree-card-hitbox.completed .tree-card-bg {
    background-image: url("fs://game/techtree_parent-node_c");
  }
  .tree-card .tree-card-hitbox.completed .tree-card-child-bg {
    background-image: url("fs://game/techtree_child-node_idle_c");
  }
  .tree-card .tree-card-hitbox.disabled .tree-card-bg {
    background-image: url("fs://game/techtree_parent-node_inactive_c");
    filter: grayscale(0.5);
  }
  .tree-card .tree-card-hitbox.disabled .tree-card-child-bg {
    background-image: url("fs://game/techtree_child-node_inactive_c");
    filter: grayscale(0.5);
  }
  .tree-card .tree-card-hitbox:hover .tree-card-bg, .tree-card .tree-card-hitbox:focus .tree-card-bg, .tree-card .tree-card-hitbox.pressed .tree-card-bg {
    background-image: url("fs://game/techtree_parent-node_hover_c");
  }
  .tree-card .tree-card-hitbox:hover .tree-card-child-bg, .tree-card .tree-card-hitbox:focus .tree-card-child-bg, .tree-card .tree-card-hitbox.pressed .tree-card-child-bg {
    background-image: url("fs://game/techtree_child-node_hover_c");
  }
  .tree-card .tree-card-hitbox:hover.current-research .tree-card-bg, .tree-card .tree-card-hitbox:focus.current-research .tree-card-bg, .tree-card .tree-card-hitbox.pressed.current-research .tree-card-bg {
    background-image: url("fs://game/techtree_parent-node_selected_hover_c");
  }
  .tree-card .tree-card-hitbox:hover.current-research .tree-card-child-bg, .tree-card .tree-card-hitbox:focus.current-research .tree-card-child-bg, .tree-card .tree-card-hitbox.pressed.current-research .tree-card-child-bg {
    background-image: url("fs://game/techtree_child-node_selected_hover_c");
  }
  .tree-card .check-icon {
    display: none;
  }
}
@media (experience: mobile) {
  .tree-card {
    width: 6.6666666667rem;
  }
  .tree-card .tree-card-background {
    width: 7.6666666667em;
    height: 7.6666666667em;
  }
  .tree-card .tree-card-bg {
    width: 7.6666666667em;
    height: 7.6666666667em;
  }
  .tree-card .tree-card-child-background {
    width: 6.5555555556em;
    height: 6.5555555556em;
  }
  .tree-card .tree-card-child-bg {
    width: 6.5555555556em;
    height: 6.5555555556em;
  }
}

.tree-card-background {
  background-size: cover;
  width: 22em;
  height: 5.6666666667em;
}

.tree-card-child-background {
  background-size: cover;
  width: 20.0555555556em;
  height: 4.8888888889em;
}

.tree-card__bg--base {
  background-image: url("fs://game/techtree_parent-node");
}

.tree-card__child-bg--base {
  background-image: url("fs://game/techtree_child-node_idle");
}

.tree-card-bg {
  background-image: url("fs://game/techtree_parent-node");
  background-size: cover;
  width: 22em;
  height: 5.6666666667em;
}

.tree-card-child-bg {
  background-image: url("fs://game/techtree_child-node_idle");
  background-size: cover;
  width: 20.0555555556em;
  height: 4.8888888889em;
}

.tree-card-unlocks {
  padding-top: 0.4444444444em;
}

.tree-card-progress {
  padding-left: 1.1111111111em;
  padding-top: 1.1111111111em;
  margin-left: 0.0555555556em;
  width: 4.4444444444em;
  height: 4.4444444444em;
}
@media (experience: mobile) {
  .tree-card-progress {
    width: 6.1111111111em;
    height: 6.1111111111em;
  }
}

.tree-card-name-container {
  height: 30%;
}

.tree-card-name-unlocks {
  padding: 0.6666666667em 0.8888888889em 1.1111111111em;
}

.tree-node-icon {
  width: 2.6666666667em;
  height: 2.6666666667em;
}
@media (experience: mobile) {
  .tree-node-icon {
    width: 3.7777777778em;
    height: 3.7777777778em;
  }
}

.ring-size {
  width: 8em;
  height: 8em;
}
@media (experience: mobile) {
  .ring-size {
    width: 9.6666666667em;
    height: 9.6666666667em;
  }
}

.tree-card-hitbox.tree-type-culture .fxs-ring-meter__ring-left,
.tree-card-hitbox.tree-type-culture .fxs-ring-meter__ring-right {
  background-image: url("fs://game/hud_civic_circle_rad.png");
}
.tree-card-hitbox.tree-type-tech .fxs-ring-meter__ring-left,
.tree-card-hitbox.tree-type-tech .fxs-ring-meter__ring-right {
  background-image: url("fs://game/hud_tech_circle_rad.png");
}
.tree-card-hitbox.current-research .img-list-focus-frame {
  opacity: 1;
}
.tree-card-hitbox.current-research .tree-card-bg {
  background-image: url("fs://game/techtree_parent-node_selected");
}
.tree-card-hitbox.current-research .tree-card-child-bg {
  background-image: url("fs://game/techtree_child-node_selected");
}
.tree-card-hitbox.disabled .tree-card-bg {
  background-image: url("fs://game/techtree_parent-node_inactive");
  filter: grayscale(0.5);
}
.tree-card-hitbox.disabled .tree-card-child-bg {
  background-image: url("fs://game/techtree_child-node_inactive");
  filter: grayscale(0.5);
}
.tree-card-hitbox.completed .tree-card-bg {
  background-image: url("fs://game/techtree_parent-node_researched");
}
.tree-card-hitbox.completed .tree-card-child-bg {
  background-image: url("fs://game/techtree_child-node_researched");
}
.tree-card-hitbox:hover .tree-card-bg, .tree-card-hitbox:focus .tree-card-bg, .tree-card-hitbox.pressed .tree-card-bg {
  background-image: url("fs://game/techtree_parent-node_hover");
}
.tree-card-hitbox:hover .tree-card-child-bg, .tree-card-hitbox:focus .tree-card-child-bg, .tree-card-hitbox.pressed .tree-card-child-bg {
  background-image: url("fs://game/techtree_child-node_hover");
}
.tree-card-hitbox:hover.current-research .tree-card-bg, .tree-card-hitbox:focus.current-research .tree-card-bg, .tree-card-hitbox.pressed.current-research .tree-card-bg {
  background-image: url("fs://game/techtree_parent-node_selected_hover");
}
.tree-card-hitbox:hover.current-research .tree-card-child-bg, .tree-card-hitbox:focus.current-research .tree-card-child-bg, .tree-card-hitbox.pressed.current-research .tree-card-child-bg {
  background-image: url("fs://game/techtree_child-node_selected_hover");
}

.tree-card--mastery .unlock-item {
  width: 2em;
  height: 2em;
}
@media (experience: mobile) {
  .tree-card--mastery .unlock-item {
    width: 3.6666666667em;
    height: 3.6666666667em;
  }
}
.tree-card--mastery .tree-card-progress {
  padding-left: 0.7777777778em;
  padding-top: 1em;
  margin-left: 0em;
  width: 4em;
  height: 4em;
}
@media (experience: mobile) {
  .tree-card--mastery .tree-card-progress {
    width: 5.6666666667em;
    height: 5.6666666667em;
  }
}
.tree-card--mastery .tree-card-name-unlocks {
  padding: 0.6666666667em 0.4444444444em 0.6666666667em 0.6666666667em;
}
.tree-card--mastery .tree-card-unlocks {
  padding-top: 0.1111111111em;
}
.tree-card--mastery .ring-size {
  width: 6.8em;
  height: 6.8em;
}
@media (experience: mobile) {
  .tree-card--mastery .ring-size {
    width: 9.0222222222em;
    height: 9.0222222222em;
  }
}
.tree-card--mastery .tree-node-icon {
  width: 1.5555555556em;
  height: 1.5555555556em;
}
@media (experience: mobile) {
  .tree-card--mastery .tree-node-icon {
    width: 1.8333333333em;
    height: 1.8333333333em;
  }
}

.tree-line-arrow {
  border-left: 0.8888888889rem solid transparent;
  border-right: 0.8888888889rem solid transparent;
  border-bottom: 0.8888888889rem solid #4c5366;
}

.lines-container {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  z-index: -1;
}
.lines-container .center-split,
.lines-container .right-split,
.lines-container .left-split {
  transform-origin: top left;
  position: absolute;
  width: inherit;
}
.lines-container .center-split {
  transform: rotateZ(0deg);
}
.lines-container .tree-line {
  background-color: #4c5366;
  position: absolute;
}
.lines-container .tree-line .bottom-split,
.lines-container .tree-line .top-split,
.lines-container .tree-line .center-split,
.lines-container .tree-line .right-split,
.lines-container .tree-line .left-split {
  background-color: #4c5366;
}
.lines-container .tree-line.locked .tree-grid-line {
  border-image: url("fs://game/techtree_node-connection_inactive_line.png");
  border-image-slice: 6 4 6 4 fill;
  border-image-width: 0.3333333333rem 0.2222222222rem;
  border-image-outset: 0 0.2222222222rem;
}
.lines-container .tree-line.locked .tree-grid-line-corner {
  background-image: url("fs://game/techtree_node-connection_inactive_corner.png");
}
.lines-container .tree-line.locked {
  background-color: #333640;
}
.lines-container .tree-line.locked .bottom-split,
.lines-container .tree-line.locked .top-split,
.lines-container .tree-line.locked .center-split,
.lines-container .tree-line.locked .right-split,
.lines-container .tree-line.locked .left-split {
  background-color: #333640;
}
.lines-container .tree-line.locked .tree-line-arrow {
  border-bottom: 0.8888888889rem solid #333640;
}
.lines-container.vertical .center-split,
.lines-container.vertical .bottom-split,
.lines-container.vertical .top-split {
  transform: rotateZ(0deg);
  transform-origin: top left;
  position: absolute;
  width: inherit;
}
.lines-container.vertical .center-split {
  transform: rotateZ(90deg);
}
.lines-container.vertical .tree-line-arrow {
  transform: rotateZ(180deg);
}

.tree-detail .fxs-scrollbar-container {
  right: 0.2222222222rem;
}
.tree-detail .detail-ring {
  background-image: url("fs://game/cPromo_level_circle.png");
}
.tree-detail .detail-ring .fxs-ring-meter__ring-left,
.tree-detail .detail-ring .fxs-ring-meter__ring-right {
  background-image: url("fs://game/cPromo_level_circle_rad.png");
}
.tree-detail .detail-ring .fxs-ring-meter__ring-left {
  background-size: cover;
  background-position: left;
}
.tree-detail .detail-ring .fxs-ring-meter__ring-right {
  background-size: cover;
  background-position: right;
}

.tree-grid-row {
  display: flex;
  flex-direction: row;
}
.tree-grid-row .tree-grid-card {
  min-width: 3.5555555556rem;
  min-height: 2.2222222222rem;
  margin-left: 0.6666666667rem;
  margin-right: 0.6666666667rem;
}

.tree-grid-column {
  display: flex;
  flex-direction: column;
}
.tree-grid-column .tree-grid-card {
  min-width: 2.6666666667rem;
  min-height: 1.9444444444rem;
}

.tree-grid-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tree-grid-line {
  border-image: url("fs://game/techtree_node-connection_active_line.png");
  border-image-slice: 6 4 6 4 fill;
  border-image-width: 0.3333333333rem 0.2222222222rem;
  border-image-outset: 0 0.2222222222rem;
}
.tree-grid-line.locked {
  border-image: url("fs://game/techtree_node-connection_inactive_line.png");
}

.tree-grid-line-corner {
  background-image: url("fs://game/techtree_node-connection_active_corner.png");
}
.tree-grid-line-corner.locked {
  background-image: url("fs://game/techtree_node-connection_inactive_corner.png");
}