<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Civilizations>
		<Row Domain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_CARTHAGE" CivilizationName="LOC_CIVILIZATION_CARTHAGE_NAME" CivilizationFullName="LOC_CIVILIZATION_CARTHAGE_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_CARTHAGE_DESCRIPTION" CivilizationIcon="carthage_icon.png"/>
	</Civilizations>
	<CivilizationItems>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_CARTHAGE" Type="TRAIT_CARTHAGE_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_CARTHAGE_ABILITY_NAME" Description="LOC_TRAIT_CARTHAGE_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_CARTHAGE" Type="UNIT_NUMIDIAN_CAVALRY" Kind="KIND_UNIT" Name="LOC_UNIT_NUMIDIAN_CAVALRY_NAME" Description="LOC_UNIT_NUMIDIAN_CAVALRY_BASE_DESCRIPTION" Icon="unitflag_leiomano.png"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_CARTHAGE" Type="UNIT_COLONIST" Kind="KIND_UNIT" Name="LOC_UNIT_COLONIST_NAME" Description="LOC_UNIT_COLONIST_DESCRIPTION" Icon="unitflag_COLONIST.png"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_CARTHAGE" Type="QUARTER_PUNIC_PORT" Kind="KIND_QUARTER" Name="LOC_QUARTER_PUNIC_PORT_NAME" Description="LOC_QUARTER_PUNIC_PORT_DESCRIPTION" Icon="city_uniquequarter"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_CARTHAGE" Type="BUILDING_COTHON" Kind="KIND_BUILDING" Name="LOC_BUILDING_COTHON_NAME" Description="LOC_BUILDING_COTHON_DESCRIPTION" Icon="impicon_loikalo.png"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_CARTHAGE" Type="BUILDING_DOCKYARD" Kind="KIND_BUILDING" Name="LOC_BUILDING_DOCKYARD_NAME" Description="LOC_BUILDING_DOCKYARD_DESCRIPTION" Icon="impicon_loikalo.png"/>
	</CivilizationItems>
	<CivilizationUnlocks>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_CARTHAGE" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SPAIN" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SPAIN_NAME" Description="LOC_CIVILIZATION_SPAIN_DESCRIPTION" Icon="CIVILIZATION_SPAIN"/>
	</CivilizationUnlocks>
	<CivilizationTags>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_CARTHAGE" TagType="TAG_TRAIT_MILITARISTIC"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_CARTHAGE" TagType="TAG_TRAIT_ECONOMIC"/>
	</CivilizationTags>
	<LeaderCivilizationBias>
		<!--This is the table used for UI, the AI uses LeaderCivPriorities in civilizations.xml-->
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_CARTHAGE" LeaderDomain="StandardLeaders" LeaderType="LEADER_ISABELLA" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_ISABELLA_CARTHAGE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_CARTHAGE" LeaderDomain="StandardLeaders" LeaderType="LEADER_IBN_BATTUTA" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_IBN_BATTUTA_CARTHAGE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_CARTHAGE" LeaderDomain="StandardLeaders" LeaderType="LEADER_HATSHEPSUT" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_HATSHEPSUT_CARTHAGE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_CARTHAGE" LeaderDomain="StandardLeaders" LeaderType="LEADER_AUGUSTUS" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_AUGUSTUS_CARTHAGE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE" />
	</LeaderCivilizationBias>
	<OwnershipConditions>
		<Row ItemType="CIVILIZATION_CARTHAGE" Action="LOC_LOCKED_INCLUDED_WITH_CONTENT" />
	</OwnershipConditions>
</Database>