.panel-place-building-v2_container {
  width: 30rem;
}
@media (experience: mobile) {
  .panel-place-building-v2_container {
    width: 34.4444444444rem;
    top: 2.2222222222rem;
    bottom: 3.8888888889rem;
  }
}
@media (experience: mobile) and (max-height: 55.5555555556rem) {
  .panel-place-building-v2_container {
    width: 30rem;
  }
}