panel-diplomacy-peace-deal {
  width: 100vw;
  height: 100vh;
  align-self: center;
}
@media (experience: mobile) {
  panel-diplomacy-peace-deal {
    width: 100%;
    height: 100%;
  }
}
panel-diplomacy-peace-deal .hud_sidepanel_list-bg {
  border-image-slice: 24 10 24 24 fill;
}

.peace-deal__deal-container {
  height: 90%;
  border-image-source: url("fs://game/hud_squarepanel-bg.png");
  border-image-slice: 128 64 64 64 fill;
  border-image-width: 7.1111111111rem 3.5555555556rem 3.5555555556rem 3.5555555556rem;
  border-image-outset: 0.6666666667rem 1.3333333333rem 1.3333333333rem 1.3333333333rem;
}
@media (experience: mobile) {
  .peace-deal__deal-container {
    margin-top: 3.1111111111rem;
  }
}

@media (max-height: 55.5555555556rem) {
  .peace-deal__portrait {
    margin-left: 0rem;
  }
}

.peace-deal__portrait-shadow {
  filter: fxs-color-mask(black);
  background-image: url("fs://game/Hex_shadow.png");
}

.peace-deal__portrait-bg {
  mask-image: url("fs://game/Rounded-Hex_48px.png");
  mask-size: contain;
  mask-position: 50% 100%;
  mask-repeat: no-repeat;
  background-color: var(--player-color-secondary);
}

.peace-deal__portrait-big--inner {
  mask-image: url("fs://game/Rounded-Hex_48px.png");
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: var(--player-color-primary);
  background-image: linear-gradient(210deg, rgba(var(--clr-page__overlay-dark), 0) 0%, rgba(var(--clr-page__overlay-dark), 0.5) 100%);
}

.peace-deal__portrait-image {
  top: -6.5%;
  background-position-x: 50%;
  background-position-y: 0%;
  transition-property: top;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.peace-deal__sword-shield-back {
  background-image: url("fs://game/dip_warswordshield.png");
  left: -1.7222222222rem;
}

.other-player-leader-civ .peace-deal__sword-shield-back {
  right: -1.7222222222rem;
}

.peace-deal__settlement-container.hidden {
  display: none;
}

@media (max-height: 55.5555555556rem) {
  .peace-deal__move-button {
    padding-right: 0rem;
  }
}

.peace-deal__deal-item .fxs-nav-help {
  visibility: hidden;
}

.other-player-settlements .peace-deal__move-button {
  position: relative;
  align-self: flex-start;
  display: flex;
  align-self: center;
  margin-left: 0.5555555556rem;
  left: -0.0555555556rem;
}

.peace-deal__settlement-scrollable {
  height: 60%;
}
.peace-deal__settlement-scrollable .fxs-scrollable-content {
  padding-top: 2.2222222222rem;
  background: linear-gradient(180deg, rgba(5, 7, 13, 0.4) 0%, rgba(5, 7, 13, 0.2) 50.5%, rgba(5, 7, 13, 0.35) 100%);
  background-size: 32% auto;
  background-position-x: 50%;
  background-position-y: 0px;
  background-repeat: no-repeat;
}

.peace-deal__settlement-scrollable .fxs-scrollbar-container {
  right: 0.2777777778rem;
}

.panel-diplomacy-peace-deal .peace-deal__button-container fxs-button {
  border: solid 0.0555555556rem white;
  background-image: none;
}

.peace-deal__civ-icon-image {
  background-size: 95% 95%;
  background-position: 50% 0%;
  mask-image: url("fs://game/mask_hex_icon_64px.png");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: 50% 100%;
  pointer-events: none;
}

.peace-deal__settlement-icon-bg-outer {
  background-position-x: 50%;
  background-position-y: 50%;
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  background-image: url("fs://game/hud_civics-icon_frame.png");
  border-radius: 50%;
  overflow: hidden;
}
@media (max-height: 55.5555555556rem) {
  .peace-deal__settlement-icon-bg-outer {
    margin-left: 0rem;
  }
}

.peace-deal__settlement-icon-bg-inner {
  background-position-x: 50%;
  background-position-y: 50%;
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  background-image: url("fs://game/dip_peace_item_sec.png");
  filter: fxs-color-tint(var(--owner-color-secondary));
  border-radius: 50%;
  overflow: hidden;
  margin-top: -3.8888888889rem;
}
@media (max-height: 55.5555555556rem) {
  .peace-deal__settlement-icon-bg-inner {
    margin-left: 0rem;
  }
}

.peace-deal__settlement-icon-bg {
  background-position-x: 50%;
  background-position-y: 50%;
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  background-image: url("fs://game/dip_peace_item_pri.png");
  filter: fxs-color-tint(var(--owner-color-primary));
  border-radius: 50%;
  overflow: hidden;
}
@media (max-height: 55.5555555556rem) {
  .peace-deal__settlement-icon-bg {
    margin-left: 0rem;
  }
}

.peace-deal__settlement-icon-image {
  overflow: hidden;
  border-radius: 50%;
}

.peace-deal__settlement-population-bg {
  background-color: #05070d;
}

.peace-deal__move-arrows {
  background-image: url("fs://game/diplo_arrow.png");
}

.peace-deal__move-arrows .img-questclose {
  background-image: none;
  display: none;
}

.peace-deal__move-arrows .img-questopen {
  background-image: none;
  display: none;
}

.local-player-settlements .peace-deal__move-arrows {
  transform: scaleX(-1);
}

.peace-deal__deal-item-settlement-info {
  max-width: 15.2777777778rem;
}
@media (max-height: 55.5555555556rem) {
  .peace-deal__deal-item-settlement-info {
    padding-left: 0rem;
    margin-left: 0rem;
    max-width: 6.2222222222rem;
    max-width: 6.9444444444rem;
  }
}

.peace-deal__radial-bg {
  background-image: url("fs://game/hud_sub_circle_bk.png");
}

.peace-deal__offer-header-wrapper {
  background: linear-gradient(180deg, rgba(5, 7, 13, 0.4) 0%, rgba(5, 7, 13, 0.2) 50.5%, rgba(5, 7, 13, 0.35) 100%);
}
.peace-deal__offer-header-wrapper .filigree-inner-frame-bottom {
  display: none;
}

.peace-deal__local-player-receives-title-bg {
  border-image: url("fs://game/dip_peace_deal_header");
  border-image-slice: 12 28 8 28 fill;
  border-image-width: 0.4444444444rem;
  filter: fxs-color-tint(var(--local-player-color));
}

.peace-deal__other-player-receives-title-bg {
  border-image: url("fs://game/dip_peace_deal_header");
  border-image-slice: 12 28 8 28 fill;
  border-image-width: 0.4444444444rem;
  filter: fxs-color-tint(var(--other-player-color));
}

.peace-deal__local-player-receives-title,
.peace-deal__other-player-receives-title {
  text-shadow: 0.0555555556rem 0.0555555556rem 0rem rgb(0, 0, 0);
  max-width: 90%;
}

@media (max-height: 55.5555555556rem) {
  .peace-deal__title-card {
    width: 50%;
  }
}

.peace-deal__offer-container .filigree-inner-frame-top {
  display: none;
}