.diplo-message-quote-r {
  background-image: url("blp:base_quotes.png");
  background-position: left top;
  background-size: 200% 200%;
}

.diplo-message-quote-l {
  background-image: url("blp:base_quotes.png");
  background-position: right bottom;
  background-size: 200% 200%;
}

.solid-card-bg {
  background-color: rgba(30, 33, 40, 0.712);
}

.leader-frame {
  background-image: url("blp:pedia_circle_frame");
  background-repeat: no-repeat;
  background-size: cover;
}

.relationship-delta-bg {
  border-radius: 0.2777777778rem;
  background-color: rgba(0, 0, 0, 0.51);
}