.advanced-options_sp-frame {
  max-width: 71.1111111111rem;
}

.advanced-options_mp-frame {
  max-width: 73.3333333333rem;
}

.advanced-options__back-button {
  background-image: url("blp:shell_back-button");
}
.advanced-options__back-button:hover, .advanced-options__back-button:focus, .advanced-options__back-button.pressed {
  background-image: url("blp:shell_back-button-focus");
}

.advanced-options__dropdown-bg {
  border-image-source: url("blp:shell_advanced-options_subheader");
  border-image-slice: 0 0 0 1 fill;
  border-image-width: 1 1 1 1;
}

.advanced-options__dropdown-bg-highlight {
  border-image-source: url("blp:shell_advanced-options_subheader_highlight");
  border-image-slice: 0 0 0 1 fill;
  border-image-width: 1 1 1 1;
}

.advanced-options__header-decor {
  border-image-source: url("blp:hud_unit-panel_divider-center");
  border-image-slice: 5 6 0 6 fill;
}

.advanced-options__save-config {
  background-image: url("blp:set_save_config");
}
.advanced-options__save-config:hover, .advanced-options__save-config.pressed {
  background-image: url("blp:set_save_config-focus");
}

.advanced-options__load-config {
  background-image: url("blp:set_load_config");
}
.advanced-options__load-config:hover, .advanced-options__load-config.pressed {
  background-image: url("blp:set_load_config-focus");
}

.advanced-options_add-player-plus {
  background-image: url("blp:set_add-focus");
}

.advanced-options__warning-icon {
  background-image: url("blp:unit_badge");
}

.advanced-options__highlight-border:focus-within {
  background: linear-gradient(to right, rgb(135, 93, 47) 0%, rgb(66, 47, 25) 20%, rgb(53, 37, 19) 30%, rgb(34, 25, 15) 100%);
  border-image-outset: 4px;
  border-image-source: url("blp:hud_list-focus_frame");
  border-image-slice: 24 32 24 32 fill;
  border-image-width: 1.3333333333rem 1.7777777778rem 1.3333333333rem 1.7777777778rem;
  transition: opacity 175ms;
}