/**
Based on Robert Penner's easing equations
@url http://robertpenner.com/easing/
**/
.age-select-age-choice {
  border-image: url("blp:hud_list-focus_frame");
  border-image-slice: 20 32 20 32 fill;
  border-image-width: 1.1111111111rem 1.7777777778rem 1.1111111111rem 1.7777777778rem;
  border-image-outset: 0.3333333333rem 0.2777777778rem;
  min-height: 10.8333333333rem;
  background-size: cover;
}
@media (max-height: 55.5555555556rem) {
  .age-select-age-choice {
    min-height: 6.1111111111rem;
  }
}

.age-select-scrollable .fxs-scrollbar-container {
  right: 0.4444444444rem;
}

.age-select-age-antiquity {
  background-image: radial-gradient(50% 50% at 50% 50%, #dbdbb5 0%, rgba(219, 219, 181, 0) 100%), url("blp:shell_antiquity-select");
}
.age-select-age-antiquity.age-select-unselected {
  background-image: url("blp:age-sel_antiquity_desat");
}
@media (max-height: 55.5555555556rem) {
  .age-select-age-antiquity {
    background-image: radial-gradient(70% 70% at 50% 50%, #dbdbb5 0%, rgba(219, 219, 181, 0) 100%), url("blp:shell_antiquity-select");
  }
}

.age-select-age-exploration {
  background-image: radial-gradient(50% 50% at 50% 50%, #dbdbb5 0%, rgba(219, 219, 181, 0) 100%), url("blp:shell_exploration-select");
}
.age-select-age-exploration.age-select-unselected {
  background-image: url("blp:age-sel_exploration_desat");
}
@media (max-height: 55.5555555556rem) {
  .age-select-age-exploration {
    background-image: radial-gradient(70% 70% at 50% 50%, #dbdbb5 0%, rgba(219, 219, 181, 0) 100%), url("blp:shell_exploration-select");
  }
}

.age-select-age-modern {
  background-image: radial-gradient(50% 50% at 50% 50%, #dbdbb5 0%, rgba(219, 219, 181, 0) 100%), url("blp:shell_modern-select");
}
@media (max-height: 55.5555555556rem) {
  .age-select-age-modern {
    background-image: radial-gradient(70% 70% at 50% 50%, #dbdbb5 0%, rgba(219, 219, 181, 0) 100%), url("blp:shell_modern-select");
  }
}
.age-select-age-modern.age-select-unselected {
  background-image: url("blp:age-sel_modern_desat");
}

.age-select-unselected {
  color: #c2c4cc;
  text-shadow: 0.0555555556rem 0.0555555556rem 0rem rgb(0, 0, 0), 0.1111111111rem 0.1111111111rem 0rem rgb(0, 0, 0);
}