/**
Based on Robert Penner's easing equations
@url http://robertpenner.com/easing/
**/
.civ-bonus-icon {
  width: 3.9444444444rem;
  height: 3.9444444444rem;
}

.civ-select-panel-civ-name {
  font-size: 3rem;
}

.civ-select-caption-field {
  padding: 0.4444444444rem;
  background-color: rgba(18, 21, 31, 0.85);
}
@media (max-width: 1680px) {
  .civ-select-caption-field {
    max-width: 20rem;
  }
}
@media (max-width: 1280px) {
  .civ-select-caption-field {
    max-width: 13.3333333333rem;
  }
}
@media (max-width: 1400px) {
  .civ-select-caption-field {
    visibility: hidden;
  }
}
@media (experience: mobile) {
  .civ-select-caption-field {
    min-width: 17.4444444444rem;
    max-width: 17.4444444444rem;
  }
}