@media (max-height: 50rem) {
  .memento-slot {
    width: 5.3333333333rem;
  }
  .memento-slot-label {
    display: none;
  }
}
.memento-border {
  border-image-source: url("fs://game/memento_slot-base");
  border-image-slice: 64 fill;
  border-image-width: 7.1111111111rem 7.1111111111rem;
  border-image-repeat: stretch;
  border-image-outset: 1rem;
  background-image: linear-gradient(180deg, #333640 0%, #1c1e26 100%);
  background-position: center;
  background-size: cover;
}
.memento-border:hover, .memento-border:focus, .memento-border.pressed {
  background-position: center;
  background-size: cover;
  background-image: radial-gradient(86.87% 86.87% at 50% 50%, rgba(219, 219, 181, 0.75) 0%, rgba(219, 219, 181, 0) 100%), linear-gradient(180deg, #333640 0%, #1c1e26 100%);
}

.memento-border-selected {
  border-image-source: url("fs://game/memento_slot-focused");
  border-image-slice: 78 fill;
  border-image-width: 8.6666666667rem 8.6666666667rem;
  border-image-repeat: stretch;
  border-image-outset: 1.3333333333rem;
}