/**
Based on Robert Penner's easing equations
@url http://robertpenner.com/easing/
**/
.animate-in {
  animation: animateIn 0.375s;
  animation-fill-mode: forwards;
}
@keyframes animateIn {
  0% {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
  }
  10% {
    opacity: 1;
  }
  100% {
    pointer-events: inherit;
    transform: translateX(0%);
  }
}

.animate-out {
  animation: animateOut 0.2s;
  animation-fill-mode: forwards;
}
@keyframes animateOut {
  0% {
    opacity: 1;
    pointer-events: inherit;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
  }
}

.animate-in-left {
  animation: AnimateInLeft 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes AnimateInLeft {
  0% {
    transform: translateX(-125%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-out-left {
  animation: AnimateOutLeft 0.375s cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes AnimateOutLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-125%);
  }
}

.animate-in-right {
  animation: AnimateInRight 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes AnimateInRight {
  0% {
    transform: translateX(125%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-out-right {
  animation: AnimateOutRight 0.375s cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes AnimateOutRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(125%);
  }
}

.animate-in-top {
  animation: AnimateInTop 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes AnimateInTop {
  0% {
    opacity: 0;
    transform: translateY(-50%) scale(0.9);
  }
  30% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    transform: translateY(0%);
  }
}

.animate-out-top {
  animation: AnimateOutTop 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes AnimateOutTop {
  0% {
    transform: translateY(0%);
  }
  70% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%) scale(0.9);
  }
}

.animate-in-bottom {
  animation: AnimateInBottom 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes AnimateInBottom {
  0% {
    transform: translateY(125%);
  }
  100% {
    transform: translateY(0%);
  }
}

.animate-out-bottom {
  animation: AnimateOutBottom 0.375s cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes AnimateOutBottom {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(125%);
  }
}

.animate-in-fade {
  animation: AnimateInFade 0.375s cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes AnimateInFade {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 100;
    visibility: visible;
  }
}

.animate-out-fade {
  animation: AnimateOutFade 0.375s cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes AnimateOutFade {
  0% {
    opacity: 100;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}