@media (experience: mobile) {
  .screen-diplomacy-action-details {
    align-items: flex-end;
  }
}

.pledge-slots-container {
  background: linear-gradient(90deg, #c29d53 0%, #4c473d 100%);
  border: 0.1111111111rem solid;
  border-image-source: linear-gradient(180deg, #8c7e62 0%, #4c473d 100%);
  border-image-slice: 10;
}
@media (max-height: 55.5555555556rem) {
  .pledge-slots-container {
    max-width: 25rem;
  }
}

.remaining-slots-container {
  background: linear-gradient(90deg, #333640 0%, rgba(51, 54, 64, 0.75) 75%, rgba(35, 37, 43, 0.5) 100%);
  box-shadow: 0rem 0.1111111111rem 1.8888888889rem 0.1111111111rem rgba(0, 0, 0, 0.5);
}
@media (max-height: 55.5555555556rem) {
  .remaining-slots-container {
    max-width: 25rem;
  }
}

.panel-diplomacy-project-support-leader-icon {
  left: -1.5rem;
  top: -1rem;
}
@media (max-height: 55.5555555556rem) {
  .panel-diplomacy-project-support-leader-icon {
    left: -1.4444444444rem;
  }
}

@media (max-height: 55.5555555556rem) {
  .pledge-support-button {
    margin: 0.4444444444rem;
    width: 10rem;
  }
}

@media (max-height: 55.5555555556rem) {
  .support-war-content-container {
    margin-left: 1.1111111111rem;
  }
}

@media (experience: mobile) {
  .support-war-content-container .panel-diplomacy-project-reaction__response-item,
  .your-war-actions-container .panel-diplomacy-project-reaction__response-item {
    width: 20%;
    min-width: 16.6666666667rem;
  }
}

@media (max-height: 40rem), (experience: mobile) {
  .panel-diplomacy-project-reaction__response-item-bg {
    margin-left: 0 !important;
  }
}
@media (max-height: 55.5555555556rem) {
  .panel-diplomacy-project-reaction__response-item-bg {
    margin-left: 0;
  }
}
@media (experience: mobile) {
  .panel-diplomacy-project-reaction__response-item-bg {
    margin-left: 0.6666666667rem;
    margin-right: 0.6666666667rem;
  }
}

.panel-diplomacy-project-reaction__support-yourself {
  background-image: url("fs://game/dip_pod_endeavor.png");
  margin-left: -1.1666666667rem;
}
@media (max-height: 40rem) {
  .panel-diplomacy-project-reaction__support-yourself {
    margin-left: -1.1666666667rem;
    width: 3rem;
    height: 3rem;
    margin-top: -0.5rem;
  }
}

@media (experience: mobile) {
  .panel-diplomacy-project-reaction__card-subtitle,
  .panel-diplomacy-project-reaction__card-title {
    width: 96%;
  }
}

@media (max-height: 55.5555555556rem) {
  .support-your-war-button:focus-within .panel-diplomacy-project-reaction__support-yourself, .support-your-war-button:hover .panel-diplomacy-project-reaction__support-yourself, .support-your-war-button.pressed .panel-diplomacy-project-reaction__support-yourself {
    top: 5.5555555556rem;
  }
}

.option-limited-by-war-bg {
  background-image: url("fs://game/dip_warshield_big.png");
}

@media (max-height: 55.5555555556rem) {
  .remaining-slot {
    width: 0.8888888889rem;
  }
}

.diplomacy-action-details-root-vslot {
  width: 50%;
}
@media (experience: mobile) {
  .diplomacy-action-details-root-vslot {
    width: 96.5%;
    margin-bottom: 0.5555555556rem;
  }
}

@media (experience: mobile) {
  .title-progress-bar-frame {
    padding: 1rem;
  }
}
@media (experience: mobile) and (max-height: 55.5555555556rem) {
  .title-progress-bar-frame {
    padding-top: 0.7777777778rem;
  }
}

@media (experience: mobile) {
  .action-content-frame {
    padding-top: 1rem;
    padding-left: 2.4444444444rem;
    padding-right: 2.4444444444rem;
  }
}

@media (experience: mobile) {
  .action-name {
    max-width: 95%;
  }
}

@media (experience: mobile) {
  .option-limited-by-war-column {
    width: 20%;
    min-width: 16.6666666667rem;
  }
}

@media (experience: mobile) {
  .total-slots-container {
    height: 40%;
    align-self: center;
  }
}

@media (experience: mobile) {
  .left-pledge-group,
  .right-pledge-group {
    max-width: 10%;
  }
}

@media (experience: mobile) {
  .pledge-values-container {
    width: 82%;
    margin-top: -0.8888888889rem;
    margin-bottom: 0.4444444444rem;
    align-self: center;
  }
}