<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Leaders>
		<Row LeaderType="LEADER_SAYYIDA_AL_HURRA" LeaderName="LOC_LEADER_SAYYIDA_AL_HURRA_NAME" LeaderDescription="LOC_LEADER_SAYYIDA_AL_HURRA_DESCRIPTION" LeaderIcon="LEADER_SAYYIDA_AL_HURRA"/>
	</Leaders>
	<LeaderItems>
		<Row LeaderType="LEADER_SAYYIDA_AL_HURRA" Type="TRAIT_LEADER_SAYYIDA_AL_HURRA_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_LEADER_SAYYIDA_AL_HURRA_ABILITY_NAME" Description="LOC_TRAIT_LEADER_SAYYIDA_AL_HURRA_ABILITY_DESCRIPTION"/>
	</LeaderItems>
	<LeaderTags>
		<Row LeaderType="LEADER_SAYYIDA_AL_HURRA" TagType="TAG_TRAIT_MILITARISTIC"/>
		<Row LeaderType="LEADER_SAYYIDA_AL_HURRA" TagType="TAG_TRAIT_POLITICAL"/>
		<Row LeaderType="LEADER_SAYYIDA_AL_HURRA" TagType="TAG_GENDER_FEMALE"/>
	</LeaderTags>
	<LeaderQuotes>
		<Row LeaderType="LEADER_SAYYIDA_AL_HURRA" Quote="LOC_MAIN_CHAR_SELECT_LEADER_SAYYIDA_AL_HURRA_ANY"/>
	</LeaderQuotes>
	<LeaderCivilizationBias>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_AKSUM" LeaderDomain="StandardLeaders" LeaderType="LEADER_SAYYIDA_AL_HURRA" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_SAYYIDA_AL_HURRA_AKSUM_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_ABBASID" LeaderDomain="StandardLeaders" LeaderType="LEADER_SAYYIDA_AL_HURRA" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_SAYYIDA_AL_HURRA_ABBASID_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE"/>
		<Row CivilizationDomain="ModernAgeCivilizations" CivilizationType="CIVILIZATION_MUGHAL" LeaderDomain="StandardLeaders" LeaderType="LEADER_SAYYIDA_AL_HURRA" Bias="1" ReasonType="LOC_UNLOCK_PLAY_AS_SAYYIDA_AL_HURRA_MUGHAL_TOOLTIP" ChoiceType="LOC_CREATE_GAME_STRATEGIC_CHOICE"/>
	</LeaderCivilizationBias>
	<LeaderUnlocks>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_SAYYIDA_AL_HURRA" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_ABBASID" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_ABBASID_NAME" Description="LOC_CIVILIZATION_ABBASID_DESCRIPTION" Icon="CIVILIZATION_ABBASID"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_SAYYIDA_AL_HURRA" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_MUGHAL" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MUGHAL_NAME" Description="LOC_CIVILIZATION_MUGHAL_DESCRIPTION" Icon="CIVILIZATION_MUGHAL"/>
	</LeaderUnlocks>
	<OwnershipConditions>
		<Row ItemType="LEADER_SAYYIDA_AL_HURRA" Action="LOC_LOCKED_INCLUDED_WITH_CONTENT" />
	</OwnershipConditions>
	<Mementos>
		<Row Type="MEMENTO_SAYYIDA_AL_HURRA_NIMCHA" Name="LOC_MEMENTO_SAYYIDA_AL_HURRA_NIMCHA_NAME" Description="LOC_MEMENTO_SAYYIDA_AL_HURRA_NIMCHA_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_SAYYIDA_AL_HURRA_NIMCHA_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_SAYYIDA_AL_HURRA_NIMCHA_TITLE" Tag="PLACEHOLDER"/>
		<Row Type="MEMENTO_SAYYIDA_AL_HURRA_MITHQAL" Name="LOC_MEMENTO_SAYYIDA_AL_HURRA_MITHQAL_NAME" Description="LOC_MEMENTO_SAYYIDA_AL_HURRA_MITHQAL_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_SAYYIDA_AL_HURRA_MITHQAL_FUNCTIONAL_DESCRIPTION" UnlockTitle="LOC_MEMENTO_SAYYIDA_AL_HURRA_MITHQAL_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
		<Row Type="MEMENTO_SAYYIDA_AL_HURRA_GAZELLE_VASE" Name="LOC_MEMENTO_SAYYIDA_AL_HURRA_GAZELLE_VASE_NAME" Description="LOC_MEMENTO_SAYYIDA_AL_HURRA_GAZELLE_VASE_DESCRIPTION" FunctionalDescription="LOC_MEMENTO_SAYYIDA_AL_HURRA_GAZELLE_VASE_FUNCTIONAL_DESCRIPTION" LeaderSpecific="LEGEND_PATH_SAYYIDA_AL_HURRA" UnlockTitle="LOC_MEMENTO_SAYYIDA_AL_HURRA_GAZELLE_VASE_UNLOCK_TITLE" Tag="PLACEHOLDER"/>
	</Mementos>
</Database>